.departmentBanner {background: url(src/assets/images/department-banner.jpg) right top no-repeat;}
.acreeTopLeft {
    max-width: 570px;
    display: inline-block;
    padding-bottom: 128px;
    position: relative;
    margin-top: 50px;
}
.acreeTopLeft h1 {
    font-family: 'Poppins', sans-serif !important;
    color: #126a3a;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    font-weight: 600;
}
.acreeTopLeft p {
    font-family: 'Poppins', sans-serif !important;
    color: #6c7669;
    font-size: 17px;
    margin: 20px 0 0;
    padding: 0;
    font-style: italic;
}
.departTop{
    display: flex;
    max-width: 1212px;
    margin: 0 auto;
    padding-top: 145px;
    align-items: flex-start;
}
.departSliderOuter {position: relative; z-index: 1;}
.departSlider {background: rgb(109,151,115); background: linear-gradient(90deg, rgba(109,151,115,1) 0%, rgba(145,170,57,1) 100%); position: relative; padding: 44px 0 45px 80px;}
.departSlider:before {content: ""; border-radius: 50%; position: absolute; z-index: -1; left: 50%; margin-left: -49px; top: -30px; width: 98px; height: 98px; display: inline-block; background: rgb(109,151,115); background: linear-gradient(90deg, rgba(109,151,115,1) 0%, rgba(145,170,57,1) 100%);}
.departSlider:after {content: ""; border-radius: 50%; position: absolute; left: 50%; margin-left: -38px; width: 76px; top: -16px; height: 76px; display: inline-block; background: #b5b41d;}
.departSliderBot {padding-top: 70px; overflow: hidden;}
.testAccre {display: flex; justify-content: space-between; padding: 0 80px;}
.mat-expansion-panel {background-color: #fff !important; box-shadow: none; border: 2px solid #a6c138; min-height: 80px; border-radius: 25px !important;}
.mat-expansion-panel-header {font-size: 25px !important; color: #49604d !important; font-weight: 500 !important; height: 80px; font-family: 'Poppins', sans-serif !important; transition: all ease-in-out 0.5s; -moz-transition: all ease-in-out 0.5s; -webkit-transition: all ease-in-out 0.5s; -o-transition: all ease-in-out 0.5s; -ms-transition: all ease-in-out 0.5s; -khtml-transition: all ease-in-out 0.5s;}
.stpRow {position: relative; margin-top: 16px;}
.stpBook {background-color: #047835; cursor: pointer; position: absolute; right: 2px; top: 2px; height: 80px; font-size: 22px; padding: 0 43px; z-index: 1; color: #fff; font-weight: 600; font-family: 'Poppins', sans-serif; border-radius: 22px; display: inline-flex; justify-content: center; align-items: center; transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -khtml-transition: all ease-in-out 0.5s;
}
.sptxt .mat-expansion-panel-header { background-color: #047835; color: #fff !important; border-bottom-left-radius: 0; border-bottom-right-radius: 0; height: 60px;}
.stpBook:hover {background-color: #a6c138;}
.ylwCrt {width: 55px; height: 55px; background-color: #fdbb26; align-items: center; z-index: 2; border-radius: 15px; display: inline-flex; justify-content: center; position: absolute; right: 170px; top: 15px; cursor: pointer; transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -khtml-transition: all ease-in-out 0.5s;
}
.ylwCrt:hover {width: 75px; height: 75px; top: 5px;}
.ylwCrt img { width: 35px;}
.sugestPkg { width: 875px; display: inline-block;}
.sugestPkg h2 { font-size: 40px; color: #49604d; text-align: center; font-weight: 600; margin: 0 0 35px; padding: 0; font-family: 'Poppins', sans-serif; }
.sptxt .ylwCrt {top: auto; bottom: 20px; right: 210px; right: 210px; width: 60px; }
.sptxt .stpBook { top: auto; bottom: 20px; height: 55px; padding: 0 34px; border-radius: 12px; right: 21px; }
.mat-expansion-panel.mat-expansion-panel-spacing {overflow: visible;}
.mat-expansion-panel .mat-expansion-panel-spacing:after {display: none;}
.mat-expansion-panel .mat-expansion-panel { border: none; min-height: 60px; border-radius: 20px !important; -o-box-shadow: 0 0 14px rgba(255,214,93,0.5); box-shadow: 0 0 14px rgb(255,214,93,0.5); }
.mat-expansion-panel .mat-expansion-panel .mat-expansion-panel-header {height: 60px; font-size: 16px !important;}
.mat-expansion-panel .mat-expansion-panel i {display: block; margin-bottom: 10px;}
.accreBox { width: 650px; display: inline-block;}
.accreBox h2 { font-size: 40px; color: #49604d; text-align: center; font-weight: 600; margin: 0 0 35px; padding: 0; font-family: 'Poppins', sans-serif; }
.accreBoxRow {margin-top: 30px; position: relative; z-index: 2; display: flex; align-items: center; transition: all ease-in-out 0.5s; -moz-transition: all ease-in-out 0.5s; -webkit-transition: all ease-in-out 0.5s; -o-transition: all ease-in-out 0.5s; -ms-transition: all ease-in-out 0.5s; -khtml-transition: all ease-in-out 0.5s;}
.accreBoxLogoOuter {width: 100px; height: 100px; cursor: pointer; display: inline-block; border: 3px solid #3a3a89; border-radius: 30px; transition: all ease-in-out 0.5s; -moz-transition: all ease-in-out 0.5s; -webkit-transition: all ease-in-out 0.5s; -o-transition: all ease-in-out 0.5s; -ms-transition: all ease-in-out 0.5s; -khtml-transition: all ease-in-out 0.5s;}
.accreBoxRow:nth-child(3) .accreBoxLogoOuter {border: 3px solid #1fb1ee;}
.accreBoxRow:nth-child(4) .accreBoxLogoOuter {border: 3px solid #0c4c91;}
.accreBoxLogo {width: 94px; height: 94px; background-color: #fff; display: inline-flex; justify-content: center; border-radius: 30px; align-items: center; transition: all ease-in-out 0.5s; -moz-transition: all ease-in-out 0.5s; -webkit-transition: all ease-in-out 0.5s; -o-transition: all ease-in-out 0.5s; -ms-transition: all ease-in-out 0.5s; -khtml-transition: all ease-in-out 0.5s; }
.accreBoxLogo img {width: 50%; filter: blur(1px); transition: all ease-in-out 0.9s; -moz-transition: all ease-in-out 0.9s; -webkit-transition: all ease-in-out 0.9s; -o-transition: all ease-in-out 0.9s; -ms-transition: all ease-in-out 0.9s; -khtml-transition: all ease-in-out 0.9s;}
.accreBoxRow:hover img {filter: blur(0); width: 70%;}
.accreBoxText {width: calc(100% - 180px); display: inline-block; cursor: pointer; margin-left: 18px;}
.accreBoxText h3 {font-family: 'Poppins', sans-serif; font-size: 20px; color: #3a3a89; font-weight: 600; margin: 0; padding: 0; transition: all ease-in-out 0.5s; -moz-transition: all ease-in-out 0.5s; -webkit-transition: all ease-in-out 0.5s; -o-transition: all ease-in-out 0.5s; -ms-transition: all ease-in-out 0.5s; -khtml-transition: all ease-in-out 0.5s;}
.accreBoxRow:nth-child(3) .accreBoxText h3 {color: #1fb1ee;}
.accreBoxRow:nth-child(4) .accreBoxText h3 {color: #0c4c91;}
.accreBoxText p {font-family: 'Poppins', sans-serif; font-size: 17px; color: #454956; font-weight: 400; margin: 20px 0 0; display: none; transition: all ease-in-out 0.5s; -moz-transition: all ease-in-out 0.5s; -webkit-transition: all ease-in-out 0.5s; -o-transition: all ease-in-out 0.5s; -ms-transition: all ease-in-out 0.5s; -khtml-transition: all ease-in-out 0.5s;}
.accreBoxRow.accreAct .accreBoxLogoOuter {order: 2;}
.accreBoxRow.accreAct .accreBoxText p {display: block;}
.accreBoxRow.accreAct .accreBoxText {margin-left: 0; margin-right: 18px;}
.accreBoxRow.accreAct .accreBoxLogoOuter {width: 200px; height: 200px; position: relative; border: 6px solid #3a3a89;}
.accreBoxRow.accreAct:nth-child(3) .accreBoxLogoOuter {border: 6px solid #1fb1ee;}
.accreBoxRow.accreAct:nth-child(4) .accreBoxLogoOuter {border: 6px solid #0c4c91;}
.accreBoxRow.accreAct .accreBoxLogo {width: 190px; height: 190px; position: absolute; left: 30px; top: 30px;}
.accreBoxRow.accreAct .accreBoxLogo img {width: 70%; filter: blur(0);}
.accreBoxRow.accreAct .accreBoxText h3 {font-size: 40px;}
.doctorOuter {position: relative; padding-top: 155px; padding-bottom: 280px;}
.doctorOuter:after {content: ""; position: absolute; right: -55px; top: -160px; background: url(src/assets/images/aa-right-back.png) left top no-repeat; width: 383px; height: 490px; display: inline-block; background-size: 100%;}
.doctorOuter:before {content: ""; position: absolute; left: -83px; bottom: 0; background: url(src/assets/images/aa-left-back.png) left top no-repeat; width: 340px; height: 432px; display: inline-block; background-size: 100%;}
.doctorSec {position: relative; padding-bottom: 160px;}
.doctorSec:after {content: ""; position: absolute; right: 0; bottom: 0; background: url(src/assets/images/doctor-right-curve.png) left top no-repeat; width: 681px; height: 330px; display: inline-block; background-size: 100%;}
.doctorSec:before {content: ""; position: absolute; left: 0; top: -60px; background: url(src/assets/images/about-back-top.png) left top no-repeat; width: 840px; height: 340px; display: inline-block; background-size: 100%;}
.doctorSec h2 {font-family: 'Poppins', sans-serif; font-size: 35px; color: #49604d; font-weight: 600; margin: 0; padding: 0; text-align: center;}
.qcSec {background: rgb(244,224,109); background: linear-gradient(90deg, rgba(244,224,109,1) 0%, rgba(253,247,217,1) 100%); padding: 50px 70px 100px; position: relative;}
.qcSecRight {position: absolute; right: -50px; top: -180px; display: inline-block;}
.qcSecRightText {position: absolute; font-size: 35px; color: #fff; z-index: 1; font-weight: 600; text-align: center; top: -90px; right: 150px;}
.qcSecLeft {width: 800px; display: inline-block;}
.qcSecLeft h2 {margin-left: 200px; font-size: 35px; color: #4a9c2d; font-weight: 600;}
.qcSecLeftRow {display: flex; justify-content: space-between; margin-top: 40px; }
.qcSecRowLft {display: inline-block; width: 154px; margin-top: 10px;}
.qcSecRowLft img {width: 100%;}
.qcSecLeftRow p {font-size: 17px; color: #49604d; font-weight: 400; display: inline-block; }
.qcg {width: 360px; position: absolute; z-index: 2; right: 475px; top: -18px; height: 300px; display: inline-block; overflow: hidden; transform: skew(-26deg); border-top-left-radius: 140px; border-bottom-right-radius: 110px;}
.qcg img {transform: skew(20deg); width: 131%; height: 100%; margin-left: -56px;}
.qcgg {width: 360px; position: absolute; z-index: 2; right: 640px; top: 330px; height: 300px; display: inline-block; overflow: hidden; transform: skew(-26deg); border-top-left-radius: 140px; border-bottom-right-radius: 110px;}
.qcgg img {transform: skew(20deg); width: 131%; height: 100%; margin-left: -56px;}
.qcggg {width: 360px; position: absolute; z-index: 2; right: 120px; top: 130px; height: 300px; display: inline-block; overflow: hidden; transform: skew(-26deg); border-top-left-radius: 140px; border-bottom-right-radius: 110px;}
.qcggg img {transform: skew(20deg); width: 131%; height: 100%; margin-left: -56px;}


.blgSlidd {width: 100%; padding-left: 40px; margin-top: 300px;}
.blgSlidd h2 {font-size: 35px; color: #4a9c2d; font-weight: 600; text-align: center; margin: 0 0 70px;}
.blgSlide .owl-carousel.owl-drag .owl-item {padding: 0 7px !important;}
.slBgTxtt {margin-top: 50px;}
.slBgTxtt p {font-size: 16px; line-height: 23px; margin: 25px; font-weight: 500; color: #5a5a5a; overflow: auto; height: 90px;}
.slBgTxtt h3 {font-size: 25px; line-height: 28px;margin: 25px; font-weight: 600; color: #22954c; }
.owlWhtArrow {width: 21px; height: 15px; cursor: pointer; display: inline-block; position: absolute; right: 20px; bottom: 18px;}
.blgBox {width: 100%; height: 390px; position: relative; margin: 222px 0 20px; background: #fff; display: inline-block; border-radius: 70px; -o-box-shadow: 0 0 25px rgba(0,0,0,0.2); box-shadow: 0 0 25px rgb(0,0,0,0.2);}
.slBgIm {border-radius: 60px; position: relative; left: 50%; width: 430px; height: 390px; overflow: hidden; border: 6px solid #a6c139; margin-left: -215px; margin-top: -220px; transition: all 1.5s linear; -moz-transition: all 1.5s linear; -webkit-transition: all 1.5s linear; -o-transition: all 1.5s linear; -ms-transition:all 1.5s linear; -khtml-transition: all 1.5s linear; }
.most-view { width: 250px; margin: 50px 0 100px 35px; position: relative; height: 60px; border-radius: 25px; border-top-left-radius: 0; border-bottom-right-radius: 0; background: #4a9c2d; }
.most-view a {display: inline-flex; width: 100%; position: relative; z-index: 1; height: 100%; align-items: center; justify-content: center; font-family: 'Poppins', sans-serif !important; font-size: 22px; font-weight: 600; color: #fff; transition: all ease-in-out 0.5s; -moz-transition: all ease-in-out 0.5s;  -webkit-transition: all ease-in-out 0.5s; -o-transition: all ease-in-out 0.5s; -ms-transition: all ease-in-out 0.5s; -khtml-transition: all ease-in-out 0.5s;}
.most-view:after {width: 650px; height: 5px; content: ""; display: inline-block; position: absolute; left: 100%; top: 32px; background: #fff url(src/assets/images/line.png) right top no-repeat;}
.most-view:before {content: ""; width: 0; display: inline-block; height: 60px; position: absolute; left: 0; top: 0; border-radius: 25px; border-top-left-radius: 0; border-bottom-right-radius: 0; background: #fcdc00; transition: all ease-in-out 0.5s; -moz-transition: all ease-in-out 0.5s;  -webkit-transition: all ease-in-out 0.5s; -o-transition: all ease-in-out 0.5s; -ms-transition: all ease-in-out 0.5s; -khtml-transition: all ease-in-out 0.5s;}
.most-view:hover:before {width: 100%;}
.most-view:hover a {color: #333;}
.blgBox:hover .slBgIm {border-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 0;}


.nwsLtr { width: 930px; display: inline-block; padding: 90px 0 0 70px;}
.nwsLtr h2 { font-size: 40px; color: #4a9c2d; text-align: center; font-weight: 600; margin: 0 0 35px; padding: 0; font-family: 'Poppins', sans-serif; }
.nlBox { background-color: #fff; width: 100%; border: 2px solid #a6c138; border-radius: 25px; margin-top: 25px; padding: 20px 20px 68px; }
.nlBoxTop { display: flex; justify-content: space-between;}
.nlBoxTop h3 {display: inline-block; width: 600px; font-size: 25px; color: #49604d; font-weight: 600; margin: 0; padding: 0; font-family: 'Poppins', sans-serif; }
.nlBoxTop h3 span {color: #a6c549; font-size: 15px; font-weight: 500; margin: 0; display: block; font-style: italic;}
.nlBoxTopRight {display: inline-block; width: 65px; font-size: 12px; color: #49604d; font-weight: 500; margin: 0; padding: 0; font-family: 'Poppins', sans-serif;} 
.nlBoxTopRight span {color: #a2a9a4; font-size: 12px; font-weight: 400; margin: 0; display: block;}
.nlAqSec {padding: 0 0  100px; display: flex; justify-content: space-between; }
.nlBox p {color: #49604d; font-size: 15px; font-weight: 400; margin: 12px 0 0; display: block;}
.nlBox a.more { color: #fff; border-radius: 10px; padding: 8px 15px; float: right; justify-content: center; font-size: 15px; font-weight: 500; margin: 12px 0 0; display: inline-flex; background-color: #a6c549; font-family: 'Poppins', sans-serif; transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -khtml-transition: all ease-in-out 0.5s;
}
.nlBox a.more:hover {background-color: #4a9c2d; margin: 12px 10px 0 0; }
.querySec { width: 900px; overflow: hidden; display: inline-block; padding: 90px 70px 0 200px; position: relative;}
.querySec h2 { font-size: 40px; color: #4a9c2d; text-align: center; font-weight: 600; margin: 0 0 35px; padding: 0; font-family: 'Poppins', sans-serif;}
.querySecInner {position: relative; z-index: 1;}
.fromRow {margin-top: 25px;}
.fromRow:last-child {text-align: right;}
.fromRow label {display: block; font-size: 20px; color: #595b58; text-align: left; font-weight: 500; margin: 0 0 10px; padding: 0; font-family: 'Poppins', sans-serif;}
.fromRow input[type='text'] {background-color: #fff; width: 100%; border: 2px solid #a6c138; border-radius: 15px; padding: 0 20px; height: 60px;}
.fromRow textarea {background-color: #fff; width: 100%; border: 2px solid #a6c138; border-radius: 15px; padding: 0 20px; height: 220px;}
.fromRow input[type='submit'] {background-color: #047835; text-align: center; margin-top: 25px 0 0; border: none; border-radius: 10px; padding: 14px 30px; font-size: 17px; color: #fff; text-align: left; font-weight: 500; transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -khtml-transition: all ease-in-out 0.5s;
}
.fromRow input[type='submit']:hover {background-color: #a6c549;}

@media (max-width: 1860px){
    .qcg img { margin-left: -45px; transform: skew(0deg); }
    .qcg { width: 260px; right: 250px; height: 200px; top: 0px;}

    .qcggg { width: 260px; right: 20px; height: 200px; }
    .qcggg img { transform: skew(0deg); margin-left: -80px; }

    .qcgg { width: 260px; right: 400px; top: 300px; height: 200px; }
    .qcgg img { transform: skew(0deg); }

    .qcSec { padding-left: 30px; }
    .qcSecRight { right: -100px; top: -140px; width: 800px; }
    .qcSecRight img {width: 100%; }
    .qcSecRightText { top: -70px; right: 47px; }
}

@media (max-width: 1700px){
    .sugestPkg { width: 580px; }
    .accreBox {width: calc(100% - 600px);}
    .doctorOuter { padding-bottom: 120px; }
    .slBgIm { border-radius: 40px; left: 0; width: 74%; margin-left: 13%; margin-top: -43%; height: auto; }
    .blgBox { margin: 50% 0 20px; border-radius: 35px; height: 100%; }
    .slBgTxtt { margin-top: 40px; }
    .blgSlidd { margin-top: 90px; }
    .blgSlidd h2 { margin: 0 0 15px; }
}
@media (max-width: 1500px){
    .qcSecLeft { width: 600px; }
    .qcSecLeftRow p { font-size: 15px; line-height: 20px; }
    .querySec { padding: 90px 70px 0 70px; }
}

@media (max-width: 1350px){
    .departSlider {padding: 44px 20px;}
    .testAccre { padding: 0 50px 0 20px; }
    .doctorSec h2 { position: relative; z-index: 9; }
    .qcSec { padding: 50px 70px 50px 30px; }
    .qcSecLeftRow:nth-child(4) {width: 520px;}
    .doctorOuter { padding-bottom: 0; padding-top: 50px; }
    .doctorSec { padding-bottom: 70px; }
    .nwsLtr { width: 50%; }
}
@media (max-width: 1299px){
    .qcggg { width: 200px; height: 140px; border-top-left-radius: 80px; border-bottom-right-radius: 70px; top: 200px; }
    .qcggg img { margin-left: -62px; }
    .qcg { width: 200px; right: 140px; height: 140px; border-top-left-radius: 80px; border-bottom-right-radius: 70px; top: 50px; }
    .qcgg { width: 200px; right: 240px; top: 310px; height: 140px; border-top-left-radius: 80px; border-bottom-right-radius: 70px; }
    .qcSecRight { right: -251px; top: -120px; width: 750px; }
    .qcSecRightText { top: -10px; right: 20px; }
}
@media (max-width: 1250px){
    .testAccre {display: block;}
    .sugestPkg {width: 100%;}
    .accreBox { width: 100%; margin-top: 40px; }
    .testAccre { padding: 0 20px; }
    .accreBox {padding-right: 30px;}
    .departTop { max-width: 100%; padding-top: 120px; padding-left: 20px; }
}
@media (max-width: 991px){
    .acreeTopLeft p { color: #000; font-size: 16px; }
    .acreeTopLeft h1 { font-size: 30px; line-height: 30px; }
    .acreeTopLeft { padding-bottom: 55px; margin: 0; }
    .departTop { padding-top: 90px; }
    .acreeTopLeft { background: rgba(255,255,255,0.5); padding: 20px; margin-bottom: 60px; border-radius: 10px; width: 93%; }
    .doctorSec:before { top: -302px; }
    .qcSecLeft { width: 370px; }
    .qcSecLeft h2 { margin-left: 60px; font-size: 30px; margin-bottom: 0; }
    .qcSecLeftRow { margin-top: 25px; }
    .qcSecLeft { width: 370px; }
    .qcSecLeftRow p { font-size: 13px; line-height: 16px; margin-bottom: 0; }
    .qcSecLeftRow:nth-child(4) { width: 300px; }
    .qcSecRight { top: -160px; }
    .nwsLtr { padding: 90px 0 0 30px; }
    .querySec { padding: 90px 30px 0 50px; }
}
@media (max-width: 940px){
    .blgSlidd { padding-left: 0px; }
}
@media (max-width: 767px){
    .doctorSec { padding-bottom: 0; }
    .qcSec { padding: 0 0 30px; display: flex; flex-wrap: wrap; background: rgb(255,250,230); background: linear-gradient(90deg, rgba(255,250,230,1) 0%, rgba(255,250,230,1) 100%); }
    .qcSecLeft { width: 100%; position: relative; order: 2; padding: 17px 17px 25px; background: rgb(244,224,109); background: linear-gradient(90deg, rgba(244,224,109,1) 0%, rgba(244,224,109,1) 100%); }
    .qcSecRight { top: 0; right: 0; order: 1; width: 100%; position: relative; }
    .qcSecRightText { top: 30px; right: 20px; }
    .qcg { top: 90px; }
    .qcggg { top: 235px; }
    .qcgg { right: 245px; top: 340px; }
    .qcSecLeftRow:nth-child(4) {width: 100%;}
    .qcSecLeft:before {content: ""; position: absolute; background: #f4e06d; width: 50%; right: 0; bottom: 100%; height: 150px; display: inline-block;}
    .qcSecLeft h2 { margin-left: 0; font-size: 24px; margin-bottom: 0; }
    .blgSlidd { margin-top: 0; }
    .querySec { padding: 0 30px;  width: 100%; }
    .nlAqSec { display: block; padding: 0;}
    .nwsLtr { padding: 60px 30px; width: 100%; }
}

@media (max-width: 536px){
    .qcSecRightText { top: 20px; right: 20px; font-size: 24px; }
    .qcg { width: 150px; right: 120px; height: 100px; border-top-left-radius: 60px; border-bottom-right-radius: 60px; top: 75px; }
    .qcggg { width: 150px; right: 20px; height: 100px; border-top-left-radius: 60px; border-bottom-right-radius: 60px; top: 165px; }
    .qcggg img { margin-left: -47px; }
    .qcgg { width: 150px; height: 100px; border-top-left-radius: 60px; border-bottom-right-radius: 60px; right: 184px; top: 245px; }
    .qcgg img { margin-left: -44px; }
}
@media (max-width: 480px){
    .stpBook { height: 50px; font-size: 16px; padding: 0 18px; border-radius: 10px; }
    .ylwCrt img { width: 22px; }
    .ylwCrt { width: 40px; height: 36px; border-radius: 6px; right: 108px; top: 9px; }
    .mat-expansion-panel-header { font-size: 16px !important; height: 50px; padding: 0 12px; }
    .mat-expansion-panel { min-height: 50px; border-radius: 12px !important; }
    .sptxt .mat-expansion-panel-header { border-radius: 10px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; height: 42px; }
    .sptxt .stpBook { height: 38px; padding: 0 18px; border-radius: 6px; right: 20px; font-size: 15px; }
    .sptxt .ylwCrt { right: 145px; width: 60px;  height: 38px; }
    .sptxt .mat-expansion-panel-body { padding: 20px 20px 75px; }
    .accreBox { padding-right: 0; margin-top: 25px; z-index: 2; position: relative;}
    .accreBoxRow {flex-wrap: wrap; justify-content: center;}
    .accreBoxRow.accreAct .accreBoxText {margin-right: 0; width: 100%; order: 2; margin-top: 50px; text-align: center;}
    .sugestPkg h2, .accreBox h2 { font-size: 24px; margin: 0 0 22px; }
    .departSliderBot { padding-top: 30px; }
    .accreBoxRow.accreAct .accreBoxText h3 { font-size: 24px; }
    .accreBoxText p { font-size: 14px; margin: 7px 0 0; }
    .acreeTopLeft h1 { font-size: 24px; line-height: 24px; }
    .acreeTopLeft p { font-size: 13px; margin: 14px 0 0; line-height: 18px; }
    .blgSlidd h2, .doctorSec h2 { margin: 0; font-size: 24px; }
    .slBgTxtt h3 { margin: 0 20px; font-size: 20px; }
    .slBgTxtt p { font-size: 14px; line-height: 19px; margin: 11px 20px; font-weight: 400; }
    .slBgTxtt { margin-top: 28px; }
    .nwsLtr { padding: 30px 15px; }
    .nwsLtr h2 { font-size: 24px; margin: 0 0 6px; }
    .nlBoxTop h3 { width: calc(100% - 85px); font-size: 18px; }
    .nlBoxTop h3 span { font-size: 13px; line-height: 17px; }
    .nlBox { border-radius: 15px; margin-top: 20px; padding: 15px 15px 62px; }
    .nlBox p { font-size: 13px; margin: 12px 0 0; line-height: 18px; }
    .querySec h2 { font-size: 24px; margin: 0 0 15px; }
    .fromRow label { font-size: 15px; margin: 0 0 6px 2px; }
    .fromRow input[type='text'] { border-radius: 8px; padding: 0 15px; height: 52px; }
    .fromRow { margin-top: 14px; }
}
@media (max-width: 399px){
    .qcg { width: 120px; right: 90px; height: 70px; border-top-left-radius: 42px; border-bottom-right-radius: 42px; top: 65px; }
    .qcg img { margin-left: -30px; }
    .qcggg { width: 120px; height: 70px; border-top-left-radius: 42px; border-bottom-right-radius: 42px; top: 138px; right: 15px; }
    .qcggg img { margin-left: -35px; }
    .qcgg { width: 120px; height: 70px; border-top-left-radius: 42px; border-bottom-right-radius: 42px; right: 150px; top: 190px; }
    .qcgg img { margin-left: -35px; }
}
