<footer>
    <div class="footerContainer">
        <div class="footerText">
            <h2>Lorem</h2>
            <p>Proin porta scelerisque sodales. Morbi tempor mattis auctor. Duis placerat lacus in quam lobortis, ac tempor libero porttitor. Aliquam eget fermentum orci. Donec vitae convallis erat. Aenean vitae faucibus purus. Nullam quis tincidunt magna. Donec accumsan pulvinar magna, in lobortis enim pretium nec.</p>
        </div>
        <div class="footerBottom">
            <ul>
                <h2>Lorem Ipsum</h2>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
            </ul>
            <ul>
                <h2>Lorem Ipsum</h2>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
            </ul>
            <ul>
                <h2>Lorem Ipsum</h2>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
            </ul>
            <ul>
                <h2>Follow Us</h2>
                <div class="socialIcon">
                    <a href="#" class="socialIconBox"><img src="assets/images/fb-icon.png" alt="..."></a>
                    <a href="#" class="socialIconBox"><img src="assets/images/instagram.png" alt="..."></a>
                    <a href="#" class="socialIconBox"><img src="assets/images/linkdin.png" alt="..."></a>
                </div>
            </ul>
        </div>
    </div>
</footer>
