

<div class="otTabSec">
    <mat-tab-group mat-align-tabs="start" animationDuration="0ms">
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="itmBoxSec mr-0">
                    <div class="itmBoxHeading">Biochemistry</div>
                    <div class="itmBox"><img src="../../assets/images/ds1.jpg" alt=""></div>
                </div>
            </ng-template>
            <div class="itmTxt" data-aos="zoom-in-right" data-aos-duration="500" data-aos-delay="500">
                <h2>Biochemistry</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra sem id metus venenatis, nec volutpat quam euismod. Praesent feugiat diam enim, et convallis lorem tincidunt at. Integer accumsan lorem in elementum malesuada. Praesent placerat dolor in purus dictum ultricies. Quisque tincidunt condimentum porta. Sed congue lectus sit amet lectus aliquet, in cursus nunc tincidunt. Suspendisse volutpat finibus diam, ac blandit nunc eleifend ac. Vivamus a condimentum lacus, ut feugiat eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris nibh ante, viverra in consequat laoreet, gravida a risus. Etiam at rhoncus lectus. Nam ante lorem, malesuada et neque a, varius convallis augue. Etiam semper eros eget metus volutpat venenatis. Etiam dignissim elit eget odio vestibulum, eget iaculis leo feugiat.</p>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="itmBoxSec mr-0">
                    <div class="itmBoxHeading">Biochemistry</div>
                    <div class="itmBox"><img src="../../assets/images/ds2.jpg" alt=""></div>
                </div>
            </ng-template>
            <div class="itmTxt" data-aos="zoom-in-right" data-aos-duration="500" data-aos-delay="500">
                <h2>Biochemistry 2</h2>
                <p>Aenean eu rutrum velit, ut consequat dolor. Morbi magna turpis, iaculis quis porta id, fringilla ut tortor. Etiam aliquet dui id convallis tempor. Nulla sit amet tortor sollicitudin, efficitur quam placerat, efficitur urna. Fusce nisl odio, elementum eu tellus et, efficitur tempus magna. Donec suscipit viverra nisi et sollicitudin. Curabitur volutpat eleifend elit eget cursus. Curabitur nunc arcu, interdum quis elementum in, condimentum quis erat. Ut ut augue neque. Nulla placerat turpis lorem, sed convallis ligula mollis id. Vivamus ut porttitor arcu.</p>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="itmBoxSec mr-0">
                    <div class="itmBoxHeading">Biochemistry</div>
                    <div class="itmBox"><img src="../../assets/images/ds1.jpg" alt=""></div>
                </div>
            </ng-template>
        
            <div class="itmTxt" data-aos="zoom-in-right" data-aos-duration="500" data-aos-delay="500">
                <h2>Biochemistry 3</h2>
                <p>Morbi vel consectetur justo, vel euismod orci. In feugiat erat sed est sodales gravida. Vivamus eu iaculis enim. Pellentesque vel varius nisl. Sed vehicula tortor id tellus tempus, a vestibulum magna lacinia. Integer commodo tempus mi vitae hendrerit. Aliquam vel aliquam massa, non lacinia felis. Phasellus non egestas orci. Integer id condimentum nibh. Cras dignissim nec sapien posuere accumsan. Maecenas ipsum sem, vulputate sed ultricies quis, porttitor id leo. Donec molestie dapibus malesuada. Etiam nisi sapien, gravida sollicitudin enim at, pharetra pulvinar dui.</p>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="itmBoxSec mr-0">
                    <div class="itmBoxHeading">Biochemistry</div>
                    <div class="itmBox"><img src="../../assets/images/ds2.jpg" alt=""></div>
                </div>
            </ng-template>
        
            <div class="itmTxt" data-aos="zoom-in-right" data-aos-duration="500" data-aos-delay="500">
                <h2>Biochemistry 4</h2>
                <p>Suspendisse diam felis, pellentesque nec mi a, hendrerit ornare neque. Sed nec massa a tortor finibus tincidunt sed ac magna. Vivamus id tristique nulla. Sed imperdiet, lacus et feugiat ornare, leo risus dapibus neque, eget ultrices dolor justo a mi. Curabitur eu elit eu diam lacinia bibendum sed non sem. Etiam mollis sit amet nunc eget interdum. Suspendisse ante neque, vehicula ut eleifend vitae, imperdiet a nisl. Ut posuere rutrum massa, eget lobortis libero ullamcorper ac.</p>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>



