<section id="trending" class="medicalEncylopediaPartCard">
  <div class="container">
    <div class="swiper trending-slider">
      <div class="swiper-wrapper">
        <ng-container *ngFor="let slide of products">
          <div class="swiper-slide trending-slide" *ngIf="slide.status != 0">
            <div class="trending-slide-img">
              <img [src]="basePath + slide.icon" alt=""/>
            </div>
            <div class="trending-slide-content" (click)="redirectSpeciality(slide)">
              <div class="trending-slide-content-bottom">
                <h1 class="shoe-price">
                  {{ slide.group_name ? slide.group_name : slide.specialityname }}
                </h1>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <!-- Swiper controls -->
      <div class="trending-slider-control">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>

</section>

<div class="sliderBottomSec">
  <a class="pTest" [ngClass]="{MSec: activeModule == 'organ wise', 'MSec-inactive': activeModule != 'organ wise'}" (click)="organ('organ wise')">Organ Wise</a>
  <a [ngClass]="{'pPkg-active': activeModule == 'Condition Wise', pPkg: activeModule != 'Condition Wise'}" (click)="Condition('Condition Wise')">Condition Wise</a>
</div>