/* SWIPER START */
.medicalEncylopediaPartCard .container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}
.medicalEncylopediaPartCard .text-center {
  text-align: center;
}
.medicalEncylopediaPartCard .section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}
.medicalEncylopediaPartCard #trending {
  padding: 4rem 0;
}
.medicalEncylopediaPartCard .trending-slider {
  height: 32rem;
  padding: 2rem 0 9rem 0;
  position: relative;
}
.medicalEncylopediaPartCard .trending-slide {
  width: 18rem;
  height: 18rem;
  position: relative;
}
.medicalEncylopediaPartCard .trending-slide-img {
  position: relative;
  width: 18rem;
  height: 18rem;
  border-radius: 20px;
  background: #fff;
}
.medicalEncylopediaPartCard .trending-slide .trending-slide-img{
border: 1px solid var(--themeColor);
}
.medicalEncylopediaPartCard .swiper-slide-active.trending-slide .trending-slide-img{
  height: 20rem;
  width: 20rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.medicalEncylopediaPartCard .trending-slide-img img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  object-fit: cover;
  padding: 90px; 
}
.medicalEncylopediaPartCard .trending-slide-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.medicalEncylopediaPartCard .trending-slide-content-bottom {
  position: absolute;
  bottom: 0rem;
  left: 55%;
  transform: translateX(-50%);
}
.medicalEncylopediaPartCard .shoe-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}
.medicalEncylopediaPartCard .shoe-rating ion-icon {
  color: var(--primary);
}
.medicalEncylopediaPartCard .swiper-slide-shadow-left,
.medicalEncylopediaPartCard .swiper-slide-shadow-right {
  display: none;
}
.medicalEncylopediaPartCard .trending-slider-control {
  position: relative;
  bottom: -3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.medicalEncylopediaPartCard .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}
.medicalEncylopediaPartCard .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}
.medicalEncylopediaPartCard .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}
.medicalEncylopediaPartCard .slider-arrow::after {
  content: "";
}
.medicalEncylopediaPartCard .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}
.medicalEncylopediaPartCard .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}
.medicalEncylopediaPartCard .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
/* SWIPER END */
.medicalEncylopediaPartCard .trending-slide-content-bottom h1,
.medicalEncylopediaPartCard .trending-slide-content-bottom p
{
  color: #000;
  font-size: 1.1875rem;
}
.medicalEncylopediaPartCard .swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}
.medicalEncylopediaPartCard .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  background: #000;
  opacity: 0.2;
  margin: 0 5px;
  cursor: pointer;
}
.medicalEncylopediaPartCard .swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--primary);
}
.medicalEncylopediaPartCard .swiper-button-prev {
  left: 40%;
  right: auto;
}
.sliderBottomSec {
  display: flex;
  justify-content: center;
  margin: -40px 0 170px;
  z-index: 2;
  position: relative;
}
.medicalEncylopediaPartCard .swiper-slide-active.trending-slide .trending-slide-img {
  height: 20rem;
  width: 20rem;
  opacity: 1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}
/* BUTTON TAB START */
.pTest {
  width: 240px;
  height: 60px;
  font-size: 16px;
  border-radius: 15px;
  background-color: var(--themeColor);
  position: relative;
  margin-right: 20px;
  color: #fff !important;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* -moz-box-shadow: 0 0 5px rgba(247, 160, 31, 0.7);
  -webkit-box-shadow: 0 0 5px rgba(247, 160, 31, 0.7);
  -o-box-shadow: 0 0 5px rgba(247, 160, 31, 0.7); */
  /* box-shadow: 0 0 18px rgba(247, 160, 31, 0.7); */
  cursor: pointer;
  border: 3px solid #fff;
  -moz-transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -khtml-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  overflow: hidden;
}
.pTest:before {
  width: 577px;
  content: "";
  height: 230px;
  border-radius: 134px;
  background: rgba(255, 255, 255, 0.05);
  position: absolute;
  right: 30px;
  top: -139px;
  transform: rotate(-9deg);
  -webkit-transform: rotate(-9deg);
  -moz-transform: rotate(-9deg);
  -o-transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  -moz-transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -khtml-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.pTest.inactive {
  background-color: #fff;
  color: var(--themeColor) !important;
  margin-right: 60px;
  color: var(--themeColor);
  border: 1px solid var(--themeColor);
  -webkit-box-shadow: 0 0 5px rgba(247, 160, 31, 0);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  box-shadow: 0 0 18px rgba(247, 160, 31, 0);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
}
.pTest.inactive {
  margin-right: 24px;
}
.pTest-inactive {
  width: 240px;
  height: 60px;
  font-size: 16px;
  border-radius: 15px;
  background-color: #fff;
  position: relative;
  margin-right: 20px;
  color: var(--themeColor) !important;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  box-shadow: 0 0 18px rgba(247, 160, 31, 0);
  cursor: pointer;
  border: 1px solid var(--themeColor);
  transition: all ease-in-out 0.5s;
  overflow: hidden;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
}
.pPkg {
  width: 240px;
  height: 60px;
  font-size: 16px;
  border-radius: 15px;
  color: var(--themeColor) !important;
  background-color: #fff;
  position: relative;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--themeColor);
  -moz-transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -khtml-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  overflow: hidden;
  cursor: pointer;
}
 .pPkg.active {
  background-color: var(--themeColor);
  position: relative;
  color: #fff !important;
  font-weight: 600;
  /* -moz-box-shadow: 0 0 5px rgba(247, 160, 31, 0.7);
  -webkit-box-shadow: 0 0 5px rgba(247, 160, 31, 0.7);
  -o-box-shadow: 0 0 5px rgba(247, 160, 31, 0.7);
  box-shadow: 0 0 18px rgba(247, 160, 31, 0.7); */
  /* border: 1px solid #fff; */
  margin-left: 36px;
}
 .pPkg.active {
  margin-left: 0;
}
 .pPkg.active:before {
  width: 577px;
  content: "";
  height: 230px;
  border-radius: 134px;
  background: rgba(255, 255, 255, 0.05);
  position: absolute;
  right: 30px;
  top: -139px;
  transform: rotate(-9deg);
  -webkit-transform: rotate(-9deg);
  -moz-transform: rotate(-9deg);
  -o-transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  transition: all ease-in-out 0.5s;
}
 .pPkg-active {
  width: 240px;
  height: 60px;
  font-size: 16px;
  border-radius: 15px;
  color: #fff !important;
  background-color: var(--themeColor);
  position: relative;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--themeColor);
  transition: all ease-in-out 0.5s;
  overflow: hidden;
  cursor: pointer;
  /* -webkit-box-shadow: 0 0 5px rgba(247, 160, 31, 0.7);
  -o-box-shadow: 0 0 5px rgba(247, 160, 31, 0.7);
  box-shadow: 0 0 18px rgba(247, 160, 31, 0.7); */
  /* border: 1px solid #fff; */
  /* -moz-box-shadow: 0 0 5px rgba(247, 160, 31, 0.7); */
}
/* BUTTON TAB END */
@media (max-width: 1550px) {
  .medicalEncylopediaPartCard .container {
    max-width: 84rem;
    padding: 0 1rem;
    margin: 0 auto;
}
.medicalEncylopediaPartCard .trending-slide-content-bottom h1,
.medicalEncylopediaPartCard .trending-slide-content-bottom p {
  color: #000;
  text-align: center;
  font-size: 1.25rem;
}
}
@media (max-width: 1440px) {
  .medicalEncylopediaPartCard .trending-slider {
    height: 45rem;
  }
  .medicalEncylopediaPartCard #trending {
    padding: 7rem 0;
  }
  .medicalEncylopediaPartCard .container {
		max-width: 64rem;
		padding: 0 1rem;
		margin: 0 auto;
	}
  .medicalEncylopediaPartCard .trending-slider {
    height: 26rem;
  }
  .sliderBottomSec {
    margin: 0 0 10.625rem;
}
.sliderBottomSec {
  margin: 0px 0 10.625rem;
}
.medicalEncylopediaPartCard .trending-slide-img,
.medicalEncylopediaPartCard .swiper-slide-active.trending-slide .trending-slide-img,
.medicalEncylopediaPartCard .trending-slide
{
  width: 15rem;
  height: 15rem;
}
.medicalEncylopediaPartCard .trending-slide-content-bottom {
  left: 50%;
}
.medicalEncylopediaPartCard .trending-slide-img img {
  padding: 70px;
}
.sliderBottomSec {
  margin: -4.0625rem 0 10.625rem;
}
.medicalEncylopediaPartCard .trending-slide-content-bottom h1,
.medicalEncylopediaPartCard .trending-slide-content-bottom p {
  font-size: 1.0rem;
  line-height: 1.2rem;
}
}
@media (max-width: 1199px) {
.medicalEncylopediaPartCard .container {
  max-width: 54rem;
  padding: 0 1rem;
  margin: 0 auto;
}
.medicalEncylopediaPartCard .trending-slide-img,
.medicalEncylopediaPartCard .swiper-slide-active.trending-slide .trending-slide-img,
.medicalEncylopediaPartCard .trending-slide
{
  width: 13rem;
  height: 13rem;
}
.medicalEncylopediaPartCard .trending-slide-content-bottom {
  left: 50%;
}
.medicalEncylopediaPartCard .trending-slide-img img {
  padding: 60px;
}
.sliderBottomSec {
  margin: -4.0625rem 0 10.625rem;
}
.medicalEncylopediaPartCard .trending-slide-content-bottom h1,
.medicalEncylopediaPartCard .trending-slide-content-bottom p {
  font-size: 1.0rem;
  line-height: 1.2rem;
}
}
@media (max-width: 990px) {
  .medicalEncylopediaPartCard .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
  .medicalEncylopediaPartCard .container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 0 auto;
}
.medicalEncylopediaPartCard .trending-slide,
.medicalEncylopediaPartCard .swiper-slide-active.trending-slide .trending-slide-img,
.medicalEncylopediaPartCard .trending-slide-img, .medicalEncylopediaPartCard .swiper-slide-active.trending-slide .trending-slide-img, .medicalEncylopediaPartCard .trending-slide
{
  width: 9rem;
  height: 9rem;
}
.medicalEncylopediaPartCard .trending-slide-img img {
  padding: 40px;
}
.sliderBottomSec {
  margin: 2.0625rem 0 100px;
}
.medicalEncylopediaPartCard .trending-slider {
  height: 12rem;
}
}
@media (max-width: 767px) {
  .pTest,
  .pPkg,
  .pPkg-active
  {
    width: 9rem;
    height: 2.1rem;
    font-size: .7rem;
    box-shadow: none;
  }
.medicalEncylopediaPartCard .trending-slide,
.medicalEncylopediaPartCard .swiper-slide-active.trending-slide .trending-slide-img,
.medicalEncylopediaPartCard .trending-slide-img, 
.medicalEncylopediaPartCard .swiper-slide-active.trending-slide .trending-slide-img,
.medicalEncylopediaPartCard .trending-slide{
    width: 7rem;
    height: 6rem;
}
.medicalEncylopediaPartCard .trending-slide-img img {
  padding: 1.875rem;
}
.medicalEncylopediaPartCard .trending-slide-content-bottom h1, 
.medicalEncylopediaPartCard .trending-slide-content-bottom p {
  font-size: 0.7rem;
  line-height: 0.7rem;
}
.medicalEncylopediaPartCard .trending-slide-content-bottom {
  position: absolute;
  bottom: -3px;
}
.sliderBottomSec{
  margin: -2rem 0 6.25rem;
}
.medicalEncylopediaPartCard .trending-slide-img img {
  padding: 1.875rem;
  padding-top: 14px;
}


}
@media (max-width: 450px) {
  .medicalEncylopediaPartCard .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}
@media (max-width: 500px) {
  /* .medicalEncylopediaPartCard .trending-slide {
    width: 20rem !important;
    height: 20rem !important;
  }
  .medicalEncylopediaPartCard .trending-slide-img img {
    width: 20rem !important;
    height: 20rem !important;
  } */
}
@media (max-width: 450px) {
  .medicalEncylopediaPartCard .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}
