<div class="container logPg">
    <div class="loginLftCont">
        <div class="loginLft">
            <div>
                <div class="logLogo">
                    <div class="logLogoLft"><img src="assets/images/logo.png" alt=""></div>
                    <div class="logLogoRgt">Welcome to <span>Nirnayan Healthcare</span></div>
                </div>
                <div class="logLftIm"><img src="assets/images/log-im.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="sign-form">
        <div class="signFormInner">
            <form [formGroup]="signInForm" (ngSubmit)="submitSignIn()" id="sign-form">
                <h1 class="form-title">Login</h1>

                <div class="sgFrmRow">
                    <input type="email" name="email" id="email" style="opacity: 0; height: 1px; position: absolute;">
                    <label for="email">Enter Your Email <span class="star-required">*</span></label>
                    <div class="input-wapper">
                        <input type="email" name="email" id="email" formControlName="user_email" style="text-transform:lowercase;"
                            placeholder="mail@gmail.com" required>
                    </div>
                    <!-- <div *ngIf="submitted && signInForm.get('user_email').errors" style="text-align: center;">
                        <small class="text-danger">Email is required</small>
                    </div> -->
                    <p class="text-danger" *ngIf="signInForm.touched && signInForm.controls['user_email'].invalid"> 
                        {{ getError('email', 'email') }} 
                      </p>
                </div>

                <div class="sgFrmRow">
                    <input type="password" name="password" id="password"
                        style="opacity: 0; height: 1px; position: absolute;">
                    <label for="password">Password<span class="star-required">*</span></label>
                    <div class="input-wapper">
                        <input  [type]="passwordVisible ? 'text' : 'password'" name="password" id="password" formControlName="user_pass"
                        placeholder="Min. 8 characters" required>
                        <i class="fa eyeIcon" [ngClass]="passwordVisible ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePasswordVisibility()" id="togglePasswordVisibility" aria-hidden="true"></i>
                    </div>
                    <div *ngIf="submitted && signInForm.get('user_pass').errors" style="text-align: center;">
                        <small class="text-danger">Password is required</small>
                    </div>
                </div>
                <div class="loginButton">
                    <button type="submit" class="btn btn-primary pulse" >Sign In</button>
                    <div class="clearfix" *ngIf="isLaoding">
                        <div class="spinner-border float-end" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                      </div>
                </div>

                <div class="loginBott">
                    <p class="have-account-line">Back to Home? <a routerLink="/">Home</a></p>
                    <p class="have-account-line">Don't have any Account? <a routerLink="/auth/register">Sign Up</a></p>
                    <p class="have-account-line">Don't remember password? <a routerLink="/auth/forgot-password">Forgot
                            Password</a></p>
                </div>
            </form>
        </div>
    </div>
</div>