<div class="container logPg">
    <div class="loginLftCont">
        <div class="loginLft">
            <div>
                <div class="logLogo">
                    <div class="logLogoLft"><img src="assets/images/logo.png" alt=""></div>
                    <div class="logLogoRgt">Welcome to <span>Nirnayan Healthcare</span></div>
                </div>
                <div class="logLftIm"><img src="assets/images/log-im.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="sign-form">
        <div class="signFormInner">
            <form [formGroup]="signInForm" (ngSubmit)="submitSignIn()" id="sign-form">
                <h1 class="form-title">Login</h1>

                <div class="sgFrmRow">
                    <input type="email" name="email" id="email" style="opacity: 0; height: 1px; position: absolute;">
                    <label for="text">Enter Your Number or Email <span class="star-required">*</span></label>
                    <div class="input-wapper">
                        <input type="text" name="user" id="user" formControlName="user_user" class="input-otp"
                            placeholder="Enter your number or email" (input)="toggleOTP($event)" required>
                        <button id="otpButton" type="button" class="btn btn-otp" (click)="getOTP()">Get OTP</button>
                    </div>
                    <!-- <div *ngIf="submitted && signInForm.get('user_email').errors" style="text-align: center;">
                        <small class="text-danger">Email is required</small>
                    </div> -->
                    <p class="text-danger" *ngIf="signInForm.touched && signInForm.controls['user_user'].invalid">
                        {{ getError('user_user', 'user_user') }}
                    </p>
                </div>
                <div class="sgFrmRow">
                    <label for="otp">Enter Your OTP <span class="star-required">*</span></label>
                    <div class="digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off">
                        <input type="tel" id="digit-1" name="digit-1" formControlName="customOtp1"
                            data-next="digit-2" />
                        <input type="tel" id="digit-2" name="digit-2" formControlName="customOtp2" data-next="digit-3"
                            data-previous="digit-1" />
                        <input type="tel" id="digit-3" name="digit-3" formControlName="customOtp3" data-next="digit-4"
                            data-previous="digit-2" />
                        <input type="tel" id="digit-4" name="digit-4" formControlName="customOtp4" data-next="digit-5"
                            data-previous="digit-3" />
                        <input type="tel" id="digit-5" name="digit-5" formControlName="customOtp5" data-next="digit-6"
                            data-previous="digit-4" />
                        <input type="tel" id="digit-6" name="digit-6" formControlName="customOtp6" data-next="digit-7"
                            data-previous="digit-5" />
                    </div>
                    <div *ngIf="otpRequested && remainingTime > 0">
                        <p class="resend-code">Remaining Time: {{ remainingTime }} seconds</p>
                    </div>
                    <div *ngIf="otpRequested && remainingTime <= 0">
                        <p class="resend-code">Haven’t received the code? <span (click)="resendOtp()">Resend code</span>
                        </p>
                    </div>
                </div>
                <!-- <div class="sgFrmRow">
                    <input type="password" name="password" id="password"
                        style="opacity: 0; height: 1px; position: absolute;">
                    <label for="password">Password<span class="star-required">*</span></label>
                    <div class="input-wapper">
                        <input  [type]="passwordVisible ? 'text' : 'password'" name="password" id="password" formControlName="user_pass"
                        placeholder="Enter Your Password" required>
                        <i class="fa eyeIcon" [ngClass]="passwordVisible ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePasswordVisibility()" id="togglePasswordVisibility" aria-hidden="true"></i>
                    </div>
                    <div *ngIf="submitted && signInForm.get('user_pass').errors" style="text-align: center;">
                        <small class="text-danger">Password is required</small>
                    </div>
                </div> -->
                <div class="loginButton">
                    <button type="submit" class="btn btn-primary pulse">Sign In</button>
                    <div class="clearfix" *ngIf="isLaoding">
                        <div class="spinner-border float-end" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>

                <div class="loginBott">
                    <p class="have-account-line">Back to Home? <a routerLink="/">Home</a></p>
                    <p class="have-account-line">Don't have any Account? <a routerLink="/auth/register">Sign Up</a></p>
                    <p class="have-account-line">Don't remember password? <a routerLink="/auth/forgot-password">Forgot
                            Password</a></p>
                </div>
            </form>
        </div>
    </div>
</div>