<app-header></app-header>
<div class="container-xxl">
    <div class="row">
        <div class="col-lg-2 col-md-2 mx-auto">
            <div class="profilebox">
                <img src="../../../assets/images/Doctor-5.png" alt="">
            </div>
        </div>
        <div class="col-lg-10 col-md-10 mx-auto">
            <div class="nameBox">
                <div class="nameTxtWapper">
                    <h2>Dr. {{"Jaya Das"}}</h2>
                    <h3>{{'MBBS, DPH,MD (MICROBIOLOGY), DNB'}}</h3>
                    <h4>Department: <span>MICROBIOLOGY</span></h4>
                    <h4>Designation: <span>PART TIME CONSULTANT.</span></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<h1 class="title">Award & Membership</h1>
<div class="award-bg">
    <div class="container-xxl">
        <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">
                <div class="awardBox">
                    <div class="accordion py-4 accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item rounded-3 border-0 shadow mb-2">
                            <h2 class="accordion-header">
                                <button class="accordion-button border-bottom collapsed fw-semibold" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    <div class="d-flex">
                                        <img src="../../../assets/images/award-icon.png" alt="" class="accordion-img">
                                        <P>1. Poster on “VP Shunt Infection Caused by Serratia marcescens- a case report” in IAMM paper Award category
                                            in MICROCON-2014 (west Bengal)</P>
                                    </div>
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>. To detect pulmonary tuberculosis by IGRA and/or fluorescence microscopy in patients attending Central Referral Hospital (CRH).
                                        Study of MDR and XDR TB by real-time PCR (RT PCR) among pulmonary tuberculosis patients diagnosed by IGRA and/or fluorescence
                                      microscopy. Extended Analysis: Study of MDR and XDR TB by real-time PCR among pulmonary tuberculosis patients diagnosed
                                      negative by IGRA and/or fluorescence microscopy. 
                                      To find out the socio-demographic correlates amongst the suspected cases of pulmonary tuberculosis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item rounded-3 border-0 shadow mb-2">
                            <h2 class="accordion-header">
                                <button class="accordion-button border-bottom collapsed fw-semibold" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    <div class="d-flex">
                                        <img src="../../../assets/images/award-icon.png" alt="" class="accordion-img">
                                        <P>1. Poster on “VP Shunt Infection Caused by Serratia marcescens- a case report” in IAMM paper Award category
                                            in MICROCON-2014 (west Bengal)</P>
                                    </div>
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>. To detect pulmonary tuberculosis by IGRA and/or fluorescence microscopy in patients attending Central Referral Hospital (CRH).
                                        Study of MDR and XDR TB by real-time PCR (RT PCR) among pulmonary tuberculosis patients diagnosed by IGRA and/or fluorescence
                                      microscopy. Extended Analysis: Study of MDR and XDR TB by real-time PCR among pulmonary tuberculosis patients diagnosed
                                      negative by IGRA and/or fluorescence microscopy. 
                                      To find out the socio-demographic correlates amongst the suspected cases of pulmonary tuberculosis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item rounded-3 border-0 mb-2 shadow">
                            <h2 class="accordion-header">
                                <button class="accordion-button border-bottom collapsed fw-semibold" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                    aria-expanded="false" aria-controls="flush-collapseThree">
                                    <div class="d-flex">
                                        <img src="../../../assets/images/award-icon.png" alt="" class="accordion-img">
                                        <P>1. Poster on “VP Shunt Infection Caused by Serratia marcescens- a case report” in IAMM paper Award category
                                            in MICROCON-2014 (west Bengal)</P>
                                    </div>
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>. To detect pulmonary tuberculosis by IGRA and/or fluorescence microscopy in patients attending Central Referral Hospital (CRH).
                                        Study of MDR and XDR TB by real-time PCR (RT PCR) among pulmonary tuberculosis patients diagnosed by IGRA and/or fluorescence
                                      microscopy. Extended Analysis: Study of MDR and XDR TB by real-time PCR among pulmonary tuberculosis patients diagnosed
                                      negative by IGRA and/or fluorescence microscopy. 
                                      To find out the socio-demographic correlates amongst the suspected cases of pulmonary tuberculosis.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<h1 class="title">Experiences</h1>
<div class="awardBgSec">
    <div class="container-xxl">
        <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">
                <div class="awardBox">
                    <div class="accordion py-4 accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item rounded-3 border-0 shadow mb-2">
                            <h2 class="accordion-header">
                                <button class="accordion-button border-bottom collapsed fw-semibold" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false"
                                    aria-controls="flush-collapsefour">
                                    <div class="d-flex">
                                        <P>1. Poster on “VP Shunt Infection Caused by Serratia marcescens- a case report” in IAMM paper Award category
                                            in MICROCON-2014 (west Bengal)</P>
                                    </div>
                                </button>
                            </h2>
                            <div id="flush-collapsefour" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>. To detect pulmonary tuberculosis by IGRA and/or fluorescence microscopy in patients attending Central Referral Hospital (CRH).
                                        Study of MDR and XDR TB by real-time PCR (RT PCR) among pulmonary tuberculosis patients diagnosed by IGRA and/or fluorescence
                                      microscopy. Extended Analysis: Study of MDR and XDR TB by real-time PCR among pulmonary tuberculosis patients diagnosed
                                      negative by IGRA and/or fluorescence microscopy. 
                                      To find out the socio-demographic correlates amongst the suspected cases of pulmonary tuberculosis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item rounded-3 border-0 shadow mb-2">
                            <h2 class="accordion-header">
                                <button class="accordion-button border-bottom collapsed fw-semibold" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false"
                                    aria-controls="flush-collapsefive">
                                    <div class="d-flex">
                                        <P>1. Poster on “VP Shunt Infection Caused by Serratia marcescens- a case report” in IAMM paper Award category
                                            in MICROCON-2014 (west Bengal)</P>
                                    </div>
                                </button>
                            </h2>
                            <div id="flush-collapsefive" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>. To detect pulmonary tuberculosis by IGRA and/or fluorescence microscopy in patients attending Central Referral Hospital (CRH).
                                        Study of MDR and XDR TB by real-time PCR (RT PCR) among pulmonary tuberculosis patients diagnosed by IGRA and/or fluorescence
                                      microscopy. Extended Analysis: Study of MDR and XDR TB by real-time PCR among pulmonary tuberculosis patients diagnosed
                                      negative by IGRA and/or fluorescence microscopy. 
                                      To find out the socio-demographic correlates amongst the suspected cases of pulmonary tuberculosis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item rounded-3 border-0 mb-2 shadow">
                            <h2 class="accordion-header">
                                <button class="accordion-button border-bottom collapsed fw-semibold" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapsesix"
                                    aria-expanded="false" aria-controls="flush-collapsesix">
                                    <div class="d-flex">
                                        <P>1. Poster on “VP Shunt Infection Caused by Serratia marcescens- a case report” in IAMM paper Award category
                                            in MICROCON-2014 (west Bengal)</P>
                                    </div>
                                </button>
                            </h2>
                            <div id="flush-collapsesix" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>. To detect pulmonary tuberculosis by IGRA and/or fluorescence microscopy in patients attending Central Referral Hospital (CRH).
                                        Study of MDR and XDR TB by real-time PCR (RT PCR) among pulmonary tuberculosis patients diagnosed by IGRA and/or fluorescence
                                      microscopy. Extended Analysis: Study of MDR and XDR TB by real-time PCR among pulmonary tuberculosis patients diagnosed
                                      negative by IGRA and/or fluorescence microscopy. 
                                      To find out the socio-demographic correlates amongst the suspected cases of pulmonary tuberculosis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item rounded-3 border-0 shadow mb-2">
                            <h2 class="accordion-header">
                                <button class="accordion-button border-bottom collapsed fw-semibold" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapsesaven" aria-expanded="false"
                                    aria-controls="flush-collapsesaven">
                                    <div class="d-flex">
                                        <P>1. Poster on “VP Shunt Infection Caused by Serratia marcescens- a case report” in IAMM paper Award category
                                            in MICROCON-2014 (west Bengal)</P>
                                    </div>
                                </button>
                            </h2>
                            <div id="flush-collapsesaven" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>1. Doctoral study on “Study of MDR and XDR TB by real-time PCR in patients of pulmonary tuberculosis Diagnosed by IGRA and
                                        Fluorescence microscopy”, 2015-2020.
                                        . To detect pulmonary tuberculosis by IGRA and/or fluorescence microscopy in patients attending Central Referral Hospital (CRH).
                                          Study of MDR and XDR TB by real-time PCR (RT PCR) among pulmonary tuberculosis patients diagnosed by IGRA and/or fluorescence
                                        microscopy. Extended Analysis: Study of MDR and XDR TB by real-time PCR among pulmonary tuberculosis patients diagnosed
                                        negative by IGRA and/or fluorescence microscopy. 
                                        To find out the socio-demographic correlates amongst the suspected cases of pulmonary tuberculosis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item rounded-3 border-0 shadow mb-2">
                            <h2 class="accordion-header">
                                <button class="accordion-button border-bottom collapsed fw-semibold" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseeight" aria-expanded="false"
                                    aria-controls="flush-collapseeight">
                                    <div class="d-flex">
                                        <P>1. Poster on “VP Shunt Infection Caused by Serratia marcescens- a case report” in IAMM paper Award category
                                            in MICROCON-2014 (west Bengal)</P>
                                    </div>
                                </button>
                            </h2>
                            <div id="flush-collapseeight" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>2. Research fellow in DBT project under central government in "Mapping of hotspots of MDR-TB in the Northeastern state of Sikkim,
                                        Assam and Tripura using Genomic approach”, 2019-2022.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item rounded-3 border-0 shadow mb-2">
                            <h2 class="accordion-header">
                                <button class="accordion-button border-bottom collapsed fw-semibold" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false"
                                    aria-controls="flush-collapseNine">
                                    <div class="d-flex">
                                        <P>1. Poster on “VP Shunt Infection Caused by Serratia marcescens- a case report” in IAMM paper Award category
                                            in MICROCON-2014 (west Bengal)</P>
                                    </div>
                                </button>
                            </h2>
                            <div id="flush-collapseNine" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>. To detect pulmonary tuberculosis by IGRA and/or fluorescence microscopy in patients attending Central Referral Hospital (CRH).
                                        Study of MDR and XDR TB by real-time PCR (RT PCR) among pulmonary tuberculosis patients diagnosed by IGRA and/or fluorescence
                                      microscopy. Extended Analysis: Study of MDR and XDR TB by real-time PCR among pulmonary tuberculosis patients diagnosed
                                      negative by IGRA and/or fluorescence microscopy. 
                                      To find out the socio-demographic correlates amongst the suspected cases of pulmonary tuberculosis.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










<app-footer></app-footer>