<!-- <div class="aboutFoot">
<h2>About Nirnayan</h2>
<p>We are one of the best pathological labs focused on delivering accurate services with comprehensive 3000+ pathological tests like Routine tests, culture reports, hematological tests, cytogenetics tests, and more to our valued customers. Upholding the highest protocols of quality care, Nirnayan Healthcare is committed to providing comprehensive healthcare services and promoting good health.  We set up a wide range of quality services with updated equipment and research that help us deliver exceptional patient care and overall well-being.
    To be the best pathological lab in West Bengal, with years of experience, Nirnayan ensures a wide range of pathological tests with reasonable prices for patients. We are well organized by highly trained pathology doctors and experienced technicians also to provide uninterrupted service within the best timing.</p>
</div> -->


<div class="partners">
    <ng-container *ngFor="let item of allPartners">
        <div class="partner-card" *ngIf="item?.status != 0 ">
            <div class="logo"><img [src]="item?.image" alt=""></div>
            <p>{{item?.name}}</p>
        </div>
    </ng-container>
</div>
