<div class="container-fluid">
    <h1 class="title">Customer Feedback</h1>
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-12 mx-auto">
            <owl-carousel-o [options]="carouselOptions">
                <ng-container *ngFor="let item of feedback; let i = index">
                    <ng-template carouselSlide>
                        <div class="customer">
                            <div class="d-flex align-items-center justify-content-between customar-wapper ">
                                <div class="image-wapper">
                                    <img src={{item.image}} alt="">
                                </div>
                                <div class="text-wapper">
                                    <h4>{{item.name}}</h4>
                                    <p>{{item.desc}}</p>
                                </div>
                            </div>
                            <div class="customer-button">
                                <div class="u-stars">
                                    <i *ngFor="let star of generateStars(item.rating)" [class]="star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</div>