<div class="container logPg">
    <!-- <div style="background-color: rgba(0,0,0,0.5);" class="loading-spinner" id="loader">
    </div> -->
    <div class="loginLftCont">
        <div class="loginLft">
            <div>
                <div class="logLogo">
                    <div class="logLogoLft"><img src="assets/images/logo.png" alt=""></div>
                    <div class="logLogoRgt">Welcome to <span>Nirnayan Healthcare</span></div>
                </div>
                <div class="logLftIm"><img src="assets/images/log-im.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="sign-form">
        <div class="signFormInner signUpp">
            <form [formGroup]="signUpForm" (ngSubmit)="SubmitSignUp()" id="sign-form">
                <h1 class="form-title">Sign Up</h1>

                <div class="sgFrmRow">
                    <!-- <input type="text" name="username" id="username" style="opacity: 0; height: 1px; position: absolute;"> -->
                    <label for="username">Name<span class="star-required">*</span></label>
                    <input type="text" name="username" formControlName="user_name" id="username" placeholder="name" autofocus required>
                    <div *ngIf="submitted && signUpForm.get('user_name').errors" style="text-align: center;">
                        <small class="text-danger">Name is required</small>
                    </div>
                </div>

                <div class="sgFrmRow">
                    <!-- <input type="email" name="email" id="email" style="opacity: 0; height: 1px; position: absolute;"> -->
                    <label for="email">Email<span class="star-required">*</span></label>
                    <input type="email" name="email"  class="lowercase-input" id="email" formControlName="user_email" placeholder="email" required>
                    <div *ngIf="submitted && signUpForm.get('user_email').errors" style="text-align: center;">
                        <small class="text-danger">Please provide a valid email address</small>
                    </div>
                    <!-- <div *ngIf="(userEmail?.invalid && userEmail?.touched) || userEmail?.dirty">
                        <small *ngIf="userEmail.errors['pattern']" class="text-danger text-danger">Please provide a valid email address</small>
                      </div> -->
                </div>
                <div class="sgFrmRow">
                    <!-- <input type="email" name="email" id="email" style="opacity: 0; height: 1px; position: absolute;"> -->
                    <label for="email">Mobile<span class="star-required">*</span></label>
                    <input type="text" name="mobileNumber"  class="lowercase-input" id="mobile" formControlName="mobileNumber" placeholder="mobile" required>
                    <div *ngIf="submitted && signUpForm.get('mobileNumber').errors" style="text-align: center;">
                        <small class="text-danger">Mobile number is required!</small>
                    </div>
                    <!-- <div *ngIf="(userEmail?.invalid && userEmail?.touched) || userEmail?.dirty">
                        <small *ngIf="userEmail.errors['pattern']" class="text-danger text-danger">Please provide a valid email address</small>
                      </div> -->
                </div>

                <div class="sgFrmRow">
                    <!-- <input type="password" name="password" id="password" style="opacity: 0; height: 1px; position: absolute;"> -->
                    <label for="password">New Password<span class="star-required">*</span></label>
                    <div class="input-wapper">
                        <i class="fa eyeIcon" [ngClass]="passwordVisible ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePasswordVisibility('new')"
                            id="togglePasswordVisibility" aria-hidden="true"></i>
                        <input [type]="passwordVisible ? 'text' : 'password'" name="newpassword" formControlName="new_pass"  placeholder="min. 8 character" required>
                    </div>
                    <div *ngIf="submitted && signUpForm.get('new_pass')?.errors" class=" text-danger">
                        <div *ngIf="signUpForm.get('new_pass').errors['required']"  style="text-align: center;">Password is required</div>
                    </div>

                    <div class="text-red-400 text-sm row" style="color: #e91111;" *ngIf="passwordFormField?.dirty">
                        <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('^(?=.*[A-Z])')}">Must be atleast uppercase letter.</span>
                     
                        <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('(?=.*[a-z])')}">Must be atleast one lowercase letter.</span>
                     
                        <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('(.*[0-9].*)')}">Must be atleast one digit.</span>
                     
                        <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('(?=.*[!@#$%^&*])')}">Must be atleast one special character.</span>
                     
                        <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('.{8,}')}">Must be atleast 8 characters long.</span>
                     
                     </div>
                </div>

                <div class="sgFrmRow">
                    <!-- <input type="password" name="confirmpassword" id="" style="opacity: 0; height: 1px; position: absolute;"> -->
                    <label for="password">Confirm Password<span class="star-required">*</span></label>
                    <div class="input-wapper">
                        <i class="fa eyeIcon" [ngClass]="confpasswordVisible ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePasswordVisibility('confirm')" 
                            id="togglePasswordVisibility" aria-hidden="true"></i>
                        <input [type]="confpasswordVisible ? 'text' : 'password'" name="confirmpassword" formControlName="user_pass" id="confPass" placeholder="min. 8 character" required>
                    </div>
                    <!-- <div *ngIf="submitted && signUpForm.get('user_pass').errors" style="text-align: center;">
                        <small class="text-danger">Confirm password is required</small>
                    </div> -->
                    <div *ngIf="submitted && signUpForm.get('user_pass').errors" class=" text-danger">
                        <div *ngIf="signUpForm.get('user_pass').errors['required']"  style="text-align: center;">Confirm Password is required</div>
            
                        <div *ngIf="signUpForm.get('user_pass').errors['confirmPasswordValidator']"  style="text-align: center;">New Passsword and
                            Confirm Password didn't match. </div>
                    </div>
                </div>
                <div class="agreeSec">
                    <input type="checkbox" (change)="termsCondition($event)" name="terms-agree" id="terms-agree" required>
                    <p class="sentence-agree"> I agree to the <a style="color: rgb(68, 130, 224);" href="assets/images/termsAndConditions.pdf" target="_blank">Terms & Conditions</a></p>
                </div>
                <div class="loginButton">
                    <button type="submit"  class="btn btn-primary pulse" [disabled]="validFrom['invalid']" >Sign Up  &nbsp;
                    <div class="spinner-border" *ngIf="spiner" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    </button>
                </div>
                <div class="loginBott">
                    <p class="have-account-line">Back to Home? <a routerLink="/" style="color: rgb(68, 130, 224);">Home</a></p>
                    <p class="have-account-line">Already have an Account? <a routerLink="/auth/login" style="color: rgb(68, 130, 224);">Sign In</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
