<div class="journeyPageTop">
    <div class="journeyPageTopLeft" data-aos="fade-right" data-aos-duration="500" data-aos-delay="500"><img src="../../assets/images/journey-top-im.png" alt=""></div>
    <div class="journeyTxtSec" data-aos="fade-left" data-aos-duration="500" data-aos-delay="500">
        <div class="journeyTxt">
            <div class="journeyTxtInner">
                <h2><span>About</span> Nirnayan Healthcare</h2>
                <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus.</span> Duis egestas lorem eget leo malesuada gravida eget quis tortor. Vivamus iaculis faucibus nunc, ut fringilla turpis imperdiet sit amet.</p>
                <p>Donec a quam non lacus convallis convallis et non nisl. Cras imperdiet hendrerit nibh, sit amet malesuada magna bibendum ut. Sed eu venenatis tellus. Vivamus molestie id odio et congue. Ut euismod, arcu et egestas dapibus, urna enim lobortis tortor, sed molestie enim purus non justo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus. Duis egestas lorem eget leo malesuada gravida eget quis tortor. Vivamus iaculis faucibus nunc, ut fringilla turpis imperdiet sit amet.</p>
                <p>Donec a quam non lacus convallis convallis et non nisl. Cras imperdiet hendrerit nibh, sit amet malesuada magna bibendum ut. Sed eu venenatis tellus. Vivamus molestie id odio et congue. Ut euismod, arcu et egestas dapibus, urna enim lobortis tortor, sed molestie enim purus non justo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus. Duis egestas lorem eget leo malesuada gravida eget quis tortor. Vivamus iaculis faucibus nunc, ut fringilla turpis imperdiet sit amet.</p>
                <p>Donec a quam non lacus convallis convallis et non nisl. Cras imperdiet hendrerit nibh, sit amet malesuada magna bibendum ut. Sed eu venenatis tellus. Vivamus molestie id odio et congue. Ut euismod, arcu et egestas dapibus, urna enim lobortis tortor, sed molestie enim purus non justo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus. Duis egestas lorem eget leo malesuada gravida eget quis tortor. Vivamus iaculis faucibus nunc, ut fringilla turpis imperdiet sit amet.</p>
                <p>Donec a quam non lacus convallis convallis et non nisl. Cras imperdiet hendrerit nibh, sit amet malesuada magna bibendum ut. Sed eu venenatis tellus. Vivamus molestie id odio et congue. Ut euismod, arcu et egestas dapibus, urna enim lobortis tortor, sed molestie enim purus non justo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus. Duis egestas lorem eget leo malesuada gravida eget quis tortor. Vivamus iaculis faucibus nunc, ut fringilla turpis imperdiet sit amet.</p>
                <p>Donec a quam non lacus convallis convallis et non nisl. Cras imperdiet hendrerit nibh, sit amet malesuada magna bibendum ut. Sed eu venenatis tellus. Vivamus molestie id odio et congue. Ut euismod, arcu et egestas dapibus, urna enim lobortis tortor, sed molestie enim purus non justo.</p>
            </div>
        </div>
    </div>
</div>
<div class="outJourneySec">
    <h2  data-aos="flip-left" data-aos-duration="500" data-aos-delay="500">Our Journey</h2>
    <div class="journeyAnimate">
        <div class="treeSec">
            <div class="branch"><img src="../../assets/images/branch.png" alt=""/></div>
            <div class="grass"><img src="../../assets/images/green-grass.png" alt=""/></div>
            <div class="root"><img src="../../assets/images/root.png" alt=""/></div>
            <div class="grayRound"></div>
            <div class="lightPinkRound"></div>
            <div class="blueRound"></div>
            <div class="lightGreenRound"></div>
            <div class="violetRound"></div>
            <div class="pinkRound"></div>
            <div class="skyRound"></div>
            <div class="orangeRound"></div>
            <div class="olivegreenRound"></div>
            <div class="yellowRound"></div>
            <div class="magentaRound"></div>
            <div class="greenRound"></div>
            <div class="greenRing"></div>
            <div class="redRing"></div>
            <div class="violetRing"></div>
            <div class="yellowRing"></div>
            <div class="orangeRing"></div>
            <div class="pinkRing"></div>
        </div>
        <div class="journeyAnimateInner">
            <div class="journeyAnimateRow">
                <div class="journeyColumnnOuter">
                    <div class="dottSec">
                        <div class="dott"></div>
                        <div class="dott"></div>
                        <div class="dott active"></div>
                    </div>
                    <div class="journeyColumnn">
                        <h3>Lorem ipsum</h3>
                        <div class="journeyColumnnTxSec">
                            <div class="journeyColumnnTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus. Duis egestas lorem eget leo malesuada gravida eget quis tortor.</div>
                        </div>
                    </div>
                    <div class="journeyColumnn">
                        <h3>Lorem ipsum</h3>
                        <div class="journeyColumnnTxSec">
                            <div class="journeyColumnnTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus. Duis egestas lorem eget leo malesuada gravida eget quis tortor.</div>
                        </div>
                    </div>
                    <div class="journeyColumnn">
                        <h3>Lorem ipsum</h3>
                        <div class="journeyColumnnTxSec">
                            <div class="journeyColumnnTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus. Duis egestas lorem eget leo malesuada gravida eget quis tortor.</div>
                        </div>
                    </div>
                </div>
                <div class="journeyColumnnOuter">
                    <div class="dottSec">
                        <div class="dott"></div>
                        <div class="dott"></div>
                        <div class="dott active"></div>
                    </div>
                    <div class="journeyColumnn">
                        <h3>Lorem ipsum</h3>
                        <div class="journeyColumnnTxSec">
                            <div class="journeyColumnnTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus. Duis egestas lorem eget leo malesuada gravida eget quis tortor.</div>
                        </div>
                    </div>
                    <div class="journeyColumnn">
                        <h3>Lorem ipsum</h3>
                        <div class="journeyColumnnTxSec">
                            <div class="journeyColumnnTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus. Duis egestas lorem eget leo malesuada gravida eget quis tortor.</div>
                        </div>
                    </div>
                    <div class="journeyColumnn">
                        <h3>Lorem ipsum</h3>
                        <div class="journeyColumnnTxSec">
                            <div class="journeyColumnnTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus. Duis egestas lorem eget leo malesuada gravida eget quis tortor.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="journeyAnimateRow">
                <div class="journeyColumnnOuter">
                    <div class="dottSec">
                        <div class="dott"></div>
                        <div class="dott"></div>
                        <div class="dott active"></div>
                    </div>
                    <div class="journeyColumnn">
                        <h3>Lorem ipsum</h3>
                        <div class="journeyColumnnTxSec">
                            <div class="journeyColumnnTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus. Duis egestas lorem eget leo malesuada gravida eget quis tortor.</div>
                        </div>
                    </div>
                    <div class="journeyColumnn">
                        <h3>Lorem ipsum</h3>
                        <div class="journeyColumnnTxSec">
                            <div class="journeyColumnnTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus. Duis egestas lorem eget leo malesuada gravida eget quis tortor.</div>
                        </div>
                    </div>
                    <div class="journeyColumnn">
                        <h3>Lorem ipsum</h3>
                        <div class="journeyColumnnTxSec">
                            <div class="journeyColumnnTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus. Duis egestas lorem eget leo malesuada gravida eget quis tortor.</div>
                        </div>
                    </div>
                </div>
                <div class="journeyColumnnOuter">
                    <div class="dottSec">
                        <div class="dott"></div>
                        <div class="dott"></div>
                        <div class="dott active"></div>
                    </div>
                    <div class="journeyColumnn">
                        <h3>Lorem ipsum</h3>
                        <div class="journeyColumnnTxSec">
                            <div class="journeyColumnnTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus. Duis egestas lorem eget leo malesuada gravida eget quis tortor.</div>
                        </div>
                    </div>
                    <div class="journeyColumnn">
                        <h3>Lorem ipsum</h3>
                        <div class="journeyColumnnTxSec">
                            <div class="journeyColumnnTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus. Duis egestas lorem eget leo malesuada gravida eget quis tortor.</div>
                        </div>
                    </div>
                    <div class="journeyColumnn">
                        <h3>Lorem ipsum</h3>
                        <div class="journeyColumnnTxSec">
                            <div class="journeyColumnnTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus. Duis egestas lorem eget leo malesuada gravida eget quis tortor.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="journeyAnimateRow">
                <div class="journeyColumnnOuter">
                    <div class="dottSec">
                        <div class="dott"></div>
                        <div class="dott"></div>
                        <div class="dott active"></div>
                    </div>
                    <div class="journeyColumnn">
                        <h3>Lorem ipsum</h3>
                        <div class="journeyColumnnTxSec">
                            <div class="journeyColumnnTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus. Duis egestas lorem eget leo malesuada gravida eget quis tortor.</div>
                        </div>
                    </div>
                    <div class="journeyColumnn">
                        <h3>Lorem ipsum</h3>
                        <div class="journeyColumnnTxSec">
                            <div class="journeyColumnnTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus. Duis egestas lorem eget leo malesuada gravida eget quis tortor.</div>
                        </div>
                    </div>
                    <div class="journeyColumnn">
                        <h3>Lorem ipsum</h3>
                        <div class="journeyColumnnTxSec">
                            <div class="journeyColumnnTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus. Duis egestas lorem eget leo malesuada gravida eget quis tortor.</div>
                        </div>
                    </div>
                </div>
                <div class="journeyColumnnOuter">
                    <div class="dottSec">
                        <div class="dott"></div>
                        <div class="dott"></div>
                        <div class="dott active"></div>
                    </div>
                    <div class="journeyColumnn">
                        <h3>Lorem ipsum</h3>
                        <div class="journeyColumnnTxSec">
                            <div class="journeyColumnnTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus. Duis egestas lorem eget leo malesuada gravida eget quis tortor.</div>
                        </div>
                    </div>
                    <div class="journeyColumnn">
                        <h3>Lorem ipsum</h3>
                        <div class="journeyColumnnTxSec">
                            <div class="journeyColumnnTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus. Duis egestas lorem eget leo malesuada gravida eget quis tortor.</div>
                        </div>
                    </div>
                    <div class="journeyColumnn">
                        <h3>Lorem ipsum</h3>
                        <div class="journeyColumnnTxSec">
                            <div class="journeyColumnnTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus. Duis egestas lorem eget leo malesuada gravida eget quis tortor.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

