.search-top-gap{
    margin-top: 120px !important;
}
.search-input{
    width: 70%;
    outline: none;
    border: none;
    border: 2px solid #608e32;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    letter-spacing: 2px;
}
.list-group-item{
    background-color: #608e32 !important;
    border-radius: 20px;
    margin: 10px 0;
}
.list-group-item > h4{
    color: #fff;
    font-family: Poppins,sans-serif!important;
    letter-spacing: 2px;
    /* font-weight: bold; */
    font-size: 20px;
}
.list-group-item .card-body{
    max-height: 100px;
    overflow-y: auto;
}
.list-group-item .card-body .unordered-list > li{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
.list-group-item .card-body .unordered-list > li span.right-arrow{
    font-size: 50px;
}
.list-group-item .card-body .unordered-list > li > div{
    display: flex;
    align-items: center;
}