.search-top-gap{
    margin-top: 120px;
    margin-bottom: 120px;
    text-align: center;
}
.searchRow {display: flex; justify-content: space-between; flex-wrap: wrap;}
.search-input{
    width: 70%;
    outline: none;
    border: none;
    border: 2px solid #608e32;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    letter-spacing: 2px;
}
.list-group-item{
    /* background-color: #608e32 !important; */
    border-radius: 20px;
    margin: 10px 0;
    width: 48%;
}
.list-group-item > h4{
    color: #fff;
    font-family: Poppins,sans-serif!important;
    /* letter-spacing: 2px;
    font-weight: bold; */
    font-size: 20px;
}
.searchRow .list-group-item > h4{ 
    color: yellowgreen;
}
.list-group-item .card-body{
    max-height: 200px;
    overflow-y: auto;
}
.list-group-item .card-body .unordered-list > li{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
.list-group-item .card-body .unordered-list > li span.right-arrow{
    font-size: 50px;
}
.list-group-item .card-body .unordered-list > li > div{
    display: flex;
    align-items: center;
}
.field-name{
    text-overflow: ellipsis;
    max-width: 335px;
    max-height: 20px;
    font-size: large;
    overflow: hidden;
    word-break: break-all;
}

.pointer {
    cursor: pointer;
    height: 16px;
}

.table td, .table th {
    padding: 1.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.h4class {
    font-size: 20px;
    padding: 10px;
    color: yellowgreen;
}

.searchRow td {padding: 10px; text-align: left;}
.searchRow td:first-child {width: 20%;}
.searchRow td:nth-child(2) {width: 70%;}
.searchRow td:last-child {width: 10%; text-align: center;}
.searchRow td:first-child img {height: 30px;}
.pb-scroll {
	display: block;
	max-height: 400px;
	overflow: auto;
}
.testSearch { width: 570px; display: inline-block; position: relative; margin-bottom: 10px; margin-top: 10px;}
.testSearch input[type="text"] { width: 100%; border: none; padding-right: 140px; padding-left: 35px; height: 60px; border-radius: 40px; border-top-left-radius: 0; border-bottom-right-radius: 0; -o-box-shadow: 0 0 10px rgba(255,214,93,0.5); box-shadow: 0 0 10px rgb(255 214 93 / 50%); transition: all 0.3s linear; -moz-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; -khtml-transition: all 0.3s linear; }
.testSearch input[type="submit"] { width: 130px; cursor: pointer; position: absolute; right: 0; top: 0; border: none; height: 60px; border-radius: 40px; border-top-left-radius: 0; border-bottom-right-radius: 0; background: #fcdc00 url(src/assets/images/blog-search.png) center center no-repeat; }

@media(max-width: 991px){
    .searchRow .field-name { max-width: inherit; max-height: inherit; font-size: 14px; }
    .search-top-gap { margin-top: 80px; margin-bottom: 0; }
}
@media(max-width: 767px){
    .testSearch { width: 100%; }
    .pointer { padding: 12px 0 0 0;}
}
@media(max-width: 535px){
    .searchRow td { padding: 7px; line-height: 26px; }
    .searchRow .field-name { font-size: 12px; }
    .searchRow td:first-child {width: 15%;}
    .searchRow td:nth-child(2) {width: 75%;}
    .pointer { padding: 12px 0 0 0;}
}
@media(max-width: 479px){

    .testSearch input[type="submit"] { width: 80px; height: 44px; border-radius: 20px; background-size: 27px; border-top-left-radius: 0; border-bottom-right-radius: 0; }   
    .testSearch input[type="text"] {
        width: 100%;
        border: none;
        padding-right: 90px;
        padding-left: 20px;
        height: 44px;
        border-radius: 20px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;  
    }
    .search-top-gap { margin-top: 70px; }
}