.search-top-gap{
    margin-top: 120px !important;
}
.searchRow {display: flex; justify-content: space-between; flex-wrap: wrap;}
.search-input{
    width: 70%;
    outline: none;
    border: none;
    border: 2px solid #608e32;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    letter-spacing: 2px;
}
.list-group-item{
    /* background-color: #608e32 !important; */
    border-radius: 20px;
    margin: 10px 0;
    width: 48%;
}
.list-group-item > h4{
    color: #fff;
    font-family: Poppins,sans-serif!important;
    letter-spacing: 2px;
    /* font-weight: bold; */
    font-size: 20px;
}
.list-group-item .card-body{
    max-height: 200px;
    overflow-y: auto;
}
.list-group-item .card-body .unordered-list > li{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
.list-group-item .card-body .unordered-list > li span.right-arrow{
    font-size: 50px;
}
.list-group-item .card-body .unordered-list > li > div{
    display: flex;
    align-items: center;
}
.field-name{
    text-overflow: ellipsis;
    max-width: 335px;
    max-height: 20px;
    font-size: large;
    overflow: hidden;
    word-break: break-all;
}

.pointer {
    cursor: pointer;
    height: 16px;
}

.table td, .table th {
    padding: 1.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.h4class {
    font-size: 20px;
    padding: 10px;
    color: yellowgreen;
}

.searchRow td {padding: 10px; text-align: left;}
.searchRow td:first-child {width: 20%;}
.searchRow td:nth-child(2) {width: 70%;}
.searchRow td:last-child {width: 10%; text-align: center;}
.searchRow td:first-child img {height: 30px;}
@media(max-width: 991px){
    .searchRow .field-name { max-width: inherit; max-height: inherit; font-size: 14px; }
}
@media(max-width: 535px){
    .searchRow td { padding: 7px; line-height: 15px; }
    .searchRow .field-name { font-size: 12px; }
    .searchRow td:first-child {width: 15%;}
    .searchRow td:nth-child(2) {width: 75%;}
}