<ng-container>
    <div class="slide-banner homeBanner">
    <owl-carousel-o [options]="carouselOptions">
        <ng-container *ngFor="let item of bannerData">
          <ng-template carouselSlide>
                <img [src]="basepath + item.attachment.website" alt="" class="bannerImage">
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
   
    <div class="container-fluid text-part2">
        <div class="d-flex justify-content-around modalButton">
        <!-- Button trigger modal -->
        <button type="button" class=" pTest inactive pPkg bookBtn my-5">
            <!---->
            Book Now
        </button>
        <button type="button" class=" pTest inactive pPkg bookBtn1 my-5" >
            <!---->
            Upload
        </button>
        <button type="button" class=" pTest inactive pPkg bookBtn2 my-5" >
            <!---->
            Download
        </button>
    </div>
        <!-- Modal -->
        <div class="modal fade" id="book-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-position">
                <div class="modal-content modal-head">
                    <div class="modal-body">
                        <button type="button" class="btn-close ms-auto me-2 mt-1" data-bs-dismiss="modal" aria-label="Close"></button>
                        <form (ngSubmit)="bookSubmit()">
                            <div class="from-box">
                                <h4>Book Now</h4>
                                <div class="from-input mb-3">
                                    <input type="text" name="patient-Name" placeholder="Patient's Name"
                                        class="form-control">
                                </div>
                                <div class="from-input mb-3">
                                    <input type="date" name="dob" placeholder="DOB" class="form-control">
                                </div>
                                <div class="from-input mb-3">
                                    <input type="tel" name="age" placeholder="Age" class="form-control">
                                </div>
                                <div class="from-input mb-3">
                                    <select name="gender" id="gender" class="form-control">
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                                <div class="d-flex justify-content-between mb-4 from-input">
                                    <div class="from-input-second">
                                        <input type="tel" name="height" placeholder="Height"
                                            class="form-control">
                                    </div>
                                    <div class="from-input-second">
                                        <input type="tel" name="weight" placeholder="Weight"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="from-input mb-3">
                                    <input type="text" name="doctor-name" placeholder="Doctor's Name"
                                        class="form-control">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-book">Book Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- modal end -->
        <!-- Modal -->
        <div class="modal fade" id="upload-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-position">
                <div class="modal-content modal-head">
                    <div class="modal-body">
                        <button type="button" class="btn-close ms-auto me-2 mt-1" data-bs-dismiss="modal" aria-label="Close"></button>
                        <form (ngSubmit)="bannerSubmit()">
                            <div class="from-box">
                                <h4>Upload Prescription</h4>
                                <div class="from-input mb-3">
                                    <input type="text" name="doctor-name" placeholder="Doctor's Name"
                                        class="form-control">
                                </div>
                                <div class="from-input mb-3">
                                    <input type="text" name="patient-Name" placeholder="Patient's Name"
                                        class="form-control">
                                </div>
                                <div class="from-input mb-3">
                                    <input type="date" class="form-control">
                                </div>
                                <div class="from-input mb-3">
                                    <input type="tel" name="age" placeholder="Age" class="form-control">
                                </div>
                                <div class="from-input mb-3">
                                    <select name="gender" id="gender" class="form-control">
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                                <div class="from-input mb-3">
                                    <input type="file" name="age" placeholder="Age" class="form-control">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-book">Upload</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- modal end -->
        <!-- Modal -->
        <div class="modal fade" id="download-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-position">
                <div class="modal-content modal-head">
                    <div class="modal-body">
                        <button type="button" class="btn-close ms-auto me-2 mt-1" data-bs-dismiss="modal" aria-label="Close"></button>
                        <form (ngSubmit)="bannerSubmit()">
                            <div class="from-box">
                                <h4>Report Download</h4>
                                <div class="from-input mb-3">
                                    <button type="button" class="btn btn-login">Login Yourself</button>
                                </div>
                                <div class="from-input mb-4">
                                    <button type="button" class="btn btn-login">Go to Order</button>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-book">Download</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- modal end -->
    </div> 
</ng-container>