/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.banTxtInner p {
  color: #8facaf;
  font-size: 16px;
  font-weight: 500;
  margin-top: 11px;
}
.banTxtInner h1 {
  font-family: "Arima Madurai", cursive;
  font-weight: 800;
  color: #3bae90;
  font-size: 50px;
  line-height: 56px;
  margin-left: 20px;
}
.banner-wapper {
  background-image: url(../../../assets/images/Banner-image.png); background-size: cover; background-repeat: no-repeat; height: 100vh; width: 100%;background-position: center;
}

.banTxtInner {
  direction: ltr;
  width: 42em;
  height: 19em;
}
.banTxtInner-second {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  direction: ltr;
}
.banTxtInner h1 {
  font-family: "Arima Madurai", cursive;
  font-weight: 800;
  color: #3bae90;
  font-size: 50px;
  line-height: 56px;
  margin-left: 0px;
}
.from-box {
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 4.663px 3.776px 8px 0px rgba(92, 158, 122, 0.45);
  width: 350px;
  height: 440px;
  margin-top: 70px;
}
.from-box h4 {
  padding: 20px 20px 0;
  font-size: 17px;
  font-family: "Poppins";
  color: rgb(71, 157, 42);
  font-weight: bold;
  line-height: 1.2;
}
.from-input {
  width: 17vw;
  margin: 0 auto;
}
.from-input-second {
  width: 45%;
}
.from-input input,
select,
option {
  background-color: #e4f5d8;
  color: #556c6e;
  border: 0;
}
.btn-book {
  border-radius: 18px;
  width: 153px;
  background-image: linear-gradient(
    90deg,
    rgb(63, 168, 123) 0%,
    rgb(71, 157, 42) 100%
  );
  color: white;
}
.banTxt-gp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.slider {
  margin: auto;
  max-width: 366px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.slide_viewer {
  height: 571px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide_buttons {
  left: -15px;
  position: absolute;
  right: 0;
  text-align: center;
  margin-top: -54px;
  font-size: 40px;
  color: #ffffff;
  cursor: pointer;
}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active,
.slide_btn:hover {
  color: #428cc6;
  cursor: pointer;
}
.btn-login {
  width: 100% !important;
  background-color: #87bea3;
  color: #ffffff;
}
@media (min-width: 535px) and (max-width: 768px) {
  .banner-wapper {
    background-image: url(../../../assets/images/Banner-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 678px;
    background-position: right;
  }
  .banTxtInner {
    direction: ltr;
    /* background-color: #fff;
    box-shadow: 4.663px 3.776px 8px 0px rgba(92, 158, 122, 0.45); */
    border-radius: 20px;
    margin-bottom: 0px;
  }
  .banTxt {
    /* box-shadow: 4.663px 10.776px 8px 1px rgba(92, 158, 122, 0.45);
    background-color: #fff; */
    padding: 0 20px 20px;
    border-radius: 20px;
  }
  .banTxtInner-second {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
    direction: ltr;
  }
  .from-box {
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 4.663px 3.776px 8px 0px rgba(92, 158, 122, 0.45);
    width: 321px;
    height: 350px;
  }
  .banTxtInner h1 {
    font-family: "Arima Madurai", cursive;
    font-weight: 800;
    color: #3bae90;
    font-size: 35px;
    line-height: 39px;
    margin-left: 20px;
    padding-top: 20px;
  }
  .from-input {
    width: 90%;
    margin: 0 auto;
  }
  .from-input input,
  select,
  option {
    background-color: #e4f5d8;
    color: #556c6e;
    border: 0;
    height: 30px;
    height: 30px;
    font-size: 12px;
    margin-bottom: -7px;
  }
  .banTxt-gp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 390px;
  }
  .banTxtInner p {
    color: #87999b;
    font-size: 12px !important;
    font-weight: 400;
    margin-top: 11px;
  }
}
@media (min-width: 376px) and(max-width: 534px) {
  .banner-wapper {
    background-image: url(../../../assets/images/Banner-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 172px;
    background-position: center;
  }
  .banTxtInner {
    direction: ltr;
    /* background-color: #fff;
    box-shadow: 4.663px 3.776px 8px 0px rgba(92, 158, 122, 0.45); */
    border-radius: 20px;
    margin-bottom: 210px;
  }
  .slider {
    margin: auto;
    max-width: 320px;
    position: relative;
    top: 6%;
    transform: translateY(-50%);
  }
  .banTxt {
    /* box-shadow: 4.663px 10.776px 8px 1px rgba(92, 158, 122, 0.45);
    background-color: #fff; */
    padding: 0 20px 20px;
    border-radius: 20px;
  }
  .banTxtInner-second {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
    direction: ltr;
  }
  .from-box {
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 4.663px 3.776px 8px 0px rgba(92, 158, 122, 0.45);
    width: 321px;
    height: 350px;
  }
  .banTxtInner h1 {
    font-family: "Arima Madurai", cursive;
    font-weight: 800;
    color: #3bae90;
    font-size: 30px;
    line-height: 39px;
    margin-left: 20px;
    padding-top: 20px;
  }
  .from-input {
    width: 90%;
    margin: 0 auto;
  }
  .from-input input,
  select,
  option {
    background-color: #e4f5d8;
    color: #556c6e;
    border: 0;
    height: 30px;
    height: 30px;
    font-size: 12px;
    margin-bottom: -7px;
  }
  .banTxt-gp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
  }
  .banTxtInner p {
    color: #87999b;
    font-size: 12px !important;
    font-weight: 400;
    margin-top: 11px;
  }
  .slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    margin-top: -135px;
    font-size: 40px;
    color: #ffffff;
    cursor: pointer;
  }
}
@media (max-width: 375px) {
  /* .banner-wapper {
    background-image: url(../../../assets/images/Banner-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 172px;
    background-position: center;
  } */
  .banTxtInner {
    direction: ltr;
    /* background-color: #fff;
    box-shadow: 4.663px 3.776px 8px 0px rgba(92, 158, 122, 0.45); */
    border-radius: 20px;
    margin-bottom: 210px;
  }
  .slider {
    margin: auto;
    max-width: 320px;
    position: relative;
    top: 6%;
    transform: translateY(-50%);
  }
  .banTxt {
    /* box-shadow: 4.663px 10.776px 8px 1px rgba(92, 158, 122, 0.45);
    background-color: #fff; */
    padding: 0 20px 20px;
    border-radius: 20px;
  }
  .banTxtInner-second {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
    direction: ltr;
  }
  .from-box {
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 4.663px 3.776px 8px 0px rgba(92, 158, 122, 0.45);
    width: 321px;
    height: 350px;
  }
  .banTxtInner h1 {
    font-family: "Arima Madurai", cursive;
    font-weight: 800;
    color: #3bae90;
    font-size: 30px;
    line-height: 39px;
    margin-left: 20px;
    padding-top: 20px;
  }
  .from-input {
    width: 90%;
    margin: 0 auto;
  }
  .from-input input,
  select,
  option {
    background-color: #e4f5d8;
    color: #556c6e;
    border: 0;
    height: 30px;
    height: 30px;
    font-size: 12px;
    margin-bottom: -7px;
  }
  .banTxt-gp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
  }
  .banTxtInner p {
    color: #87999b;
    font-size: 12px !important;
    font-weight: 400;
    margin-top: 11px;
  }
  .slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    margin-top: -135px;
    font-size: 40px;
    color: #ffffff;
    cursor: pointer;
  }
}
