<div class="banSec">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" [ngStyle]="{'active': i == 0}" *ngFor="let item of bannerItem; let i = index">
            <div class="banSec"><img [src]="item.image" class="d-block w-100" alt="..."></div>
            <div class="banTxtSec">
                <div class="banTxt">
                    <div class="banTxtInner">
                        <h1>{{item.name}}</h1>
                        <p [innerHTML]="item.description"></p> 
                        <a class="banBotTextButton">
                            <div class="banBotTextButtonInner" routerLink="/about-us/our-journey">
                                <p>Know More</p>
                                <img src="assets/images/white-arrow.png" alt="...">
                            </div>
                        </a>
                    </div>
                    <div class="home-Ban"></div>
                </div>
                <!-- <div class="banBotText">
                    <div class="banBotTextLeft">
                        <h2>Lorem Ipsum 1</h2>
                        <p>Lorem Ipsum 1</p>
                    </div>
                    
                </div> -->
            </div>
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
    </div>
</div>



