<div class="homeheader">
<app-header></app-header>
<!-- /Header -->
</div>
<app-banner></app-banner>
<!-- <app-green-bar></app-green-bar> -->
<app-slide></app-slide>
<app-journey></app-journey>
<app-video-section></app-video-section>
<app-encyclopedia></app-encyclopedia>
<app-blog></app-blog>
<!-- <app-flexslider></app-flexslider> -->
<app-accreditation></app-accreditation>
<app-awards-accolades></app-awards-accolades>
<app-presence></app-presence>
<app-download></app-download>

<!-- /Footer -->
<app-footer class="homeFooter"></app-footer>
