<div class="aboutBack">
    <div class="abtInner">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
            <button class="nav-link active" id="missn-tab" data-bs-toggle="tab" data-bs-target="#missn" type="button" role="tab" aria-controls="missn" aria-selected="true"><span>Our Mission</span></button>
            </li>
            <li class="nav-item" role="presentation">
            <button class="nav-link" id="visn-tab" data-bs-toggle="tab" data-bs-target="#visn" type="button" role="tab" aria-controls="visn" aria-selected="false"><span>Our Vision</span></button>
            </li>
            <li class="nav-item" role="presentation">
            <button class="nav-link" id="vall-tab" data-bs-toggle="tab" data-bs-target="#vall" type="button" role="tab" aria-controls="vall" aria-selected="false"><span>Value</span></button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="missn" role="tabpanel" aria-labelledby="missn-tab">
                <div class="tabContInner">
                    <div class="tabContLft">
                        <div class="tabContLftTp">
                            <div class="tabContLftIm"><img src="../../assets/images/abtLftIm.png" alt=""></div>
                            <div class="tabContLftTxt">Lorem Ipsum Lorem Ipsum Lorem</div>
                        </div>
                        <div class="tabContLftBtm">
                            <div class="tabContLftBtmSec">
                                <div class="tabContLftBtmBox"><img src="../../assets/images/hand-box-icon.png" alt=""></div>
                                <div class="tabContLftBtmSecTxt">Lorem</div>
                            </div>
                            <div class="tabContLftBtmSec">
                                <div class="tabContLftBtmBox"><img src="../../assets/images/hand-box-icon.png" alt=""></div>
                                <div class="tabContLftBtmSecTxt">Lorem</div>
                            </div>
                            <div class="tabContLftBtmSec">
                                <div class="tabContLftBtmBox"><img src="../../assets/images/hand-box-icon.png" alt=""></div>
                                <div class="tabContLftBtmSecTxt">Lorem</div>
                            </div>
                        </div>
                    </div>
                    <div class="tabContRgtSec">
                        <div class="tabContMid">
                            <ul>
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Lorem</a></li>
                            </ul>
                        </div>
                        <div class="tabContRight">
                            <h2>Our <span>Mission</span></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas commodo, lacus vel ullamcorper dignissim, metus libero dictum sapien, quis lobortis nunc libero ac ligula. Sed luctus vitae lorem a fringilla.</p>
                            <p>Vestibulum bibendum viverra augue ac fermentum. Nulla lobortis eleifend ex non dignissim.</p>
                            <p>Aenean rhoncus elit sed ante vulputate viverra. Nam nec scelerisque magna. Cras iaculis arcu ex, nec mollis ex posuere eget. Mauris finibus tincidunt elit aliquam dapibus. Suspendisse potenti. Nam vitae varius sapien, sed eleifend lacus. Mauris semper massa vulputate, aliquam risus vel, tempor libero. Aliquam in ex consectetur, molestie elit sed, porta erat.</p>
                            <div class="redboxSec">
                                <div class="redboxx"><img src="../../assets/images/red-icon.png" alt=""></div>
                                <div class="redboxxText">Lorem</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="visn" role="tabpanel" aria-labelledby="visn-tab">
                <div class="tabContInner">
                    <div class="tabContLft">
                        <div class="tabContLftTp">
                            <div class="tabContLftIm"><img src="../../assets/images/abtLftIm.png" alt=""></div>
                            <div class="tabContLftTxt">Lorem Ipsum Lorem Ipsum Lorem</div>
                        </div>
                        <div class="tabContLftBtm">
                            <div class="tabContLftBtmSec">
                                <div class="tabContLftBtmBox"><img src="../../assets/images/hand-box-icon.png" alt=""></div>
                                <div class="tabContLftBtmSecTxt">Lorem</div>
                            </div>
                            <div class="tabContLftBtmSec">
                                <div class="tabContLftBtmBox"><img src="../../assets/images/hand-box-icon.png" alt=""></div>
                                <div class="tabContLftBtmSecTxt">Lorem</div>
                            </div>
                            <div class="tabContLftBtmSec">
                                <div class="tabContLftBtmBox"><img src="../../assets/images/hand-box-icon.png" alt=""></div>
                                <div class="tabContLftBtmSecTxt">Lorem</div>
                            </div>
                        </div>
                    </div>
                    <div class="tabContRgtSec">
                        <div class="tabContMid">
                            <ul>
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Lorem</a></li>
                            </ul>
                        </div>
                        <div class="tabContRight">
                            <h2>Our <span>Vision</span></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas commodo, lacus vel ullamcorper dignissim, metus libero dictum sapien, quis lobortis nunc libero ac ligula. Sed luctus vitae lorem a fringilla.</p>
                            <p>Vestibulum bibendum viverra augue ac fermentum. Nulla lobortis eleifend ex non dignissim.</p>
                            <p>Aenean rhoncus elit sed ante vulputate viverra. Nam nec scelerisque magna. Cras iaculis arcu ex, nec mollis ex posuere eget. Mauris finibus tincidunt elit aliquam dapibus. Suspendisse potenti. Nam vitae varius sapien, sed eleifend lacus. Mauris semper massa vulputate, aliquam risus vel, tempor libero. Aliquam in ex consectetur, molestie elit sed, porta erat.</p>
                            <div class="redboxSec">
                                <div class="redboxx"><img src="../../assets/images/red-icon.png" alt=""></div>
                                <div class="redboxxText">Lorem</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="vall" role="tabpanel" aria-labelledby="vall-tab">
                <div class="tabContInner">
                    <div class="tabContLft">
                        <div class="tabContLftTp">
                            <div class="tabContLftIm"><img src="../../assets/images/abtLftIm.png" alt=""></div>
                            <div class="tabContLftTxt">Lorem Ipsum Lorem Ipsum Lorem</div>
                        </div>
                        <div class="tabContLftBtm">
                            <div class="tabContLftBtmSec">
                                <div class="tabContLftBtmBox"><img src="../../assets/images/hand-box-icon.png" alt=""></div>
                                <div class="tabContLftBtmSecTxt">Lorem</div>
                            </div>
                            <div class="tabContLftBtmSec">
                                <div class="tabContLftBtmBox"><img src="../../assets/images/hand-box-icon.png" alt=""></div>
                                <div class="tabContLftBtmSecTxt">Lorem</div>
                            </div>
                            <div class="tabContLftBtmSec">
                                <div class="tabContLftBtmBox"><img src="../../assets/images/hand-box-icon.png" alt=""></div>
                                <div class="tabContLftBtmSecTxt">Lorem</div>
                            </div>
                        </div>
                    </div>
                    <div class="tabContRgtSec">
                        <div class="tabContMid">
                            <ul>
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Lorem</a></li>
                            </ul>
                        </div>
                        <div class="tabContRight">
                            <h2><span>Value</span></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas commodo, lacus vel ullamcorper dignissim, metus libero dictum sapien, quis lobortis nunc libero ac ligula. Sed luctus vitae lorem a fringilla.</p>
                            <p>Vestibulum bibendum viverra augue ac fermentum. Nulla lobortis eleifend ex non dignissim.</p>
                            <p>Aenean rhoncus elit sed ante vulputate viverra. Nam nec scelerisque magna. Cras iaculis arcu ex, nec mollis ex posuere eget. Mauris finibus tincidunt elit aliquam dapibus. Suspendisse potenti. Nam vitae varius sapien, sed eleifend lacus. Mauris semper massa vulputate, aliquam risus vel, tempor libero. Aliquam in ex consectetur, molestie elit sed, porta erat.</p>
                            <div class="redboxSec">
                                <div class="redboxx"><img src="../../assets/images/red-icon.png" alt=""></div>
                                <div class="redboxxText">Lorem</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

