<app-header></app-header>
<!-- Loader -->
<div style="background-color: rgba(0,0,0,0.5);" class="loading-spinner" id="loader"></div>
<!-- /Loader -->

<div class="departmentBanner">
    <div class="departTop">
        <div class="acreeTopLeft" data-aos="fade-right" data-aos-duration="200" data-aos-delay="200">
            <h1>{{department[0]?.name}}</h1>
            <p [innerHTML]="department[0]?.description"></p>
        </div>
    </div>
</div>
<div class="departSliderOuter">
    <div class="departSlider">

        <owl-carousel-o [options]="SlideOptioon" class="nav nav-tabs">
            <ng-template carouselSlide ><li class="show blgTbHd" data-toggle="tab" href="#home">1</li></ng-template>
            <ng-template carouselSlide ><li class="show blgTbHd" data-toggle="tab" href="#menu1">2</li></ng-template>
            <ng-template carouselSlide ><li class="show blgTbHd" data-toggle="tab" href="#menu2">3</li></ng-template>
            <ng-template carouselSlide ><li class="show blgTbHd" data-toggle="tab" href="#menu3">4</li></ng-template>
            <ng-template carouselSlide ><li class="show blgTbHd" data-toggle="tab" href="#menu4">5</li></ng-template>
              
        </owl-carousel-o>
        <div class="tab-content">
            <div id="home" class="blogTab tab-pane fade in active show">
                <h3>1</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                    of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                    desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                    search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                    evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </div>
            <div id="menu1" class="blogTab tab-pane fade">
                <h3>2</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                    of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                    desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                    search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                    evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </div>
            <div id="menu2" class="blogTab tab-pane fade">
                <h3>3</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                    of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                    desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                    search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                    evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </div>
            <div id="menu3" class="blogTab tab-pane fade">
                <h3> 4</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                    of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                    desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                    search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                    evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </div>
            <div id="menu4" class="blogTab tab-pane fade">
                <h3>5</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                    of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                    desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                    search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                    evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </div>
        </div>


        <!-- <app-depart-slider></app-depart-slider> -->
        <div class="otTabSec">
            <mat-tab-group mat-align-tabs="start" animationDuration="0ms">
                <mat-tab *ngFor="let item of departItem" >
                    <ng-template mat-tab-label>
                        <div class="itmBoxSec mr-0" (click)="departmentDetail(item.id)">
                            <div class="itmBoxHeading">{{item.name}}</div>
                            <div class="itmBox"><img [src]="item.image" alt=""></div>
                        </div>
                    </ng-template>
                    <div class="itmTxt" data-aos="zoom-in-right" data-aos-duration="500" data-aos-delay="500">
                        <h2>{{item.name}}</h2>
                        <p [innerHTML]="item.description"></p>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <!-- End Slider -->
    </div>
</div>

<div class="departSliderBot">
    <div class="testAccre">
        <div class="sugestPkg" data-aos="fade-right" data-aos-duration="200" data-aos-delay="200">
            <h2>Specialised Test</h2>
            <div class="splTstSec">
                <mat-accordion>
                    <div class="stpRow" *ngFor="let item of departItems['tests']">
                        <!-- <div class="stpBook">Book Now</div>
                        <div class="ylwCrt"><img src="assets/images/cart-green.png" alt=""></div>-->
                        <mat-expansion-panel routerLink="/patient/test-details/{{item.id}}">
                            <mat-expansion-panel-header> {{item.testname}} </mat-expansion-panel-header>
                            <!-- <div class="splText">
                                <p>{{item.prerequisites}}</p>
                            </div> -->
                        </mat-expansion-panel>
                    </div>
                </mat-accordion>
            </div>
        </div>
        <div class="accreBox" data-aos="fade-left" data-aos-duration="200" data-aos-delay="200">
            <h2>Accreditation</h2>
            <div class="accreBoxRow" *ngFor="let item of departItems['accreditations']">
                    <div class="accreBoxLogoOuter"><div class="accreBoxLogo"><img [src]="item.image" alt=""></div></div>
                    <div class="accreBoxText">
                        <h3>{{item.title}}</h3>
                        <!-- <p [innerHTML]="item.description"></p> -->
                        <small [innerHTML]="item.description"></small>                        
                    </div>
                    <div class="accreBoxTextLink"><a routerLink="/laboratory/accreditation" style="font-style: italic;">Know More</a></div>
            </div>
        </div>
    </div>
    <div class="doctorOuter">
        <div class="doctorSec">
            <h2>Doctors</h2>
            <div class="acreeSliderSec">
                <div class="docSlider">
                  <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide *ngFor="let item of departItems['members']">
                      <div class="slide">
                        <div class="drName">
                          <div class="scrl">
                            <h4>{{item.name}}</h4>
                            <p [innerHTML]="item.description"></p>
                          </div>
                          <div class="soclMed">
                            <a href="#"><img src="assets/images/dr-twitter.png" alt=""></a>
                            <a href="#"><img src="assets/images/dr-linkdin.png" alt=""></a>
                          </div>
                        </div>
                        <div class="blgImag"><img [src]="item.image" alt=""></div>
                      </div>
                    </ng-template>
                  </owl-carousel-o>
                </div>
              </div>
        </div>
    </div>
    <div class="qcSec">
        <div class="qcSecLeft">
            <h2>Quality Control</h2>
            <div class="qcSecLeftRow" data-aos="fade-down" data-aos-anchor-placement="bottom-bottom" data-aos-duration="200" data-aos-delay="200">
                <!-- <div class="qcSecRowLft"><img src="assets/images/bio-rad.png" alt=""></div> -->
                <!-- <p></p> -->
                <p><b>Randomized protocol for checking samples:</b> Our research team has a specialized accession department with dedication and reliability for checking samples that they receive. Following such protocols, our quality management. </p>
            </div>
            <div class="qcSecLeftRow" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="400" data-aos-delay="400">
                <!-- <div class="qcSecRowLft"><img src="assets/images/randox.png" alt=""></div> -->
                <p><b>Different level control checks:</b> Accuracy is our first priority which we are always eager to follow at every step of testing. Though Nirnayan does not compromise its quality checking for work, we maintain several levels to deliver accurate and on-time reports to patients. To provide information on the performance of reviewers throughout the peer review process and highlight reviewers that are outstanding or need support, we have arranged such points of review that can perform well.</p>
            </div>
            <div class="qcSecLeftRow" data-aos="fade-down" data-aos-anchor-placement="bottom-bottom" data-aos-duration="600" data-aos-delay="600">
                <!-- <div class="qcSecRowLft"><img src="assets/images/bio-rad.png" alt=""></div> -->
                <p><b> Preventive protocols for error results: </b> Working with no flaws is our goal. So in every single research step, we deliberately follow significant protocols to restrict errors. Though after a vivid range of quality checks, we deliver reports to patients on time, we have a contributing management team to check the errors if by any chance it is shown in the report, they take action on a prior basis and solve with an extreme protocol.
                    Our performance says our assurance towards our quality. Nothing is prior to our quality maintenance. We assure you about our quality control checking and prevention against any flaws, our qualitative service management system can not heal at any chance. Performing with up-to-date technologies and research tests with experienced hands we always try to serve you better from each step.</p>
            </div>
        </div>
        <div class="qcSecRight"><img src="assets/images/Department-min.png" alt=""></div>
        <!-- <div class="qcSecRightText">Gallery</div> -->
        <div *ngFor="let item of gallery" class="qcg" data-aos="zoom-in-up" data-aos-duration="200" data-aos-delay="200">
            <img [src]="item.image" alt=""> <br>
        </div>
        <!-- <div class="qcggg" data-aos="flip-right" data-aos-duration="400" data-aos-delay="400"><img src="assets/images/qc2.jpg" alt=""></div>
        <div class="qcgg" data-aos="zoom-in-left" data-aos-duration="600" data-aos-delay="600"><img src="assets/images/qc3.jpg" alt=""></div> -->
    </div>
    <div class="blgSlidd">
        <h2 *ngIf="departItems['blogs']?.length > 0">Blogs</h2>
        <owl-carousel-o [options]="SlideOptionn">
            <ng-template carouselSlide *ngFor="let item of departItems['blogs']">
                <div class="blgBox">
                    <div class="slBgIm"><img [src]="item.image" alt=""></div>
                    <div class="slBgTxtt" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="200">
                        <h3>{{item.title}}</h3>
                        <p [innerHTML]="item.description"></p>
                        <span class="knMr" routerLink="/page/blog-details/{{item.id}}">Know more...</span>
                    </div>
                </div>
            </ng-template>  
        </owl-carousel-o>
    </div>
    <div class="nlAqSec">
        <div class="nwsLtr">
            <div class="enquiry_img"><img src="assets/images/acre-lady.png" alt=""></div>
           <!-- <h2>News Letter</h2>
            <div class="nlBox" data-aos="zoom-out-right" data-aos-duration="200" data-aos-delay="200" *ngFor="let item of departItems['news']">
                 <div class="nlBoxTop">
                    <h3>{{item.title}} <span>{{item.author}}</span></h3> 
                    <div class="nlBoxTopRight">Publised <span>{{item.created_at | date: 'dd/MM/yyyy'}}</span></div>
                </div>
                <p [innerHTML]="item.description"></p>
                 <a class="more">Know More</a>
            </div> -->

        </div>
        <div class="querySec">
            <div class="querySecInner">
                <h2>Reach Out Us</h2>
                <form [formGroup]="contectUsForm" (ngSubmit)="saveForm()">
                    <div class="fromRow" data-aos="zoom-out-right" data-aos-duration="200" data-aos-delay="200">
                        <label>Full Name</label>
                        <input type="text" formControlName="contact_name">
                    </div>
                    <div class="fromRow" data-aos="zoom-out-left" data-aos-duration="500" data-aos-delay="500">
                        <label>Email ID</label>
                        <input type="text" formControlName="contact_email">
                    </div>
                    <div class="fromRow" data-aos="zoom-out-right" data-aos-duration="800" data-aos-delay="800">
                        <label>Mobile No.</label>
                        <input type="text" formControlName="contact_mobile">
                    </div>
                    <div class="fromRow" data-aos="zoom-out-left" data-aos-duration="1000" data-aos-delay="1000">
                        <label>Enquiry</label>
                        <textarea formControlName="contact_enquiry"></textarea>
                    </div>
                    <div class="fromRow" data-aos="flip-left" data-aos-duration="1200" data-aos-delay="1200">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<app-footer></app-footer>