<div class="assoTop">
    <div class="acreeTopLeft" data-aos="zoom-out-right" data-aos-duration="1000" data-aos-delay="1000">
        <h1>Blogs</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut volutpat nisl, non auctor sapien. Pellentesque tempor, metus ac blandit pulvinar, mi mauris porta leo, in ullamcorper enim ex dignissim odio. In hac habitasse platea dictumst.</p>
        <p>Pellentesque tempor, metus ac blandit pulvinar, mi mauris porta leo, Pellentesque tempor, metus ac blandit pulvinar, mi mauris porta leo, in ullamcorper enim ex dignissim odio. In hac habitasse platea dictumst. in ullamcorper enim ex dignissim odio. In hac habitasse platea dictumst.</p>
    </div>
    <div class="acreeTopRght" data-aos="zoom-in-left" data-aos-duration="1500" data-aos-delay="1500"><img src="../../assets/images/blog-im.png" alt=""></div>
</div>
<div class="blgBar"></div>
<div class="blgTabSec">
    <mat-tab-group animationDuration="0ms" class="orgWise">
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="blgTbHd">Life Style</div>
            </ng-template>
            <div class="blgSrchSec">
                <h2>Most Viwed</h2>
                <div data-aos="fade-left" data-aos-duration="300" data-aos-delay="300" class="fcSecSearch aos-init aos-animate"><input _ngcontent-ypt-c92="" type="text" name=""><input _ngcontent-ypt-c92="" type="submit" value=""></div>
            </div>
            <app-blog-view-slider></app-blog-view-slider>
            <div class="bkgNumberingSec">
                <h2>Life Style</h2>
                <div class="lfStlArea">
                    <ul>
                        <li>
                            <div class="lsBox">
                                <div class="lsBoxRound">
                                    <div class="lsBoxRoundInner"><img src="../../assets/images/bllg-im.jpg"></div>
                                </div>
                                <div class="lsBoxHead">BLOG 01</div>
                                <div class="lsBoxTxt">
                                    <h3>Aliquam eget fermentum orci donec vitae convallis erat hac habitasse platea dictumst</h3>
                                    <p>Donec vitae convallis erat. Aenean vitae faucibus purus. Nullam quis tincidunt magna. Donec accumsan pulvinar magna, in lobortis enim pretium nec.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="lsBox">
                                <div class="lsBoxRound">
                                    <div class="lsBoxRoundInner"><img src="../../assets/images/bllg-im.jpg"></div>
                                </div>
                                <div class="lsBoxHead">BLOG 02</div>
                                <div class="lsBoxTxt">
                                    <h3>Aliquam eget fermentum orci donec vitae convallis erat hac habitasse platea dictumst</h3>
                                    <p>Donec vitae convallis erat. Aenean vitae faucibus purus. Nullam quis tincidunt magna. Donec accumsan pulvinar magna, in lobortis enim pretium nec.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="lsBox">
                                <div class="lsBoxRound">
                                    <div class="lsBoxRoundInner"><img src="../../assets/images/bllg-im.jpg"></div>
                                </div>
                                <div class="lsBoxHead">BLOG 03</div>
                                <div class="lsBoxTxt">
                                    <h3>Aliquam eget fermentum orci donec vitae convallis erat hac habitasse platea dictumst</h3>
                                    <p>Donec vitae convallis erat. Aenean vitae faucibus purus. Nullam quis tincidunt magna. Donec accumsan pulvinar magna, in lobortis enim pretium nec.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="lsBox">
                                <div class="lsBoxRound">
                                    <div class="lsBoxRoundInner"><img src="../../assets/images/bllg-im.jpg"></div>
                                </div>
                                <div class="lsBoxHead">BLOG 04</div>
                                <div class="lsBoxTxt">
                                    <h3>Aliquam eget fermentum orci donec vitae convallis erat hac habitasse platea dictumst</h3>
                                    <p>Donec vitae convallis erat. Aenean vitae faucibus purus. Nullam quis tincidunt magna. Donec accumsan pulvinar magna, in lobortis enim pretium nec.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="lsBox">
                                <div class="lsBoxRound">
                                    <div class="lsBoxRoundInner"><img src="../../assets/images/bllg-im.jpg"></div>
                                </div>
                                <div class="lsBoxHead">BLOG 05</div>
                                <div class="lsBoxTxt">
                                    <h3>Aliquam eget fermentum orci donec vitae convallis erat hac habitasse platea dictumst</h3>
                                    <p>Donec vitae convallis erat. Aenean vitae faucibus purus. Nullam quis tincidunt magna. Donec accumsan pulvinar magna, in lobortis enim pretium nec.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="lsBox">
                                <div class="lsBoxRound">
                                    <div class="lsBoxRoundInner"><img src="../../assets/images/bllg-im.jpg"></div>
                                </div>
                                <div class="lsBoxHead">BLOG 06</div>
                                <div class="lsBoxTxt">
                                    <h3>Aliquam eget fermentum orci donec vitae convallis erat hac habitasse platea dictumst</h3>
                                    <p>Donec vitae convallis erat. Aenean vitae faucibus purus. Nullam quis tincidunt magna. Donec accumsan pulvinar magna, in lobortis enim pretium nec.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="lsBox">
                                <div class="lsBoxRound">
                                    <div class="lsBoxRoundInner"><img src="../../assets/images/bllg-im.jpg"></div>
                                </div>
                                <div class="lsBoxHead">BLOG 07</div>
                                <div class="lsBoxTxt">
                                    <h3>Aliquam eget fermentum orci donec vitae convallis erat hac habitasse platea dictumst</h3>
                                    <p>Donec vitae convallis erat. Aenean vitae faucibus purus. Nullam quis tincidunt magna. Donec accumsan pulvinar magna, in lobortis enim pretium nec.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="lsBox">
                                <div class="lsBoxRound">
                                    <div class="lsBoxRoundInner"><img src="../../assets/images/bllg-im.jpg"></div>
                                </div>
                                <div class="lsBoxHead">BLOG 08</div>
                                <div class="lsBoxTxt">
                                    <h3>Aliquam eget fermentum orci donec vitae convallis erat hac habitasse platea dictumst</h3>
                                    <p>Donec vitae convallis erat. Aenean vitae faucibus purus. Nullam quis tincidunt magna. Donec accumsan pulvinar magna, in lobortis enim pretium nec.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="blgBotSec">
                <div class="nwsLetter">
                    <h2>Subscribe To Our Newsletter Today</h2>
                    <form>
                        <div class="fromRow" data-aos="zoom-out-right" data-aos-duration="500" data-aos-delay="500">
                            <label>Name</label>
                            <input type="text">
                        </div>
                        <div class="fromRow" data-aos="zoom-out-left" data-aos-duration="1000" data-aos-delay="1000">
                            <label>Email ID</label>
                            <input type="text">
                        </div>
                        <div class="fromRow" data-aos="zoom-out-right" data-aos-duration="1500" data-aos-delay="1500">
                            <label>Mobile No.</label>
                            <input type="text">
                        </div>
                        <div class="fromRow" data-aos="flip-left" data-aos-duration="2500" data-aos-delay="2500"><input type="submit" value="Subscribe"></div>
                    </form>
                </div>
                <div data-aos="zoom-in" data-aos-duration="500" data-aos-delay="500" class="blgBotSecRght aos-init aos-animate"><img _ngcontent-cte-c74="" src="../../assets/images/acre-lady.png" alt=""></div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="blgTbHd">Disease</div>
            </ng-template>
            <div class="orgDetails">
                <h2>Heart</h2>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="blgTbHd">Nutration</div>
            </ng-template>
            <div class="orgDetails">
                <h2>Thyroid</h2>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="blgTbHd">Lorem Ipsum</div>
            </ng-template>
            <div class="orgDetails">
                <h2>Kedney</h2>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="blgTbHd">Life Style</div>
            </ng-template>
            <div class="orgDetails">
                <h2>Liver</h2>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
