
<div class="blgSlide" *ngIf="details?.length > 0">
    <div class="most-view-outer"> <div class="most-view"><a>Related Blogs</a></div></div>
    <owl-carousel-o [options]="blgSlideOption">
        <ng-template carouselSlide *ngFor="let item of details">
            <div class="blgBox" routerLink="/page/blog-details/{{item.id}}">
                <div class="slBgIm"><img style="height: 100%;" [src]="item.image" alt=""></div>
                <div class="slBgTxt post-desc" data-aos="zoom-out" data-aos-duration="500" data-aos-delay="500" [innerHTML]="item.description"></div>
            </div>
        </ng-template>  
    </owl-carousel-o>
</div>
