.ui-card-slider {
  position: relative;
  width: 100%;
  height: 120px;
  z-index: 9;
}
.acreeSliderSec {
  padding: 0 0 200px; 
  position: relative;
  margin-top: 200px;
}
.acreeSliderInner {padding: 0 90px; position: relative;}
.ui-card-slider .slide {
  display: block;
  position: absolute;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: all;
  -webkit-transition-property: all;
}
.ui-card-slider .slide img {
    width: 100%;
    height: 100%; 
}

.ui-card-slider .left-slide { z-index: 1; left: 50%; width: 424px; height: 294px; display: inline-block; margin-left: -680px; top: 0; border: 3px solid #a6c138; border-radius: 30px; }
.ui-card-slider .left-slide .blgImag { width: 100%; overflow: hidden; height: 100%; border-radius: 30px; right: 0; position: relative; }
.ui-card-slider .left-slide .drName {width: 80px; height: 100%; z-index: 2; background-color: #047835; position: absolute; left: 0; top: 0; border-top-left-radius: 30px; border-bottom-left-radius: 30px; display: inline-flex; align-items: center; justify-content: center;}
.ui-card-slider .left-slide .drName h4 {display: inline-block; margin: 0; font-size: 20px; color: #fff; white-space: nowrap; -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -o-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); font-weight: 500;}
.ui-card-slider .left-slide .drName p {display: none;}
.ui-card-slider .left-slide .blgImag:after {position: absolute; content: ""; z-index: 1; width: 100%; height: 100%; display: block; left: 0; top: 0; background: rgba(0,0,0,0.3); border-radius: 27px;}
.ui-card-slider .left-slide .blgImag img { min-width: 100%; min-height: 100%; }

.ui-card-slider .right-slide { z-index: 10; left: 50%; width: 424px; height: 294px; border-radius: 30px; right: 0; padding: 0; top: 0; margin-left: 290px; border: 3px solid #a6c138; }
.ui-card-slider .right-slide .blgImag { width: 100%;  overflow: hidden; height: 100%; border-radius: 30px; right: 0; position: relative; }
.ui-card-slider .right-slide .drName {width: 80px; height: 100%; z-index: 2; background-color: #047835; position: absolute; right: 0; top: 0; border-top-right-radius: 27px; border-bottom-right-radius: 27px; display: inline-flex; align-items: center; justify-content: center;}
.ui-card-slider .right-slide .drName h4 {display: inline-block; margin: 0; font-size: 20px; color: #fff; white-space: nowrap; -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -o-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); font-weight: 500;}
.ui-card-slider .right-slide .drName p {display: none;}
.ui-card-slider .right-slide .blgImag:after {position: absolute;  border-radius: 27px; content: ""; z-index: 1; width: 100%; height: 100%; display: block; left: 0; top: 0; background: rgba(0,0,0,0.3);}
.ui-card-slider .right-slide .blgImag img { min-width: 100%; min-height: 100%; }

.ui-card-slider .center-slide { z-index: 11; left: 50%; width: 620px; height: 390px; border-radius: 30px; background-color: #fff; right: 0; top: -48px; margin-left: -300px; border: 3px solid #a6c138;}
.ui-card-slider .center-slide .blgImag { width: 100%;  overflow: hidden; height: 100%; border-radius: 30px; right: 0; position: relative; }
.ui-card-slider .center-slide .blgImag img { min-width: 100%; min-height: 100%; }
.ui-card-slider .center-slide .drName {width: 272px; height: 458px; z-index: 2; background-color: #047835; position: absolute; padding: 25px 18px; right: -3px; top: -40px; border-radius: 27px; border-radius: 27px; display: block; }
.ui-card-slider .center-slide .drName h4 {display: block; margin: 0; padding-bottom: 8px; font-size: 26px; line-height: 32px; color: #fff; font-weight: 500; border-bottom: 3px solid #a6c138;}
.ui-card-slider .center-slide .drName p {display: block; margin: 20px 0 0; font-size: 15px; color: #fff; font-weight: 400;}

.ui-card-slider .left-hidden-slide { z-index: 10; bottom: 30px; left: -160px; width: 120px; height: 130px; display: none; }
.ui-card-slider .right-hidden-slide {
  z-index: 10;
  bottom: 30px;
  left: 360px;
  width: 120px;
  height: 130px; 
  display: none;
}
.ui-card-slider .hidden-slide {
  visibility: hidden;
  display: none; 
}
.ui-card-slider .right-slide .slideTex, .ui-card-slider .center-slide .slideTex {display: none;}
.blgTxt {
  direction:rtl; 
  overflow:auto; 
  max-height:446px; 
  max-width:480px;
  padding-left: 40px;
  margin-top: 60px;
}
.blgTxtInner {direction:ltr;}
.blgTxt::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.blgTxt::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #5abf8a; 
  border-radius: 3px;
  border: 4px solid transparent;
  background-clip: content-box;
}
  
/* Handle */
.blgTxt::-webkit-scrollbar-thumb {
  background: #fe346b; 
  border-radius: 10px;
  width: 12px;
  height: 40px;
}


/* Handle on hover */
.blgTxt::-webkit-scrollbar-thumb:hover {
  background: #3b858e; 
}
.blgTxtInner h3 { font-weight: 700; color: #08be80; font-size: 41px; line-height: 42px; margin: 0; }
.blgTxtInner p {color: #b1acb8; font-size: 20px; font-weight: 500; margin-top: 35px;}
.ui-card-slider .center-slide .blgTxt, .ui-card-slider .right-slide .blgTxt {display: none;}
.blogNo {
  top: 0;
  left: 0;
  font-weight: 600;
  color: #000;
  font-size: 17px;
  line-height: normal;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  z-index: 4;
}
.slider-content-6 { max-width: 1320px; -o-box-shadow: 0 0 5px rgba(71,183,99,0.3); box-shadow: 0 0 18px rgb(71,183,99,0.3); padding: 40px 40px 25px; background-color: #fff; border-radius: 40px; margin: 20px auto; color: #6c7669; font-size: 17px; font-weight: 400;}
.slider-content-6 h2 { color: #3a3a89; font-size: 40px; font-weight: 600; text-align: center; margin: 0; padding: 0; }
.slider-content-6 h3 { color: #3a3a89; font-size: 21px; font-weight: 600; text-align: center; margin: 15px 0 0; padding: 0; }
.slider-content-6 p {margin-top: 20px; font-size: 15px;}
.soclMed {display: flex; margin-top: 30px;}
.soclMed a {margin-right:10px;}
.soclMed a img {border-radius: 7px;  transition: all ease-in-out 0.5s; -moz-transition: all ease-in-out 0.5s; -webkit-transition: all ease-in-out 0.5s; -o-transition: all ease-in-out 0.5s; -ms-transition: all ease-in-out 0.5s; -khtml-transition: all ease-in-out 0.5s;}
.soclMed a:hover img {-webkit-transform: rotate(60deg); -moz-transform: rotate(60deg); -o-transform: rotate(60deg); -ms-transform: rotate(60deg); transform: rotate(60deg);}
.soclMed a:first-child:hover img {-webkit-transform: rotate(-60deg); -moz-transform: rotate(-60deg); -o-transform: rotate(-60deg); -ms-transform: rotate(-60deg); transform: rotate(-60deg);}
  
/* @media(max-width: 1800px){
  .ui-card-slider .center-slide .blgImag { width: 280px; height: 500px; border-radius: 52px; }
  .ui-card-slider .center-slide { bottom: 54px;  width: 280px; height: 500px; right: 100px; }
  .ui-card-slider .right-slide {bottom: 114px; width: 250px; height: 370px; border-radius: 40px; right: 0;}
  .ui-card-slider .left-slide .blgImag { width: 370px; height: 600px; border-radius: 58px; }
  .ui-card-slider .left-slide { width: calc(100% - 220px); height: 600px; }
  .ui-card-slider { height: 600px; }
  .blgSliderSec { padding: 45px 30px 0;}
  .blgSliderSec:before { width: 860px; left:-250px; }
  .blogNo { left: 650px; }
  .sliderArea { margin: 0px 30px 300px!important; }
  .slidWhtBox p { font-size: 18px; margin-top: 16px; line-height: 30px; }
  .slidWhtBoxBottomSec { margin-top: 50px; }
  .slidWhtBox { border-radius: 35px; padding: 25px; width: 350px; height: 450px; }
  .blogNo { left: 740px; }
}
@media (max-width: 1650px) {
  .blogNo { left: 640px; }
} */

@media (max-width: 1470px) {
  .ui-card-slider .left-slide { width: 300px; height: 210px; margin-left: -470px;}
  .ui-card-slider .right-slide { width: 300px; height: 210px; margin-left: 196px;}
  .ui-card-slider .left-slide .drName, .ui-card-slider .right-slide .drName { width: 50px; }
  .ui-card-slider .left-slide .drName h4 { margin: 0 0 0 19px; font-size: 17px; }
  .ui-card-slider .right-slide .drName h4 { margin: 0 0 0 17px; font-size: 17px; }
  .ui-card-slider .center-slide { width: 500px; height: 290px; top: -48px; margin-left: -250px; }
  .ui-card-slider .center-slide .drName h4 { font-size: 20px; line-height: 20px; }
  .ui-card-slider .center-slide .drName { width: 270px; height: 342px; padding: 20px 18px; right: -3px; top: -33px; border-radius: 22px; }
  .ui-card-slider .center-slide .drName p { margin: 16px 0 0; font-size: 14px; font-weight: 300; line-height: 18px; }
}
/* @media (max-width: 1299px) {
  .blgTxt { max-width: 400px; padding-left: 20px; }
  .ui-card-slider .right-slide { bottom: 114px; width: 180px; height: 268px; border-radius: 30px; }
  .ui-card-slider .center-slide .blgImag { width: 170px; height: 350px; border-radius: 35px; }
  .ui-card-slider .center-slide { bottom: 54px; width: 170px; height: 350px; right: 70px; }
  .ui-card-slider .left-slide { width: calc(100% - 150px); height: 450px; }
  .ui-card-slider { height: 450px; }
  .ui-card-slider .left-slide .blgImag { width: 290px; height: 450px; border-radius: 50px; }
  .blgTxtInner h3 { font-size: 36px; line-height: 42px; }
  .blgTxtInner p { font-size: 16px; margin-top: 14px; line-height: 23px; }
  .blogNo .slider-content-6 span { height: 80px; width: 42px; padding-right: 4px; margin-left: 2px; }
  .blogNo { font-size: 50px; line-height: 80px; }
  .slidWhtBox p { font-size: 17px; margin-top: 16px; line-height: 24px; }
  .blgSliderSec:before { width: 860px; left: -378px; }
} */
@media (max-width: 1180px){
  .blogNo { left: 500px; }
}
@media (max-width: 1080px){
  .blogNo { left: 460px; }
  .sliderArea { overflow-x: hidden; }
}
@media (max-width: 1023px){
  .blgTxt { max-width: 370px; padding-left: 20px; }
  .blogNo { left: 430px; }
  .blgTxtInner h3 { font-size: 33px; line-height: 36px; }
  .ui-card-slider .left-slide { width: 200px; height: 150px; margin-left: -345px; }
  .ui-card-slider .right-slide { width: 200px; height: 150px; margin-left: 150px;}
  .ui-card-slider .left-slide .drName, .ui-card-slider .right-slide .drName { width: 50px; }
  .ui-card-slider .left-slide .drName h4 { margin: 0 0 0 19px; font-size: 17px; }
  .ui-card-slider .right-slide .drName h4 { margin: 0 0 0 17px; font-size: 17px; }
  .ui-card-slider .center-slide { width: 420px; height: 240px; top: -48px; margin-left: -210px; }
  .ui-card-slider .center-slide .drName h4 { font-size: 20px; line-height: 20px; }
  .ui-card-slider .center-slide .drName { width: 250px; height: 360px; top: -64px; }
  .ui-card-slider .center-slide .drName p { margin: 16px 0 0; font-size: 14px; font-weight: 300; line-height: 18px; }
  .ui-card-slider .center-slide .blgImag img { min-width: 80%; min-height: 100%; margin-left: -14%; width: 86%; }
}

@media (max-width: 767px){
  .ui-card-slider .center-slide { width: 350px; height: 200px; top: -48px; margin-left: -175px; }
  .ui-card-slider .center-slide .drName { width: 210px; height: 315px; top: -64px; }
  .ui-card-slider .center-slide .drName h4 { font-size: 17px; line-height: 17px; }
  .ui-card-slider .center-slide .drName p { margin: 10px 0 0; font-size: 12px; line-height: 15px; }
  .ui-card-slider .left-slide { width: 150px; height: 108px; margin-left: -288px; border-radius: 15px; }
  .ui-card-slider .left-slide .drName { width: 40px; border-top-left-radius: 13px; border-bottom-left-radius: 12px; }
  .ui-card-slider .left-slide .drName h4 { margin: 0 0 0 23px; font-size: 12px; }
  .ui-card-slider .left-slide .blgImag img {margin-left: 20%;}
  .ui-card-slider .right-slide { width: 150px; height: 108px; margin-left: 140px; border-radius: 15px; }
  .ui-card-slider .right-slide .drName { width: 40px; border-top-right-radius: 12px; border-bottom-right-radius: 12px; }
  .ui-card-slider .right-slide .drName h4 { margin: 0 0 0 20px; font-size: 12px; }
  .ui-card-slider .right-slide .blgImag { border-radius: 12px; }
  .ui-card-slider .right-slide .blgImag:after { border-radius: 10px; }
}
@media (max-width: 599px){  
  .ui-card-slider .center-slide .drName { height: auto; width: 104%; border: 3px solid #a6c138; border-top: 0; top: 93%; left: -4px; border-top-left-radius: 0; border-top-right-radius: 0;}
  .ui-card-slider .center-slide .blgImag img { min-width: 100%; min-height: 100%; margin-left: 0; width: 100%; }
  .ui-card-slider .center-slide .blgImag { border-radius: 17px; }
  .doctorOuter { padding-top: 90px; padding-bottom: 200px; }
  .ui-card-slider .center-slide { width: 220px; height: 160px; top: -150px; margin-left: -110px; border-radius: 19px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
  .ui-card-slider .left-slide { margin-left: -220px; }
  .ui-card-slider .right-slide { margin-left: 70px; }
}
@media (max-width: 479px){  
  .ui-card-slider .center-slide .dcTxtt { height: 80px; overflow: auto; }
  .ui-card-slider .center-slide { width: 150px; height: 120px; top: -110px; margin-left: -75px; }
  .ui-card-slider .center-slide .drName { padding: 12px 8px 12px 10px; width: 106%; }
  .soclMed { margin-top: 20px; }
  .ui-card-slider .left-slide { margin-left: -170px; }
  .ui-card-slider .right-slide { margin-left: 20px; }
  .acreeSliderSec { margin-top: 150px; }
}
@media (max-width: 359px){
  .ui-card-slider .center-slide { width: 120px; height: 90px; top: -110px; margin-left: -60px; }
  .ui-card-slider .left-slide { margin-left: -150px; }
  .ui-card-slider .right-slide { margin-left: -3px; }
}