.journeySec {padding: 5px 130px 40px; position: relative; }
.journeySec h2 { font-weight: 700; color: #254a7f; font-size: 42px; line-height: 42px; margin: 0; top: -100px; text-align: center; position: relative; z-index: 1; }
.journeyRow {display: flex; justify-content: space-between; margin-top: 50px;}
.journeyRow:first-child {margin-top: 0;}
.journeyColumn {width: 430px; display: inline-block; padding-bottom: 15px; position: relative; background-color: #fff; padding: 20px; border-radius: 20px; box-shadow: 0px 1px 13px 0px rgb(186 255 144 / 70%);
}
.journeyColumn h3 { font-size: 19px; color: #f765a3; font-weight: 600; margin: 0; line-height: 22px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden !important;}
.journeyColumn p { font-size: 14px; color: #3f425e; font-weight: 400; margin: 12px 0 0; line-height: 20px;  display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden !important; padding-right: 16px; height: 64px;}
.journeyColumn a { color: #171717; font-weight: 500; cursor: pointer; margin-left: 0; background-color: #dce9e2; width: 100px; height: 30px; border-radius: 6px; display: flex; align-items: center; justify-content: center; margin-top: 10px;}
.journeyColumn:last-child h3 {color: #a155b9;}
.journeyColumn:last-child:after {background-color: #a155b9;}
.journeyRow:nth-child(2) .journeyColumn h3 {color: #0ce3ce;}
.journeyRow:nth-child(2) .journeyColumn:after {background-color: #0ce3ce;}
.journeyRow:nth-child(2) .journeyColumn:last-child h3 {color: #9abec1;}
.journeyRow:nth-child(2) .journeyColumn:last-child:after {background-color: #9abec1;}
.journeyRow:nth-child(3) .journeyColumn h3 {color: #ee6c4d; font-weight: 500;}
.journeyRow:nth-child(3) .journeyColumn:after {background-color: #ee6c4d;}
.journeyRow:nth-child(3) .journeyColumn:last-child h3 {color: #165ba9; font-weight: 600;}
.journeyRow:nth-child(3) .journeyColumn:last-child:after {background-color: #165ba9;}
.treeSec {position: absolute; top: 60% !important; left: 50%; transform: translate(-50%, -50%); border-radius: 50%; padding: 50px; background-color:#f9ffef; -o-box-shadow: 0 -100px 220px 200px #fffae6; box-shadow: 0 -100px 92px 150px #f9ffef }
.treeSec img {position: relative; z-index: 9;}
.pinkRound {width: 190px; height: 190px; display: inline-block; position: absolute; border-radius: 50%; border: 2px solid #fff; background-color: #f765a3; left: 105px; top: -60px;}
.grayRound {width: 256px; height: 256px; display: inline-block; position: absolute; z-index: 2; border-radius: 50%; border: 2px solid #fff; background-color: #9abec1; left: 156px; top: 50px;}
.blueRound {width: 168px; height: 168px; display: inline-block; position: absolute; z-index: 3; border-radius: 50%; border: 2px solid #fff; background-color: #165ba9; left: 248px; top: 180px; animation-delay: 2000000s;}
.orangeRound {width: 244px; height: 244px; display: inline-block; position: absolute; z-index: 4; border-radius: 50%; border: 2px solid #fff; background-color: #ee6c4d; left: -126px; top: 125px;}
.safronRound {width: 144px; height: 144px; display: inline-block; position: absolute; z-index: 5; border-radius: 50%; border: 2px solid #fff; background-color: #0ce3ce; left: -28px; top: 150px;}
.violetRound {width: 245px; height: 245px; display: inline-block; position: absolute; z-index: 6; border-radius: 50%; border: 2px solid #fff; background-color: #a155b9; left: -78px; top: -72px;}

@media (max-width: 1650px){
    .journeySec { padding: 20px 30px 60px; position: relative; }
    .treeSec { margin-left: 40px; }
    .journeySec h2 { font-size: 34px; line-height: 40px; }
    .treeSec { top: 50% !important; }
}
@media (max-width: 1450px){
    .journeySec h2 { font-size: 24px; line-height: 28px; }
    .journeySec { padding: 0 80px 60px; margin-top: -30px;}
    .journeyColumn { width: 280px; padding-bottom: 7px; }
    .journeyColumn p { font-size: 11px; margin: 8px 0 0; line-height: 16px; height: 50px; }
    .journeyColumn h3 { font-size: 15px; line-height: 20px; }
    .journeyColumn a { font-size: 11px; margin: 6px 0 0; line-height: 15px; width: 79px; height: 24px}
    .journeyColumn:after { width: 80px; height: 2px; }
    .treeSec img { width: 200px; }
    .violetRound { width: 160px; height: 160px; left: -27px; top: -40px; }
    .pinkRound { width: 120px; height: 120px; left: 96px; top: -25px; }
    .grayRound { width: 170px; height: 170px; left: 119px; top: 50px; }
    .blueRound { width: 100px; height: 100px; left: 190px; top: 140px; }
    .orangeRound { width: 160px; height: 160px; left: -80px; top: 80px; }
    .safronRound { width: 100px; height: 100px; left: -24px; top: 90px; }
    .treeSec { top: 52%; background-color: rgba(255,250,230,0.9); -o-box-shadow: 0 -25px 60px 50px #fffae6; box-shadow: 0 -25px 60px 50px #fffae6; }
    .journeyRow { margin-top: 30px; }
}
@media (max-width: 1350px){
    .treeSec { top: 0 !important; transform: translate(-50%, 0);}
    .journeySec { padding-top: 320px; }
    .journeySec h2 { top: -428px; }
}
@media (max-width: 1150px){
.treeSec{
    margin-left: -15px;
}
}
@media (max-width: 1023px){
    .treeSec { margin-left: 0; }
}
@media (max-width: 991px){
    .journeySec { padding: 300px 20px 0; }
    /* .journeyColumn { width: 250px; padding-bottom: 18px; }
    .journeyColumn h3 { font-size: 25px; }
    .journeyColumn p { font-size: 15px; margin: 5px 0 0; line-height: 20px; }
    .journeyColumn:after { width: 100px; height: 3px; }
    .journeyRow { margin-top: 30px; }
    .journeySec { padding-top: 400px; }
    .journeySec h2 { top: -560px; } */
    .journeySec { margin-top: -60px; }
    .journeySec h2 { margin-top: 0; top: -410px; }
}
@media (max-width: 767px){
    .journeySec { padding-top: 390px; }
    .journeySec h2 { top: -510px; }
    .journeyColumn p { text-align: left;}
}  

@media (max-width: 639px){
    .journeyRow { margin-top: 0; display: block; z-index: 999; position: relative; }
    .journeyColumn { width: 100%; padding-bottom: 12px; margin-bottom: 20px; }
    .journeyColumn p { padding-right: 0; height: auto; }
    .journeySec h2 { top: -500px; }
}
@media (max-width: 575px){
    .treeSec img { width: 160px; }
    .treeSec { margin-left: 0; padding: 0; }
    .pinkRound { width: 100px; height: 100px; left: 36px; top: -50px; }
    .grayRound { width: 140px; height: 140px; left: 55px; top: 5px; }
    .blueRound { width: 70px; height: 70px; }
    .blueRound { width: 90px; height: 90px; left: 110px; top: 77px; }
    .violetRound { width: 135px; height: 135px; left: -70px; top: -55px; }
    .orangeRound { width: 120px; height: 120px; left: -85px; top: 50px; }
    .safronRound { width: 80px; height: 80px; left: -42px; top: 50px; }
    .journeySec { padding-top: 280px; }
    .journeySec h2 { top: -400px; font-size: 22px; line-height: 28px; }
    .treeSec { margin-left: 24px; padding: 0; }
    .journeyColumn h3 { max-height: 72px; }
    .journeySec { margin-top: 0; }
    .journeySec h2 {margin-top: 3px;}
}
@media (max-width: 535px){
    .treeSec { margin-left: 24px; top: 85px !important; }
    .journeySec { padding-top: 370px; margin-top: 0; }
    .journeyColumn h3 { font-size: 15px; font-weight: 500; }
    .journeyColumn p { font-size: 11px; margin: 5px 0 0; line-height: 16px; }
    .journeyRow:nth-child(3) .journeyColumn:last-child h3 { color: #a155b9; font-weight: 500; }
}