<app-header></app-header>
<div style="background-color: rgba(0,0,0,0.5);" class="loading-spinner" id="loader">
</div>
<div class="eventOuter">
    <div class="eventOuterBar">
        <div class="entIm"><img style="width: 100%; height: 100%;" src="assets/images/eventImg.jpg" alt=""></div>
        <div class="grnRnd">&nbsp;</div>
        <div class="brwnRnd">&nbsp;</div>
        <div class="brwnnRnd">&nbsp;</div>
    </div>
    <div class="assoTop">
        <div class="acreeTopLeft" data-aos="zoom-out-right" data-aos-duration="200" data-aos-delay="200">
            <h1>Events with Nirnayan</h1>
            <p>Welcome to the Nirnayan Healthcare Events Center. We are excited to introduce our latest events and programs
                for our healthcare. Don't miss your chance to be a part of these transformative events to learn more.</p>
        </div>
    </div>
</div>
<!-- <div class="blgBar"></div> -->
<div class="evennTabSec" id="majorTabs">
    <div class="evntButnSec">
        <div class="eventBarButton">
            <owl-carousel-o [options]="SlideOptionn" class="nav nav-tabs pointer">
                <ng-template carouselSlide>
                    <li class="show eventTbHd" (click)="isUpcoming()" data-toggle="tab">Upcoming Events</li>
                </ng-template>

                <ng-template carouselSlide>
                    <li class="show eventTbHd" (click)="isFormer()" data-toggle="tab">Former Events</li>
                </ng-template>
                <!-- <ng-template carouselSlide>
                    <li class="show eventTbHd" data-toggle="tab">Upcoming Events</li>
                </ng-template> -->
            </owl-carousel-o>
        </div>
    </div>
    <div class="eventTypeSec">
        <!-- <div class="blgSrchSec">
            <h2>Event Type </h2>
        </div> -->
        <div class="evnTypArea">
            <owl-carousel-o [options]="SlideOption" class="nav nav-tabs">
                <ng-container *ngIf="isUpcomingEvents">
                    <ng-template carouselSlide *ngFor="let item of eventList">
                        <li class="show etSec">
                            <div class="etImSec" routerLink="/others/event-details"><img [src]="item.event_image" alt=""></div>
                            <div class="etText">
                                <h2>{{item.event_name}}</h2>
                                <div class="etTextArea" [innerHTML]="item.event_description"></div>
                                <div class="etTextbotSec">Published: {{item.published_on}}</div>
                            </div>
                            <div class="etSecArrow" routerLink="/others/event-details/{{item.id}}">&nbsp;</div>
                        </li>
                    </ng-template>
                </ng-container>
                <ng-container *ngIf="isFormerEvents">
                    <ng-template carouselSlide *ngFor="let item of eventListFormer">
                        <li class="show etSec">
                            <div class="etImSec"><img [src]="item.event_image" alt=""></div>
                            <div class="etText">
                                <h2>{{item.event_name}}</h2>
                                <div class="etTextArea" [innerHTML]="item.event_description"></div>
                                <div class="etTextbotSec">Published: {{item.published_on}}</div>
                            </div>
                            <div class="etSecArrow" routerLink="/others/event-details/{{item.id}}">&nbsp;</div>
                        </li>
                    </ng-template>
                </ng-container>
                <!-- <ng-template carouselSlide>
                    <li class="show etSec">
                        <div class="etImSec"><img src="assets/images/et-one.jpg" alt=""></div>
                        <div class="etText">
                            <h2>Biswakarma Puja 2023</h2>
                            <div class="etTextArea">Lorem Ipsum is a sample text goes her Lorem Ipsum is a sample text goes here a sample text goes here Lorem Ipsum is a sample text goes here Lorem Ipsum Lorem Ipsum is a </div>
                            <div class="etTextbotSec">Published: 18th Sep 2023</div>
                        </div>
                        <div class="etSecArrow">&nbsp;</div>
                    </li>
                </ng-template>
                <ng-template carouselSlide>
                    <li class="show etSec">
                        <div class="etImSec"><img src="assets/images/et-two.jpg" alt=""></div>
                        <div class="etText">
                            <h2>Kolkata Tattoo Festival</h2>
                            <div class="etTextArea">Lorem Ipsum is a sample text goes her Lorem Ipsum is a sample text goes here a sample text goes here Lorem Ipsum is a sample text goes here Lorem Ipsum Lorem Ipsum is a </div>
                            <div class="etTextbotSec">Published: 18th Sep 2023</div>
                        </div>
                        <div class="etSecArrow">&nbsp;</div>
                    </li>
                </ng-template> -->
            </owl-carousel-o>
        </div>
    </div>
    <!-- <div class="tab-content">
        <ng-container *ngIf="formerItem">
            <div id="home" class="blogTab tab-pane fade in active show" *ngFor="let item of eventList?.former">
                <div class="lsBox" *ngIf="item.status == 1">
                    <div class="lsBoxRound">
                        <div class="lsBoxRoundInner pointer"><img [src]="item.event_image"></div>
                    </div>
                    <div class="lsBoxHead"></div>
                    <div class="lsBoxTxt">
                        <span style="text-align: right; float: right; margin-top: -10px;"><span> Published: </span>
                            {{item.published_on | date: 'dd/MM/yyyy'}}</span> <br />
                        <h3>{{item.event_name}}</h3> <br />
                        <p class="truncate-to-2-lines" [innerHTML]="item.event_description"></p>
                        <span class="knowMore" routerLink="/others/event-details/{{item.id}}">Know more..</span>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="upcomingItem">
            <div id="home" class="blogTab tab-pane fade in active show" *ngFor="let item of eventList?.upcoming">
                <div class="lsBox" *ngIf="item.status == 1">
                    <div class="lsBoxRound">
                        <div class="lsBoxRoundInner pointer"><img [src]="item.event_image"></div>
                    </div>
                    <div class="lsBoxHead"></div>
                    <div class="lsBoxTxt">
                        <span style="text-align: right; float: right; margin-top: -10px;"><span> Published: </span>
                            {{item.published_on | date: 'dd/MM/yyyy'}}</span> <br />
                        <h3>{{item.event_name}}</h3> <br />
                        <p class="truncate-to-2-lines" [innerHTML]="item.event_description"></p>
                        <span class="knowMore" routerLink="/others/event-details/{{item.id}}">Know more..</span>
                    </div>
                </div>
            </div>
        </ng-container>
    </div> -->

</div>
<app-footer></app-footer>