<app-header></app-header>
<div class="container-fluid aboutPt">
    <h2 class="quality-text">Inspiring Growth & Success with Purpose</h2>
    <div *ngIf="currentRoute !== 'mission' && currentRoute !== 'vision' && currentRoute !== 'value'" class="row aboutMb">
        <div class="col-md-6 mx-auto position-relative">
            <div class="image-quality">
                <img src="../../../assets/images/mission.png" alt="">
            </div>
            <div class="quality-box">
                <p>Inspiring Growth and Success with Purpose:
                    Our healthcare mission is to deliver precise diagnostic
                    solutions for effective disease management.
                    Collaborating with leading scientific innovations for
                    accurate patient reports. Our quality culture promotes
                    unity, diversity, and teamwork. We recognize our duty to
                    the communities and environment where we reside
                    and operate. We have set up a goal for a new
                    milestone in the pathology world. Our obligation lies
                    with the end consumers, patients, and all users of the
                    products we contribute to discovering, developing,
                    and testing for quality.</p>
            </div>
        </div>
    </div>
    <div *ngIf="currentRoute !== 'mission' && currentRoute !== 'vision' && currentRoute !== 'value'" class="row aboutMb">
        <div class="col-md-6 mx-auto position-relative">
            <div class="quality-box2">
                <p>Our vision of healthcare is to deliver cutting-edge
                    innovation and unwavering compassion. At Nirnayan
                    Healthcare, we envision a future where every individual
                    has access to comprehensive, holistic healthcare
                    solutions that prioritize their well-being. Together,
                    we are shaping a healthier, happier world—one patient,
                    one diagnosis, and one breakthrough at a time.
                    With a focus on preventive healthcare and early
                    intervention, we aim to optimize health outcomes
                    and enhance the quality of life for our patients.</p>
            </div>
            <div class="image-quality2">
                <img src="../../../assets/images/vision.png" alt="">
            </div>
        </div>
    </div>
    <div *ngIf="currentRoute !== 'mission' && currentRoute !== 'vision' && currentRoute !== 'value'" class="row">
        <div class="col-md-6 mx-auto position-relative">
            <div class="image-quality">
                <img src="../../../assets/images/value.png" alt="">
            </div>
            <div class="quality-box">
                <p>Our Core values depict everything that we do. We are
                    committed to understanding the unique needs of
                    each patient and providing compassionate
                    Value-based care that fosters healing and comfort.
                    Integrity is at the heart of our practice. We embrace
                    innovation as a driving force behind progress in
                    healthcare. From diagnostic accuracy to treatment
                    efficacy and patient experience, we strive for
                    excellence in every detail to deliver the best possible
                    outcomes for our patients. We are deeply rooted in our
                    communities and are dedicated to making a positive
                    impact beyond the walls of our healthcare facilities.</p>
            </div>
        </div>
    </div>

    <div *ngIf="currentRoute === 'mission'" class="row aboutMb">
        <div class="col-md-6 mx-auto position-relative">
            <div class="image-quality">
                <img src="../../../assets/images/mission.png" alt="">
            </div>
            <div class="quality-box">
                <p>Inspiring Growth and Success with Purpose:
                    Our healthcare mission is to deliver precise diagnostic
                    solutions for effective disease management.
                    Collaborating with leading scientific innovations for
                    accurate patient reports. Our quality culture promotes
                    unity, diversity, and teamwork. We recognize our duty to
                    the communities and environment where we reside
                    and operate. We have set up a goal for a new
                    milestone in the pathology world. Our obligation lies
                    with the end consumers, patients, and all users of the
                    products we contribute to discovering, developing,
                    and testing for quality.</p>
            </div>
        </div>
    </div>
    <div *ngIf="currentRoute === 'vision'" class="row aboutMb">
        <div class="col-md-6 mx-auto position-relative">
            <div class="quality-box2">
                <p>Our vision of healthcare is to deliver cutting-edge
                    innovation and unwavering compassion. At Nirnayan
                    Healthcare, we envision a future where every individual
                    has access to comprehensive, holistic healthcare
                    solutions that prioritize their well-being. Together,
                    we are shaping a healthier, happier world—one patient,
                    one diagnosis, and one breakthrough at a time.
                    With a focus on preventive healthcare and early
                    intervention, we aim to optimize health outcomes
                    and enhance the quality of life for our patients.</p>
            </div>
            <div class="image-quality2">
                <img src="../../../assets/images/vision.png" alt="">
            </div>
        </div>
    </div>
    <div *ngIf="currentRoute === 'value'" class="row">
        <div class="col-md-6 mx-auto position-relative">
            <div class="image-quality">
                <img src="../../../assets/images/value.png" alt="">
            </div>
            <div class="quality-box">
                <p>Our Core values depict everything that we do. We are
                    committed to understanding the unique needs of
                    each patient and providing compassionate
                    Value-based care that fosters healing and comfort.
                    Integrity is at the heart of our practice. We embrace
                    innovation as a driving force behind progress in
                    healthcare. From diagnostic accuracy to treatment
                    efficacy and patient experience, we strive for
                    excellence in every detail to deliver the best possible
                    outcomes for our patients. We are deeply rooted in our
                    communities and are dedicated to making a positive
                    impact beyond the walls of our healthcare facilities.</p>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>

