<app-header></app-header>
<div class="aboutBack">
    <div class="abtInner">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link" [class.active]="selectedTag == 'mission'" id="missn-tab" data-bs-toggle="tab" data-bs-target="#missn" type="button" role="tab" aria-controls="missn" aria-selected="true"><span>Our Mission</span></button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" [class.active]="selectedTag == 'vision'" id="visn-tab" data-bs-toggle="tab" data-bs-target="#visn" type="button" role="tab" aria-controls="visn" aria-selected="false"><span>Our Vision</span></button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" [class.active]="selectedTag == 'value'" id="vall-tab" data-bs-toggle="tab" data-bs-target="#vall" type="button" role="tab" aria-controls="vall" aria-selected="false"><span>Our Value</span></button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show" [ngClass]="{'active': selectedTag == 'mission'}" id="missn" role="tabpanel" aria-labelledby="missn-tab">
                <div class="tabContInner">
                    <div class="tabContLft">
                        <div class="tabContLftTp">
                            <div class="tabContLftIm"><img src="assets/images/abtLftIm.png" alt=""></div>
                            <!-- <div class="tabContLftTxt">Lorem Ipsum Lorem Ipsum Lorem</div> -->
                        </div>
                        <div class="tabContLftBtm">
                            <div class="tabContLftBtmSec">
                                <div class="tabContLftBtmBox"><img src="assets/images/hand-box-icon.png" alt=""></div>
                                <div class="tabContLftBtmSecTxt">Improve</div>
                            </div>
                            <div class="tabContLftBtmSec">
                                <div class="tabContLftBtmBox"><img src="assets/images/hand-box-icon.png" alt=""></div>
                                <div class="tabContLftBtmSecTxt">Trust</div>
                            </div>
                            <div class="tabContLftBtmSec">
                                <div class="tabContLftBtmBox"><img src="assets/images/hand-box-icon.png" alt=""></div>
                                <div class="tabContLftBtmSecTxt">Compassion</div>
                            </div>
                        </div>
                    </div>
                    <div class="tabContRgtSec">
                        <!-- <div class="tabContMid">
                            <ul>
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Lorem</a></li>
                            </ul>
                        </div> -->
                        <div class="tabContRight pl-5">
                            <h2>Our <span>Mission</span></h2>
                            <div class="tbConTxt">
                                <p>Where quality speaks about its existence. Centralized management and facility resources enable us to provide a vast, acute, seamless range of contract testing laboratory services to meet the requirements of a variety of technical disciplines.</p>
                                <p>To be an uninterrupted service provider by adapting brilliant accessibility, and accurate quality health care diagnostics. Spiked Technology along with experienced handling to create a new way in the pathological arena.</p>
                                <p>We are committed to strategies that result in continuously improving our services. We have a quality work environment that fosters unity, respect for diversity, teamwork, and professional growth. We are adaptable in order to accept the updating needs of society. We provide accurate actionable diagnostic information for patients to cure diseases with high prior solvent.  Collaborating with the best scientific innovation to produce accurate reports for patients.</p>
                            </div>
                            <!-- <div class="redboxSec">
                                <div class="redboxx"><img src="assets/images/red-icon.png" alt=""></div>
                                <div class="redboxxText">Lorem</div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show active" [ngClass]="{'active': selectedTag == 'vision'}" id="visn" role="tabpanel" aria-labelledby="visn-tab">
                <div class="tabContInner">
                    <div class="tabContLft">
                        <div class="tabContLftTp">
                            <div class="tabContLftIm"><img src="assets/images/abtLftIm.png" alt=""></div>
                            <!-- <div class="tabContLftTxt">Lorem Ipsum Lorem Ipsum Lorem</div> -->
                        </div>
                        <div class="tabContLftBtm">
                            <div class="tabContLftBtmSec">
                                <div class="tabContLftBtmBox"><img src="assets/images/hand-box-icon.png" alt=""></div>
                                <div class="tabContLftBtmSecTxt">Pioneer</div>
                            </div>
                            <div class="tabContLftBtmSec">
                                <div class="tabContLftBtmBox"><img src="assets/images/hand-box-icon.png" alt=""></div>
                                <div class="tabContLftBtmSecTxt">Leader</div>
                            </div>
                            <div class="tabContLftBtmSec">
                                <div class="tabContLftBtmBox"><img src="assets/images/hand-box-icon.png" alt=""></div>
                                <div class="tabContLftBtmSecTxt">Revolution</div>
                            </div>
                        </div>
                    </div>
                    <div class="tabContRgtSec">
                        <!-- <div class="tabContMid">
                            <ul>
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Lorem</a></li>
                            </ul>
                        </div> -->
                        <div class="tabContRight pl-5">
                            <h2>Our <span>Vision</span></h2>
                            <p> We aspire to be one of the nation's leading pathologists that captures the synergy in being both a brilliant academic pathology center and an innovative, community-oriented healthcare. It is more relevant than ever, and we are committed to fulfilling it - working together to introduce new opportunities, make health more precise, and push the frontiers of what’s possible.</p>
                            <!-- <div class="redboxSec">
                                <div class="redboxx"><img src="assets/images/red-icon.png" alt=""></div>
                                <div class="redboxxText">Lorem</div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" [ngClass]="{'active': selectedTag == 'value'}" id="vall" role="tabpanel" aria-labelledby="vall-tab">
                <div class="tabContInner">
                    <div class="tabContLft">
                        <div class="tabContLftTp">
                            <div class="tabContLftIm"><img src="assets/images/abtLftIm.png" alt=""></div>
                            <!-- <div class="tabContLftTxt">Lorem Ipsum Lorem Ipsum Lorem</div> -->
                        </div>
                        <div class="tabContLftBtm">
                            <div class="tabContLftBtmSec">
                                <div class="tabContLftBtmBox"><img src="assets/images/hand-box-icon.png" alt=""></div>
                                <div class="tabContLftBtmSecTxt">Integrity</div>
                            </div>
                            <div class="tabContLftBtmSec">
                                <div class="tabContLftBtmBox"><img src="assets/images/hand-box-icon.png" alt=""></div>
                                <div class="tabContLftBtmSecTxt">Accuracy</div>
                            </div>
                            <div class="tabContLftBtmSec">
                                <div class="tabContLftBtmBox"><img src="assets/images/hand-box-icon.png" alt=""></div>
                                <div class="tabContLftBtmSecTxt">Brilliance</div>
                            </div>
                        </div>
                    </div>
                    <div class="tabContRgtSec">
                        <!-- <div class="tabContMid">
                            <ul>
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Lorem</a></li>
                            </ul>
                        </div> -->
                        <div class="tabContRight pl-5">
                            <h2>Our<span>Value</span></h2>
                            <p>Our service describes our presence. We are committed to providing a quality service, combining high levels of patient satisfaction with the maintenance of appropriate accreditation. We are trusted because we are steadfast. We never stand still as we are moving to do what is better by using a systematic approach to take action.</p>
                            <!-- <div class="redboxSec">
                                <div class="redboxx"><img src="assets/images/red-icon.png" alt=""></div>
                                <div class="redboxxText">Lorem</div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

