<app-header class="innerHeader"></app-header>
<ngx-ui-loader [fgsSize]="0" [logoUrl]="'https://nirnayanhealthcare.com/assets/images/logo.png'"></ngx-ui-loader>
<div class="container-fluid aboutPt">
    <h2 class="quality-text">Inspiring Growth & Success with Purpose</h2>
    <div class="row aboutMb">
        <div class="col-lg-6 col-md-8 col-sm-8 col-11 mx-auto position-relative">
            <div class="image-quality">
                <img class="slide-right" src="../../../assets/images/mission.png" alt="">
            </div>
            <div class="quality-box">
                <p>Our commitment is to offer a meticulously structured and fully managed healthcare service. With a diverse technology base spanning the nation, Nirnayan Healthcare is renowned for its adept management and specialized knowledge across various clinical environments. We recognize our duty to the communities and environment where we reside and operate.</p>
            </div>
        </div>
    </div>
    <div class="row aboutMb visionn">
        <div class="col-lg-6 col-md-8 col-sm-8 col-11 mx-auto position-relative">
            <div class="quality-box2">
                <p>Our Vision lies in our continued commitment, dedication, cutting-edge innovation, and trusted approach to providing true personalized comprehensive patient care has enabled our reputation to grow, and for all of us at Nirnayan Healthcare to be proud of our achievements from our humble beginnings.</p>
            </div>
            <div class="image-quality2">
                <img class="slide-left" src="../../../assets/images/vision.png" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-8 col-11 mx-auto position-relative">
            <div class="image-quality">
                <img class="slide-right" src="../../../assets/images/value.png" alt="">
            </div>
            <div class="quality-box">
                <p>Our Values depend on what we do at every step to achieve the pioneering goal of excellence in the healthcare industry. From accuracy to best patient experience, we strive to provide excellent comprehensive patient care in every aspect of healthcare services. Our integrity, innovation, and collaboration foster our path to the best practices.</p>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>

