<app-header></app-header>

<div class="termsCond">
  <div class="container-fluid">
    <h3>Terms and Condition</h3>

    <div class="innerDetails">
      <section id="interpretation">
        <h2>1. Interpretation</h2>
        <p>In this Agreement, unless the context otherwise requires
            references to recitals, clauses, and sub-clauses are to recitals, clauses, and
            sub-clauses of this Agreement; headings are inserted for ease of reference only
            and are not to be used to define, interpret or limit any of the provisions of this
            Agreement; references to the singular number shall include references to the
            plural number and vice versa; words denoting one gender include all genders; any
            reference in this Agreement to a statutory provision includes that provision and
            any regulation made in pursuance thereof, as from time to time modified or
            re-enacted, whether before or after the date of this Agreement; and any reference
            to a time limit in this Agreement means the time limit set out in the relevant clause
            or sub-clause or such other time limit which may be mutually agreed by the
            parties in writing.</p>
      </section>
      <section id="services">
        <h2>2. Services</h2>
        <p>The use of this Website entitles the User, whether a User or a Customer, to avail of
            certain services as provided in the following clauses ('Services'), and interpretation
            of the term 'Services' shall be done accordingly depending upon the context.
            </p>
        <ol>
          <li>
            The use of this Website entitles the User, whether a User or a
            Customer, to avail certain services...
          </li>
          <li>
            The Users are entitled to the following Services:
            <ul>
              <li>
                If you have not completed the registration as per procedure, You are
entitled to view the snapshots of various E-Health Packages or other offers
being offered on the Website. i.e. Home collection requests, customer
feedback forms, etc
              </li>
              <li>
                If You have completed the registration, you are entitled:
                <ul>
                  <li>to view the snapshots of various E-Health Packages or other offers
                    being offered on the Website;</li>
                  <li>
                    to book one or more E-Health Package/s or other offers;
                  </li>
                  <li>to opt for Home Service (if available at that period of time) wherein
                    the Company shall send its representatives to your doorstep for the
                    sample collection or You may visit the nearest center (at which the
                    service is currently available) of the Company to give the sample.
                    However, You shall have to visit the designated test centers/
                    laboratories if the Company requires You to do so;</li>
                    <li>to receive email/sms/phone calls/letters which shall provide You
                        with the Order ID, the E-Health Package's details and the other
                        details;
                        </li>
                        <li>to receive the test reports within the suggested time</li>
                </ul>
              </li>
            </ul>
          </li>
          <li>The Services are non-transferable i.e. only the person on whose name the E-Health
            Package is assigned at the time of booking will be eligible to avail the Services at
            the lab or through home collection</li>
            <li>In case a booking is made before 4 pm on a business day, the Company shall
                endeavor to give a confirmation call to the Customer on the same day and if it is
                received after 4 pm, the Company shall endeavor to give a confirmation call to the
                Customer the next business day.
                </li>

                <li>The Customer is required to carry a photo-identification card, a copy of the invoice
                    and Order ID, or the transaction number at the time of visit to the Lab or when
                    availing of Home Service.</li>

                    <li>You are advised to go through the list of instructions/guidelines that is provided by
                        the Company on its Website detailing the dos and don'ts before taking the various
                        tests laid down in the EHealth Packages</li>
                        <li>The Company may put further terms and conditions with every E-Health Package
                            or Services and in case of any conflict with the Terms of Use or Privacy Policy, the
                            term and conditions put specifically with the E-Health Package shall prevail.
                            </li>
                            <li>The Company reserves the right to change the nature of Services as mentioned in
                                clause 2.2 at its sole discretion. Such change may be notified to the User/Customer
                                by publishing the same on the Website</li>

        </ol>
      </section>
      <section id="restrictions">
        <h2>3. Restrictions On Use</h2>
        <p>
            You shall not use the Website in order to transmit, distribute,
            store, or destroy material, including without limitation content provided by the
            Company:
        </p>
        <ul>
            <li> <p>a. for any unlawful purpose or in violation of any applicable law, regulation,
                international law or laws of any other country; or</p></li>

            <li><p>in a manner that will infringe the copyright, trademark, trade secret or other
                    intellectual property rights of others or violate the privacy, publicity or other
                    personal rights of others, or</p></li>

            <li><p>that is defamatory, libelous, obscene, threatening, abusive or is offensive to users
                        of the Website, such as content or messages that promotes racism, bigotry, hatred
                        or physical harm of any kind against any group or individual; or</p></li>
           <li><p>That is false or misleading, or</p></li>
           <li><p>That harasses or advocates harassment of another person</p></li>
        </ul>

        <p>2. You are also prohibited from violating or attempting to violate the security of the
            Website, including, without limitation the following activities:</p>

            <ul>
                <li><p>(a) Accessing data not intended for you or logging into a server or account which you are
                    not authorized to access;</p></li>

                <li><p>(b) Attempting to probe, scan or test the vulnerability of a system or network or to breach
                        security or authentication measures without proper authorization;</p></li>

                 <li><p>(c) Attempting to interfere with service to any user, host or network, including, without
                    limitation, via means of submitting a virus to Website, overloading, 'flooding', 'spamming',
                    'mail bombing', 'hacking' or 'crashing'; or
                    </p></li>

                    <li><p>(d) Forging any TCP/IP packet header or any part of the header information in any e-mail
                        or newsgroup posting. Violations of system or network security may result in civil or
                        criminal liability.
                        </p></li>
            </ul>
                        
            <p>3. Specific Restrictions on Rights to Use: In addition to the above, You shall not:</p>

            <ul>
                <li>
                    <p>modify, adapt, translate, or reverse engineer any portion of the Website and/or
                        Services;
                        </p>
                </li>

                <li>
                    <p>remove any copyright, trademark, or other proprietary rights notices contained in
                        or on the Website and/or Service;
                        </p>
                </li>
                <li><p>use any robot, spider, site search/retrieval application, or other device to retrieve or
                    index any portion of the Website and/or Service or for crawling the Website and
                    scraping content or to circumvent the technological methods adopted by the
                    Website to prevent such prohibited use;
                    </p></li>


                    <li><p>reformat or frame any portion of the web pages that are part of the Website
                        and/or Service;
                        </p></li>

                        <li><p>create user accounts by automated means or under false or fraudulent pretenses;
                        </p></li>
                        <li><p>create or transmit unwanted electronic communications such as 'spam' to other
                            users/customers of the Website and/or Service or otherwise interfere with other
                            User's or Customer's enjoyment of the Website and/or Service;
                            </p></li>

                <li><p></p></li>            


            </ul>

       
            

           

          

      </section>
      <section id="remedies">
        <h2>4. Remedies With The Company</h2>
        <p>
          You understand and agree that the Company or the Website may review
          any content...
        </p>
      </section>
      <section id="eligibility">
        <h2>5. Eligibility</h2>
        <p>
          You, if an individual, must be 18 or above, or the legal age to form a
          binding contract...
        </p>
      </section>
      <section id="registration">
        <h2>6. Registration Process</h2>
        <p>
          The User to be entitled to avail of the Services shall have to
          complete the registration process...
        </p>
      </section>
      <section id="ownership">
        <h2>7. Ownership</h2>
        <p>
          Any material, content or logos, marks, or software on or part of the
          Website and all aspects thereof...
        </p>
      </section>
      <section id="limitation">
        <h2>8. Limitation On Liability</h2>
        <p>
          The Company shall not be liable for any failure to perform its
          obligations hereunder where such failure...
        </p>
      </section>
      <section id="indemnity">
        <h2>9. Indemnity</h2>
        <p>
          You agree to indemnify and hold the Company, its parents,
          subsidiaries, affiliates, officers, and employees, harmless...
        </p>
      </section>
      <section id="privacy">
        <h2>10. Privacy</h2>
        <p>
          Use of the Website and/or the Services is also governed by our Privacy
          Policy.
        </p>
      </section>
      <section id="communication">
        <h2>11. Communication with the Customers/Users</h2>
        <p>
          When you visit the Website or use it to send emails/SMS, provide
          information, or communicate with us...
        </p>
      </section>

      <div class="footerNotes">
        <p>
          &copy; 2024 Nirnayan Health Care Private Limited. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
