<app-header></app-header>

<div class="termsCond">
  <div class="container-fluid">
    <h3>Terms and Condition</h3>

    <div class="innerDetails">
      <section id="interpretation">
        <h2>1. Interpretation</h2>
        <p>
          In this Agreement, unless the context otherwise requires references to
          recitals, clauses, and sub-clauses are to recitals, clauses, and
          sub-clauses of this Agreement; headings are inserted for ease of
          reference only and are not to be used to define, interpret or limit
          any of the provisions of this Agreement; references to the singular
          number shall include references to the plural number and vice versa;
          words denoting one gender include all genders; any reference in this
          Agreement to a statutory provision includes that provision and any
          regulation made in pursuance thereof, as from time to time modified or
          re-enacted, whether before or after the date of this Agreement; and
          any reference to a time limit in this Agreement means the time limit
          set out in the relevant clause or sub-clause or such other time limit
          which may be mutually agreed by the parties in writing.
        </p>
      </section>
      <section id="services">
        <h2>2. Services</h2>
        <p>
          The use of this Website entitles the User, whether a User or a
          Customer, to avail of certain services as provided in the following
          clauses ('Services'), and interpretation of the term 'Services' shall
          be done accordingly depending upon the context.
        </p>
        <ol>
          <li>
            The use of this Website entitles the User, whether a User or a
            Customer, to avail certain services...
          </li>
          <li>
            The Users are entitled to the following Services:
            <ul>
              <li>
                If you have not completed the registration as per procedure, You
                are entitled to view the snapshots of various E-Health Packages
                or other offers being offered on the Website. i.e. Home
                collection requests, customer feedback forms, etc
              </li>
              <li>
                If You have completed the registration, you are entitled:
                <ul>
                  <li>
                    to view the snapshots of various E-Health Packages or other
                    offers being offered on the Website;
                  </li>
                  <li>
                    to book one or more E-Health Package/s or other offers;
                  </li>
                  <li>
                    to opt for Home Service (if available at that period of
                    time) wherein the Company shall send its representatives to
                    your doorstep for the sample collection or You may visit the
                    nearest center (at which the service is currently available)
                    of the Company to give the sample. However, You shall have
                    to visit the designated test centers/ laboratories if the
                    Company requires You to do so;
                  </li>
                  <li>
                    to receive email/sms/phone calls/letters which shall provide
                    You with the Order ID, the E-Health Package's details and
                    the other details;
                  </li>
                  <li>to receive the test reports within the suggested time</li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            The Services are non-transferable i.e. only the person on whose name
            the E-Health Package is assigned at the time of booking will be
            eligible to avail the Services at the lab or through home collection
          </li>
          <li>
            In case a booking is made before 4 pm on a business day, the Company
            shall endeavor to give a confirmation call to the Customer on the
            same day and if it is received after 4 pm, the Company shall
            endeavor to give a confirmation call to the Customer the next
            business day.
          </li>

          <li>
            The Customer is required to carry a photo-identification card, a
            copy of the invoice and Order ID, or the transaction number at the
            time of visit to the Lab or when availing of Home Service.
          </li>

          <li>
            You are advised to go through the list of instructions/guidelines
            that is provided by the Company on its Website detailing the dos and
            don'ts before taking the various tests laid down in the EHealth
            Packages
          </li>
          <li>
            The Company may put further terms and conditions with every E-Health
            Package or Services and in case of any conflict with the Terms of
            Use or Privacy Policy, the term and conditions put specifically with
            the E-Health Package shall prevail.
          </li>
          <li>
            The Company reserves the right to change the nature of Services as
            mentioned in clause 2.2 at its sole discretion. Such change may be
            notified to the User/Customer by publishing the same on the Website
          </li>
        </ol>
      </section>
      <section id="restrictions">
        <h2>3. Restrictions On Use</h2>
        <p>
          You shall not use the Website in order to transmit, distribute, store,
          or destroy material, including without limitation content provided by
          the Company:
        </p>
        <ul>
          <li>
            <p>
              a. for any unlawful purpose or in violation of any applicable law,
              regulation, international law or laws of any other country; or
            </p>
          </li>

          <li>
            <p>
              in a manner that will infringe the copyright, trademark, trade
              secret or other intellectual property rights of others or violate
              the privacy, publicity or other personal rights of others, or
            </p>
          </li>

          <li>
            <p>
              that is defamatory, libelous, obscene, threatening, abusive or is
              offensive to users of the Website, such as content or messages
              that promotes racism, bigotry, hatred or physical harm of any kind
              against any group or individual; or
            </p>
          </li>
          <li><p>That is false or misleading, or</p></li>
          <li>
            <p>That harasses or advocates harassment of another person</p>
          </li>
        </ul>

        <p>
          2. You are also prohibited from violating or attempting to violate the
          security of the Website, including, without limitation the following
          activities:
        </p>

        <ul>
          <li>
            <p>
              (a) Accessing data not intended for you or logging into a server
              or account which you are not authorized to access;
            </p>
          </li>

          <li>
            <p>
              (b) Attempting to probe, scan or test the vulnerability of a
              system or network or to breach security or authentication measures
              without proper authorization;
            </p>
          </li>

          <li>
            <p>
              (c) Attempting to interfere with service to any user, host or
              network, including, without limitation, via means of submitting a
              virus to Website, overloading, 'flooding', 'spamming', 'mail
              bombing', 'hacking' or 'crashing'; or
            </p>
          </li>

          <li>
            <p>
              (d) Forging any TCP/IP packet header or any part of the header
              information in any e-mail or newsgroup posting. Violations of
              system or network security may result in civil or criminal
              liability.
            </p>
          </li>
        </ul>

        <p>
          3. Specific Restrictions on Rights to Use: In addition to the above,
          You shall not:
        </p>

        <ul>
          <li>
            <p>
              modify, adapt, translate, or reverse engineer any portion of the
              Website and/or Services;
            </p>
          </li>

          <li>
            <p>
              remove any copyright, trademark, or other proprietary rights
              notices contained in or on the Website and/or Service;
            </p>
          </li>
          <li>
            <p>
              use any robot, spider, site search/retrieval application, or other
              device to retrieve or index any portion of the Website and/or
              Service or for crawling the Website and scraping content or to
              circumvent the technological methods adopted by the Website to
              prevent such prohibited use;
            </p>
          </li>

          <li>
            <p>
              reformat or frame any portion of the web pages that are part of
              the Website and/or Service;
            </p>
          </li>

          <li>
            <p>
              create user accounts by automated means or under false or
              fraudulent pretenses;
            </p>
          </li>
          <li>
            <p>
              create or transmit unwanted electronic communications such as
              'spam' to other users/customers of the Website and/or Service or
              otherwise interfere with other User's or Customer's enjoyment of
              the Website and/or Service;
            </p>
          </li>

          <li>
            <p>
              create user accounts by automated means or under false or
              fraudulent pretenses;
            </p>
          </li>

          <li>
            <p>
              create or transmit unwanted electronic communications such as
              'spam' to other users/customers of the Website and/or Service or
              otherwise interfere with other User's or Customer's enjoyment of
              the Website and/or Service;
            </p>
          </li>

          <li>
            <p>
              submit any content or material that falsely expresses or implies
              that such content or material is sponsored or endorsed by the
              Company or the Website;
            </p>
          </li>

          <li>
            <p>
              transmit any viruses, worms, defects, Trojan horses, or other
              items of a destructive nature;
            </p>
          </li>

          <li>
            <p>
              make use of the Website or Services to violate the security of any
              computer network, crack passwords or security encryption codes,
              transfer or store illegal material including that are deemed
              threatening or obscene;
            </p>
          </li>

          <li>
            <p>
              copy or store any content offered on the Website for other than
              Your own use;
            </p>
          </li>

          <li>
            <p>
              take any action that imposes, or may impose in our sole
              discretion, an unreasonable or disproportionately large load on
              the Company's IT infrastructure;
            </p>
          </li>
        </ul>
      </section>
      <section id="remedies">
        <h2>4. Remedies With The Company</h2>
        <ul>
          <li>
            <p>
              You understand and agree that the Company or the Website may
              review any content and in case the Company finds, in its sole
              discretion, that the User violates any terms of this Agreement,
              especially clause 4, the Company and/or the Website reserves the
              right to take actions to prevent/control such violation including
              without limitation, removing the offending communication or
              content from the Website and/or terminating the membership of such
              violators and/or blocking their use of the Website and/or Service.
            </p>
          </li>

          <li>
            <p>
              The Company shall also be entitled to investigate occurrences that
              may involve such violations and may and take appropriate legal
              action, involve and cooperate with law enforcement authorities in
              prosecuting Users/Customers who are involved in such violations.
            </p>
          </li>
        </ul>
      </section>
      <section id="eligibility">
        <h2>5. Eligibility</h2>
        <p>
          You, if an individual, must be 18 or above, or the legal age to form a
          binding contract in your jurisdiction if that age is greater than 18
          years of age, be a member or use the Website and Services. Membership
          or use of this Website is void where prohibited by applicable law, and
          the right to access the Website will be deemed to be revoked in such
          jurisdictions ab initio. By using the Website and/or the Services, You
          represent and warrant that You have the right, authority, and capacity
          to enter into these Terms of Use and to abide by all of the terms and
          conditions set forth herein. You also represent and warrant to the
          Company that You will use the Website in a manner consistent with any
          and all applicable laws and regulations.
        </p>
      </section>
      <section id="registration">
        <h2>6. Registration Process</h2>
        <p>
          The User to be entitled to avail of the Services shall have to
          complete the registration process ('Registration Process') as provided
          below
        </p>

        <ol>
          <li>
            <p>
              1. The Registration Process involves the creation of a login id by
              the User in accordance with the directions provided there.
            </p>
          </li>

          <li>
            <p>
              Registration is mandatory for the Customers and requires them to
              provide certain basic information about themselves such as name,
              age, sex, email address, billing address, collection address,
              zip/postal code, and phone number and accordingly create an
              Account.
            </p>
          </li>

          <li>
            <p>
              Only after completing the Registration Process, do the Users
              become Customers and become entitled to avail the Services as
              mentioned in this policy.
            </p>
          </li>
          <li>
            <p>
              The Website may provide the facility of 'masking' which allows you
              to hide or keep confidential or not to fill any information except
              the information which are considered mandatory by the Company and
              which will be indicated by asterisks. The Company further reserved
              the right to seek further information, even though masked by you,
              if in its sole view such information is necessary.
            </p>
          </li>
          <li>
            <p>
              The Customers understand and agree that the Company may screen and
              verify the information provided by the Customer/User and at its
              sole discretion, increase the amount or number of information for
              the Registration Process and may ask for further information even
              after Registration Process. The Company may in its sole
              discretion, close the Account, if any information provided is
              found to be false or the information provided is not sufficient.
            </p>
          </li>
        </ol>
      </section>
      <section id="ownership">
        <h2>7. Ownership</h2>
        <p>
          - Any material, content or logos, marks, or software on or part of the
          Website and all aspects thereof, including all copyrights and other
          intellectual property or proprietary rights therein, is owned by the
          Company or its licensors. You acknowledge that the Website and any
          underlying technology or software on the Website or used in connection
          with rendering the Services are proprietary information owned or duly
          licensed to the Company, except where it is indicated otherwise. You
          are prohibited to modify, reproduce, distribute, create derivative
          works of, publicly display or in any way exploit, any of the content,
          software, marks, logos, and/or materials available on the Website in
          whole or in part except as expressly allowed under the Terms of Use.
          You have no other express or implied rights to use, in any manner
          whatsoever, the content, software, marks, logos, and/or materials
          available on the Website.
        </p>
      </section>
      <section id="limitation">
        <h2>8. Limitation On Liability</h2>
        <p>
          The Company shall not be liable for any failure to perform its
          obligations hereunder where such failure results from any cause beyond
          the Company's reasonable control, including, without limitation,
          mechanical, electronic, or communications failure or degradation
          (including 'line-noise' interference). Without limiting the foregoing,
          the company and its affiliates and suppliers will not be liable under
          any law, for any indirect, incidental, punitive, and consequential
          damages, including, but not limited to loss of profits, service
          interruption, and/or loss of information or data.
        </p>
      </section>
      <section id="indemnity">
        <h2>9. Indemnity</h2>
        <p>
          You agree to indemnify and hold the Company, its parents,
          subsidiaries, affiliates, officers, and employees, harmless, including
          costs and attorneys' fees, from any claim or demand made by any third
          party due to or arising out of (i) your access to the Website, (ii)
          your use of the Services, (iii) the violation of these Terms of Use by
          You, or (iv) the infringement by You, or any third party using Your
          account or User ID or password, of any intellectual property or other
          rights of any person or entity.
        </p>
      </section>
      <section id="privacy">
        <h2>10. Privacy</h2>
        <p>
          - Use of the Website and/or the Services is also governed by our
          Privacy Policy
        </p>
      </section>
      <section id="communication">
        <h2>11. Communication with the Customers/Users</h2>
        <p>
          When you visit the Website or use it to send emails/SMS, provide
          information, or communicate with us, You understand and agree that you
          are communicating with us through electronic records. You hereby
          provide your consent to receive communications via electronic records
          from us periodically or as and when required. Further, you allow us to
          communicate with you through email or by such other mode of
          communication, electronic or otherwise as the need may be.
        </p>
      </section>
      <div class="footerNotes">
        <p>
          &copy; 2024 Nirnayan Health Care Private Limited. All rights reserved.
        </p>
      </div>

      <div class="stillhave">
          <div class="stillInner">
              <h4>Still have questions?</h4>  
              <p>Can’t find the answer you’re looking for? Please chat to our friendly team.</p>  
          </div>

          <div class="popUpBox">
               
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Get in touch
            </button>
          </div>

      </div>



    </div>
  </div>
</div>

<app-footer></app-footer>

<!-- Modal -->
<div class="modal fade customeModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="popupForm">
            <form>
                <div class="formControl">
                  <label class="form-label">User Name</label>
                  <input class="form-control" type="text" placeholder="John smith">
                </div>
                <div class="formControl">
                  <label class="form-label">Your email</label>
                  <input class="form-control" type="text" placeholder="email@gmail.com">
                </div>
                <div class="formControl">
                  <label class="form-label">Your email</label>
                  <input class="form-control" type="text" placeholder="email@gmail.com">
                </div>
                <div class="formControl">
                  <label class="form-label">Your email</label>
                  <input class="form-control" type="text" placeholder="email@gmail.com">
                </div>
                <div class="formControl">
                  <label class="form-label">Your messages</label>
                 <textarea class="form-control"></textarea>
                </div>
                <div class="formSubMit">
                    <button>Submit</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>