<div class="journeySec">
    <div class="treeSec">
        <img src="../../assets/images/tree.png" alt="...">
        <div class="pinkRound" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="500"></div>
        <div class="grayRound" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="1000"></div>
        <div class="blueRound"  data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="1500"></div>
        <div class="orangeRound"  data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="2000"></div>
        <div class="safronRound"  data-aos="zoom-in" data-aos-duration="2500" data-aos-delay="2500"></div>
        <div class="violetRound"  data-aos="zoom-in" data-aos-duration="3000" data-aos-delay="3000"></div>
    </div>
    <div class="journeyArea">
        <div class="journeyRow">
            <div class="journeyColumn" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="500">
                <h3>Lorem Ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus tincidunt ornare. Morbi sit amet pharetra odio, vel porttitor orci. Nam egestas tempus dolor.</p>
            </div>
            <div class="journeyColumn" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="1000">
                <h3>Lorem Ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus tincidunt ornare. Morbi sit amet pharetra odio, vel porttitor orci. Nam egestas tempus dolor.</p>
            </div>
        </div>
        <div class="journeyRow">
            <div class="journeyColumn" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="1500">
                <h3>Lorem Ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus tincidunt ornare. </p>
            </div>
            <div class="journeyColumn" data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="2000">
                <h3>Lorem Ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus tincidunt ornare. </p>
            </div>
        </div>
        <div class="journeyRow">
            <div class="journeyColumn" data-aos="zoom-in" data-aos-duration="2500" data-aos-delay="2500">
                <h3>Lorem Ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus tincidunt ornare. Morbi sit amet pharetra odio, vel porttitor orci.</p>
            </div>
            <div class="journeyColumn" data-aos="zoom-in" data-aos-duration="3000" data-aos-delay="3000">
                <h3>Lorem Ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus tincidunt ornare. Morbi sit amet pharetra odio, vel porttitor orci.</p>
            </div>
        </div>
    </div>
</div>
