<app-header></app-header>

<div class="growthSec">
    <div class="growthText">
        <h2>Explore Our Extensive Network</h2>
        <p>Let our network be your compass</p>
    </div>
    <div class="growthClickText"><h3>India</h3></div>
    <div class="growthClickTextt"><h2>West Bengal</h2></div>
    <div class="growthClickTexxt"><h2>Kolkata</h2></div>
    <div class="growSlider">
        <div class="earthRound">
            <section class="stage">
                <figure class="ball"><span class="shadoww"></span></figure>
            </section>
        </div>
        <div class="worldMap">
            <div class="worldMapTop"><img src="assets/images/world-map1.png" alt=""></div>
            <div class="indiaMap"><img src="assets/images/india-map.png" alt=""></div>
            <div class="mapBotSec">
                <div class="mapBotCol">
                    <div class="mapBotColIcon"><div class="mapBotColIconInner"><img src="assets/images/address-icon.png" alt=""></div></div>
                    <div class="mapBotColInnerTxt">
                        <h2>1000+</h2>
                        <p>Collection point</p>
                    </div>
                </div>
                <div class="mapBotCol">
                    <div class="mapBotColIcon"><div class="mapBotColIconInner"><img src="assets/images/logistic-icon.png" alt=""></div></div>
                    <div class="mapBotColInnerTxt">
                        <h2>500+</h2>
                        <p>Logistic Strengh</p>
                    </div>
                </div>
                <div class="mapBotCol">
                    <div class="mapBotColIcon"><div class="mapBotColIconInner"><img src="assets/images/doctor-icon.png" alt=""></div></div>
                    <div class="mapBotColInnerTxt">
                        <h2>25+</h2>
                        <p>Doctors</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="growScrollOuter">
            <div class="growScroll country">
                <div class="growScrollRow">
                    <div class="growScrollRowTxt">India</div>
                    <div class="growScrollRowIm"><img src="assets/images/kol.jpg" alt=""></div>
                </div>
                <!-- <div class="growScrollRow" style="pointer-events: none;">
                    <div class="growScrollRowTxt">Banglad<span>esh</span></div>
                    <div class="growScrollRowIm"><img src="assets/images/puri.jpg" alt=""></div>
                </div> -->
            </div>
            <div class="growScroll state">
                <div class="growScrollRow">
                    <div class="growScrollRowTxt">West Bengal</div>
                    <div class="growScrollRowIm"><img src="assets/images/kol.jpg" alt=""></div>
                </div>
                <div class="growScrollRow">
                    <div class="growScrollRowTxt">Odisha</div>
                    <div class="growScrollRowIm"><img src="assets/images/puri.jpg" alt=""></div>
                </div>
            </div>
            <div class="growScroll distric">
                <div class="growScrollRow">
                    <div class="growScrollRowTxt">Kolk<span>ata</span></div>
                    <div class="growScrollRowIm"><img src="assets/images/kol.jpg" alt=""></div>
                </div>
                <div class="growScrollRow">
                    <div class="growScrollRowTxt">Di<span>gha</span></div>
                    <div class="growScrollRowIm"><img src="assets/images/puri.jpg" alt=""></div>
                </div>
                <div class="growScrollRow">
                    <div class="growScrollRowTxt">India G<span>ate</span></div>
                    <div class="growScrollRowIm"><img src="assets/images/india-gate.jpg" alt=""></div>
                </div>
                <div class="growScrollRow">
                    <div class="growScrollRowTxt">Metro C<span>ity</span></div>
                    <div class="growScrollRowIm"><img src="assets/images/city.jpg" alt=""></div>
                </div>
                <div class="growScrollRow">
                    <div class="growScrollRowTxt">Kolk<span>ata</span></div>
                    <div class="growScrollRowIm"><img src="assets/images/kol.jpg" alt=""></div>
                </div>
                <div class="growScrollRow">
                    <div class="growScrollRowTxt">Di<span>gha</span></div>
                    <div class="growScrollRowIm"><img src="assets/images/puri.jpg" alt=""></div>
                </div>
            </div>
            <div class="growTextBox">
                <div class="growTextBoxInner">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla ultrices quam, quis congue nibh tempor id. Vivamus luctus eros enim, ac euismod mauris vulputate non. Aliquam erat volutpat. In eleifend mi non justo eleifend euismod. Proin porttitor risus gravida rhoncus rhoncus. Cras lacinia placerat diam ac porta. Etiam rutrum metus vel eleifend fermentum. Ut vulputate ante eros, nec laoreet urna consequat eget. Duis ac pellentesque massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque neque lacus, pharetra ac iaculis vitae, pharetra ut ligula. Ut euismod massa in massa viverra volutpat.</p>
                    <p>Quisque neque lacus, pharetra ac iaculis vitae, pharetra ut ligula. Ut euismod massa in massa viverra volutpat. Integer fringilla ultrices quam, quis congue nibh tempor id. Vivamus luctus eros enim.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>