<app-header></app-header>
<div class="journeyPageTop">
    <div class="journeyPageTopLeft" data-aos="fade-right" data-aos-duration="200" data-aos-delay="200"><img src="assets/images/journey-top-im.png" alt=""></div>
    <div class="journeyTxtSec" data-aos="fade-left" data-aos-duration="200" data-aos-delay="200">
        <div class="journeyTxt">
            <div class="journeyTxtInner">
                <h2><span>About</span> Nirnayan Healthcare</h2>
                <p>Great ambition is always relatable to great achievement. We acquire a modern healthcare service with backing up by comprehensive best quality standard accreditations across a wide range of disciplines. We have world-class pathology and diagnostic services with the highest quality professional practices. A major priority for our team is the translation of our findings for patient benefit, discovering new ideas including continuous development of diagnosis processes. Our innovative approach allows us to better management of the demand of mankind, standardizes our operations, and improve research with brand-new technologies. Our extensive network of laboratories offers more than three thousand of testing along with presenting brand new Genetics departments.</p>
            </div>
        </div>
    </div>
</div>
<app-journey></app-journey>
<app-footer></app-footer>