<app-header></app-header>
<div class="journeyPageTop">
    <div class="journeyPageTopLeft" data-aos="fade-right" data-aos-duration="200" data-aos-delay="200"><img src="assets/images/journey-top-im.png" alt=""></div>
    <div class="journeyTxtSec" data-aos="fade-left" data-aos-duration="200" data-aos-delay="200">
        <div class="journeyTxt">
            <div class="journeyTxtInner">
                <h2><span>About</span> Nirnayan Healthcare</h2>
                <p>Nirnayan Healthcare has experienced significant changes and advancements, shaping the journey of patients and transforming the way healthcare is delivered. As we look back at the healthcare journey from the year 2018, we can witness the progress made and the impact it has had on patient care, technology, and the overall healthcare experience. By introducing various aspects of each and every category of healthcare team Nirnayan has already set up its steps to gather new experiences and latest innovations.</p>
            </div>
        </div>
    </div>
</div>
<div class="journeyOut"><app-journey></app-journey></div>
<app-footer></app-footer>