<div class="ourJourneyComp">
<app-header class="innerHeader"></app-header>
<ngx-ui-loader [fgsSize]="0" [logoUrl]="'https://nirnayanhealthcare.com/assets/images/logo.png'"></ngx-ui-loader>
<!-- <div class="journeyPageTop">
    <div class="journeyPageTopInner">
        <div class="journeyPageTopLeft" data-aos="fade-right" data-aos-duration="200" data-aos-delay="200"><img src="assets/images/journey-top-im.png" alt=""></div>
        <div class="journeyTxtSec" data-aos="fade-left" data-aos-duration="200" data-aos-delay="200">
            <div class="journeyTxt">
                <div class="journeyTxtInner">
                    <h2><span>About</span> Nirnayan Healthcare</h2>
                    <p>Welcome to Nirnayan, your premier destination where excellence intertwines with patient care. Step into our Healthcare laboratory pathology, where we harmonize cutting-edge technology with the expertise of our distinguished team of pathologists, scientists, and technicians. At Nirnayan, we are committed to providing healthcare services with innovative ways to remain at the forefront of the healthcare world.</p>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="bannerBoxEncyclopedia">
    <div class="mediEnWrapp">
       <h3>About <span>Nirnayan Healthcare</span></h3>
       <p>Welcome to Nirnayan, your premier destination where excellence intertwines with patient care.
        Step into our Healthcare laboratory pathology, where we harmonize cutting-edge technology
        with the expertise of our distinguished team of pathologists, scientists, and technicians.
        At Nirnayan, we are committed to providing healthcare services with innovative ways to remain
        at the forefront of the healthcare world.
       </p>
    </div>
 </div>
<div class="journeyOut ourJourAni"><app-journey></app-journey></div>
<app-footer></app-footer>
</div>