*{ margin:0; padding:0; box-sizing:border-box; }
body{ font-family: 'Poppins', sans-serif; font-weight:normal; margin:0; padding:0; }
ul, li{ list-style:none; margin:0; padding:0; }
a, a:focus, a:hover{ text-decoration:none; outline:none; }

/*==== Header Start ====*/
.header_wrap{ position:relative; z-index:99; background:#fff; padding:0; margin:0; }
.header_wrap .top-block{ background:#f0f3eb; padding:10px 20px; }
.header_wrap .top-block .location{ padding:0; margin:0; }
.header_wrap .top-block .location ul{ display:flex; }
.header_wrap .top-block .location ul li{  font-size:15px; line-height:1.2; font-weight:400; color:#000; display:flex; align-items:center; margin-right:20px; }
.header_wrap .top-block .location ul li:last-child{ margin-right:0; }
.header_wrap .top-block .location ul li i{ font-size:20px; margin-right:10px; }
.header_wrap .top-block .state{ margin-right:30px; }
.header_wrap .top-block .state .form-control{ font-size:15px; height:40px; border:1px solid #36820d; background-color:#36820d; color:#fff; padding-left:8px; padding-right:8px; }
.header_wrap .top-block .lang-sw{ margin-left:30px; }
.header_wrap .top-block .lang-sw .form-control{ font-size:15px; height:40px; border:1px solid #ced4da; background:#fff; color:#000; padding-left:8px; padding-right:8px; }
.header_wrap .top-block .search .form-control{ width:500px; height:40px; border-radius:.375rem 0 0 .375rem; padding:0 15px;  }
.header_wrap .top-block .search button{ width:40px; height:40px; border:1px solid #36820d; background-color:#36820d; border-radius:0 .375rem .375rem 0; color:#fff; transition:all 0.6s; }
.header_wrap .top-block .search button:hover{ background:#00999b; border-color:#00999b; }
.header_wrap .top-block .notification{ margin-right:30px; }
.header_wrap .top-block .notification a{ position:relative; font-size:20px; color:#000; }
.header_wrap .top-block .notification a span.number{ font-size:10px; line-height:1; color:#fff; background:#fe3c31; padding:2px 4px 3px; border-radius:5px; position:absolute; right:-8px; top:1px;}
.header_wrap .top-block .call{ margin-right:30px; }
.header_wrap .top-block .call a{ display:flex; align-items:center; font-size:16px; color:#000; transition:all 0.6s; }
.header_wrap .top-block .call a:hover{ color:#00999b; }
.header_wrap .top-block .call a i{ font-size:22px; margin-right:10px; }
.header_wrap .top-block .social ul{ display:flex; gap:0 4px; }
.header_wrap .top-block .social ul li a{ font-size:17px; color:#000; transition:all 0.6s; display:flex; align-items:center; justify-content:center; width:32px; height:32px; background:#fff; border-radius:.375rem; }
.header_wrap .top-block .social ul li a:hover{ background:#00999b; color:#fff; }

.header_wrap .btm-block{ padding:6px 20px; }
.header_wrap .btm-block .logo a{ display:flex; align-items:center; }
.header_wrap .btm-block .logo img{ width:57px; }
.header_wrap .btm-block .logo span{ font-family: "Arima", system-ui; font-size:23px; line-height:1; font-weight:600; color:#00999b; margin-left:10px; }
.header_wrap .btm-block .navigation{ margin-right:30px; }
.header_wrap .btm-block .navigation ul li{ font-size:17px; line-height:1.2; font-weight:400; margin-right:30px; position:relative; display:inline-block; }
.header_wrap .btm-block .navigation ul li:last-child{ margin-right:0; }
.header_wrap .btm-block .navigation ul li a{ color:#000; display:block; transition:all 0.6s; }
.header_wrap .btm-block .navigation ul li a:hover{ color:#00999b; }
.header_wrap .btm-block .navigation ul li .dropdown_menu{ -webkit-box-shadow:0 0 15px 0 rgba(0,0,0,0.1); box-shadow:0 0 15px 0 rgba(0,0,0,0.1); -webkit-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; background:#fff; position:absolute; visibility:hidden; border-radius:20px 0 20px 0; display:block; width:220px; border:none; z-index:99; opacity:0; top:80px; left:0; -webkit-transition:0.5s; transition:0.5s; -webkit-transform:scale(0); transform:scale(0); padding:0 5px; }
.header_wrap .btm-block .navigation ul li:hover .dropdown_menu{ top:27px; opacity:1; margin-top:0; visibility:visible; -webkit-transform:scale(1); transform:scale(1); }
.header_wrap .btm-block .navigation ul li .dropdown_menu li{ margin-right:0; display:block; }
.header_wrap .btm-block .navigation ul li .dropdown_menu li a{ padding:7px 10px; border-bottom:1px solid rgba(0,153,155,0.15); }
.header_wrap .btm-block .navigation ul li .dropdown_menu li:last-child a{ border-bottom:0; }
.header_wrap .btm-block .navigation ul li a.active{ color:#00999b; }
.header_wrap .btm-block .navigation ul li.active > a{ color:#00999b; }

.header_wrap .btm-block .user{ padding:0; margin:0; }
.header_wrap .btm-block .user button{ display:flex; align-items:center; padding:0; background:transparent; border:0; outline:none; }
.header_wrap .btm-block .user button span.img{ width:43px; height:43px; box-shadow:0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1); overflow:hidden; display:block; border-radius:50%;border:2px solid #fff; }
.header_wrap .btm-block .user button span.img img{ width:100%; height:100%; object-fit:cover; }
.header_wrap .btm-block .user button span.name{ font-size:16px; color:#000; margin-left:8px; }
.header_wrap .btm-block .user ul li a{ position:relative; font-size:16px; line-height:1; border-bottom:1px solid rgba(0,153,155,0.15); padding:9px 0 9px 35px; }
.header_wrap .btm-block .user ul li a:before{ content: ""; position:absolute; left:10px; top:5px; width:18px; height:18px; }
.header_wrap .btm-block .user ul li:nth-child(1) a:before { background:url(../../../assets/images/nh-icon1.png) no-repeat; background-size:contain; }
.header_wrap .btm-block .user ul li:nth-child(2) a:before { background:url(../../../assets/images/nh-icon2.png) no-repeat; background-size:contain; }
.header_wrap .btm-block .user ul li:nth-child(3) a:before { background:url(../../../assets/images/nh-icon3.png) no-repeat; background-size:contain; }
.header_wrap .btm-block .user ul li:nth-child(4) a:before { background:url(../../../assets/images/nh-icon4.png) no-repeat; background-size:contain; }
.header_wrap .btm-block .user ul li:last-child a{ border-bottom:0; }
.header_wrap .btm-block .user .dropdown-menu{ padding:0; overflow:hidden; }
.header_wrap .btm-block .user .dropdown-toggle:after{ border-top-color:#000; }
.header_wrap .btn-check:focus + .btn-secondary, .btn-secondary:focus { background-color:transparent; border-color:transparent; box-shadow:none; }
.header_wrap .btn-check:checked + .btn:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible, .btn:first-child:active:focus-visible, :not(.btn-check) + .btn:active:focus-visible{ box-shadow:transparent; }

.header_wrap .btm-block .cart{ margin-left:20px; }
.header_wrap .btm-block .cart a{ position:relative; background:#36820d; height:35px; width:35px; border-radius:5px; color:#fff; display:flex; justify-content:center; align-items:center; }
.header_wrap .btm-block .cart a span.number{ font-size:10px; line-height:1; color:#fff; background:#fe3c31; padding:2px 4px 3px; border-radius:5px; position:absolute; right:-8px; top:1px;}

/* ==== Fixed Sidebar ==== */
.fixed_sidebar{ position:fixed; bottom:0; width:100%; max-width:500px; margin:0 auto; left:0; right:0; display:none; transition:all 0.3s ease-in-out; z-index:99999; }
.nav-box{ display:flex; padding:7px 10px 5px; background-color:#159979; box-shadow:0px 0px 16px 0px #4444; border-radius:8px; }
.nav-container{ display:flex; width:100%; list-style:none; justify-content:space-between; }
.nav__item{ display:flex; position:relative; padding:2px; }
.nav__item.active .nav__item-icon{ background:#fff; color:#159979; margin-top:0; box-shadow: 0px 0px 16px 0px #4444; }
.nav__item.active .nav__item-text{ transform: scale(1); color:#fff; padding-top:2px; }
.nav__item-link{ display:flex; flex-direction:column; align-items:center; color:#2f3046; text-decoration:none; }
.nav__item-icon{ display:flex; align-items:center; justify-content:center; font-size:1.4em; color:#fff; border-radius:50%; height:35px; width:35px; transition: margin-top 250ms ease-in-out, box-shadow 250ms ease-in-out; }
/* .nav__item-text{ position:absolute; bottom:0; transform:scale(0); transition:transform 250ms ease-in-out; } */
.nav__item .nav__item-text{ color:#fff; padding-top:1px; }

.fixed_sidebar.active{ transform: translateY(100px);  }
/* .fixed_sidebar.active{transform: translateY(0);} */

/* ==== Left Sidebar ==== */
.lt-sidebar{ position:fixed; left:-100%; top:0; z-index:9999; width:320px; height:100vh; z-index:99; background:#fff; overflow-y:scroll; padding:20px 15px; display:none; transition:all 0.6s; }
.lt-sidebar.active{ left:0; }
.lt-sidebar .logged-user{ display:flex; align-items:center; border-bottom:1px solid rgba(0,153,155,0.15); padding-bottom:15px; margin-bottom:20px; padding-right:20%; }
.lt-sidebar .logged-user span.img{ width:43px; height:43px; box-shadow:0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1); overflow:hidden; display:block; border-radius:50%;border:2px solid #00999b; }
.lt-sidebar .logged-user span.img img{ width:100%; height:100%; object-fit:cover; }
.lt-sidebar .logged-user span.name{ font-size:16px; color:#000; margin-left:10px; }
.lt-sidebar .navigation ul li{ font-size:16px; line-height:1.2; font-weight:400; display:block; }
.lt-sidebar .navigation ul li a{ position:relative; display:block; border-bottom:1px solid rgba(0,153,155,0.15); padding:10px 30px 10px 0; }
.lt-sidebar .navigation ul li:last-child a{ border-bottom:0; }
.lt-sidebar .navigation ul li a{ color:#000; display:block; transition:all 0.6s; }
.lt-sidebar .navigation ul li a:hover{ color:#00999b; }
.lt-sidebar .dropdown_menu{ display:none; background: rgba(0,153,155,0.06); }
.lt-sidebar ul li .dropdown_menu li a{ padding:10px 15px; }
.lt-sidebar .close_menu{ position:absolute; right:0; top:30px; font-size:14px; line-height:1; background:#00999b; color:#fff; padding:6px 10px 6px 20px; border-radius:15px 0 0 15px; cursor:pointer; }
.lt-sidebar .navigation ul li a.active{ color:#00999b; }
.lt-sidebar .navigation ul li.active > a{ color:#00999b; }

.lt-sidebar a.lg-btn{ font-size:16px; line-height:1.2; font-weight:400; display:block; border-bottom:1px solid rgba(0,153,155,0.15); padding:10px 0; cursor:pointer; }
.lt-sidebar a.lg-btn i{ padding-right:5px; }
.lt-sidebar a.lgout-btn{ font-size:16px; line-height:1.2; font-weight:400; display:block; border-bottom:1px solid rgba(0,153,155,0.15); padding:10px 0; cursor:pointer; }
.lt-sidebar a.lgout-btn i{ padding-right:5px; }
/* ======================================================================================== */
.header_wrap .btm-block .user .nt-lgin button span.img{ width:24px; height:auto; box-shadow:inherit; overflow:auto; display:block; border-radius:0; border:0; }
.header_wrap .btm-block .user .nt-lgin button span.img img{ height:auto; object-fit:unset; }
.header_wrap .btm-block .user .nt-lgin ul li a { padding:9px 0 9px 9px; }
.header_wrap .btm-block .user .nt-lgin ul li a:before { display:none; }


.custom_white_modal{ position:fixed; left:0; top:0; right:0; bottom:0; z-index:999999; display:flex; align-items:center; justify-content:center; opacity:0; pointer-events:none; transition:all 0.4s; transform:scale(0); background:rgba(0,0,0,.6); backdrop-filter:blur(2px); }
.custom_white_modal.active{ opacity:1; pointer-events: fill; transform:scale(1); }
.custom_white_modal .inn{ position:relative; max-width:650px; width:100%; background:#fff; box-shadow:0 4px 10px rgba(0,0,0,.25); border-radius:12px; padding:30px 40px; margin:0; }
.custom_white_modal .inn .img{ text-align:center; }
.custom_white_modal .inn .img img{ max-width:100%; margin:auto; }
.custom_white_modal .text{ padding-left:0;}
.custom_white_modal h4{ font-size:17px; line-height:1.2; font-weight:500; color:#000; margin-bottom:10px; }
.custom_white_modal p{ font-size:15px; line-height:1.2; font-weight:400; color:#000; margin-bottom:25px; }
.custom_white_modal .form-control{ border:0; border-bottom:1px solid rgba(0,0,0,0.15); border-radius:0; box-shadow:none; font-size:14px; padding-bottom:5px; }
.custom_white_modal .form-control:focus{ border-bottom:1px solid #00999b; }
.custom_white_modal span.otp-txt{ font-size:13px; line-height:1.2; display:block; padding:4px 0 20px; }
.custom_white_modal button.sub-btn{ font-size:15px; line-height:1.2; font-weight:400; color:#fff; background:#00999b; border:0; border-radius:30px; transition:all 0.6s; padding:12px 25px; }
.custom_white_modal button.sub-btn:hover{ background:#000;}
.custom_white_modal button.log_pop_close{ font-size:15px; line-height:1.2; font-weight:400; color:#00999b; background:none; border:0; position:absolute; right:20px; top:12px; }
.custom_white_modal button.signup_popup_close{ font-size:15px; line-height:1.2; font-weight:400; color:#00999b; background:none; border:0; position:absolute; right:20px; top:12px; }
.custom_white_modal h3{ font-size:15px; line-height:1.2; font-weight:400; color:#000; margin-bottom:20px; }
.custom_white_modal h3 span{ font-weight:500; color:#00999b; text-decoration:underline; }
.custom_white_modal .digit-group{ display:grid; grid-template-columns:repeat(6, 1fr); grid-column-gap:10px; margin-bottom:20px; }
.custom_white_modal .digit-group input{ width:100%; height:40px; border:1px solid rgba(0,0,0,0.15); outline:none; text-align:center; }
.custom_white_modal .digit-group input:focus{ border:1px solid #00999b; }
.custom_white_modal ul{ justify-content:space-between; margin-bottom:25px; }
.custom_white_modal ul li{ font-size:14px; line-height:1.2; font-weight:400; color:#000; }
.custom_white_modal ul li button{ color:#00999b; box-shadow:none; outline:none; background:none; border:0; padding:0; }
.custom_white_modal button.confirm-btn{ font-size:15px; line-height:1.2; font-weight:400; color:#fff; background:#00999b; border:0; border-radius:30px; padding:12px 25px; transition:all 0.6s; }
.custom_white_modal button.confirm-btn:hover{ background:#000;}
.custom_white_modal .inn .img .item p{ font-size:14px; line-height:1.2; font-weight:400; color:#000; padding-top:14px; }
	
/* ==== SignUp Modal ==== */
.signup-modal.custom_white_modal .block{ margin-bottom:5px;}
.signup-modal.custom_white_modal .form-control{ height:40px; }
.signup-modal.custom_white_modal .block.lb_box{ padding:15px 0 10px; }
.signup-modal.custom_white_modal h5{ font-size:15px; line-height:1.2; font-weight:400; color:#000; margin-top:20px; }
.signup-modal.custom_white_modal h5 a{ color:#00999b; }
.signup-modal.custom_white_modal label a{ color:#00999b; text-decoration:underline !important; }
.signup-modal.custom_white_modal .block h3{ margin:5px 0 10px; }
.signup-modal.custom_white_modal .digit-group { margin-bottom:5px; }
.signup-modal.custom_white_modal .digit-group input{ height:35px; }
.signup-modal.custom_white_modal .block > div{ position:relative; }
.signup-modal.custom_white_modal .block > div button{ font-size:13px; line-height:1.1; position:absolute; right:0; top:50%; transform:translateY(-50%); border:1px solid #00999b; background:transparent; border-radius:15px; padding:5px 10px 3px; transition:all 0.6s; }
.signup-modal.custom_white_modal .block > div button:hover{ background:#000; color:#fff; border-color:#000; }


/* ======================================================================================== */
/*==== Responsive Start ====*/
@media screen and (max-width:1700px){
.header_wrap .top-block .search .form-control {
	width:380px;
}
.header_wrap .btm-block .navigation ul li {
	font-size: 16px;
	margin-right: 25px;
}
.header_wrap .top-block .state {
	margin-right: 20px;
}
.header_wrap .top-block .lang-sw {
	margin-left: 20px;
}
.header_wrap .top-block .call {
	margin-right: 20px;
}





}

@media screen and (max-width:1500px){
.header_wrap .top-block .location ul li {
	font-size: 14px;
	margin-right: 15px;
}
.header_wrap .top-block .state {
	margin-right: 10px;
}
.header_wrap .top-block .lang-sw {
	margin-left: 10px;
}
.header_wrap .top-block .search .form-control {
	width: 350px;
}
.header_wrap .btm-block .logo img {
	width: 50px;
}
.header_wrap .btm-block .logo span {
	font-size: 20px;
}
.header_wrap .btm-block .navigation ul li {
	font-size: 15px;
	margin-right: 20px;
}





}

@media screen and (max-width:1400px){
.header_wrap .top-block .location ul li {
	font-size: 12px;
	margin-right: 10px;
}
.header_wrap .top-block .search .form-control {
	width: 260px;
	font-size: 13px;
}
.header_wrap .top-block .state .form-control {
	font-size: 12px;
}
.header_wrap .top-block .lang-sw .form-control {
	font-size: 12px;
}
.header_wrap .top-block .notification {
	margin-right: 25px;
}
.header_wrap .top-block .call {
	margin-right: 10px;
}
.header_wrap .top-block .call a {
	font-size: 14px;
}
.header_wrap .top-block .call a i {
	font-size: 18px;
	margin-right: 5px;
}
.header_wrap .top-block .social ul li a {
	font-size: 14px;
	width: 28px;
	height: 28px;
}


.header_wrap .btm-block .user button span.name {
	display: none;
}
.header_wrap .btm-block .cart {
	margin-left: 10px;
}
.header_wrap .btm-block .user .dropdown-toggle:after {
	display: none;
}
.header_wrap .btm-block .navigation {
	margin-right: 20px;
}
.header_wrap .btm-block .navigation ul li {
	font-size: 14px;
	margin-right: 10px;
}

.header_wrap .top-block {
	padding: 10px 15px;
}
.header_wrap .btm-block {
	padding: 6px 15px;
}















}

@media screen and (max-width:1199px){
  .fixed_sidebar{ bottom:10px; max-width:500px; display:block; padding:0 15px; }
  .header_wrap .top-block {
    display: none;
  }
  .header_wrap .btm-block .navigation {
    display: none;
  }
  .mb_menu {
    display: block !important;
    margin-right: 12px; cursor: pointer;
  }
  .lt-sidebar{ display: block;}


}
@media screen and (max-width:991px){
	#login-modal .img {
		margin-bottom: 20px;
	}
	
}

@media screen and (max-width:767px){
  .mb_menu {
    margin-right: 10px;
  }
  .header_wrap .btm-block .user button span.img {
    width: 35px;
    height: 35px;
  }
  .header_wrap .btm-block .logo img {
    width: 45px;
  }
  .header_wrap .btm-block .logo span {
    font-size: 16px; margin-left:5px;
  }
  .lt-sidebar{ width:100%; }
  .fixed_sidebar {
	bottom:0;
	padding: 0 0;
}
.nav-box{
	border-radius:15px 15px 0 0 !important;
}
/* .nav__item-icon{
	font-size: 1.5em;
} */
.nav__item-text {
	font-size: 13px;
}
.header_wrap .btm-block .user {
	display: none;
}
.slide-banner.homeBanner-banner{
	margin-top:0 !important;
}

.custom_white_modal .inn{
	padding: 20px 25px;
}
.custom_white_modal {
	padding: 0 10px;
}

}

















