<nav class="navbar navbar-expand-lg topBar">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/"><img src="assets/images/logo.png" alt="" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <span class="nav-link active abtMenu dropSpn drp">About Us</span>
          <div class="ptnDoc dropDwn">
            <div class="laborDocInner">
              <div class="laborDocInnerLft">
                <h2><a routerLink="/about-us/our-journey">Our Journey</a></h2>
                <h4>Embark on a transformative journey with us</h4>
                <!-- <h3><span>Lead our Path</span> <img src="assets/images/vio-bg-arrow.png" alt=""/></h3> -->

                <app-about-menu-slide></app-about-menu-slide>
              </div>
              <div class="laborDocInnerMid">
                <h2><a routerLink="/about-us/our-team">Our Team</a></h2>
                <ul>
                  <li><a routerLink="/about-us/our-team"><span>Board Members</span> <img
                        src="assets/images/viol-sml-arrow.png" alt="" /></a></li>
                  <li><a routerLink="/about-us/our-team"><span>Core Technical Team</span> <img
                        src="assets/images/viol-sml-arrow.png" alt="" /></a></li>
                </ul>
              </div>
              <!-- <div class="laborDocInnerRght ourpre-right">
                <div class="laborDocInnerRghtImBox">
                  <img src="assets/images/presence.png" class="preIm" alt="" />
                  <div class="laborDocInnerRghtImBoxTxt presen">
                    <span>Know More </span>
                    <a routerLink="/others/explore"><img src="assets/images/white-menu-arrow.png" alt=""></a>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </li>
        <li class="nav-item">
          <span class="nav-link labMenu dropSpn drp">Laboratory</span>
          <div class="laborDoc dropDwn">
            <div class="laborDocInner">
              <div class="laborDocInnerLft">
                <h2>Explore our world</h2>
                <h3 routerLink="department" class="depart"><span>Departments</span> <img
                    src="assets/images/vio-bg-arrow.png" alt="" /></h3>
                <app-headerslide></app-headerslide>
              </div>
              <div class="laborDocInnerMid">
                <h2>Accreditation</h2>
                <ul>
                  <li><a routerLink="/laboratory/accreditation"><span>NABL</span> <img
                        src="assets/images/viol-sml-arrow.png" alt="" /></a></li>
                  <li><a routerLink="/laboratory/accreditation"><span>ICMR</span> <img
                        src="assets/images/viol-sml-arrow.png" alt="" /></a></li>
                  <!-- <li><a routerLink="/laboratory/accreditation"><span>Lorem Ipsum</span> <img src="assets/images/viol-sml-arrow.png" alt=""/></a></li> -->
                </ul>
              </div>
              <div class="laborDocInnerRght">
                <div class="laborDocInnerRghtImBox" routerLink="/laboratory/quality">
                  <img src="assets/images/qcon.png" alt="" />
                  <div class="laborDocInnerRghtImBoxTxt">
                    <span>Know more</span>
                    <a href="javascript:void(0)"><img src="assets/images/white-menu-arrow.png" alt=""></a>
                  </div>
                </div>
                <div class="laborDocInnerRghtImBox" routerLink="/laboratory/awards">
                  <img src="assets/images/awacol.png" alt="" />
                  <div class="laborDocInnerRghtImBoxTxt">
                    <span>Know more</span>
                    <a href="javascript:void(0)"><img src="assets/images/white-menu-arrow.png" alt=""></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/science/encyclopedia">Science Behind</a>
        </li>
        <li class="nav-item drp">
          <span class="nav-link ptnMenu dropSpn drp">Patient</span>
          <div class="ptnDoc dropDwn">
            <div class="laborDocInner">
              <div class="laborDocInnerLft">
                <h2 routerLink="/patient/find-center"><span class="pointer">Find a Centre <img
                      src="assets/images/vio-bg-arrow.png" alt="" /></span></h2>
                <!-- <img src="assets/images/vio-bg-arrow.png" alt=""/> -->
                <h3 class="stPkg"><span>Search Test & Package</span></h3>
                <app-patient-menu-slide></app-patient-menu-slide>
              </div>
              <div class="laborDocInnerMid">
                <h2>
                  <a routerLink="/patient/test-reference">Test reference</a>
                </h2>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/page/blog">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/others/association">Associations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/others/career">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/others/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/others/faq">FAQs</a>
        </li>
      </ul>
    </div>


    <!-- Before Login -->
    <ng-container *ngIf="!isLogin">
      <div class="loginSec">
        <div class="profilePic" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="assets/images/avtar.png" alt="" />
        </div>
        <div class="profilePic" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="false"><img src="assets/images/avtar.png" alt="" /></div>
        <ul class="dropdown-menu befLog dropdown-menu-dark mt-3" aria-labelledby="navbarDarkDropdownMenuLink">
          <li><a class="dropdown-item pointer" routerLink="/auth/login">Login</a></li>
          <li><a class="dropdown-item pointer" routerLink="/auth/register">Sign up</a></li>
        </ul>
      </div>
    </ng-container>

    <!-- After Login -->
    <ng-container *ngIf="isLogin">
      <div class="loginSec">
        <div class="profilePic" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img *ngIf="profileImg == null || profileImg == ''" src="assets/images/avtar.png" alt="no img" />
          <img *ngIf="profileImg != null" [src]="mediaUrl+profileImg" />
        </div>
        <div class="profileName">{{username}}</div>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
          <li><a class="dropdown-item pointer" routerLink="/user/profile">My Profile</a></li>
          <li><a class="dropdown-item pointer" routerLink="/user/my-order">My Order</a></li>
          <li><a class="dropdown-item pointer" routerLink="/user/prescription">Prescriptions</a></li>
          <li><a class="dropdown-item pointer" (click)="logout()">Logout</a></li>
        </ul>
      </div>
      <a class="cart" routerLink="/cart/my-cart"><img src="assets/images/cart.png" alt="" />
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          *ngIf="cartlist > 0" style="margin-left: -5px;margin-top: 2px;">{{cartlist}}</span>
      </a>


    </ng-container>
  </div>
</nav>
<!-- <div class="modal" tabindex="-1"  role="dialog" [ngStyle]="{'display':displayStyle}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header"><h4 class="modal-title">Search Here</h4> </div>
          <div class="modal-body">
            <div class="serchSec">
              <input type="search" placeholder="Write something here...">
              <input type="submit" value="Submit">
            </div>
          </div>
          <div class="modal-footer"><button type="button" class="btn btn-danger" (click)="closePopup()"> Close </button></div>
        </div>
      </div>
    </div> -->