<div class="blogContainer">
    <div class="blogSearchOuter">
        <div class="blogSearch">
            <input type="text" name=""/>
            <input type="submit" value="">
        </div>
    </div>
    <div class="blgDetails">
        <div class="blgImSec">
            <div class="blgImOuter"><div class="blgIm"><img src="../../assets/images/bd-im.jpg" alt=""></div></div>
            <div class="blg-grn-bar">

            </div>
        </div>
        <h2>Lorem Ipsum is simply dummy text</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id pulvinar augue. Suspendisse in felis vitae elit euismod lacinia in a nisi. Fusce in sollicitudin arcu, et consequat leo. Quisque faucibus massa a ante pharetra, mattis elementum ante aliquam. Donec aliquet vel dui quis porta. Maecenas vel velit vel odio aliquam lobortis. Sed blandit sollicitudin gravida. Nunc scelerisque vel nulla vitae pulvinar. Mauris consectetur, odio et laoreet eleifend, neque ante suscipit nunc, ut posuere dolor orci sed nisi. Cras sed justo ac mauris suscipit condimentum.</p>
        <p>Phasellus feugiat mi purus, non ultrices magna faucibus et. Vestibulum posuere fringilla libero, non malesuada ipsum elementum sed. Nunc finibus non ex aliquet maximus. Vestibulum leo felis, ultricies ac tortor id, tristique ultricies nisl. Donec sit amet tempor nulla. Nam condimentum ornare orci vel venenatis. Donec finibus vel dolor quis facilisis. In ut malesuada nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam rutrum a eros quis consequat. Aliquam malesuada lacus sem, varius mattis leo auctor non. Cras vitae bibendum odio. Suspendisse hendrerit tempus tellus, et varius mauris congue in. Duis euismod egestas ex, sit amet aliquam turpis interdum id. Nulla porttitor sem dictum, gravida velit et, auctor mauris. Aliquam blandit lacus a mauris vulputate, vel imperdiet quam placerat.</p>
        <h2>Lorem Ipsum is simply dummy text</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id pulvinar augue. Suspendisse in felis vitae elit euismod lacinia in a nisi. Fusce in sollicitudin arcu, et consequat leo. Quisque faucibus massa a ante pharetra, mattis elementum ante aliquam. Donec aliquet vel dui quis porta. Maecenas vel velit vel odio aliquam lobortis. Sed blandit sollicitudin gravida. Nunc scelerisque vel nulla vitae pulvinar. Mauris consectetur, odio et laoreet eleifend, neque ante suscipit nunc, ut posuere dolor orci sed nisi. Cras sed justo ac mauris suscipit condimentum.</p>
        <ul>
            <li>Lorem Ipsum is a dummy text</li>
            <li>Lorem Ipsum</li>
            <li>Curabitur quis imperdiet dui</li>
            <li>Nulla volutpat congue mi volutpat ullamcorper</li>
        </ul>
        <p>Phasellus feugiat mi purus, non ultrices magna faucibus et. Vestibulum posuere fringilla libero, non malesuada ipsum elementum sed. Nunc finibus non ex aliquet maximus. Vestibulum leo felis, ultricies ac tortor id, tristique ultricies nisl. Donec sit amet tempor nulla. Nam condimentum ornare orci vel venenatis. Donec finibus vel dolor quis facilisis. In ut malesuada nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam rutrum a eros quis consequat. Aliquam malesuada lacus sem, varius mattis leo auctor non. Cras vitae bibendum odio. Suspendisse hendrerit tempus tellus, et varius mauris congue in. Duis euismod egestas ex, sit amet aliquam turpis interdum id. Nulla porttitor sem dictum, gravida velit et, auctor mauris. Aliquam blandit lacus a mauris vulputate, vel imperdiet quam placerat.</p>
        <h2>Lorem Ipsum is simply dummy text</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id pulvinar augue. Suspendisse in felis vitae elit euismod lacinia in a nisi. Fusce in sollicitudin arcu, et consequat leo. Quisque faucibus massa a ante pharetra, mattis elementum ante aliquam. Donec aliquet vel dui quis porta. Maecenas vel velit vel odio aliquam lobortis. Sed blandit sollicitudin gravida. Nunc scelerisque vel nulla vitae pulvinar. Mauris consectetur, odio et laoreet eleifend, neque ante suscipit nunc, ut posuere dolor orci sed nisi. Cras sed justo ac mauris suscipit condimentum.</p>
        <h2>Lorem Ipsum is simply dummy text</h2>
        <p>Phasellus feugiat mi purus, non ultrices magna faucibus et. Vestibulum posuere fringilla libero, non malesuada ipsum elementum sed. Nunc finibus non ex aliquet maximus. Vestibulum leo felis, ultricies ac tortor id, tristique ultricies nisl. Donec sit amet tempor nulla. Nam condimentum ornare orci vel venenatis. Donec finibus vel dolor quis facilisis. In ut malesuada nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam rutrum a eros quis consequat. Aliquam malesuada lacus sem, varius mattis leo auctor non. Cras vitae bibendum odio. Suspendisse hendrerit tempus tellus, et varius mauris congue in. Duis euismod egestas ex, sit amet aliquam turpis interdum id. Nulla porttitor sem dictum, gravida velit et, auctor mauris. Aliquam blandit lacus a mauris vulputate, vel imperdiet quam placerat.</p>
    </div>
</div>
<div class="blgGreenSec">
    <app-blog-slider></app-blog-slider>
    <app-blog-sliderr></app-blog-sliderr>
</div>
<div class="reachUs">
    <div class="querySecInner">
        <h2>Reach Out Us</h2>
        <form>
            <div class="fromRow" data-aos="zoom-out-right" data-aos-duration="500" data-aos-delay="500">
                <label>Name</label>
                <input type="text">
            </div>
            <div class="fromRow" data-aos="zoom-out-left" data-aos-duration="1000" data-aos-delay="1000">
                <label>Email ID</label>
                <input type="text">
            </div>
            <div class="fromRow" data-aos="zoom-out-right" data-aos-duration="1500" data-aos-delay="1500">
                <label>Mobile No.</label>
                <input type="text">
            </div>
            <div class="fromRow" data-aos="zoom-out-left" data-aos-duration="2000" data-aos-delay="2000">
                <label>Enquiry</label>
                <textarea></textarea>
            </div>
            <div class="fromRow" data-aos="flip-left" data-aos-duration="2500" data-aos-delay="2500"><input type="submit" value="Submit"></div>
        </form>
    </div>
</div>
