<app-header></app-header>
<!-- <div style="background-color: rgba(0,0,0,0.5);" class="loading-spinner" id="loader">
</div> -->
<div class="testTop">
    <div class="testTopInner">
        <div class="tlSlider">
            <owl-carousel-o [options]="SlideOptionn">
                <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/Banner-01.jpg" alt=""></div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/Banner-02.jpg" alt=""></div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
<div class="tlMiddle">
    <div class="tlMiddleBr mob">
        <owl-carousel-o [options]="SlideOption">
            <ng-template carouselSlide *ngFor="let group of groupList; let i = index">
                <div class="tlBrBox" (click)="filterTests(group.id,group.group_name,group.packages,i)" *ngIf="group.status == 1">
                    <div class="tlBrBoxRnd">
                        <div class="tlBrBoxRndInner">
                            <img [src]="BasePath+group.icon" alt="" data-toggle="tooltip" data-placement="top"
                                title="{{ group.group_name }}">

                        </div>
                        <p class="activecls" [class.activecls]="i === activeSlideIndex">{{ group.group_name }}</p>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
    <div class="tstMidSec">
        <div class="tstLst">
            <ul>
                <ul>
                    <li [ngClass]="{'active': activeGroup == 'Organ'}" class="pointer"
                        (click)="loadTypeWise('Organ')">Organ Wise</li>
                    <li [ngClass]="{'active': activeGroup == 'Condition'}" class="pointer"
                        (click)="loadTypeWise('Condition')">Condition Wise</li>
                </ul>
            </ul>
            <div class="testSearch">
                <input type="text" #search (input)="searchFilter(search.value)" autocomplete="on" placeholder="Search">
                <input type="submit" value="" (click)="searchFilter(search.value)">
            </div>
        </div>

        <div class="testListSec">
            <h2>Packages - <span>{{activeGroupName}}</span></h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6 mt-3" *ngFor="let pakg of packageItems">
                        <div class="pPacka mx-auto py-4">
                            <div class="image-wapper text-center position-relative">
                                <!-- <div class="offer-percent">{{"20"}}% off</div> -->
                                <img src="../../../assets/images/packeges-icon.png" alt="" class="img-fluid">
                            </div>
                            <div class="text-wapper">
                                <h4 class="pkgTitle">{{pakg.test_name}}</h4>
                                <p class="pkgDec">{{pakg.parameter?.length}} Parameter(s) Covered <a target="_blank"
                                        class="text-primary" (click)="detailsPage(pakg.id,pakg.test_name)" [routerLink]="'/patient/package-details/'+activeGroupName+'/'+formattedName" target="_blank">..Know
                                        More</a></p>
                                <!-- <ul class="d-flex align-items-center ms-2">
                              <ng-container *ngIf="pakg.offerPrice != 0; else currentPrice">
                                <li>
                                  <h3 class="current-price">₹ {{pakg.offerPrice}} /-</h3>
                                </li>
                                <li><span class="strikethrough-2nd">₹ {{pakg.amount}} /-</span></li>
                              </ng-container>
                              <ng-template #currentPrice>
                                <li>
                                  <h3 class="current-price">₹ {{pakg.amount}} /-</h3>
                                </li>
                              </ng-template>
                            </ul> -->
                                <ul style="margin-left: 20px; width: 120px;">
                                    <li>
                                        <a href="tel:8100726252">
                                            <h3 class="current-price">Contact us </h3>
                                        </a>

                                    </li>
                                </ul>
                                <button type="button" class="btn btn-add-cart btn-packege" *ngIf="isLogin == true"
                                    (click)="addToCart(pakg.id, 'Package', pakg.offerPrice == 0 || pakg.offerPrice =='' ? pakg.amount : pakg.offerPrice)"
                                    data-toggle="modal" data-target="#patientModal">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="empty_state" *ngIf="packageItems?.length == 0">
                        <i class="ion-sad-outline"></i>
                        <h3 class="">No Packages</h3>
                        <p>There have been no Package in this section yet</p>

                    </div>
                </div>
            </div>
        </div>

        <div style="text-align: center;  margin-top: 15px;" *ngIf="packageItems?.length > 1">
            <small id="nodata" style="margin-bottom: -15px;"></small>
        </div>

        <!-- <div class="text-center mt-4" *ngIf="packageItems?.length > 10">
            <button class="btn btn-outline-primary pointer" *ngIf="!isLoading" (click)="loadMore()">Load More..</button>
            <button class="btn btn-primary" type="button" *ngIf="isLoading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
        </div> -->
        
        <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
    </div>
</div>

<!-- Patient Modal -->
<div class="modal fade drawer right-align" id="patientModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Select Your Patient Name</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-shared-modal (closeModalEvent)="closeAllModals()"></app-shared-modal>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>