<app-header></app-header>
<div class="testTop">
    <div class="tstTopSec">
        <div class="testSearch"> <input type="text" name="" placeholder="Search"><input type="submit" value=""> </div>
        <div data-aos="fade-up" data-aos-duration="400" data-aos-delay="400" class="fcSecTopSl">
            <select>
                <option>Short by</option>
                <option>low to hight</option>
                <option>hight to low</option>
            </select>
        </div>
    </div>
    <div class="testTopInner">
        <div class="tlSlider">
            <owl-carousel-o [options]="SlideOptionn">
                <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/tl-im.png" alt=""></div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/tl-im2.png" alt=""></div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/tl-im3.png" alt=""></div>
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/tl-im.png" alt=""></div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/tl-im2.png" alt=""></div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/tl-im3.png" alt=""></div>
                </ng-template> 
            </owl-carousel-o>
        </div>
    </div>
</div>
<div class="tlMiddle">
    <div class="tlMiddleBr">
        <owl-carousel-o [options]="SlideOption">
            <ng-template carouselSlide>
                <div class="tlBrBox"> <div class="tlBrBoxRnd"> <div class="tlBrBoxRndInner"> <img src="assets/images/green-hrt.png" alt=""> <p>Heart</p> </div> </div> </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="tlBrBox"> <div class="tlBrBoxRnd"> <div class="tlBrBoxRndInner"> <img src="assets/images/blue-hrt.png" alt=""> <p>Heart</p> </div> </div> </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="tlBrBox"> <div class="tlBrBoxRnd"> <div class="tlBrBoxRndInner"> <img src="assets/images/green-hrt.png" alt=""> <p>Heart</p> </div> </div> </div>
            </ng-template> 
            <ng-template carouselSlide>
                <div class="tlBrBox"> <div class="tlBrBoxRnd"> <div class="tlBrBoxRndInner"> <img src="assets/images/blue-hrt.png" alt=""> <p>Heart</p> </div> </div> </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="tlBrBox"> <div class="tlBrBoxRnd"> <div class="tlBrBoxRndInner"> <img src="assets/images/green-hrt.png" alt=""> <p>Heart</p> </div> </div> </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="tlBrBox"> <div class="tlBrBoxRnd"> <div class="tlBrBoxRndInner"> <img src="assets/images/blue-hrt.png" alt=""> <p>Heart</p> </div> </div> </div>
            </ng-template> 
            <ng-template carouselSlide>
                <div class="tlBrBox"> <div class="tlBrBoxRnd"> <div class="tlBrBoxRndInner"> <img src="assets/images/green-hrt.png" alt=""> <p>Heart</p> </div> </div> </div>
            </ng-template> 
            <ng-template carouselSlide>
                <div class="tlBrBox"> <div class="tlBrBoxRnd"> <div class="tlBrBoxRndInner"> <img src="assets/images/blue-hrt.png" alt=""> <p>Heart</p> </div> </div> </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="tlBrBox"> <div class="tlBrBoxRnd"> <div class="tlBrBoxRndInner"> <img src="assets/images/green-hrt.png" alt=""> <p>Heart</p> </div> </div> </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="tlBrBox"> <div class="tlBrBoxRnd"> <div class="tlBrBoxRndInner"> <img src="assets/images/blue-hrt.png" alt=""> <p>Heart</p> </div> </div> </div>
            </ng-template>
        </owl-carousel-o>
    </div>
    <div class="tstMidSec">
        <div class="tstLst">
            <ul>
                <li class="active">Organ Wise</li>
                <li>Condition Wise</li>
            </ul>
        </div>
        <div class="testListSec">
            <h2>Packages list</h2>
            <ul>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
            </ul>
            <div class="peginationn">
                <div class="showPage">Showing 25 - 40 of 1500</div>
                <div class="pegiSec">
                    <div class="pegiSecPrev"></div>
                    <div class="pegiSecNum">1</div>
                    <div class="pegiSecNum">2</div>
                    <div class="pegiSecNum">3</div>
                    <div class="pegiSecNum">4</div>
                    <div class="pegiSecNum">5</div>
                    <div class="pegiSecNum">6</div>
                    <div class="pegiDot"><img src="assets/images/dot.png" alt="" ></div>
                    <div class="pegiSecNum">98</div>
                    <div class="pegiSecNext"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

