<app-header></app-header>
<div class="aaBody">
    <div class="aaTopSec">
        <h1>Awards <span>&</span> Accolades</h1>
        <p style="width: 100%;">Nirnayan is honored to have received recognition and prestigious <b>BEST STARTUP AWARD</b> in 2020 for our
            dedication to excellence in patient care, innovation and clinical outcomes. These accolades are a testament
            to the hard work and dedication of our healthcare professionals and the quality of service we deliver to our
            valued patients. We also extend our sincere appreciation to our patients and their families for entrusting
            us with their healthcare needs. We will continue to strive for excellence, staying at the forefront of
            healthcare innovation, and providing compassionate care that transforms lives.</p> <br>
            <p>Winner of India 500 Start Up Awards 2020</p> <br>

            <h2>Overview :</h2> 
            <p style="width: 100%; margin-top: -10px;">At Nirnayan Healthcare, we take great pride in our commitment to providing exceptional healthcare services to our patients. We are honored to have received recognition and prestigious awards for our dedication to excellence in patient care, innovation, and clinical outcomes.</p>
    </div>
</div>
<div class="aabotSec">
    <div class="aabotSecLft"><img src="assets/images/aa-img.png" alt=""></div>
    <div class="aabotSecSlide">
        <!-- <app-aa-slider></app-aa-slider> -->
        <img src="assets/images/awards.jpeg" alt="">
    </div>
</div>
<app-footer></app-footer>