<div class="departmentBanner">
    <div class="departTop">
        <div class="acreeTopLeft" data-aos="fade-right" data-aos-duration="500" data-aos-delay="500">
            <h1>Departments</h1>
            <p>Lorem Ipsum is a sample text goes here
                Lorem Ipsum is a sample text goes here a
                sample text goes here Lorem Ipsum is a
                sample text goes here Lorem Ipsum
                Lorem Ipsum</p>
        </div>
    </div>
</div>
<div class="departSliderOuter">
    <div class="departSlider">
        <app-depart-slider></app-depart-slider>
    </div>
</div>

<div class="departSliderBot">
    <div class="testAccre">
        <div class="sugestPkg" data-aos="fade-right" data-aos-duration="500" data-aos-delay="500">
            <h2>Specialised Test</h2>
            <mat-accordion>
                <div class="stpRow">
                    <div class="stpBook">Book Now</div>
                    <div class="ylwCrt"><img src="assets/images/cart-green.png" alt=""></div>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header> Test Name </mat-expansion-panel-header>
                        <div class="splText">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis arcu ut dui hendrerit elementum. Ut magna purus, faucibus volutpat nisl at, viverra feugiat tellus. Vivamus tristique posuere nibh non rhoncus. Proin sit amet mauris sed nisi tempus condimentum sed ut felis. Nullam posuere lorem non ipsum sagittis aliquet. Quisque eu rutrum nisi. Morbi eget nisi mauris.</p>
                        </div>
                    </mat-expansion-panel>
                </div>
                <div class="stpRow">
                    <div class="stpBook">Book Now</div>
                    <div class="ylwCrt"><img src="assets/images/cart-green.png" alt=""></div>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header> Test Name </mat-expansion-panel-header>
                        <div class="splText">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis arcu ut dui hendrerit elementum. Ut magna purus, faucibus volutpat nisl at, viverra feugiat tellus. Vivamus tristique posuere nibh non rhoncus. Proin sit amet mauris sed nisi tempus condimentum sed ut felis. Nullam posuere lorem non ipsum sagittis aliquet. Quisque eu rutrum nisi. Morbi eget nisi mauris.</p>
                        </div>
                    </mat-expansion-panel>
                </div>
                <div class="stpRow">
                    <div class="stpBook">Book Now</div>
                    <div class="ylwCrt"><img src="assets/images/cart-green.png" alt=""></div>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header> Test Name </mat-expansion-panel-header>
                        <div class="splText">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis arcu ut dui hendrerit elementum. Ut magna purus, faucibus volutpat nisl at, viverra feugiat tellus. Vivamus tristique posuere nibh non rhoncus. Proin sit amet mauris sed nisi tempus condimentum sed ut felis. Nullam posuere lorem non ipsum sagittis aliquet. Quisque eu rutrum nisi. Morbi eget nisi mauris.</p>
                        </div>
                    </mat-expansion-panel>
                </div>
                <div class="stpRow">
                    <div class="stpBook">Book Now</div>
                    <div class="ylwCrt"><img src="assets/images/cart-green.png" alt=""></div>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header> Test Name </mat-expansion-panel-header>
                        <div class="splText">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis arcu ut dui hendrerit elementum. Ut magna purus, faucibus volutpat nisl at, viverra feugiat tellus. Vivamus tristique posuere nibh non rhoncus. Proin sit amet mauris sed nisi tempus condimentum sed ut felis. Nullam posuere lorem non ipsum sagittis aliquet. Quisque eu rutrum nisi. Morbi eget nisi mauris.</p>
                        </div>
                    </mat-expansion-panel>
                </div>
            </mat-accordion>
        </div>
        <div class="accreBox" data-aos="fade-left" data-aos-duration="500" data-aos-delay="500">
            <h2>Accreditation</h2>
            <div class="accreBoxRow">
                <div class="accreBoxLogoOuter"><div class="accreBoxLogo"><img src="assets/images/nabl.png" alt=""></div></div>
                <div class="accreBoxText">
                    <h3>NABL</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis arcu ut dui hendrerit elementum. Ut magna purus, faucibus volutpat nisl at, viverra feugiat tellus. Vivamus tristique posuere nibh non rhoncus. Proin sit amet mauris sed nisi tempus condimentum sed ut felis.</p>
                </div>
            </div>
            <div class="accreBoxRow">
                <div class="accreBoxLogoOuter"><div class="accreBoxLogo"><img src="assets/images/iso-icon.png" alt=""></div></div>
                <div class="accreBoxText">
                    <h3>ISO</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis arcu ut dui hendrerit elementum. Ut magna purus, faucibus volutpat nisl at, viverra feugiat tellus. Vivamus tristique posuere nibh non rhoncus. Proin sit amet mauris sed nisi tempus condimentum sed ut felis.</p>
                </div>
            </div>
            <div class="accreBoxRow">
                <div class="accreBoxLogoOuter"><div class="accreBoxLogo"><img src="assets/images/icmr.png" alt=""></div></div>
                <div class="accreBoxText">
                    <h3>ICMR</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis arcu ut dui hendrerit elementum. Ut magna purus, faucibus volutpat nisl at, viverra feugiat tellus. Vivamus tristique posuere nibh non rhoncus. Proin sit amet mauris sed nisi tempus condimentum sed ut felis.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="doctorOuter">
        <div class="doctorSec">
            <h2>Doctors</h2>
            <app-doc-slider></app-doc-slider>
        </div>
    </div>
    <div class="qcSec">
        <div class="qcSecLeft">
            <h2>Quality Control</h2>
            <div class="qcSecLeftRow" data-aos="fade-down" data-aos-anchor-placement="bottom-bottom" data-aos-duration="500" data-aos-delay="500">
                <div class="qcSecRowLft"><img src="assets/images/bio-rad.png" alt=""></div>
                <p>Details about the test will be here as a text sample goes here Details about the test will be here as a text sample goes here Details about the test will.</p>
            </div>
            <div class="qcSecLeftRow" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-delay="700">
                <div class="qcSecRowLft"><img src="assets/images/randox.png" alt=""></div>
                <p>Details about the test will be here as a text sample goes here Details about the test will be here as a text sample goes here Details about the test will.</p>
            </div>
            <div class="qcSecLeftRow" data-aos="fade-down" data-aos-anchor-placement="bottom-bottom" data-aos-duration="900" data-aos-delay="900">
                <div class="qcSecRowLft"><img src="assets/images/bio-rad.png" alt=""></div>
                <p>Details about the test will be here as a text sample goes here Details about the test will be here as a text sample goes here Details about the test will. Details about the test will be here as a text sample goes here Details about the test will be here as a text sample goes here Details about the test will.</p>
            </div>
        </div>
        <div class="qcSecRight"><img src="assets/images/gallery-depart.png" alt=""></div>
        <div class="qcSecRightText">Gallery</div>
        <div class="qcg" data-aos="zoom-in-up" data-aos-duration="500" data-aos-delay="500"><img src="assets/images/qc1.jpg" alt=""></div>
        <div class="qcggg" data-aos="flip-right" data-aos-duration="800" data-aos-delay="800"><img src="assets/images/qc2.jpg" alt=""></div>
        <div class="qcgg" data-aos="zoom-in-left" data-aos-duration="900" data-aos-delay="900"><img src="assets/images/qc3.jpg" alt=""></div>
    </div>
    <div class="blgSlidd">
        <h2>Blogs</h2>
        <owl-carousel-o [options]="SlideOptionn">
            <ng-template carouselSlide>
                <div class="blgBox">
                    <div class="slBgIm"><img src="assets/images/bl-slide.jpg" alt=""></div>
                    <div class="slBgTxtt" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="500">
                        <h3>Blogs Title will be here</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia tincidunt tortor, id semper quam iaculis nec. Duis at dui magna. Ut tincidunt imperdiet finibus tincidunt tortor.</p>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="blgBox">
                    <div class="slBgIm"><img src="assets/images/bl-slide.jpg" alt=""></div>
                    <div class="slBgTxtt" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="500">
                        <h3>Blogs Title will be here</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia tincidunt tortor, id semper quam iaculis nec. Duis at dui magna. Ut tincidunt imperdiet finibus tincidunt tortor.</p>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="blgBox">
                    <div class="slBgIm"><img src="assets/images/bl-slide.jpg" alt=""></div>
                    <div class="slBgTxtt" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="500">
                        <h3>Blogs Title will be here</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia tincidunt tortor, id semper quam iaculis nec. Duis at dui magna. Ut tincidunt imperdiet finibus tincidunt tortor.</p>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="blgBox">
                    <div class="slBgIm"><img src="assets/images/bl-slide.jpg" alt=""></div>
                    <div class="slBgTxtt" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="500">
                        <h3>Blogs Title will be here</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia tincidunt tortor, id semper quam iaculis nec. Duis at dui magna. Ut tincidunt imperdiet finibus tincidunt tortor.</p>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="blgBox">
                    <div class="slBgIm"><img src="assets/images/bl-slide.jpg" alt=""></div>
                    <div class="slBgTxtt" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="500">
                        <h3>Blogs Title will be here</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia tincidunt tortor, id semper quam iaculis nec. Duis at dui magna. Ut tincidunt imperdiet finibus tincidunt tortor.</p>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="blgBox">
                    <div class="slBgIm"><img src="assets/images/bl-slide.jpg" alt=""></div>
                    <div class="slBgTxtt" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="500">
                        <h3>Blogs Title will be here</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia tincidunt tortor, id semper quam iaculis nec. Duis at dui magna. Ut tincidunt imperdiet finibus tincidunt tortor.</p>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
    <div class="nlAqSec">
        <div class="nwsLtr">
            <h2>News Letter</h2>
            <div class="nlBox" data-aos="zoom-out-right" data-aos-duration="500" data-aos-delay="500">
                <div class="nlBoxTop">
                    <h3>News Letter Topic will be here <span>Dr. Prasenjit Bhattacharjee, (Lorem Ipsum is a dummy text)</span></h3> 
                    <div class="nlBoxTopRight">Publised <span>29.12.2021</span></div>
                </div>
                <p>Sample text will be here Sample text will be here Sample text will be here Sample text will be here Sample text will be  Sample text will be here Sample text will be here Sample text will be  Sample text will be here</p>
                <a href="#" class="more">Know More</a>
            </div>
            <div class="nlBox" data-aos="zoom-out-left" data-aos-duration="1000" data-aos-delay="1000">
                <div class="nlBoxTop">
                    <h3>News Letter Topic will be here <span>Dr. Prasenjit Bhattacharjee, (Lorem Ipsum is a dummy text)</span></h3> 
                    <div class="nlBoxTopRight">Publised <span>29.12.2021</span></div>
                </div>
                <p>Sample text will be here Sample text will be here Sample text will be here Sample text will be here Sample text will be  Sample text will be here Sample text will be here Sample text will be  Sample text will be here</p>
                <a href="#" class="more">Know More</a>
            </div>
            <div class="nlBox" data-aos="zoom-out-right" data-aos-duration="1500" data-aos-delay="1500">
                <div class="nlBoxTop">
                    <h3>News Letter Topic will be here <span>Dr. Prasenjit Bhattacharjee, (Lorem Ipsum is a dummy text)</span></h3> 
                    <div class="nlBoxTopRight">Publised <span>29.12.2021</span></div>
                </div>
                <p>Sample text will be here Sample text will be here Sample text will be here Sample text will be here Sample text will be  Sample text will be here Sample text will be here Sample text will be  Sample text will be here</p>
                <a href="#" class="more">Know More</a>
            </div>
        </div>
        <div class="querySec">
            <div class="querySecInner">
                <h2>Reach Out Us</h2>
                <form>
                    <div class="fromRow" data-aos="zoom-out-right" data-aos-duration="500" data-aos-delay="500">
                        <label>Name</label>
                        <input type="text">
                    </div>
                    <div class="fromRow" data-aos="zoom-out-left" data-aos-duration="1000" data-aos-delay="1000">
                        <label>Email ID</label>
                        <input type="text">
                    </div>
                    <div class="fromRow" data-aos="zoom-out-right" data-aos-duration="1500" data-aos-delay="1500">
                        <label>Mobile No.</label>
                        <input type="text">
                    </div>
                    <div class="fromRow" data-aos="zoom-out-left" data-aos-duration="2000" data-aos-delay="2000">
                        <label>Enquiry</label>
                        <textarea></textarea>
                    </div>
                    <div class="fromRow" data-aos="flip-left" data-aos-duration="2500" data-aos-delay="2500"><input type="submit" value="Submit"></div>
                </form>
            </div>
        </div>
    </div>
</div>



