<app-header></app-header>
<!-- <div style="background-color: rgba(0,0,0,0.5);" class="loading-spinner" id="loader">
</div> -->
<div class="testTop">
    <div class="testTopInner">
        <div class="tlSlider">
            <owl-carousel-o [options]="SlideOptionn">
                <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/Banner-01.jpg" alt=""></div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/Banner-02.jpg" alt=""></div>
                </ng-template>
                <!-- <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/tl-im3.png" alt=""></div>
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/tl-im.png" alt=""></div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/tl-im2.png" alt=""></div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/tl-im3.png" alt=""></div>
                </ng-template>  -->
            </owl-carousel-o>
        </div>
    </div>
</div>
<div class="tlMiddle extraTest" id="CustomFxd">
    <div class="tlMiddleBr mob otherSc">
        <owl-carousel-o [options]="SlideOption" (changed)="onCarouselChange($event)">
          <ng-container *ngFor="let group of groupList; let i = index">
            <ng-template carouselSlide>
              <div #carouselSlide
                class="tlBrBox"
                [class.activecls]="i === activeSlideIndex"
                (click)="filterTests(group.id, group.group_name, activeGroup, group.tests, i)"
              >
                <div
                  class="tlBrBoxRnd2"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="{{ group.group_name }}"
                >
                  <div class="tlBrBoxRndInner">
                    <img [src]="basePath + group.icon" alt="" />
                  </div>
                </div>
                
                  <p>{{ group.group_name }}</p>
               
                <!-- <div class="testName" *ngIf="activeGroup == 'Condition'">
                  <p class="activecls">{{ group.specialityname }}</p>
                </div> -->
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
      
    <div class="tstMidSec">
        <div class="tstLst">
            <ul>
                <li [ngClass]="{'active': activeGroup == 'Organ'}" (click)="loadOrganWise('Organ')">Organ Wise </li>
                <li [ngClass]="{'active': activeGroup == 'Condition'}" (click)="loadOrganWise('Condition')">Condition Wise 
                </li>
            </ul>
            <div class="testSearch">
                <input type="text" name="" #search (input)="searchFilter(search.value)" autocomplete="on"
                    placeholder="Search">
                <input type="submit" value="" (click)="searchFilter(search.value)">
            </div>
        </div>
        <div class="testListSec">
            <h2>Test lists <span *ngIf="activeGroupName != null"> - {{ activeGroupName }}</span></h2>
            <div *ngIf="testItems?.length > 0; else NoData">
                <div class="d-flex justify-content-around flex-wrap">
                    <ng-container *ngFor="let item of testItems ">
                        <!-- | paginate: { itemsPerPage: 15, currentPage: p }"-->
                        <div class="ppTstList mt-4">
                            <h3 class="tstTitle">{{item.test_name}}</h3>
                            <div class="d-flex align-items-end">
                                <div class="ppTstName">
                                    <ul>
                                        <li>
                                            <h5 class="tstDesc">{{item.description}}</h5>
                                            <a  class="knMr" (click)="detailsPage(item.id,item.test_name)" [routerLink]="'/patient/test-details/'+activeGroupName+'/'+formattedName" target="_blank">Know more...</a>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-baseline availableTst">
                                            <p class="availableTst-para">Available in</p><i
                                                class="fa fa-motorcycle text-success" aria-hidden="true"></i>
                                            <p class="availableTst-para">Home</p><i class="fa fa-flask text-success"
                                                aria-hidden="true"></i>
                                            <p class="availableTst-para">Lab</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="ppTstCart d-flex align-items-center">
                                    <!-- <ul class="ppTstPrice">
                                        <ng-container *ngIf="item.offerPrice != 0; else currentPrice">
                                            <li><span class="strikethrough">₹ {{item.amount}} /-</span></li>
                                            <li>
                                                <h3 class="current-price">₹ {{item.offerPrice}} /-</h3>
                                            </li>
                                        </ng-container>
                                        <ng-template #currentPrice>
                                            <li>
                                                <h3 class="current-price2">₹ {{item.amount}} /-</h3>
                                            </li>
                                        </ng-template>
                                    </ul> -->
                                    <ul class="ppTstPrice">
                                        <li>
                                            <a href="tel:8100726252"><h3 class="current-price2"> Contact us </h3></a>
                                            
                                        </li>
                                    </ul>
                                    <div *ngIf="isLogin == true">
                                        <button type="button" class="btn btn-add-cart"
                                            (click)="addToCart(item.id,'Test',item.offerPrice == 0 || item.offerPrice ==''?item.amount:item.offerPrice)"
                                            alt="" id="liveToastBtn" data-toggle="modal" data-target="#patientModal">Add
                                            to Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div style="text-align: center;  margin-top: 15px;" *ngIf="testItems?.length > 0">
                <small id="nodata" style="margin-bottom: -15px;"></small>
            </div>
            <!-- <div class="text-center mt-4" *ngIf="testItems?.length > 10">
                <button class="btn btn-outline-primary pointer" *ngIf="!isLoading" (click)="loadMoreTest()">Load More..</button>
                <button class="btn btn-primary" type="button" *ngIf="isLoading">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div> -->
            <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
            <!-- <div class="row">
                <div class="col-2" *ngFor="let item of testList">
                    <div class="slBgIm" (click)="blogDetails(item.id)">
                        <img [src]="item.test_image" alt="" style="max-width: 100%;" />
                    </div>
                </div>
            </div> -->
            <ng-template  #NoData>
                <div class="empty_state">
                    <i class="ion-sad-outline"></i>
                    <h3 class="">No Packages</h3>
                    <p>There have been no Package in this section yet</p>
                    <button (click)="refresh()">Back To List</button>
                </div>
            </ng-template>
        </div>
    </div>
</div>

<!-- Patient Modal -->
<div class="modal fade drawer right-align" id="patientModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Select Your Patient Name</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-shared-modal (closeModalEvent)="closeAllModals()"></app-shared-modal>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>