.testTop {
	padding-top: 80px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.tlBrBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: .8125rem;
}
.activecls p {
	color: #254a86;
    /* background-color: #00a746; */
    /* border: .0625rem solid; */
    border-color: #00a746;
    border-radius: .3125rem;
    max-width: 6.875rem;
    height: 1.5625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
    /* text-decoration: underline; */
    font-size: .7rem;
    line-height: 1.25rem;
}
.activecls{
	-webkit-filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.3));
	        filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.3));
	background: #ffffff;
    border-radius: 20px;
	height: 131px;
}
.testTop:after {
	background: url(src/assets/images/aa-right-back.png) left top no-repeat;
	content: "";
	position: absolute;
	top: 210px;
	right: -110px;
	width: 383px;
	height: 490px;
	background-size: 100%;
}
.tstTopSec {
	width: 1170px;
	margin: 0 auto;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	position: relative;
	z-index: 3;
	max-width: 90%;
}
.tlMiddleBr.mob.otherSc .testName {
    bottom: 28px;
}
.tlMiddleBr.mob.otherSc .activecls .testName {
    bottom: 14px;
}
.testSearch {
	width: 320px;
	display: inline-block;
	position: relative;
}
.testSearch input[type="text"] {
	width: 100%;
	border: none;
	padding-right: 70px;
	padding-left: 20px;
	height: 40px;
	border-radius: 15px;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	-o-box-shadow: 0 0 10px rgba(255, 214, 93, 0.5);
	-webkit-box-shadow: 0 0 10px rgb(255 214 93 / 50%);
	        box-shadow: 0 0 10px rgb(255 214 93 / 50%);
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-khtml-transition: all 0.3s linear;
}
.testSearch input[type="submit"] {
	width: 60px;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	height: 40px;
	border-radius: 15px;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	background: #fcdc00 url(src/assets/images/blog-search.png) center center no-repeat;
	background-size: 20px;
}
.fcSecTopSl {
	width: 270px;
	height: 60px;
	position: relative;
	margin-right: 17px;
}
.fcSecTopSl select {
	width: 100%;
	border: none;
	padding-right: 40px;
	padding-left: 15px;
	height: 60px;
	border-radius: 25px;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	-o-box-shadow: 0 0 10px rgba(255, 214, 93, 0.5);
	-webkit-box-shadow: 0 0 10px rgb(255, 214, 93, 0.5);
	        box-shadow: 0 0 10px rgb(255, 214, 93, 0.5);
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-khtml-transition: all 0.3s linear;
}
.fcSecTopSl:after {
	content: "";
	position: absolute;
	display: inline-block;
	pointer-events: none;
	background: #fff url(src/assets/images/drop.jpg) left center no-repeat;
	width: 44px;
	height: 56px;
	top: 2px;
	right: 2px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}
.testTopInner {
	position: relative;
	padding-bottom: 100px;
	padding-top: 5px;
	display: block;
}
.testTopInner:before {
	content: "";
	position: absolute;
	z-index: 2;
	left: 0;
	top: -145px;
	background: url(src/assets/images/about-back-top.png) left top no-repeat;
	width: 840px;
	height: 340px;
	display: inline-block;
	background-size: 100%;
}
.testTopInner:after {
	content: "";
	position: absolute;
	z-index: 2;
	right: 0;
	bottom: 0;
	background: url(src/assets/images/doctor-right-curve.png) left top no-repeat;
	width: 681px;
	height: 330px;
	display: inline-block;
	background-size: 100%;
}
.tlCol,
.tlCol img {
	max-width: 100%;
}
.tlSlider {
	width: 1200px;
	margin: 0 auto;
	max-width: 90%;
}
.tlMiddle {
	margin-top: -80px;
	padding-bottom: 120px;
	position: relative;
	z-index: 2;
}
.tlMiddleBr {
	width: 1750px;
	max-width: 90%;
	margin: 0 auto;
	padding: 10px 30px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 25px;
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.tlMiddleBr.fxd {
	position: fixed;
	z-index: 2;
	top: 111px;
	width: 90%;
	left: 5%;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.9);
}
.tstLst {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 15px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.tstLst ul {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.tstLst ul li {
	width: 140px;
	font-family: Poppins, sans-serif !important;
	color: #797984;
	margin-right: 15px;
	font-size: 12px;
	line-height: 14px;
	padding: 0;
	font-weight: 600;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 40px;
	background-color: #fff;
	border-radius: 7px;
	border: 2px solid #047835;
}
.tstLst ul li.active {
	background-color: #047835;
	color: #fff;
	font-weight: 700;
	border: 2px solid #a6c138;
	color: #fff;
	-webkit-box-shadow: 0 0 18px rgba(247, 160, 31, 0.7);
	        box-shadow: 0 0 18px rgba(247, 160, 31, 0.7);
	cursor: pointer;
	border: 3px solid #fff;
	position: relative;
}
/* .tstLst ul li.active:before {
    width: 577px;
    content: "";
    height: 230px;
    border-radius: 134px;
    background: rgba(255, 255, 255, 0.05);
    position: absolute;
    right: 30px;
    top: -139px;
    transform: rotate(-9deg);
    -webkit-transform: rotate(-9deg);
    -moz-transform: rotate(-9deg);
    -o-transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);
    transition: all ease-in-out 0.5s;
} */
.tstLst.fxdd {
	position: fixed;
	top: 170px;
	left: 5%;
	width: 90%;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 25px;
	padding: 10px 14px;
	margin-top: 0;
	z-index: 2;
}
.tstLst.fxdd ul {
	display: inline-block;
	width: auto;
}
.tstLst.fxdd ul li {
	width: 150px;
	margin-right: 15px;
	font-size: 14px;
	height: 40px;
}
.tstMidSec {
	width: 1750px;
	max-width: 90%;
	margin: 0 auto;
}
.testListSec {
	margin-top: 30px;
}
.tlWhiteBox {
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
	padding: 12px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
	        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
	background: #fff;
	border-radius: 20px;
	border-top-left-radius: 80px;
	border-bottom-right-radius: 120px;
}
.tlWhiteBox h4 {
	font-family: Poppins, sans-serif !important;
	color: #484d46;
	font-size: 15px;
	line-height: normal;
	padding: 0;
	font-weight: 700;
	margin: 5px 0 0 72px;
}
.tsListButton {
	width: 100%;
	height: 52px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #047835;
	border-top-left-radius: 100px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 20px;
	overflow: hidden;
	margin-top: 15px;
}
.tsListButtonAtc {
	width: 50%;
	cursor: pointer;
	height: 100%;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	background-color: #fcdc00;
	border-radius: 22px;
	border-bottom-left-radius: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-family: Poppins, sans-serif !important;
	color: #047835;
	font-size: 15px;
	line-height: normal;
	padding: 0;
	font-weight: 600;
	margin: 0;
	-o-box-shadow: 2px 1px 14px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 2px 1px 14px rgba(0, 0, 0, .5);
	        box-shadow: 2px 1px 14px rgba(0, 0, 0, .5);
	transition: all ease-in-out 0.5s;
	-moz-transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
	-khtml-transition: all ease-in-out 0.5s;
}
.tsListButtonAtc:hover {
	color: #555;
	width: 70%;
}
.tsListButtonBn {
	width: 50%;
	cursor: pointer;
	height: 100%;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	border-radius: 30px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-family: Poppins, sans-serif !important;
	color: #fff;
	font-size: 15px;
	line-height: normal;
	padding: 0;
	font-weight: 600;
	margin: 0;
	transition: all ease-in-out 0.5s;
	-moz-transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
	-khtml-transition: all ease-in-out 0.5s;
}
.tsListButtonBn:hover {
	color: #fcdc00;
	width: 70%;
}
.peginationn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 80px;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.showPage {
	font-family: Poppins, sans-serif !important;
	color: #7f7e6e;
	font-size: 17px;
	line-height: normal;
	padding: 0;
	font-weight: 400;
	margin: 0 20px 0 0;
}
.pegiSec {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.pegiSecPrev {
	width: 40px;
	cursor: pointer;
	height: 41px;
	position: relative;
	border: 2px solid #b4bd00;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 50%;
	border-bottom-right-radius: 0;
	transition: all ease-in-out 0.5s;
	-moz-transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
	-khtml-transition: all ease-in-out 0.5s;
}
.pegiSecPrev:before {
	border: solid #969a98;
	top: 14px;
	left: 16px;
	position: absolute;
	content: "";
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 4px;
	-ms-transform: rotate(135deg);
	    transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transition: all ease-in-out 0.5s;
	-moz-transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
	-khtml-transition: all ease-in-out 0.5s;
}
.pegiSecNum {
	width: 40px;
	cursor: pointer;
	height: 41px;
	transition: all ease-in-out 0.5s;
	-moz-transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
	-khtml-transition: all ease-in-out 0.5s;
	font-family: Poppins, sans-serif !important;
	color: #7f7e6e;
	font-size: 17px;
	line-height: 17px;
	padding: 2px 0 0;
	font-weight: 600;
	border: 2px solid #b4bd00;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin: 0 7px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 50%;
	border-bottom-right-radius: 0;
}
.pegiDot {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin: 0 7px;
}
.pegiSecNext {
	width: 40px;
	height: 41px;
	cursor: pointer;
	position: relative;
	border: 2px solid #b4bd00;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 50%;
	border-bottom-right-radius: 0;
	transition: all ease-in-out 0.5s;
	-moz-transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
	-khtml-transition: all ease-in-out 0.5s;
}
.pegiSecNext:before {
	border: solid #969a98;
	top: 14px;
	left: 11px;
	position: absolute;
	content: "";
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 4px;
	-ms-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transition: all ease-in-out 0.5s;
	-moz-transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
	-khtml-transition: all ease-in-out 0.5s;
}
.pegiSecNum:hover,
.pegiSecPrev:hover,
.pegiSecNext:hover {
	background-color: #b4bd00;
	color: #fff;
}
.pegiSecPrev:hover:before,
.pegiSecNext:hover:before {
	border: solid #fff;
	border-width: 0 3px 3px 0;
}
.tlMiddle.scrll {
	padding-top: 300px;
	position: relative;
}
.tlMiddle.scrll:before {
	width: 100%;
	z-index: 2;
	top: 0;
	left: 0;
	height: 230px;
	background-color: #fffae6;
	position: fixed;
	content: "";
	display: block;
}
.tstTopSec.fixx {
	width: auto;
	position: fixed;
	top: 210px;
	right: 5%;
}
.tstTopSec.fixx .testSearch {
	margin-right: 20px;
}
.tstTopSec.fixx .testSearch {
	width: 320px;
}
.tstTopSec.fixx .testSearch input[type="text"] {
	height: 39px;
	padding-right: 92px;
	padding-left: 30px;
}
.tstTopSec.fixx .testSearch input[type="submit"] {
	width: 90px;
	height: 40px;
	background-size: 23px;
}
.tstTopSec.fixx .fcSecTopSl select {
	height: 39px;
}
.tstTopSec.fixx .fcSecTopSl:after {
	height: 36px;
}
.tstTopSec.fixx .fcSecTopSl {
	width: 210px;
	height: 39px;
}
.tlBrBox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: .8125rem;
}
.ppTstList {
	-webkit-box-shadow: -1.414px 1.414px 24px 0px rgb(124 124 121 / 72%);
	        box-shadow: -1.414px 1.414px 24px 0px rgb(124 124 121 / 72%);
	border-radius: 20px;
	background-color: #fff;
	width: 464px;
	position: relative;
	overflow: hidden;
}
.ppTstList::after {
	content: "";
	background: url(../../../assets/images/Colour-patch.png) right top no-repeat;
	height: 54px;
	width: 73px;
	top: 0;
	left: 0;
	position: absolute;
}
.ppTstList::before {
	content: "";
	background: url(../../../assets/images/Colour-patch2.png) right top no-repeat;
	height: 71px;
	width: 100px;
	bottom: 0;
	right: 0;
	position: absolute;
}
.ppTstName {
	width: 45%;
}
.ppTstName ul {
	margin-bottom: 0;
}
.ppTstCart {
	width: 55%;
	position: relative;
	top: -40px;
	left: 0;
}
.tstTitle {
	font-size: 19px;
	font-family: 'Poppins', sans-serif !important;
	color: rgb(37, 74, 127);
	line-height: 1.2;
	margin-top: 10px;
	margin-left: 22px;
	font-weight: 500;
}
.tstDesc {
	font-size: 14px;
	font-family: 'Poppins', sans-serif !important;
	color: rgb(32, 32, 32);
	line-height: 1.2;
	margin-top: -5px;
	margin-left: 24px;
	font-weight: 500;
	height: 34px;
	overflow: hidden;
	margin-bottom: 0;
}
.availableTst {
	margin-top: 7px;
	margin-left: 22px;
	margin-right: -25px;
}
.availableTst i {
	font-size: 12px;
}
.availableTst-para {
	font-size: 15px;
	font-family: 'Poppins', sans-serif !important;
	color: rgb(32, 32, 32);
	line-height: 1.2;
	font-weight: 500;
}
.ppTstPrice {
	width: 110px;
	height: 54px;
	margin: 0px 12px;
}
.strikethrough {
	font-size: 20px;
	font-family: 'Roboto';
	color: rgb(37, 74, 127);
	line-height: 1.2;
	margin-left: 12px;
	position: relative;
}
.strikethrough:before {
	position: absolute;
	content: "";
	left: 0;
	top: 50%;
	right: 0;
	border-top: 2px solid #dd0031 !important;
	border-color: inherit;
	-webkit-transform: rotate(348deg);
	-ms-transform: rotate(348deg);
	transform: rotate(348deg);
}
.current-price {
	font-size: 26px;
	font-family: "Roboto" !important;
	color: rgb(37, 74, 127);
	line-height: 1.2;
	margin-top: 0px;
	font-weight: 500;
}
.current-price2 {
	font-size: 16px;
	font-family: "Roboto" !important;
	color: rgb(11 155 228);
	line-height: 1.2;
	margin-top: 13px;
	font-weight: 500;
	text-decoration: underline;
}
.btn-add-cart {
	border-radius: 7px;
	background-color: transparent;
	width: 96px;
	height: 40px;
	color: rgb(4 120 53);
	border: 2px solid rgb(4 120 53);
	font-size: 12px;
	margin: 0 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.btn-add-cart:hover,
.btn-add-cart:active {
	border: 2px solid rgb(7 76 36);
	background-color: rgb(17 127 63);
	color: rgb(255, 255, 255);
}
.knMr {
	font-size: 13px;
	font-family: 'Poppins', sans-serif !important;
	color: rgb(27 137 163);
	line-height: 1.2;
	margin-top: -5px;
	margin-left: 24px;
	font-weight: 700;
	cursor: pointer;
}
.tlMiddle.extraTest.scrll .tlMiddleBr.mob.fxd .owl-carousel.owl-drag .owl-item{
height: auto;
}
.tlMiddle.extraTest.scrll .tlBrBoxRnd2 {
    border-radius: 50%;
    width: 40px;
    height: 40px;
	margin: 0;
}
.tlMiddle.extraTest.scrll .tlMiddleBr.mob.otherSc.fxd .tlBrBox{
	height: 71px;
    width: 99px;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 0;
}
.tlMiddle.extraTest.scrll .tlBrBoxRnd2:before{
	display: none;
}
@media (max-width: 1600px) {
	.mt-4 {
		margin-top: 10px !important;
	}
	.ppTstList {
		-webkit-box-shadow: -1.414px 1.414px 24px 0px rgba(224, 196, 112, 0.72);
		        box-shadow: -1.414px 1.414px 24px 0px rgba(224, 196, 112, 0.72);
		border-radius: 20px;
		background-color: #fff;
		width: 430px;
		position: relative;
		margin: 10px 0;
	}
	.tstTitle {
		font-size: 15px;
		font-family: 'Poppins', sans-serif !important;
		color: rgb(37, 74, 127);
		line-height: 1.2;
		margin-top: 10px;
		margin-left: 24px;
		font-weight: 500;
	}
	.tstDesc {
		font-size: 12px;
		margin-top: -12px;
		margin-left: 24px;
		margin-right: -19px;
		font-weight: 500;
		height: 30px;
		margin-bottom: -3px;
	}
	.ppTstName ul {
		margin-bottom: 0;
	}
	.availableTst p {
		font-size: 12px !important;
		font-weight: 500;
	}
	.strikethrough {
		font-size: 14px;
		font-family: 'roboto', sans-serif !important;
		color: rgb(37, 74, 127);
		line-height: 1.2;
		margin-left: 34px;
		position: relative;
	}
	.pTest:hover {
		background-color: #fff;
		color: #047835 !important;
		margin-right: 60px;
		color: #047835;
		border: 3px solid #047835;
		-webkit-box-shadow: 0 0 5px rgba(247, 160, 31, 0);
		-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
		box-shadow: 0 0 18px rgba(247, 160, 31, 0);
		-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
	}
	.current-price {
		font-size: 14px !important;
		font-family: "Roboto" !important;
		color: rgb(37, 74, 127);
		line-height: 1.2;
		margin-top: 0px;
		font-weight: 500;
		margin-left: 34px;
	}
	.current-price2 {
		font-size: 14px !important;
		font-family: "Roboto" !important;
		line-height: 1.2;
		margin-top: 10px;
		margin-right: -10px;
		font-weight: 500;
		margin-left: 34px;
	}
	.btn-add-cart {
		border-radius: 5px;
		width: 80px;
		height: 34px;
		margin: -22px 10px;
		font-size: 11px;
	}
	.ppTstPrice {
		width: 110px;
		height: 54px;
		margin: 4px 12px;
	}
	.slRedBox {
		width: 140px;
		height: 150px;
		border-radius: 35px;
		border-bottom-right-radius: 30px;
		padding: 12px 10px 0 12px;
	}
	.slRedBoxText h3 {
		font-size: 13px;
	}
	.slRedBoxText p {
		font-size: 11px;
		margin: 6px 0 0;
		line-height: 14px;
	}
	.slRedBoxText {
		height: 125px;
	}
	.pTest,
	.pPkg,
	.pTest-inactive,
	.pPkg-active {
		width: 170px;
		height: 40px;
		font-size: 12px;
		border-radius: 10px;
		border-bottom-right-radius: 0px;
	}
	.pPkg,
	.pPkg-active {
		border-radius: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 0px;
	}
	.sliderBottomSec {
		width: 280px;
		margin-left: -140px;
		left: 50%;
	}
	.pTest,
	.pTest-inactive {
		margin-right: 10px;
	}
	.pPkg {
		margin-right: 0;
	}
	.slRedBoxText span.knMr {
		font-size: 12px;
		line-height: 16px;
		left: 14px;
		bottom: 5px;
	}
	.slRedBoxText .text-white {
		width: 115px;
	}
	.availableTst i {
		font-size: 8px;
	}
	.availableTst {
		margin-top: 4px;
		margin-left: 24px;
		margin-right: -25px !important;
	}
	.ppTstCart {
		width: 55%;
		position: relative;
		top: -16px;
		left: 0;
	}
	.knMr {
		font-size: 11px;
		font-family: 'Poppins', sans-serif !important;
		line-height: 1.2;
		margin-top: -5px;
		margin-left: 24px;
		font-weight: 500;
		height: 26px;
	}
	.ppTstList::before {
		height: 47px;
		width: 54px;
		background-size: cover;
	}
}
.testName {
    position: absolute;
    bottom: 2px;
}
.tstMidSec {
    margin: 1rem auto;
}
.tstLst.fxdd {
    top: 258px;
}
.tlMiddleBr.mob.fxd .owl-stage-outer{
padding-bottom: 30px;
}
.current-price2,
.current-price3
{
	background-image: url('../../../assets/images/call.png');
	background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0px;
    padding-left: 32px;
    text-decoration: none;
    color: #1b89a3;
    font-weight: bold;
}
@media screen and (max-width:1366px) {
	.mt-4 {
		margin-top: 10px !important;
	}
	.ppTstList {
		-webkit-box-shadow: -1.414px 1.414px 24px 0px rgba(224, 196, 112, 0.72);
		        box-shadow: -1.414px 1.414px 24px 0px rgba(224, 196, 112, 0.72);
		border-radius: 20px;
		background-color: #fff;
		width: 350px;
		position: relative;
		margin: 10px 0;
	}
	.tstTitle {
		font-size: 14px !important;
		font-family: 'Poppins', sans-serif !important;
		color: rgb(37, 74, 127);
		line-height: 1.2;
		margin-top: 10px;
		margin-left: 24px;
		font-weight: 500;
	}
	.tstDesc {
		font-size: 11px;
		margin-top: -12px;
		margin-left: 24px;
		margin-right: -19px;
		font-weight: 500;
		height: 26px;
		margin-bottom: -3px;
	}
	.ppTstName ul {
		margin-bottom: 0;
	}
	.availableTst p {
		font-size: 10px !important;
		font-weight: 500;
	}
	.strikethrough {
		font-size: 12px;
		font-family: 'Roboto', sans-serif !important;
		color: rgb(37, 74, 127);
		line-height: 1.2;
		margin-left: 18px;
		position: relative;
		margin-right: -16px;
	}
	.pTest:hover {
		background-color: #fff;
		color: #047835 !important;
		margin-right: 60px;
		color: #047835;
		border: 3px solid #047835;
		-webkit-box-shadow: 0 0 5px rgba(247, 160, 31, 0);
		-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
		box-shadow: 0 0 18px rgba(247, 160, 31, 0);
		-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
	}
	.current-price {
		font-size: 13px !important;
		font-family: "Roboto" !important;
		color: rgb(37, 74, 127);
		line-height: 1.2;
		margin-top: 0px;
		font-weight: 500;
		margin-left: 17px;
		margin-right: -26px;
	}
	.current-price2 {
		font-size: 16px !important;
		font-family: "Roboto" !important;
		line-height: 1.2;
		margin-top: 12px;
		margin-right: -26px;
		font-weight: 500;
		margin-left: 15px;
	}
	.btn-add-cart {
		border-radius: 5px;
		width: 80px;
		height: 34px;
		margin: -22px 10px;
		font-size: 11px;
	}
	.ppTstPrice {
		width: 110px;
		height: 54px;
		margin: 0px 12px;
	}
	.slRedBox {
		width: 140px;
		height: 150px;
		border-radius: 35px;
		border-bottom-right-radius: 30px;
		padding: 12px 10px 0 12px;
	}
	.slRedBoxText h3 {
		font-size: 13px;
	}
	.slRedBoxText p {
		font-size: 11px;
		margin: 6px 0 0;
		line-height: 14px;
	}
	.slRedBoxText {
		height: 125px;
	}
	.pTest,
	.pPkg,
	.pTest-inactive,
	.pPkg-active {
		width: 170px;
		height: 40px;
		font-size: 12px;
		border-radius: 10px;
		border-bottom-right-radius: 0px;
	}
	.pPkg,
	.pPkg-active {
		border-radius: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 0px;
	}
	.sliderBottomSec {
		width: 280px;
		margin-left: -140px;
		left: 50%;
	}
	.pTest,
	.pTest-inactive {
		margin-right: 10px;
	}
	.pPkg {
		margin-right: 0;
	}
	.slRedBoxText span.knMr {
		font-size: 12px;
		line-height: 16px;
		left: 14px;
		bottom: 5px;
	}
	.slRedBoxText .text-white {
		width: 115px;
	}
	.availableTst i {
		font-size: 8px;
	}
	.availableTst {
		margin-top: 4px;
		margin-left: 24px;
		margin-right: -25px !important;
	}
	.ppTstCart {
		width: 55%;
		position: relative;
		top: -16px;
		left: 0;
	}
	.knMr {
		font-size: 11px;
		font-family: 'Poppins', sans-serif !important;
		line-height: 1.2;
		margin-top: -5px;
		margin-left: 24px;
		font-weight: 500;
		height: 26px;
	}
	.ppTstList::before {
		height: 47px;
		width: 54px;
		background-size: cover;
	}
}
@media (max-width: 1299px) {
	.mt-4 {
		margin-top: 10px !important;
	}
	.ppTstList {
		-webkit-box-shadow: -1.414px 1.414px 24px 0px rgba(224, 196, 112, 0.72);
		        box-shadow: -1.414px 1.414px 24px 0px rgba(224, 196, 112, 0.72);
		border-radius: 20px;
		background-color: #fff;
		width: 350px;
		position: relative;
		margin: 10px 0;
	}
	.tstTitle {
		font-size: 14px;
		font-family: 'Poppins', sans-serif !important;
		color: rgb(37, 74, 127);
		line-height: 1.2;
		margin-top: 10px;
		margin-left: 24px;
		font-weight: 500;
	}
	.tstDesc {
		font-size: 11px;
		margin-top: -12px;
		margin-left: 24px;
		margin-right: -19px;
		font-weight: 500;
		height: 26px;
		margin-bottom: -3px;
	}
	.ppTstName ul {
		margin-bottom: 0;
	}
	.availableTst p {
		font-size: 11px !important;
		font-weight: 500;
	}
	.strikethrough {
		font-size: 10px;
		font-family: 'Poppins', sans-serif !important;
		color: rgb(37, 74, 127);
		line-height: 1.2;
		margin-left: 17px;
		position: relative;
	}
	.pTest:hover {
		background-color: #fff;
		color: #047835 !important;
		margin-right: 60px;
		color: #047835;
		border: 3px solid #047835;
		-webkit-box-shadow: 0 0 5px rgba(247, 160, 31, 0);
		-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
		box-shadow: 0 0 18px rgba(247, 160, 31, 0);
		-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
	}
	.current-price {
		font-size: 14px !important;
		font-family: "Roboto" !important;
		color: rgb(37, 74, 127);
		line-height: 1.2;
		margin-top: 0px;
		font-weight: 500;
		margin-left: 17px;
	}
	.current-price2 {
		font-size: 14px !important;
		font-family: "Roboto" !important;
		line-height: 1.2;
		margin-top: 15px;
		margin-right: -10px;
		font-weight: 500;
		margin-left: 17px;
	}
	.btn-add-cart {
		border-radius: 5px;
		width: 80px;
		height: 34px;
		margin: -22px 10px;
	}
	.ppTstPrice {
		width: 110px;
		height: 54px;
		margin: 0px 12px;
	}
	.slRedBox {
		width: 140px;
		height: 150px;
		border-radius: 35px;
		border-bottom-right-radius: 30px;
		padding: 12px 10px 0 12px;
	}
	.slRedBoxText h3 {
		font-size: 13px;
	}
	.slRedBoxText p {
		font-size: 11px;
		margin: 6px 0 0;
		line-height: 14px;
	}
	.slRedBoxText {
		height: 125px;
	}
	.pTest,
	.pPkg,
	.pTest-inactive,
	.pPkg-active {
		width: 170px;
		height: 40px;
		font-size: 12px;
		border-radius: 10px;
		border-bottom-right-radius: 0px;
	}
	.pPkg,
	.pPkg-active {
		border-radius: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 0px;
	}
	.sliderBottomSec {
		width: 280px;
		margin-left: -140px;
		left: 50%;
	}
	.pTest,
	.pTest-inactive {
		margin-right: 10px;
	}
	.pPkg {
		margin-right: 0;
	}
	.slRedBoxText span.knMr {
		font-size: 12px;
		line-height: 16px;
		left: 14px;
		bottom: 5px;
	}
	.slRedBoxText .text-white {
		width: 115px;
	}
	.availableTst i {
		font-size: 8px;
	}
	.availableTst {
		margin-top: 4px;
		margin-left: 24px;
		margin-right: -25px !important;
	}
	.ppTstCart {
		width: 55%;
		position: relative;
		top: -16px;
		left: 0;
	}
	.knMr {
		font-size: 11px;
		font-family: 'Poppins', sans-serif !important;
		line-height: 1.2;
		margin-top: -5px;
		margin-left: 24px;
		font-weight: 500;
		height: 26px;
	}
	.ppTstList::before {
		height: 47px;
		width: 54px;
		background-size: cover;
	}
}
@media (max-width: 1099px) {
	.mt-4 {
		margin-top: 10px !important;
	}
	.ppTstList {
		-webkit-box-shadow: -1.414px 1.414px 24px 0px rgba(224, 196, 112, 0.72);
		        box-shadow: -1.414px 1.414px 24px 0px rgba(224, 196, 112, 0.72);
		border-radius: 20px;
		background-color: #fff;
		width: 350px;
		position: relative;
		margin: 10px 0;
	}
	.tstTitle {
		font-size: 14px;
		font-family: 'Poppins', sans-serif !important;
		color: rgb(37, 74, 127);
		line-height: 1.2;
		margin-top: 10px;
		margin-left: 24px;
		font-weight: 500;
	}
	.tstDesc {
		font-size: 11px;
		margin-top: -12px;
		margin-left: 24px;
		margin-right: -19px;
		font-weight: 500;
		height: 26px;
		margin-bottom: -3px;
	}
	.ppTstName ul {
		margin-bottom: 0;
	}
	.availableTst p {
		font-size: 9px !important;
		font-weight: 500;
	}
	.strikethrough {
		font-size: 10px;
		font-family: 'Poppins', sans-serif !important;
		color: rgb(37, 74, 127);
		line-height: 1.2;
		margin-left: 17px;
		position: relative;
	}
	.pTest:hover {
		background-color: #fff;
		color: #047835 !important;
		margin-right: 60px;
		color: #047835;
		border: 3px solid #047835;
		-webkit-box-shadow: 0 0 5px rgba(247, 160, 31, 0);
		-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
		box-shadow: 0 0 18px rgba(247, 160, 31, 0);
		-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
	}
	.current-price {
		font-size: 14px !important;
		font-family: "Roboto" !important;
		color: rgb(37, 74, 127);
		line-height: 1.2;
		margin-top: 0px;
		font-weight: 500;
		margin-left: 17px;
	}
	.current-price2 {
		font-size: 14px !important;
		font-family: "Roboto" !important;
		line-height: 1.2;
		margin-top: 15px;
		margin-right: -10px;
		font-weight: 500;
		margin-left: 17px;
	}
	.btn-add-cart {
		border-radius: 5px;
		width: 80px;
		height: 34px;
		margin: -22px 10px;
	}
	.ppTstPrice {
		width: 110px;
		height: 54px;
		margin: 0px 12px;
	}
	.slRedBox {
		width: 140px;
		height: 150px;
		border-radius: 35px;
		border-bottom-right-radius: 30px;
		padding: 12px 10px 0 12px;
	}
	.slRedBoxText h3 {
		font-size: 13px;
	}
	.slRedBoxText p {
		font-size: 11px;
		margin: 6px 0 0;
		line-height: 14px;
	}
	.slRedBoxText {
		height: 125px;
	}
	.pTest,
	.pPkg,
	.pTest-inactive,
	.pPkg-active {
		width: 170px;
		height: 40px;
		font-size: 12px;
		border-radius: 10px;
		border-bottom-right-radius: 0px;
	}
	.pPkg,
	.pPkg-active {
		border-radius: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 0px;
	}
	.sliderBottomSec {
		width: 280px;
		margin-left: -140px;
		left: 50%;
	}
	.pTest,
	.pTest-inactive {
		margin-right: 10px;
	}
	.pPkg {
		margin-right: 0;
	}
	.slRedBoxText span.knMr {
		font-size: 12px;
		line-height: 16px;
		left: 14px;
		bottom: 5px;
	}
	.slRedBoxText .text-white {
		width: 115px;
	}
	.availableTst i {
		font-size: 8px;
	}
	.availableTst {
		margin-top: 4px;
		margin-left: 24px;
		margin-right: -25px !important;
	}
	.ppTstCart {
		width: 55%;
		position: relative;
		top: -16px;
		left: 0;
	}
	.knMr {
		font-size: 11px;
		font-family: 'Poppins', sans-serif !important;
		line-height: 1.2;
		margin-top: -5px;
		margin-left: 24px;
		font-weight: 500;
		height: 26px;
	}
	.ppTstList::before {
		height: 47px;
		width: 54px;
		background-size: cover;
	}
}
@media (max-width: 479px) {
	.mt-4 {
		margin-top: 10px !important;
	}
	.ppTstList {
		-webkit-box-shadow: -1.414px 1.414px 24px 0px rgba(224, 196, 112, 0.72);
		        box-shadow: -1.414px 1.414px 24px 0px rgba(224, 196, 112, 0.72);
		border-radius: 20px;
		background-color: #fff;
		width: 100%;
		position: relative;
		margin: 10px 0;
		top: 0;
		left: 50%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
	.tstTitle {
		font-size: 14px;
		font-family: 'Poppins', sans-serif !important;
		color: rgb(37, 74, 127);
		line-height: 1.2;
		margin-top: 10px;
		margin-left: 27px;
		font-weight: 500;
	}
	.tstDesc {
		font-size: 11px;
		margin-top: -12px;
		margin-left: 24px;
		margin-right: -19px;
		font-weight: 500;
		height: 26px;
		margin-bottom: -3px;
	}
	.ppTstName ul {
		margin-bottom: 0;
	}
	.availableTst p {
		font-size: 9px !important;
		font-weight: 500;
	}
	.strikethrough {
		font-size: 10px;
		font-family: 'Poppins', sans-serif !important;
		color: rgb(37, 74, 127);
		line-height: 1.2;
		margin-left: 17px;
		position: relative;
	}
	.pTest:hover {
		background-color: #fff;
		color: #047835 !important;
		margin-right: 60px;
		color: #047835;
		border: 3px solid #047835;
		-webkit-box-shadow: 0 0 5px rgba(247, 160, 31, 0);
		-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
		box-shadow: 0 0 18px rgba(247, 160, 31, 0);
		-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
	}
	.current-price {
		font-size: 14px !important;
		font-family: "Roboto" !important;
		color: rgb(37, 74, 127);
		line-height: 1.2;
		margin-top: 0px;
		font-weight: 500;
		margin-left: 17px;
	}
	.current-price2 {
		font-size: 14px !important;
		font-family: "Roboto" !important;
		line-height: 1.2;
		margin-top: 15px;
		margin-right: -10px;
		font-weight: 500;
		margin-left: 0;
	}
	.btn-add-cart {
		border-radius: 5px;
		width: 80px;
		height: 34px;
		margin: -22px 10px;
	}
	.ppTstPrice {
		width: 110px;
		height: 54px;
		margin: 0px 12px;
	}
	.slRedBox {
		width: 140px;
		height: 150px;
		border-radius: 35px;
		border-bottom-right-radius: 30px;
		padding: 12px 10px 0 12px;
	}
	.slRedBoxText h3 {
		font-size: 13px;
	}
	.slRedBoxText p {
		font-size: 11px;
		margin: 6px 0 0;
		line-height: 14px;
	}
	.slRedBoxText {
		height: 125px;
	}
	.pTest,
	.pPkg,
	.pTest-inactive,
	.pPkg-active {
		width: 170px;
		height: 40px;
		font-size: 12px;
		border-radius: 10px;
		border-bottom-right-radius: 0px;
	}
	.pPkg,
	.pPkg-active {
		border-radius: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 0px;
	}
	.sliderBottomSec {
		width: 280px;
		margin-left: -140px;
		left: 50%;
	}
	.pTest,
	.pTest-inactive {
		margin-right: 10px;
	}
	.pPkg {
		margin-right: 0;
	}
	.slRedBoxText span.knMr {
		font-size: 12px;
		line-height: 16px;
		left: 14px;
		bottom: 5px;
	}
	.slRedBoxText .text-white {
		width: 115px;
	}
	.availableTst i {
		font-size: 8px;
	}
	.availableTst {
		margin-top: 4px;
		margin-left: 24px;
		margin-right: -25px !important;
	}
	.ppTstCart {
		width: 55%;
		position: relative;
		top: -16px;
		left: 0;
	}
	.knMr {
		font-size: 11px;
		font-family: 'Poppins', sans-serif !important;
		line-height: 1.2;
		margin-top: -5px;
		margin-left: 24px;
		font-weight: 500;
		height: 26px;
	}
	.ppTstList::before {
		height: 47px;
		width: 54px;
		background-size: cover;
	}
}
@media (max-width: 360px) {
	.mt-4 {
		margin-top: 10px !important;
	}
	.ppTstList {
		-webkit-box-shadow: -1.414px 1.414px 24px 0px rgba(224, 196, 112, 0.72);
		        box-shadow: -1.414px 1.414px 24px 0px rgba(224, 196, 112, 0.72);
		border-radius: 20px;
		background-color: #fff;
		width: 100%;
		position: relative;
		margin: 10px 0;
		top: 0;
		left: 50%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
	.tstTitle {
		font-size: 14px;
		font-family: 'Poppins', sans-serif !important;
		color: rgb(37, 74, 127);
		line-height: 1.2;
		margin-top: 10px;
		margin-left: 29px;
		font-weight: 500;
	}
	.tstDesc {
		font-size: 11px;
		font-family: 'Poppins', sans-serif !important;
		color: rgb(32, 32, 32);
		line-height: 1.2;
		margin-top: -12px;
		margin-left: 24px;
		margin-right: -19px;
		font-weight: 500;
		height: 26px;
		margin-bottom: -3px;
	}
	.ppTstName ul {
		margin-bottom: 0;
	}
	.availableTst p {
		font-size: 9px !important;
		font-family: 'Poppins', sans-serif !important;
		color: rgb(32, 32, 32);
		line-height: 1.2;
		font-weight: 500;
	}
	.strikethrough {
		font-size: 10px;
		font-family: 'Poppins', sans-serif !important;
		color: rgb(37, 74, 127);
		line-height: 1.2;
		margin-left: 0px;
		position: relative;
	}
	.pTest:hover {
		background-color: #fff;
		color: #047835 !important;
		margin-right: 60px;
		color: #047835;
		border: 3px solid #047835;
		-webkit-box-shadow: 0 0 5px rgba(247, 160, 31, 0);
		-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
		box-shadow: 0 0 18px rgba(247, 160, 31, 0);
		-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
	}
	.current-price {
		font-size: 14px !important;
		font-family: "Roboto" !important;
		color: rgb(37, 74, 127);
		line-height: 1.2;
		margin-top: 0px;
		font-weight: 500;
		margin-left: 0px;
	}
	.current-price2 {
		font-size: 14px !important;
		font-family: "Roboto" !important;
		line-height: 1.2;
		margin-top: 15px;
		margin-right: -28px;
		font-weight: 500;
		margin-left: -7px;
	}
	.btn-add-cart {
		border-radius: 5px;
		width: 80px;
		height: 34px;
		margin: -22px 10px;
	}
	.ppTstPrice {
		width: 110px;
		height: 54px;
		margin: 0px 12px;
	}
	.slRedBox {
		width: 140px;
		height: 150px;
		border-radius: 35px;
		border-bottom-right-radius: 30px;
		padding: 12px 10px 0 12px;
	}
	.slRedBoxText h3 {
		font-size: 13px;
	}
	.slRedBoxText p {
		font-size: 11px;
		margin: 6px 0 0;
		line-height: 14px;
	}
	.slRedBoxText {
		height: 125px;
	}
	.pTest,
	.pPkg,
	.pTest-inactive,
	.pPkg-active {
		width: 170px;
		height: 40px;
		font-size: 12px;
		border-radius: 10px;
		border-bottom-right-radius: 0px;
	}
	.pPkg,
	.pPkg-active {
		border-radius: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 0px;
	}
	.sliderBottomSec {
		width: 280px;
		margin-left: -140px;
		left: 50%;
	}
	.pTest,
	.pTest-inactive {
		margin-right: 10px;
	}
	.pPkg {
		margin-right: 0;
	}
	.slRedBoxText span.knMr {
		font-size: 12px;
		line-height: 16px;
		left: 14px;
		bottom: 5px;
	}
	.slRedBoxText .text-white {
		width: 115px;
	}
	.availableTst i {
		font-size: 8px;
	}
	.availableTst {
		margin-top: 4px;
		margin-left: 24px;
		margin-right: -25px !important;
	}
	.ppTstCart {
		width: 55%;
		position: relative;
		top: -16px;
		left: 0;
	}
	.knMr {
		font-size: 11px;
		font-family: 'Poppins', sans-serif !important;
		line-height: 1.2;
		margin-top: -5px;
		margin-left: 24px;
		font-weight: 500;
		height: 26px;
	}
	.ppTstList::before {
		height: 41px;
		width: 46px;
		background-size: contain;
	}
	.ppTstList::after {
		height: 45px;
		width: 52px;
		background-size: contain;
	}
}
@media(max-width: 1749px) {
	.testListSec {
		margin-top: 80px;
	}
}
@media(max-width: 1700px) {
	.testTopInner:before,
	.testTopInner:after {
		z-index: 0
	}
	.testTopInner:before,
	.testTopInner:after {
		width: 390px;
		height: 160px;
	}
	.testTopInner {
		padding-bottom: 70px;
	}
	.testTopInner:before {
		top: -80px;
	}
}
@media(max-width: 1550px) {
	.testListSec ul li {
		margin-right: 3px;
	}
	.current-price2 {
        font-size: 13px !important;
	}
}
@media(max-width: 1450px) {
	.tlSlider {
		width: 1000px;
	}
	.tstTopSec {
		width: 980px;
	}
	.tstMidSec {
		width: 1170px;
	}
	.testListSec {
		margin-top: 30px;
	}
	.tlMiddleBr {
		width: 1170px;
		border-radius: 20px;
	}
	.tstLst ul li {
		width: 120px;
		font-size: 10px;
		line-height: 14px;
		height: 35px;
		border-radius: 7px;
	}
	.testSearch input[type="text"] {
		padding-right: 60px;
		padding-left: 14px;
		height: 35px;
		font-size: 11px;
	}
	.testSearch input[type="submit"] {
		width: 50px;
		height: 35px;
		background-size: 19px;
	}
	.testTop {
		padding-top: 50px;
	}
	.tlMiddle {
		margin-top: -70px;
	}
	.testSearch {
		width: 260px;
	}
	.tstMidSec .slBgIm img {
		max-height: 190px;
	}
	.tlMiddle.scrll .tlMiddleBr.fxd {
		top: 60px;
	}
	.tstLst.fxdd {
		top: 151px;
		border-radius: 10px;
	}
	.tstLst.fxdd ul li {
		width: 120px;
		font-size: 10px;
		line-height: 14px;
		height: 35px;
		border-radius: 7px;
	}
	.tlMiddle.scrll:before {
		height: 190px;
	}
}
@media(max-width: 1377px) {
.tlMiddleBr {
	height: 130px;
}
.activecls{
height: 91px;
}
.tlMiddleBr .activecls .testName p {
    bottom: -16px;
    position: absolute;
}
.tstLst.fxdd {
	top: 181px;
	border-radius: 10px;
}
.tlMiddleBr .activecls .testName p {
	bottom: -6px;
	position: absolute;
}
}
@media(max-width: 1199px) {
	.tlSlider {
		width: 900px;
	}
	.tlCol,
	.tlCol img {
		max-height: inherit;
	}
}
@media(max-width: 1050px) {
	.tstLst.fxdd,
	.tlMiddleBr.fxd,
	.tstMidSec {
		left: 2%;
		width: 96%;
		max-width: 96%;
	}
	.tstTopSec.fixx .fcSecTopSl {
		margin-right: 0;
		width: 180px;
	}
	.tstTopSec.fixx .testSearch {
		width: 230px;
		margin-right: 10px;
	}
	.tstLst.fxdd ul li:last-child {
		margin-right: 0;
	}
	.tlMiddle.scrll .tlMiddleBr.fxd {
        top: 85px;
    }
	.tstLst.fxdd {
        top: 231px;
        border-radius: 10px;
    }
	.tlMiddle.scrll .tlMiddleBr {
        height: 89px;
    }
	.tlMiddle.scrll .tlMiddleBr {
        height: 119px;
    }
	.tlMiddleBr.mob.otherSc .activecls .testName {
		bottom: 3px;
	}
	.tlMiddleBr.mob.otherSc .testName {
		bottom: 24px;
	}
}
@media(max-width: 991px) {
	.tlMiddleBr {
		padding: 10px 28px 4px;
		max-width: 94%;
	}
	.tlMiddleBr.fxd {
		top: 72px;
	}
	.tlSlider {
		max-width: 94%;
	}
	.tstLst.fxdd,
	.tlMiddleBr.fxd,
	.tstMidSec {
		left: 3%;
		width: 94%;
		max-width: 94%;
	}
}
@media(max-width: 900px) {
	.tlMiddleBr.fxd {
		padding: 10px 30px;
	}
	.tlMiddle.scrll {
		padding-top: 100px;
	}
}
@media(max-width: 767px) {
	.tstDesc {
        margin-right: 5px;
    }
.current-price2 {
        font-size: 10px !important;
        padding-left: 17px;
    }
	#CustomFxd.tlMiddle .testSearch {
		width: 100%;
	}
	#CustomFxd.tlMiddle.scrll .testSearch {
		width: 80%;
	}
	.tlMiddleBr.fxd {
		padding: 10px 20px 3px;
		top: 50px;
	}
	.tstLst.fxdd {
		top: 140px;
	}
	.tstTopSec.fixx {
		top: 250px;
		width: 240px;
		left: 50%;
		margin-left: -120px;
	}
}
@media(max-width: 600px) {
	.tstLst.fxdd {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		height: 100px;
	}
	.tstLst.fxdd .testSearch {
		margin-top: 10px;
	}
	.tstLst.fxdd ul li:last-child {
		margin-right: 0;
	}
	.tstLst.fxdd ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		margin: 0;
	}
	.tlMiddle.scrll:before {
		height: 240px;
	}
}
@media(max-width: 535px) {
	.testTopInner:before,
	.testTopInner:after {
		width: 200px;
		height: 83px;
	}
	.testTopInner {
		padding-bottom: 0px;
		padding-top: 8px;
	}
	.testTop {
		padding-top: 55px;
	}
	.tlMiddle {
		padding-top: 0;
		margin-top: 10px;
	}
}
@media(max-width: 479px) {
	.tlMiddleBr {
		padding: 10px 15px;
		border-radius: 15px;
	}
	.tstLst ul li {
		width: 100%;
	}
	.tstLst {
		width: 100%;
		margin-top: 20px;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.testListSec {
		margin-top: 30px;
	}
	.testListSec.mtpp {
		margin-top: 360px;
	}
	.tstTopSec {
		max-width: 94%;
	}
	.tstTopSec.fixx {
		width: 90%;
		left: 50%;
		margin-left: -45%;
	}
	.tstTopSec.fixx .testSearch {
		width: 100%;
		margin-right: 10px;
	}
	.tstLst ul {
		margin: 0 0 12px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
	}
	.tstLst ul li:last-child {
		margin-right: 0;
	}
}
@media(max-width: 419px) {
	.testListSec.mtpp {
		margin-top: 370px;
	}
}
@media(max-width: 390px) {
	.tstLst ul li {
		width: 100%;
		margin-right: 10px;
	}
}
@media(max-width: 370px) {
	.tstTopSec.fixx .testSearch input[type="submit"] {
		width: 62px;
		background-size: 20px;
	}
	.tstLst.fxdd ul li {
		width: 120px;
	}
}
.tstLst li {
	cursor: pointer;
}
/* No Data Found CSS */
/* *{
	font-family: 'Lato';
  } */
  .empty_state{
	position: relative;
	top: -20px;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	i{
	  margin: auto;
	  margin-bottom: 0px;
	  font-size: 90px;
	  color: #ccc;
	}
	h3{
	  margin: 8px 0px;
	  text-align: center;
	  font-weight: normal;
	}
	p{
	  font-size: 14px;
	  margin: 0px;
	  color: #999;
	  text-align: center;
	}
	button{
	  outline: none;
	  border:  none;
	  border-radius: 3px;
	  padding: 8px 8px;
	  margin: 20px auto auto auto;
	  width: 50%;
	  max-width: 200px;
	  background: #34c76d;
	  color: white;
	  letter-spacing: 0.8px;
	  text-transform: uppercase;
	  font-size: 12px;
	}
  }