<app-header></app-header>
<div class="testTop">
    <div class="tstTopSec">
        <div class="testSearch"> <input type="text" name="" placeholder="Search"><input type="submit" value=""> </div>
        <div data-aos="fade-up" data-aos-duration="400" data-aos-delay="400" class="fcSecTopSl">
            <select>
                <option>Short by</option>
                <option>low to hight</option>
                <option>hight to low</option>
            </select>
        </div>
    </div>
    <div class="testTopInner">
        <div class="tlSlider">
            <owl-carousel-o [options]="SlideOptionn">
                <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/tl-im.png" alt=""></div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/tl-im2.png" alt=""></div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/tl-im3.png" alt=""></div>
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/tl-im.png" alt=""></div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/tl-im2.png" alt=""></div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/tl-im3.png" alt=""></div>
                </ng-template> 
            </owl-carousel-o>
        </div>
    </div>
</div>
<div class="tlMiddle">
    <div class="tlMiddleBr">
        <owl-carousel-o [options]="SlideOption">
            <ng-template carouselSlide *ngFor="let group of groupList">
                <div class="tlBrBox" (click)="filterTests(group.id, group.name)">
                    <div class="tlBrBoxRnd">
                        <div class="tlBrBoxRndInner">
                            <img [src]="group.group_specific_image" alt="">
                            <p>{{ group.name }}</p>
                        </div>
                    </div>
                </div>
            </ng-template>  
            <!-- <ng-template carouselSlide>
                <div class="tlBrBox"> <div class="tlBrBoxRnd"> <div class="tlBrBoxRndInner"> <img src="assets/images/blue-hrt.png" alt=""> <p>Heart</p> </div> </div> </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="tlBrBox"> <div class="tlBrBoxRnd"> <div class="tlBrBoxRndInner"> <img src="assets/images/green-hrt.png" alt=""> <p>Heart</p> </div> </div> </div>
            </ng-template> 
            <ng-template carouselSlide>
                <div class="tlBrBox"> <div class="tlBrBoxRnd"> <div class="tlBrBoxRndInner"> <img src="assets/images/blue-hrt.png" alt=""> <p>Heart</p> </div> </div> </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="tlBrBox"> <div class="tlBrBoxRnd"> <div class="tlBrBoxRndInner"> <img src="assets/images/green-hrt.png" alt=""> <p>Heart</p> </div> </div> </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="tlBrBox"> <div class="tlBrBoxRnd"> <div class="tlBrBoxRndInner"> <img src="assets/images/blue-hrt.png" alt=""> <p>Heart</p> </div> </div> </div>
            </ng-template> 
            <ng-template carouselSlide>
                <div class="tlBrBox"> <div class="tlBrBoxRnd"> <div class="tlBrBoxRndInner"> <img src="assets/images/green-hrt.png" alt=""> <p>Heart</p> </div> </div> </div>
            </ng-template> 
            <ng-template carouselSlide>
                <div class="tlBrBox"> <div class="tlBrBoxRnd"> <div class="tlBrBoxRndInner"> <img src="assets/images/blue-hrt.png" alt=""> <p>Heart</p> </div> </div> </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="tlBrBox"> <div class="tlBrBoxRnd"> <div class="tlBrBoxRndInner"> <img src="assets/images/green-hrt.png" alt=""> <p>Heart</p> </div> </div> </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="tlBrBox"> <div class="tlBrBoxRnd"> <div class="tlBrBoxRndInner"> <img src="assets/images/blue-hrt.png" alt=""> <p>Heart</p> </div> </div> </div>
            </ng-template> -->
        </owl-carousel-o>
    </div>
    <div class="tstMidSec">
        <div class="tstLst">
            <ul>
                <li [ngClass]="{'active': activeGroup == 'Organ'}" (click)="changeGroupList('Organ')">Organ Wise</li>
                <li [ngClass]="{'active': activeGroup == 'Condition'}" (click)="changeGroupList('Condition')">Condition Wise</li>
            </ul>
        </div>
        <div class="testListSec">
            <h2>Test lists <span *ngIf="activeGroupName != null"> - {{ activeGroupName }}</span></h2>
            <div *ngIf="testList?.length > 0; else NoData">
                <div class="row slideSec">
                    <div class="col" *ngFor="let item of testList" routerLink="patient/test-details/{{item.id}}">
                        <div class="pkgSlideOut">
                            <!-- <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div> -->
                            <div class="slBgIm">
                                <img [src]="item.test_image" alt="" style="max-width: 100%;" />
                            </div>
                            <div class="slRedBox" [ngStyle]="{background: item.test_color}">
                                <div class="round"></div>
                                <div class="roundd"></div>
                                <div class="slRedBoxText">
                                    <div>
                                        <h3>{{item.testname}}</h3>
                                        <p>{{item.description}}</p>
                                    </div>
                                    <!-- <div><h2>₹ 100</h2></div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #NoData>
                <div class="d-flex justify-content-center">
                    <blockquote class="blockquote">
                        <strong style="font-size: 37px;">
                            No Test Found
                        </strong>
                    </blockquote>
                </div>
            </ng-template>
            <!-- <ul>
                <li *ngFor="let test of testList">
                    <div class="tlWhiteBox" routerLink="/patient/test-details/{{ test.id }}">
                        <h3>{{ test.testname }}</h3>
                        <div class="testListRow">
                            <div class="tlIcon">
                                <img src="assets/images/tlBox-icon.png" alt="" >
                            </div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
                <li>
                    <div class="tlWhiteBox" routerLink="/patient/test-details">
                        <h3>Lorem Ipsum is a sample text</h3>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="testListRow">
                            <div class="tlIcon"><img src="assets/images/tlBox-icon.png" alt="" ></div>
                            <div class="testListRowTxt">
                                <h5>Lorem Ipsum is a sample</h5>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                        <h4>₹ 1005</h4>
                    </div>
                    <div class="tsListButton">
                        <div class="tsListButtonAtc">Add to cart</div>
                        <div class="tsListButtonBn">Book Now</div>
                    </div>
                </li>
            </ul> -->
            <div class="peginationn">
                <div class="showPage">Showing 25 - 40 of 1500</div>
                <div class="pegiSec">
                    <div class="pegiSecPrev"></div>
                    <div class="pegiSecNum">1</div>
                    <div class="pegiSecNum">2</div>
                    <div class="pegiSecNum">3</div>
                    <div class="pegiSecNum">4</div>
                    <div class="pegiSecNum">5</div>
                    <div class="pegiSecNum">6</div>
                    <div class="pegiDot"><img src="assets/images/dot.png" alt="" ></div>
                    <div class="pegiSecNum">98</div>
                    <div class="pegiSecNext"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

