<app-header></app-header>
<div style="background-color: rgba(0,0,0,0.5);" class="loading-spinner" id="loader">
</div>
<div class="testTop">
    <div class="testTopInner">
        <div class="tlSlider">
            <owl-carousel-o [options]="SlideOptionn">
                <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/Banner-01.jpg" alt=""></div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/Banner-02.jpg" alt=""></div>
                </ng-template>  
                <!-- <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/tl-im3.png" alt=""></div>
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/tl-im.png" alt=""></div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/tl-im2.png" alt=""></div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="tlCol"><img src="assets/images/tl-im3.png" alt=""></div>
                </ng-template>  -->
            </owl-carousel-o>
        </div>
    </div>
</div>
<div class="tlMiddle">
    <div class="tlMiddleBr mob">
        <owl-carousel-o [options]="SlideOption">
            <ng-template carouselSlide *ngFor="let group of groupList">
                <div class="tlBrBox" (click)="filterTests(group.id, group.name)" *ngIf="group.status == 1">
                    <div class="tlBrBoxRnd">
                        <div class="tlBrBoxRndInner">
                            <img [src]="group.group_specific_image" alt="" data-toggle="tooltip" data-placement="top" title="{{ group.name }}">
                            <!-- <p>{{ group.name }}</p> -->
                        </div>
                    </div>
                </div>
            </ng-template>  
        </owl-carousel-o>
    </div>
    <div class="tstMidSec">
        <div class="tstLst">
            <ul>
                <li [ngClass]="{'active': activeGroup == 'Organ'}" (click)="changeGroupList('Organ')">Organ Wise</li>
                <li [ngClass]="{'active': activeGroup == 'Condition'}" (click)="changeGroupList('Condition')">Condition Wise</li>
            </ul>
            <div class="testSearch"> <input type="text" name="" [(ngModel)]="searchText" autocomplete="on" placeholder="Search"><input type="submit" value=""> </div>
        </div>
        <div class="testListSec">
            <h2>Test lists <span *ngIf="activeGroupName != null"> - {{ activeGroupName }}</span></h2>
            <div *ngIf="testItems?.length > 0; else NoData">
                <div class="d-flex justify-content-around flex-wrap">
                    <ng-container *ngFor="let item of testItems | filter: searchText "> <!-- | paginate: { itemsPerPage: 15, currentPage: p }"-->
                        <div class="ppTstList mt-4">
                            <h3 class="tstTitle">{{item.test_name}}</h3>
                            <div class="d-flex">
                                <div class="ppTstName">
                                    <ul>
                                        <li>
                                            <h5 class="tstDesc">{{item.description}}</h5>
                                            <span class="knMr" (click)="redirectItems(item)">Know more...</span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-baseline availableTst">
                                            <p class="availableTst-para">Available in</p><i class="fa fa-plus text-success"
                                                aria-hidden="true"></i>
                                            <p class="availableTst-para">Home</p><i class="fa fa-plus text-success"
                                                aria-hidden="true"></i>
                                            <p class="availableTst-para">Lab</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="ppTstCart d-flex align-items-center">
                                    <ul class="ppTstPrice">
                                        <ng-container *ngIf="item.offerPrice != 0; else currentPrice">
                                            <li><span class="strikethrough">₹ {{item.amount}} /-</span></li>
                                            <li><h3 class="current-price">₹ {{item.offerPrice}} /-</h3></li>
                                        </ng-container>
                                        <ng-template #currentPrice>
                                            <li>
                                                <h3 class="current-price2">₹ {{item.amount}} /-</h3>
                                            </li>
                                        </ng-template>
                                    </ul>
                                    
                                    <div>
                                        <button type="button" class="btn btn-add-cart"  alt="" id="liveToastBtn">Add to Cart</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <!-- <div class="text-right mt-4" *ngIf="testItems?.length > 15">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div> -->
            <!-- <div class="row">
                <div class="col-2" *ngFor="let item of testList">
                    <div class="slBgIm" (click)="blogDetails(item.id)">
                        <img [src]="item.test_image" alt="" style="max-width: 100%;" />
                    </div>
                </div>
            </div> -->
            <ng-template #NoData>
                <div class="d-flex justify-content-center">
                    <blockquote class="blockquote">
                        <strong style="font-size: 37px;">
                            No Test Found
                        </strong>
                    </blockquote>
                </div>
            </ng-template>
            
            <!-- <div class="peginationn">
                <div class="showPage">Showing 25 - 40 of 1500</div>
                <div class="pegiSec">
                    <div class="pegiSecPrev"></div>
                    <div class="pegiSecNum">1</div>
                    <div class="pegiSecNum">2</div>
                    <div class="pegiSecNum">3</div>
                    <div class="pegiSecNum">4</div>
                    <div class="pegiSecNum">5</div>
                    <div class="pegiSecNum">6</div>
                    <div class="pegiDot"><img src="assets/images/dot.png" alt="" ></div>
                    <div class="pegiSecNum">98</div>
                    <div class="pegiSecNext"></div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<app-footer></app-footer>

