<div class="teamTop">
    <div class="teamTopInner">
        <h1><span>Our</span> Team</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nisl nibh, placerat eget ipsum ut, rhoncus fringilla turpis. Maecenas ut diam augue. In hac habitasse platea dictumst. Ut dignissim condimentum enim, sed pharetra lorem feugiat sagittis. Aliquam nec leo nunc. Mauris sem neque, pharetra nec elit vitae, blandit ornare felis. Ut aliquet magna sit amet ante pharetra malesuada ut volutpat sapien. Pellentesque dignissim arcu turpis, sit amet tincidunt mauris porta id. In hac habitasse platea dictumst.</p>
        <p>In hac habitasse platea dictumst. Ut dignissim condimentum enim, sed pharetra lorem feugiat sagittis. Aliquam nec leo nunc. Mauris sem neque, pharetra nec elit vitae, blandit ornare felis. Ut aliquet magna sit amet ante pharetra malesuada ut volutpat sapien. Pellentesque dignissim arcu turpis, sit amet tincidunt mauris porta id. In hac habitasse platea dictumst.</p>
        <div class="teamTopButton">
            <span class="active">Board Members</span>
            <span>Core Technical Team</span>
        </div>
    </div>
</div>
<div class="teamMemberSec">
    <div class="teamMemberInner active">
        <div class="teamMemberInnerLeft">
            <div class="teamMemberPlus"><img src="../../assets/images/green-plus.png" alt=""></div>
            <h2>25+</h2>
            <h3>Lorem Ipsum is a</h3>
        </div>
        <div class="otTabSec">
            <mat-tab-group mat-align-tabs="start" animationDuration="0ms">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div class="otLblGreen">
                            <div class="otLblGreenDoc"><img src="../../assets/images/otDoc1.jpg" alt=""></div>
                            <div class="otLblGreenArrow"><a href="#"><img src="../../assets/images/white-menu-arrow.png" alt=""></a></div>
                            <div class="otLblGreenText">
                                <h2>Dr. Aman Roy</h2>
                                <h3>Designation</h3>
                            </div>
                        </div>
                    </ng-template>
                
                    <div class="greenRound">
                        <div class="greenRoundDoc"><img src="../../assets/images/tm-round-im1.jpg" alt=""></div>
                        <div class="greenRoundText">
                            <h2>Dr. Aman Roy</h2>
                            <h3>Designation</h3>
                        </div>
                        <p>Lorem Ipsum is a sample text goes hereLorem Ipsum is a sample text goes here a sample text goes here Lorem Ipsum </p>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div class="otLblGreen">
                            <div class="otLblGreenDoc"><img src="../../assets/images/otDoc2.jpg" alt=""></div>
                            <div class="otLblGreenArrow"><a href="#"><img src="../../assets/images/white-menu-arrow.png" alt=""></a></div>
                            <div class="otLblGreenText">
                                <h2>Dr. Tapati Biswas</h2>
                                <h3>Cytogenetics Head</h3>
                            </div>
                        </div>
                    </ng-template>
                
                    <div class="greenRound">
                        <div class="greenRoundDoc"><img src="../../assets/images/tm-round-im.jpg" alt=""></div>
                        <div class="greenRoundText">
                            <h2>Dr. Tapati Biswas</h2>
                            <h3>Cytogenetics Head</h3>
                        </div>
                        <p>Lorem Ipsum is a sample text goes hereLorem Ipsum is a sample text goes here a sample text goes here Lorem Ipsum </p>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div class="otLblGreen">
                            <div class="otLblGreenDoc"><img src="../../assets/images/otDoc3.jpg" alt=""></div>
                            <div class="otLblGreenArrow"><a href="#"><img src="../../assets/images/white-menu-arrow.png" alt=""></a></div>
                            <div class="otLblGreenText">
                                <h2>Dr. Riddhiman Das</h2>
                                <h3>Designation</h3>
                            </div>
                        </div>
                    </ng-template>
                
                    <div class="greenRound">
                        <div class="greenRoundDoc"><img src="../../assets/images/tm-round-im3.jpg" alt=""></div>
                        <div class="greenRoundText">
                            <h2>Dr. Riddhiman Das</h2>
                            <h3>Cytogenetics Head</h3>
                        </div>
                        <p>Lorem Ipsum is a sample text goes hereLorem Ipsum is a sample text goes here a sample text goes here Lorem Ipsum </p>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div class="otLblGreen">
                            <div class="otLblGreenDoc"><img src="../../assets/images/otDoc1.jpg" alt=""></div>
                            <div class="otLblGreenArrow"><a href="#"><img src="../../assets/images/white-menu-arrow.png" alt=""></a></div>
                            <div class="otLblGreenText">
                                <h2>Dr. Aman Roy</h2>
                                <h3>Designation</h3>
                            </div>
                        </div>
                    </ng-template>
                
                    <div class="greenRound">
                        <div class="greenRoundDoc"><img src="../../assets/images/tm-round-im1.jpg" alt=""></div>
                        <div class="greenRoundText">
                            <h2>Dr. Aman Roy</h2>
                            <h3>Designation</h3>
                        </div>
                        <p>Lorem Ipsum is a sample text goes hereLorem Ipsum is a sample text goes here a sample text goes here Lorem Ipsum </p>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="teamMemberInner">
        <div class="teamMemberInnerLeft">
            <div class="teamMemberPlus"><img src="../../assets/images/blue-plus.png" alt=""></div>
            <h2>135+</h2>
            <h3>Lorem Ipsum is a</h3>
        </div>
        <div class="otTabSec">
            <mat-tab-group mat-align-tabs="start" animationDuration="0ms">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div class="otLblGreen">
                            <div class="otLblGreenDoc"><img src="../../assets/images/otDoc1.jpg" alt=""></div>
                            <div class="otLblGreenArrow"><a href="#"><img src="../../assets/images/white-menu-arrow.png" alt=""></a></div>
                            <div class="otLblGreenText">
                                <h2>Dr. Aman Roy</h2>
                                <h3>Designation</h3>
                            </div>
                        </div>
                    </ng-template>
                
                    <div class="greenRound">
                        <div class="greenRoundDoc"><img src="../../assets/images/tm-round-im1.jpg" alt=""></div>
                        <div class="greenRoundText">
                            <h2>Dr. Aman Roy</h2>
                            <h3>Designation</h3>
                        </div>
                        <p>Lorem Ipsum is a sample text goes hereLorem Ipsum is a sample text goes here a sample text goes here Lorem Ipsum </p>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div class="otLblGreen">
                            <div class="otLblGreenDoc"><img src="../../assets/images/otDoc2.jpg" alt=""></div>
                            <div class="otLblGreenArrow"><a href="#"><img src="../../assets/images/white-menu-arrow.png" alt=""></a></div>
                            <div class="otLblGreenText">
                                <h2>Dr. Tapati Biswas</h2>
                                <h3>Cytogenetics Head</h3>
                            </div>
                        </div>
                    </ng-template>
                
                    <div class="greenRound">
                        <div class="greenRoundDoc"><img src="../../assets/images/tm-round-im.jpg" alt=""></div>
                        <div class="greenRoundText">
                            <h2>Dr. Tapati Biswas</h2>
                            <h3>Cytogenetics Head</h3>
                        </div>
                        <p>Lorem Ipsum is a sample text goes hereLorem Ipsum is a sample text goes here a sample text goes here Lorem Ipsum </p>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div class="otLblGreen">
                            <div class="otLblGreenDoc"><img src="../../assets/images/otDoc3.jpg" alt=""></div>
                            <div class="otLblGreenArrow"><a href="#"><img src="../../assets/images/white-menu-arrow.png" alt=""></a></div>
                            <div class="otLblGreenText">
                                <h2>Dr. Riddhiman Das</h2>
                                <h3>Designation</h3>
                            </div>
                        </div>
                    </ng-template>
                
                    <div class="greenRound">
                        <div class="greenRoundDoc"><img src="../../assets/images/tm-round-im3.jpg" alt=""></div>
                        <div class="greenRoundText">
                            <h2>Dr. Riddhiman Das</h2>
                            <h3>Cytogenetics Head</h3>
                        </div>
                        <p>Lorem Ipsum is a sample text goes hereLorem Ipsum is a sample text goes here a sample text goes here Lorem Ipsum </p>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div class="otLblGreen">
                            <div class="otLblGreenDoc"><img src="../../assets/images/otDoc1.jpg" alt=""></div>
                            <div class="otLblGreenArrow"><a href="#"><img src="../../assets/images/white-menu-arrow.png" alt=""></a></div>
                            <div class="otLblGreenText">
                                <h2>Dr. Aman Roy</h2>
                                <h3>Designation</h3>
                            </div>
                        </div>
                    </ng-template>
                
                    <div class="greenRound">
                        <div class="greenRoundDoc"><img src="../../assets/images/tm-round-im1.jpg" alt=""></div>
                        <div class="greenRoundText">
                            <h2>Dr. Aman Roy</h2>
                            <h3>Designation</h3>
                        </div>
                        <p>Lorem Ipsum is a sample text goes hereLorem Ipsum is a sample text goes here a sample text goes here Lorem Ipsum </p>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
