<app-header></app-header>
<div class="acreeTop">
  <div class="acreeTopLeft" data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine">
    <h1>{{pageContent?.name}}</h1>
    <p [innerHTML]="pageContent?.description"></p>
  </div>
  <div class="acreeTopRght" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300"><img
      [src]="pageContent?.image" alt=""></div>
</div>

<div class="acreeSliderSec">
  <div class="acreeSlidInner">
    <div class="acrSlid">
      <div class="acreeSliderInner">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="slide">
              <div class="blgImag"><img src="assets/images/iso-icon.png" alt=""></div>
            </div>
            <div class="slider-content">
              <h2>NABL</h2>
              <h3>(National Accreditation Board for Testing and Calibration Laboratories)</h3>
              <p>Suspendisse elit est, commodo nec rutrum interdum, euismod nec neque. Nunc vel ultricies magna. Etiam at
                fringilla urna. Praesent eget est a massa efficitur tempor nec vel metus. Duis sit amet aliquet augue. Ut nec
                luctus risus. Aliquam viverra commodo nulla, in cursus tellus sodales at.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nunc quam, interdum in diam quis, tincidunt
                gravida augue. Sed eu condimentum urna. Sed lorem mauris, finibus sed felis imperdiet, gravida lobortis magna.
              </p>
              <p>Suspendisse elit est, commodo nec rutrum interdum, euismod nec neque. Nunc vel ultricies magna. Etiam at
                fringilla urna. Praesent eget est a massa efficitur tempor nec vel metus. Duis sit amet aliquet augue. Ut nec
                luctus risus. Aliquam viverra commodo nulla, in cursus tellus sodales at. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Etiam nunc quam, interdum in diam quis, tincidunt gravida augue. Sed eu
                condimentum urna. Sed lorem mauris, finibus sed felis imperdiet, gravida lobortis magna.</p>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="slide">
              <div class="blgImag"><img src="assets/images/nabl.png" alt=""></div>
            </div>
            <div class="slider-content">
              <h2>NABL</h2>
              <h3>(National Accreditation Board for Testing and Calibration Laboratories)</h3>
              <p>Suspendisse elit est, commodo nec rutrum interdum, euismod nec neque. Nunc vel ultricies magna. Etiam at
                fringilla urna. Praesent eget est a massa efficitur tempor nec vel metus. Duis sit amet aliquet augue. Ut nec
                luctus risus. Aliquam viverra commodo nulla, in cursus tellus sodales at.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nunc quam, interdum in diam quis, tincidunt
                gravida augue. Sed eu condimentum urna. Sed lorem mauris, finibus sed felis imperdiet, gravida lobortis magna.
              </p>
              <p>Suspendisse elit est, commodo nec rutrum interdum, euismod nec neque. Nunc vel ultricies magna. Etiam at
                fringilla urna. Praesent eget est a massa efficitur tempor nec vel metus. Duis sit amet aliquet augue. Ut nec
                luctus risus. Aliquam viverra commodo nulla, in cursus tellus sodales at. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Etiam nunc quam, interdum in diam quis, tincidunt gravida augue. Sed eu
                condimentum urna. Sed lorem mauris, finibus sed felis imperdiet, gravida lobortis magna.</p>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="slide">
              <div class="blgImag"><img src="assets/images/icmr.png" alt=""></div>
            </div>
            <div class="slider-content">
              <h2>NABL</h2>
              <h3>(National Accreditation Board for Testing and Calibration Laboratories)</h3>
              <p>Suspendisse elit est, commodo nec rutrum interdum, euismod nec neque. Nunc vel ultricies magna. Etiam at
                fringilla urna. Praesent eget est a massa efficitur tempor nec vel metus. Duis sit amet aliquet augue. Ut nec
                luctus risus. Aliquam viverra commodo nulla, in cursus tellus sodales at.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nunc quam, interdum in diam quis, tincidunt
                gravida augue. Sed eu condimentum urna. Sed lorem mauris, finibus sed felis imperdiet, gravida lobortis magna.
              </p>
              <p>Suspendisse elit est, commodo nec rutrum interdum, euismod nec neque. Nunc vel ultricies magna. Etiam at
                fringilla urna. Praesent eget est a massa efficitur tempor nec vel metus. Duis sit amet aliquet augue. Ut nec
                luctus risus. Aliquam viverra commodo nulla, in cursus tellus sodales at. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Etiam nunc quam, interdum in diam quis, tincidunt gravida augue. Sed eu
                condimentum urna. Sed lorem mauris, finibus sed felis imperdiet, gravida lobortis magna.</p>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="slide">
              <div class="blgImag"><img src="assets/images/iso-icon.png" alt=""></div>
            </div>
            <div class="slider-content">
              <h2>NABL</h2>
              <h3>(National Accreditation Board for Testing and Calibration Laboratories)</h3>
              <p>Suspendisse elit est, commodo nec rutrum interdum, euismod nec neque. Nunc vel ultricies magna. Etiam at
                fringilla urna. Praesent eget est a massa efficitur tempor nec vel metus. Duis sit amet aliquet augue. Ut nec
                luctus risus. Aliquam viverra commodo nulla, in cursus tellus sodales at.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nunc quam, interdum in diam quis, tincidunt
                gravida augue. Sed eu condimentum urna. Sed lorem mauris, finibus sed felis imperdiet, gravida lobortis magna.
              </p>
              <p>Suspendisse elit est, commodo nec rutrum interdum, euismod nec neque. Nunc vel ultricies magna. Etiam at
                fringilla urna. Praesent eget est a massa efficitur tempor nec vel metus. Duis sit amet aliquet augue. Ut nec
                luctus risus. Aliquam viverra commodo nulla, in cursus tellus sodales at. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Etiam nunc quam, interdum in diam quis, tincidunt gravida augue. Sed eu
                condimentum urna. Sed lorem mauris, finibus sed felis imperdiet, gravida lobortis magna.</p>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="slide">
              <div class="blgImag"><img src="assets/images/nabl.png" alt=""></div>
            </div>
            <div class="slider-content">
              <h2>NABL</h2>
              <h3>(National Accreditation Board for Testing and Calibration Laboratories)</h3>
              <p>Suspendisse elit est, commodo nec rutrum interdum, euismod nec neque. Nunc vel ultricies magna. Etiam at
                fringilla urna. Praesent eget est a massa efficitur tempor nec vel metus. Duis sit amet aliquet augue. Ut nec
                luctus risus. Aliquam viverra commodo nulla, in cursus tellus sodales at.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nunc quam, interdum in diam quis, tincidunt
                gravida augue. Sed eu condimentum urna. Sed lorem mauris, finibus sed felis imperdiet, gravida lobortis magna.
              </p>
              <p>Suspendisse elit est, commodo nec rutrum interdum, euismod nec neque. Nunc vel ultricies magna. Etiam at
                fringilla urna. Praesent eget est a massa efficitur tempor nec vel metus. Duis sit amet aliquet augue. Ut nec
                luctus risus. Aliquam viverra commodo nulla, in cursus tellus sodales at. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Etiam nunc quam, interdum in diam quis, tincidunt gravida augue. Sed eu
                condimentum urna. Sed lorem mauris, finibus sed felis imperdiet, gravida lobortis magna.</p>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="slide">
              <div class="blgImag"><img src="assets/images/icmr.png" alt=""></div>
            </div>
            <div class="slider-content">
              <h2>NABL</h2>
              <h3>(National Accreditation Board for Testing and Calibration Laboratories)</h3>
              <p>Suspendisse elit est, commodo nec rutrum interdum, euismod nec neque. Nunc vel ultricies magna. Etiam at
                fringilla urna. Praesent eget est a massa efficitur tempor nec vel metus. Duis sit amet aliquet augue. Ut nec
                luctus risus. Aliquam viverra commodo nulla, in cursus tellus sodales at.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nunc quam, interdum in diam quis, tincidunt
                gravida augue. Sed eu condimentum urna. Sed lorem mauris, finibus sed felis imperdiet, gravida lobortis magna.
              </p>
              <p>Suspendisse elit est, commodo nec rutrum interdum, euismod nec neque. Nunc vel ultricies magna. Etiam at
                fringilla urna. Praesent eget est a massa efficitur tempor nec vel metus. Duis sit amet aliquet augue. Ut nec
                luctus risus. Aliquam viverra commodo nulla, in cursus tellus sodales at. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Etiam nunc quam, interdum in diam quis, tincidunt gravida augue. Sed eu
                condimentum urna. Sed lorem mauris, finibus sed felis imperdiet, gravida lobortis magna.</p>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>

<!-- 2nd Slider -->

<app-footer></app-footer>