<div class="greenBar" id="gbar">
    <ul>
        <li onclick="txtSec()" >
            <div>
                <span><img src="assets/images/test-icon.png" alt=""/></span>
                <p>Book a Test</p>
            </div>
        </li>
        <li onclick="txtSecc()">
            <div>
                <span><img src="assets/images/prescription-icon.png" alt=""/></span>
                <p>Upload Prescription</p>
            </div>
        </li>
        <li onclick="txtSsec()">
            <div>
                <span><img src="assets/images/report-icon.png" alt=""/></span>
                <p>Download Report</p>
            </div>
        </li>
        <li onclick="txtSeec()">
            <div>
                <span><img src="assets/images/locate-icon.png" alt=""/></span>
                <p>Locate Us</p>
            </div>
        </li>
    </ul>
</div>

