<div class="sliderArea">
  <h2>Medical Encyclopedia</h2>
    <div id="sliderr" class="flexslider slItem">
      <ul class="slides">
          <li>
          <div class="imRound"><img src="assets/images/heart-icon.png" /></div>
          <div class="mdTxt">
            <h3>Heart</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc eu.</p>
          </div>
          <div class="slidWhtBox">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <p>Mauris risus massa, auctor vel dui ac, facilisis posuere arcu. Donec mollis, diam nec auctor tincidunt, leo justo dignissim dolor, vel convallis metus odio ut purus.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
          <div class="carousel-item">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <p>Mauris risus massa, auctor vel dui ac, facilisis posuere arcu. Donec mollis, diam nec auctor tincidunt, leo justo dignissim dolor, vel convallis metus odio ut purus.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
          <div class="carousel-item">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <p>Mauris risus massa, auctor vel dui ac, facilisis posuere arcu. Donec mollis, diam nec auctor tincidunt, leo justo dignissim dolor, vel convallis metus odio ut purus.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
          </div>
        </li>

          <li>
          <div class="imRound"><img src="assets/images/heart-icon.png" /></div>
          <div class="mdTxt">
            <h3>Heart</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc eu.</p>
          </div>
          <div class="slidWhtBox">
            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <p>Mauris risus massa, auctor vel dui ac, facilisis posuere arcu. Donec mollis, diam nec auctor tincidunt, leo justo dignissim dolor, vel convallis metus odio ut purus.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
          <div class="carousel-item">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <p>Mauris risus massa, auctor vel dui ac, facilisis posuere arcu. Donec mollis, diam nec auctor tincidunt, leo justo dignissim dolor, vel convallis metus odio ut purus.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
          <div class="carousel-item">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <p>Mauris risus massa, auctor vel dui ac, facilisis posuere arcu. Donec mollis, diam nec auctor tincidunt, leo justo dignissim dolor, vel convallis metus odio ut purus.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
          </div>
        </li>
        <li>
          <div class="imRound"><img src="assets/images/thyroid-icon.png" /></div>
          <div class="mdTxt">
            <h3>Thyroid</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc eu.</p>
          </div>
          <div class="slidWhtBox">
            <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <p>Mauris risus massa, auctor vel dui ac, facilisis posuere arcu. Donec mollis, diam nec auctor tincidunt, leo justo dignissim dolor, vel convallis metus odio ut purus.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
          <div class="carousel-item">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <p>Mauris risus massa, auctor vel dui ac, facilisis posuere arcu. Donec mollis, diam nec auctor tincidunt, leo justo dignissim dolor, vel convallis metus odio ut purus.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
          <div class="carousel-item">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <p>Mauris risus massa, auctor vel dui ac, facilisis posuere arcu. Donec mollis, diam nec auctor tincidunt, leo justo dignissim dolor, vel convallis metus odio ut purus.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators3" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators3" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
          </div>
        </li>
        <li>
          <div class="imRound"><img src="assets/images/kedney-icon.png" /></div>
          <div class="mdTxt">
            <h3>Kedney</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc eu.</p>
          </div>
          <div class="slidWhtBox">
            <div id="carouselExampleIndicators4" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
          <div class="carousel-item">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
          <div class="carousel-item">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators4" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators4" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
          </div>
        </li>
        <li>
          <div class="imRound"><img src="assets/images/lungs-icon.png" /></div>
          <div class="mdTxt">
            <h3>Lungs</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc eu.</p>
          </div>
          <div class="slidWhtBox">
            <div id="carouselExampleIndicators5" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
          <div class="carousel-item">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
          <div class="carousel-item">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators5" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators5" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
          </div>
        </li>
        <li>
          <div class="imRound"><img src="assets/images/liver-big-icon.png" /></div>
          <div class="mdTxt">
            <h3>LIVER</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc eu.</p>
          </div>
          <div class="slidWhtBox">
            <div id="carouselExampleIndicators6" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
          <div class="carousel-item">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
          <div class="carousel-item">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators6" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators6" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
          </div>
        </li>
        <li>
          <div class="imRound"><img src="assets/images/heart-icon.png" /></div>
          <div class="mdTxt">
            <h3>Heart</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc eu.</p>
          </div>
          <div class="slidWhtBox">
            <div id="carouselExampleIndicators7" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
          <div class="carousel-item">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
          <div class="carousel-item">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators7" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators7" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
          </div>
        </li>
        <li>
          <div class="imRound"><img src="assets/images/thyroid-icon.png" /></div>
          <div class="mdTxt">
            <h3>Thyroid</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc eu.</p>
          </div>
          <div class="slidWhtBox">
            <div id="carouselExampleIndicators8" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
          <div class="carousel-item">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
          <div class="carousel-item">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators8" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators8" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
          </div>
        </li>
        <li>
          <div class="imRound"><img src="assets/images/kedney-icon.png" /></div>
          <div class="mdTxt">
            <h3>Kedney</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc eu.</p>
          </div>
          <div class="slidWhtBox">
            <div id="carouselExampleIndicators9" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
          <div class="carousel-item">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
          <div class="carousel-item">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators9" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators9" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
          </div>
        </li>
        <li>
          <div class="imRound"><img src="assets/images/lungs-icon.png" /></div>
          <div class="mdTxt">
            <h3>Lungs</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc eu.</p>
          </div>
          <div class="slidWhtBox">
            <div id="carouselExampleIndicators11" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
          <div class="carousel-item">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
          <div class="carousel-item">
            <h5>Lorem</h5>
                <h4><span>Lo</span>rem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
                <div class="slidWhtBoxBottomSec"><a href="#" class="slidWhtBoxButton"><img src="assets/images/white-arrow.png" alt=""></a></div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators11" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators11" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
          </div>
        </li>
      </ul>
    </div>
    <div id="carousel" class="flexslider thumbIm">
      <ul class="slides">
        <li><img src="assets/images/liver-icon.png" /><p>Liver</p></li>
      <li><img src="assets/images/heart-icon.png" /><p>Heart</p></li>
      <li><img src="assets/images/thyroid-icon.png" /><p>Thyroid</p></li>
      <li><img src="assets/images/kedney-icon.png" /><p>Kedney</p></li>
        <li><img src="assets/images/lungs-icon.png" /><p>Lungs</p></li>
      <li><img src="assets/images/liver-icon.png" /><p>Liver</p></li>
      <li><img src="assets/images/heart-icon.png" /><p>Heart</p></li>
      <li><img src="assets/images/thyroid-icon.png" /><p>Thyroid</p></li>
      <li><img src="assets/images/kedney-icon.png" /><p>Kedney</p></li>
        <li><img src="assets/images/lungs-icon.png" /><p>Lungs</p></li>
      </ul>
    </div>
</div>
