<app-header></app-header>
<div class="findSec">
    <div class="container-box">
        <div class="centres-container">
            <div class="filters">
                <h2 class="centerHead">Our Centres</h2>
                <select class="select-state form-select" aria-label="Default select example">
                    <option>Select State</option>
                </select>
                <select class="select-city form-select" aria-label="Default select example">
                    <option>Select City</option>
                </select>
                <div class="searchBox">
                    <input type="text" placeholder="Search by Locality / Pincode" class="search-input form-control" />
                    <i class="fa fa-search"></i>
                </div>
            </div>
            <div class="center-boxwapper">
                <div class="card" *ngFor="let center of centers">
                    <div class="card-header">
                        <h2 class="centerTitle">{{center.centre_name}}</h2>
                        <div class="card-actions">
                            <i class="fa fa-share-alt"></i>
                            <i class="fa fa-map-marker"></i>
                        </div>
                    </div>
                    <p class="centerDes">{{center.address}}</p>
                    <div class="card-details">
                        <div class="detail">
                            <i class="fa fa-phone"></i>
                            <div class="card-text">
                                <h5>Phone Number</h5>
                                <p *ngFor="let cont of center['phone_numbers']">{{cont.contact}}</p>
                            </div>
                        </div>
                        <div class="detail">
                            <i class="fa fa-clock-o"></i>
                            <div class="card-text">
                                <h5>Timing</h5>
                                <p>Everyday 12 P.M - 12 A.M</p>
                            </div>
                        </div>
                        <button class="know-more">Know More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="map-container">
            <h2 class="centerHead">Locate Us</h2>
            <div class="map-image" >
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d273.7337665386661!2d88.43680775215864!3d22.619914625936822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f89e2c5d1e7bf9%3A0x5a2a57f4779732e9!2sNirnayan%20Health%20Care%20Private%20Limited!5e0!3m2!1sen!2sin!4v1718877694834!5m2!1sen!2sin" width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>