<app-header></app-header>
<div class="fcSec">
    <!-- <div class="fcSecTop">
        <h1 data-aos="fade-right" data-aos-duration="200" data-aos-delay="200">Lorem Ipsum</h1>
        <div class="fcSecTopSl" data-aos="fade-up" data-aos-duration="400" data-aos-delay="400">
            <select>
                <option>Select State</option>
                <option>West Bengal</option>
                <option>Odissa</option>
            </select>
        </div>
        <div class="fcSecTopSl" data-aos="fade-down" data-aos-duration="600" data-aos-delay="600">
            <select>
                <option>Select City</option>
                <option>Kolkata</option>
                <option>Krishnanagar</option>
                <option>Berhampur</option>
            </select>
        </div>
        <div class="fcSecSearch" data-aos="fade-left" data-aos-duration="700" data-aos-delay="700"><input type="text" name=""><input type="submit" value=""></div>
    </div> -->
    <div class="fcMidSec">
        <div class="fcMidLftSec">
            <div class="fcMidLftBox" data-aos="zoom-in-right" data-aos-duration="200" data-aos-delay="200"
                *ngFor="let center of centers">
                <div class="fcLftBoxLft">
                    <div class="fcLftBoxLftRound"><img src="assets/images/microscope.png" alt=""></div>
                    <div class="fcBoxPh">
                        <img src="assets/images/ph-icon.png" alt=""> <span>Phone Number</span>
                    </div>
                    <div class="fcBoxPhNumber" *ngFor="let cont of center['phone_numbers']">{{cont.contact}}</div>
                </div>
                <div class="fcLftBoxRght">
                    <!-- <div class="share"><img src="assets/images/share-icon.png" alt=""></div>
                    <div class="direction"><img src="assets/images/direction-icon.png" alt=""></div> -->
                    <h2>{{center.centre_name}}</h2>
                    <p>{{center.address}}</p>
                    <div class="fcLftBoxRghtBot">
                        <div class="fcLftBoxBotLft">
                            <div class="fcLftBoxBotLftTop">
                                <div class="fcBoxPh">
                                    <img src="assets/images/clock-icon.png" alt=""> <span>Timing</span>
                                </div>
                                <!-- <select>
                                    <option *ngFor="let time of centerTiming">{{time[0]}} / {{time[1].start}} - {{time[1].end}}</option>
                                </select> -->
                            </div>
                            <div class="fcBoxPhNumber">Every Day - 12 PM To 12 AM</div>
                        </div>
                        <!-- <div class="knowMore"><a href="#">Know More</a></div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="fcMidRghtSec">
            <div class="fcMidRghtSecTop">
                <img src="assets/images/india-map-outline.png" alt="" data-aos="zoom-in" data-aos-duration="600"
                    data-aos-delay="600">
                <div class="mapAddress" data-aos="fade-left" data-aos-duration="700" data-aos-delay="700">
                    <div class="mapAddressTxt">
                        <h2>Unit 1 <div class="mapAddressRound">&nbsp;</div>
                        </h2>
                        <small>145, Jyangra Rajarhat Road, Kolkata-700059</small>
                    </div>

                    <div class="mapAddressTxt2">
                        <h2>Unit 2 <div class="mapAddressRound2">&nbsp;</div>
                        </h2>
                        <small>Dafodil Labella Building, 1st Floor,</small> <br>
                        <small>Kalupukur, Near Chinar Park Lokenath Mandir, Kolkata-700157</small>
                    </div>

                </div>
            </div>



        </div>
    </div>

    <div class="fcMidSec adjst">
        <div class="fcMidLftSec">
            <div class="enquiry_img"><img src="assets/images/acre-lady.png" alt=""></div>
        </div>

        <div class="fcMidRghtSec ">
            <div class="bkngEnq">
                <h2 data-aos="fade-left" data-aos-duration="200" data-aos-delay="200">Booking Enquiry</h2>
                <form [formGroup]="bookingEnqryForm" (ngSubmit)="saveEnquary()">
                    <div class="bkngEnqBx">
                            <input type="text" placeholder="Name" formControlName="name" data-aos="fade-right" data-aos-duration="400" data-aos-delay="400"/>
                            <input type="tel" placeholder="Mobile No" formControlName="mobile" data-aos="fade-left" data-aos-duration="600" data-aos-delay="600"/>
                            <div class="dark-matter" data-aos="fade-right" data-aos-duration="800" data-aos-delay="800">
                                <span>Gender</span>
                                <div (change)="genderValue($event)">
                                    <input type="radio" value="Male" id="c4" name="cc">
                                    <label for="c4" class="top"><span></span>Male</label>

                                    <input type="radio" value="Female" id="c5" name="cc">
                                    <label for="c5" class="top"><span></span>Female</label>

                                    <input type="radio" value="Others" id="c6" name="cc">
                                    <label for="c6" class="top"><span></span>Others</label>
                                </div>
                            </div>
                            <input type="date" placeholder="Booking Date" formControlName="book_date" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1000"/>

                            <textarea placeholder="Address" formControlName="address" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="1200"></textarea>
                            <div class="upld" data-aos="fade-left" data-aos-duration="1300" data-aos-delay="1300"><input (change)="inputFile($event)" accept=".pdf,.png,.jpg,.jpeg,"  type="file"/></div>
                            <div class="formText" data-aos="zoom-in" data-aos-duration="1400" data-aos-delay="1400">Document should be in .doc/.docx/.pdf/.png/.jpg/.jpeg 
                                format. Document size should be less than 2MB</div>
                    </div>
                    <div class="bcenq" data-aos="flip-up" data-aos-duration="1500" data-aos-delay="1500"><input type="submit" value="Submit"/></div>
                </form>
            </div>
        </div>
    </div>
</div>
<div style="background-color: rgba(0,0,0,0.5);" *ngIf="loader" class="loading-spinner" id="loader">
</div>
<app-footer></app-footer>