<app-header></app-header>
<div class="findSec">
    <div class="container-box">
        <div class="centres-container">
            <div class="filters">
                <h2 class="centerHead">Our Centres</h2>
                <select class="select-state form-select" aria-label="Default select example">
                    <option>Select State</option>
                </select>
                <select class="select-city form-select" aria-label="Default select example">
                    <option>Select City</option>
                </select>
                <div class="searchBox">
                    <input type="text" placeholder="Search by Locality / Pincode" class="search-input form-control" />
                    <i class="fa fa-search"></i>
                </div>
            </div>
            <div class="center-boxwapper">
                <div class="card" *ngFor="let center of centers">
                    <div class="card-header">
                        <h2 class="centerTitle">{{center.centre_name}}</h2>
                        <div class="card-actions">
                            <i class="fa fa-share-alt"  data-bs-toggle="modal" data-bs-target="#shareModal" (click)="togglePopup(center.centre_name)"></i>
                            <img src="../../../assets/images/loca-tion.gif" alt=""
                                (click)="destinationChage(center.centre_name)">
                        </div>
                    </div>
                    <p class="centerDes">{{center.address}}</p>
                    <div class="card-details">
                        <div class="detail">
                            <i class="fa fa-phone"></i>
                            <div class="card-text">
                                <h5>Phone Number</h5>
                                <p *ngFor="let cont of center['phone_numbers']">{{cont.contact}}</p>
                            </div>
                        </div>
                        <div class="detail">
                            <i class="fa fa-clock-o"></i>
                            <div class="card-text">
                                <h5>Timing</h5>
                                <p>Everyday 12 P.M - 12 A.M</p>
                            </div>
                        </div>
                        <button class="know-more">Know More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="map-container">
            <h2 class="centerHead">Locate Us</h2>
            <div class="map-image">
                <iframe [src]="mapUrl" width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>

    <div class="container-box">
        <div class="enquiry_img"><img src="assets/images/acre-lady.png" alt=""></div>
        <div class="guydSec">
            <div class="guydSecInner">
                <h2>Booking Enquiry</h2>
                <form #form="ngForm" (ngSubmit)="saveEnquary(form)">
                    <div class="fromRow" data-aos="fade-right" data-aos-duration="100" data-aos-delay="100">
                      <label [ngClass]="{ 'text-danger': form.submitted && name.invalid }"> Name* </label>
                      <input type="text" name="name" [(ngModel)]="formModel.name" #name="ngModel" required placeholder="Name">
                    </div>
                  
                    <div class="fromRow" data-aos="fade-left" data-aos-duration="120" data-aos-delay="120">
                      <label [ngClass]="{ 'text-danger': form.submitted && mobile.invalid }">Mobile No.*</label>
                      <input type="tel" name="mobile" [(ngModel)]="formModel.mobile" #mobile="ngModel" required minlength="10" maxlength="10" placeholder="Mobile No">
                    </div>
                  
                    <div class="fromRow" data-aos="fade-left" data-aos-duration="150" data-aos-delay="150">
                      <label [ngClass]="{ 'text-danger': form.submitted && book_date.invalid }">Booking Date*</label>
                      <input type="date" name="book_date" [(ngModel)]="formModel.book_date" #book_date="ngModel" required placeholder="Booking Date">
                    </div>
                  
                    <div class="fromRow bookBotRgt" data-aos="fade-left" data-aos-duration="175" data-aos-delay="175">
                        <label [ngClass]="{ 'text-danger': form.submitted && !formModel.document }">Upload Document*</label>
                        <div class="upld">
                          <input type="file" name="document" (change)="onFileChange($event)" required accept=".pdf,.png,.jpg,.jpeg">
                        </div>
                        <div class="formText">Format: .doc/.docx/.pdf/.png/.jpg/.jpeg. less than 2MB</div>
                      </div>
                  
                    <div class="fromRow" data-aos="fade-right" data-aos-duration="200" data-aos-delay="200">
                      <label [ngClass]="{ 'text-danger': form.submitted && address.invalid }">Address*</label>
                      <textarea name="address" [(ngModel)]="formModel.address" #address="ngModel" required placeholder="Address"></textarea>
                    </div>
                  
                    <div class="fromRow dark-matter" data-aos="fade-right" data-aos-duration="250" data-aos-delay="250">
                      <label [ngClass]="{ 'text-danger': form.submitted && gender.invalid }">Gender*</label>
                      <select name="gender" [(ngModel)]="formModel.gender" #gender="ngModel" required>
                        <option value="" disabled selected>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Others</option>
                      </select>
                    </div>
                  
                    <div class="fromRow" data-aos="flip-up" data-aos-duration="275" data-aos-delay="275">
                      <input type="submit" value="Submit">
                    </div>
                  </form>                  
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>

<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="popup show">
                <header>
                    <span>{{centerName}}</span>
                    <div class="close" data-bs-dismiss="modal" aria-label="Close" ><i class="fa fa-close"></i></div>
                </header>
                <div class="content">
                    <p>Share this link via</p>
                    <ul class="icons">
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{currentShareUrl}}" target="_blank"><i
                                class="fa fa-facebook-f"></i></a>
                        <a href="https://twitter.com/intent/tweet?url={{currentShareUrl}}" target="_blank"><i
                                class="fa fa-twitter"></i></a>
                        <a href="https://www.instagram.com/?url={{currentShareUrl}}" target="_blank"><i
                                class="fa fa-instagram"></i></a>
                        <a href="https://wa.me/?text={{currentShareUrl}}" target="_blank"><i
                                class="fa fa-whatsapp"></i></a>
                        <a (click)="shareUsingWebShare()" target="_blank"><i class="fa fa-share"></i></a>
                    </ul>
                    <p>Or copy link</p>
                    <div class="field" [class.active]="isFieldActive">
                        <i class="url-icon uil uil-link"></i>
                        <input type="text" readonly [value]="currentShareUrl" #shareLinkInput>
                        <button class="shareButton" (click)="copyLink(shareLinkInput)">Copy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>