<app-header></app-header>
<div style="background-color: rgba(0,0,0,0.5);" class="loading-spinner" id="loader"></div>
<div class="ordTop"><img src="assets/images/ord-banner.png" alt=""></div>
<div class="rcntBook">
  <h1>Recent Booking</h1>
  <div class="rctBk">
    <div class="rctBkBox" *ngFor="let order of oderItem; let j = index">
      <div class="rctBkBoxTp">
        <h2 class="card-title">Booking Id <span style="text-align: center;">{{order.bill_number}}</span></h2>
        <p class="card-text">Booking Date :- <strong>{{order.booking_date | date: 'dd/MM/yyyy'}}</strong></p>
        <div class="save">
          <div class="saveBox">You Saved</div>
          <div class="saveYellowBox">{{order.discount_amount | currency:'INR'}}</div>
        </div>
        <p class="card-text" style="text-align: center;">Paid <span style="text-align: right;">
            {{order.received_amount | currency:'INR'}}</span></p>
      </div> 
      <div class="card-text trnDtl">
        <div class="trnDtlLft">Transaction Details</div>
        <div class="trnDtlMid">&nbsp;</div>
        <div class="trnDtlRght">{{order.paymentDetails[0]?.trnx_id}}</div>
      </div>
      <ul class="list-group list-group-flush">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item" *ngFor="let item of order.patientDetails; let i = index">
            <h2 class="accordion-header" id="headingOne{{item.id}}">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseOne'+item.id" aria-expanded="true" [attr.aria-controls]="'collapseOne'+item.id">
                {{item.patientName}}
              </button>
            </h2>
            <div id="collapseOne{{item.id}}" class="accordion-collapse collapse" [attr.aria-labelledby]="'headingOne'+item.id" data-bs-parent="#accordionExample">
              <table class="table">
                <thead>
                  <th>Test Name</th>
                  <th>Amount</th>
                </thead>
                <tbody>
                  <tr *ngFor="let test of item.tests; let i = index">
                    <td>{{test.test_name}}</td>
                    <td>{{test.costAmount}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- <p class="card-text text-right">Total Paid Amount : <b class="text-success">{{order[0].received_amount}}</b></p> -->
        <div class="chkTpRow">
          <div class="chkTpCol compl">
            <div class="chkTpColTxt">Test Booked</div>
          </div>
          <div class="chkTpCol compl">
            <div class="chkTpColTxt">Phlebotomist Assigned</div>
          </div>
          <div class="chkTpCol compl">
            <div class="chkTpColTxt">Sample Collected</div>
          </div>
          <div class="chkTpCol compl">
            <div class="chkTpColTxt">Testing Under Proccess</div>
          </div>
          <div class="chkTpCol">
            <div class="chkTpColTxt">Testing Completed</div>
          </div>
        </div>
      </ul>
      <div class="trkBotn"><span>Track</span> <img src="assets/images/green-arrow.png" alt=""></div>
    </div>
  </div>
</div>




<div class="rcntBook ptOrd">
  <h1>Previous Booking <button class="btn saveBox preBook" (click)="pastOrder()">View Previous Bookings</button></h1>
  <div class="rctBk">
    <div class="rctBkBox" *ngFor="let order of pastItem?.bookings">
      <div class="rctBkBoxTp">
        <h2 class="card-title">Booking Id <span style="text-align: center;">{{order.bill_number}}</span></h2>
        <p class="card-text bkk">Booking Date :- <strong _ngcontent-vwg-c135="">{{order.booking_date | date: 'dd/MM/yyyy'}}</strong></p>
        <div class="save">
          <div class="saveBox">You Saved</div>
          <div class="saveYellowBox">{{order.discount_amount | currency:'INR'}}</div>
        </div>
        <p class="card-text" style="text-align: center;">Paid <span style="text-align: right;">{{order.received_amount | currency:'INR'}}</span></p>
      </div>
      <div class="card-text trnDtl">
        <div class="trnDtlLft">Transaction Details</div>
        <div class="trnDtlMid">&nbsp;</div>
        <div class="trnDtlRght">{{order.paymentDetails[0].trnx_id}}</div>
      </div>
      <div class="rtRow">
        <div class="rtRowTxt">Rate Us</div>
        <img src="../../../assets/images/yellow-star.png" alt="">
        <img src="../../../assets/images/yellow-star.png" alt="">
        <img src="../../../assets/images/yellow-star.png" alt="">
        <img src="../../../assets/images/yellow-star.png" alt="">
        <img src="../../../assets/images/yellow-star.png" alt="">
      </div>
      <div class="review"><textarea placeholder="Share your Review..."></textarea></div>
      <div class="trkBotn" style="display: none;">Submit</div>
  </div>
</div>
</div>
<app-footer></app-footer>