<app-header></app-header>
<div style="background-color: rgba(0,0,0,0.5);" class="loading-spinner" id="loader">
</div>
<div class="newBlogWrap">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
          <div class="blogNewDetails">
              <figure class="blogImg">
                  <img [src]="basePath+details?.blogImage" alt="">
                  <figcaption class="imageTitle">
                      <h3>{{details?.blogTitle}} 
                        <span>
                       {{details?.subTitle}}
                      </span></h3>
                  </figcaption>
              </figure>
              <article [innerHTML]="myContent">
                
              </article>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="sideBar">
              
              <div class="sideBarBox">
                <h3>Related Test</h3>
                <!-- <a href="javascript:void(0)" class="ListBox" *ngFor="let item of details?.most_viewed">
                  <div class="imagesBox">
                    <img [src]="item?.image" alt="">
                  </div>
                  <div class="textBoxIn">
                    <h4>{{item?.title}}</h4>
                    <p [innerHTML]="item?.description"></p>
                    <span class="textSee" [routerLink]="['/page/blog-details', item.id]">Insights</span>
                  </div>
                </a> -->
                

                <!--TEST list Start-->

                <div class="ppTstList mt-4" *ngFor="let item of relatedTest">
                  <h3 class="tstTitle" routerLink="/patient/test-details/{{item.linked_with.item_text}}/{{item.test_name}}" target="_blank">{{item.test_name}}</h3>
                  <div class="d-flex align-items-end">
                      <div class="ppTstName">
                          <ul>
                              <li>
                                  <h5 class="tstDesc">{{item.description}}</h5>
                                  <a class="knMr" (click)="detailsPage(item.id , item.test_name , item.linked_with.item_text)" [routerLink]="'/patient/test-details/'+itemId +'/'+activeGroupName+'/'+formattedName" target="_blank">Know
                                      more...</a>
                              </li>
                              <li class="d-flex justify-content-between align-items-baseline availableTst">
                                  <p class="availableTst-para">Available in</p><i
                                      class="fa fa-motorcycle text-success" aria-hidden="true"></i>
                                  <p class="availableTst-para">Home</p><i class="fa fa-flask text-success"
                                      aria-hidden="true"></i>
                                  <p class="availableTst-para">Lab</p>
                              </li>
                          </ul>
                      </div>
                      <div class="ppTstCart d-flex align-items-center">
                          <!-- <ul class="ppTstPrice">
                              <ng-container *ngIf="item.offerPrice != 0; else currentPrice">
                                  <li><span class="strikethrough">₹ {{item.amount}} /-</span></li>
                                  <li>
                                      <h3 class="current-price">₹ {{item.offerPrice}} /-</h3>
                                  </li>
                              </ng-container>
                              <ng-template #currentPrice>
                                  <li>
                                      <h3 class="current-price2">₹ {{item.amount}} /-</h3>
                                  </li>
                              </ng-template>
                          </ul> -->
                          <ul class="ppTstPrice">
                              <li>
                                  <a href="tel:8100726252"><h3 class="current-price2"> Contact us </h3></a>
                                  
                              </li>
                          </ul>
                          <div *ngIf="isLogin == true">
                              <button type="button" class="btn btn-add-cart"
                                 
                                  alt="" id="liveToastBtn" data-toggle="modal" data-target="#patientModal">Add
                                  to Cart</button>
                          </div>
                      </div>
                  </div>
                  <div class="shareBox">
                    <div class="card-actions">
                      <i class="fa fa-share-alt"  data-bs-toggle="modal" data-bs-target="#shareModal" (click)="togglePopup(item)"></i>
                    </div>
                </div>
                </div>
              </div>

          </div>
        </div>
    </div>
  </div>
</div>
<div class="reachUs">
    <div class="querySecInner">
        <h2>Reach Out Us</h2>
        <form name="form" #f="ngForm" (ngSubmit)="submitForm(f)">
            <div class="fromRow"><!--data-aos="zoom-out-right" data-aos-duration="200" data-aos-delay="200"-->
              <label [ngClass]="{ 'text-danger': f.submitted && contact_name.errors }">Name*</label>
              <input type="text" name="contact_name" [(ngModel)]="form.contact_name" required #contact_name="ngModel">
            </div>
            <div class="fromRow"><!--data-aos="zoom-out-left" data-aos-duration="250" data-aos-delay="250"-->
              <label [ngClass]="{ 'text-danger': f.submitted && contact_email.errors }">Email ID*</label>
              <input type="text" name="contact_email" [(ngModel)]="form.contact_email" required email #contact_email="ngModel">
            </div>
            <div class="fromRow"><!--data-aos="zoom-out-right" data-aos-duration="300" data-aos-delay="300"-->
              <label [ngClass]="{ 'text-danger': f.submitted && contact_mobile.errors }">Mobile No.*</label>
              <input type="text" name="contact_mobile" [(ngModel)]="form.contact_mobile" required #contact_mobile="ngModel">
            </div>
            <div class="fromRow"> <!--data-aos="zoom-out-right" data-aos-duration="300" data-aos-delay="300"-->
              <label [ngClass]="{ 'text-danger': f.submitted && address.errors }">Full Address*</label>
              <input type="text" name="address" [(ngModel)]="form.address" required #address="ngModel">
            </div>
            <div class="fromRow"> <!--data-aos="zoom-out-left" data-aos-duration="350" data-aos-delay="350"-->
              <label [ngClass]="{ 'text-danger': f.submitted && contact_enquiry.errors }">Enquiry*</label>
              <textarea name="contact_enquiry" [(ngModel)]="form.contact_enquiry" required #contact_enquiry="ngModel"></textarea>
            </div>
            <div class="fromRow"> <!--data-aos="flip-left" data-aos-duration="400" data-aos-delay="400"-->
              <input type="submit" value="Submit">
            </div>
          </form>
    </div>
</div>
<app-footer></app-footer>


<div class="modal fade custUmModal" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
          <div class="popup show">
              <header>
                  <span>{{testname}}</span>
                  <div class="close" data-bs-dismiss="modal" aria-label="Close" ><i class="fa fa-close"></i></div>
              </header>
              <div class="content">
                  <p>Share this link via</p>
                  <ul class="icons">
                      <a href="https://www.facebook.com/sharer/sharer.php?u={{currentRoute}}" target="_blank"><i
                              class="fa fa-facebook-f"></i></a>
                      <a href="https://twitter.com/intent/tweet?url={{currentRoute}}" target="_blank"><i
                              class="fa fa-twitter"></i></a>
                      <a href="https://www.instagram.com/?url={{currentRoute}}" target="_blank"><i
                              class="fa fa-instagram"></i></a>
                      <a href="https://wa.me/?text={{currentRoute}}" target="_blank"><i
                              class="fa fa-whatsapp"></i></a>
                      <a (click)="shareUsingWebShare()" target="_blank"><i class="fa fa-share"></i></a>
                  </ul>
                  <p>Or copy link</p>
                  <div class="field" [class.active]="isFieldActive">
                      <i class="fa fa-link" aria-hidden="true"></i>
                      <input type="text" readonly [value]="currentRoute" #shareLinkInput>
                      <button class="shareButton" (click)="copyLink(shareLinkInput)">Copy</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>