<app-header></app-header>
<div style="background-color: rgba(0, 0, 0, 0.5)" class="loading-spinner" id="loader"></div>
<div class="newBlogWrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <figure class="blogImg">
          <img [src]="basePath + details?.blogImage" alt="" />
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-7 col-lg-12 col-md-12 leftsd">

        <div class="card-box">
          <p>Anatomical</p>
        </div>
        <div class="imageTitle">
          <h2 class="blogTitle">
            {{ details?.blogTitle }}
          </h2>
          <div class="d-flex justify-content-between subtitle-date">
            <p class="subTitle">
              {{ details?.subTitle }}
            </p>
            <p class="text-muted f-name date1">{{ details?.created_at | date: 'MMMM d, yyyy' }}</p>
          </div>
        </div>

        <!-- Display only a portion of the content initially -->
        <article>
          <div [innerHTML]="myContent" [class.collapsed]="!showFullContent"></div>
        </article>

        <!-- Show More / Show Less Button -->
        <div class="d-flex justify-content-center button-spacing">
          <button class="know-more-btn" (click)="toggleContent()">
            {{ showFullContent ? 'Show Less' : 'Show More' }}
          </button>
        </div>
        <!-- Tags -->
         <div class="tag-container">
        <div class="border-tag-bottom">
          <div class="card-box">
            <p>Tags</p>
          </div>
        </div>
        <div class="tag">
          <div class="unordered-tags">
            <ul class="d-flex justify-content-between">
              <li>Tag 1</li>
              <li>Tag 2</li>
              <li>Tag 3</li>
              <li>Tag 4</li>
              <li>Tag 5</li>
              <li>Tag 6</li>

            </ul>
          </div>
        </div>
      
        <!-- Add Comment Box -->
        <div class="comment-box">
          <h3>Add a Comment</h3>
          <p>We're glad you have chosen to leave a comment. Please keep in mind that all comments are moderated
            according to our privacy policy, and all links are no follow.</p>

          <form [formGroup]="commentForm" (ngSubmit)="addComment()">
            <div class="form-group">
              <!-- <label for="commentText">Your Comment:</label> -->
              <textarea id="commentText" formControlName="commentText" class="form-control" placeholder="Your Comment:"
                [ngClass]="{ 'is-invalid': isSubmitted && commentForm.get('commentText').invalid }"></textarea>
              <div *ngIf="isSubmitted && commentForm.get('commentText').invalid" class="invalid-feedback">
                <!-- <div *ngIf="commentForm.get('commentText').errors?.['required']">Comment is required</div> -->
              </div>
            </div>

            <div class="form-group">

              <input id="fullName" type="text" formControlName="fullName" class="form-control"
                placeholder="Your Full Name:"
                [ngClass]="{ 'is-invalid': isSubmitted && commentForm.get('fullName').invalid }">
              <div *ngIf="isSubmitted && commentForm.get('fullName').invalid" class="invalid-feedback">

              </div>
            </div>

            <div class="form-group">

              <input id="email" type="email" formControlName="email" class="form-control"
                placeholder="Your Email Address:"
                [ngClass]="{ 'is-invalid': isSubmitted && commentForm.get('email').invalid }">
              <div *ngIf="isSubmitted && commentForm.get('email').invalid" class="invalid-feedback">

              </div>
            </div>

            <div class="form-group btm_form_sec">
              <input id="saveInfo" type="checkbox" formControlName="saveInfo">
              <label for="saveInfo" class=" ms-2">Save my name, email, and website in this browser for the next time I
                comment.</label>
            </div>

            <div class="sub-btn">
              <button type="submit" class="submit-comment-btn">Submit</button>
            </div>
          </form>
        </div>
      </div>

      </div>
      <div class="col-xl-5 col-lg-12 col-md-12 rightsd">
        <!-- Empty div for future code addition -->

        <div class="featured-posts updt_feature">

          <div class="titleBox1">
            <h2 class="featured-title card-box2">Featured Post</h2>
          </div>
          <div class="featured-post-card" *ngFor="let post of featuredPosts ">
            <div class="post-meta">
              <!-- <img [src]="'../../../assets/images/' + post.authorImage" [alt]="post.author" class="author-image"> -->
              <div class="author-info">
                <div class="author">
                  <img src="../../../assets/images/v1_258.png" alt="" />
                  <p class="authorTest">{{ post.author }}</p>
                  <p class="authorDte">{{ post.date }}</p>
                </div>
                <h3 class="post-title">{{ post.title }}</h3>
                <p class="post-excerpt">{{ post.excerpt }}</p>
                <!-- <div class="post-content">
                        </div> -->
                <div class="author">
                  <div class="card-boxsec">
                    <p>Anatomical</p>
                  </div>
                  <p class="read1">{{ "3 min read" }}</p>
                  <p class="read2">{{ "Selected for you" }}</p>
                </div>
              </div>
            </div>
            <img [src]="'../../../assets/images/' + post.image" [alt]="post.title" class="featured-image" />
          </div>
        </div>


        <div class="category-list">
          <div class="titleBox">
            <!-- <h2 class="section-title "></h2> -->
            <div class="card-box1">
              <p>Category Post Counts</p>
            </div>
          </div>
          <ul>
            <li *ngFor="let category of categoryPostCounts">
              {{ category.name }}
              <span class="category-numberBox">{{ category.number.toString().padStart(2, '0') }}</span>
            </li>
          </ul>
        </div>

        <!-- photo_banner -->
        <div class="photo-banner mt-4">
          <img src="../../../assets/images/v1_445.png" alt="Photo Banner" />
        </div>

        <div class="test-list">
          <div class="border-down">
            <div class="titleBox card-box3">
              <h2>Test List</h2>
            </div>
          </div>
          <ul>
            <li *ngFor="let test of testList">{{ test }}</li>
          </ul>
        </div>
      </div>

    </div>
    <!--  -->
    <div class="border-bottom1">
      <div class="card-box">
        <p>Related Post</p>
      </div>
    </div>
    <div class="row related-post-border">
      <owl-carousel-o *ngIf="categoryItems1.length != 0" [options]="owlOptions">
        <ng-container *ngFor="let item of categoryItems1">
          <ng-template carouselSlide>
            <div class="card">
              <img [src]="'../../../assets/images/' + item.image" class="card-img-top" alt="Image">
              <div class="card-body">
                <div class="card-box">
                  <p>Anatomical</p>
                </div>
                <p class="card-subtitle subtitle-color">{{ item.description }}</p>
                <p class="text-muted f-name date">{{ item.date }}</p>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>


  </div>
  <app-footer></app-footer>