.container{
  max-width: 1650px ;
}

.rightsd > * {
  margin-left:50px ;
  

}

.leftsd > * {
  /* Adjust the value as needed */
 margin-right:20px ;
}

.sideBarBox::-webkit-scrollbar {
	display: none;
}

.blogImg img {
	width: 100%;
	border-radius: 1.875rem;
	height: 600px;
	object-fit: cover;
  margin-top: calc(100px + 1vh);
}
figure.blogImg {
	position: relative;
}
figure.blogImg:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 100%;
	height: 29%;
	background: rgb(0, 0, 0);
	background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
	border-radius: 30px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}



/* Right side new content starts here */
.featured-posts h2,
.category-list h2 {
  color: #00a651;
  font-weight: 500;
  margin-bottom: 30px;
  padding: 0 18px;
  font-size: 18px;
  margin-top: 27px;
}



.post-meta {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.author-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.author {
  font-weight: bold;
  margin-right: 10px;
}


.subtitle-date{
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}
.date1{
  padding: 22px 0 13px 0;
  margin-right: 35px;
}

.featured-post-card h3 {
  margin: -5px 0 5px;
  color: #333;
  font-weight: bold;
}

.featured-post-card p {
  color: #666;
  margin-bottom: 10px;
}

.featured-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  color: #666;
  font-size: 0.9em;
}

.selected-for-you {
  color: #00a651;
}

.category-list ul {
  list-style-type: none;
  padding: 0;
  border-top: 1px solid #f3efef;
}

.category-list li {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  color: #00a651;
  font-weight: 500;
  font-size: 18px;
}

.category-numberBox {
  color: #08a05a;
  font-weight: 500;
  font-size: 18px;
  background-color: #002eff12;
  width: 38px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  display: flex;
  height: 35px;
  margin: 0;
  
}



.test-list h2 {
  color: #00a651;
  margin-bottom: 20px;
  font-weight: 500;
  margin-top: 20px;
  padding: 0 18px;
}
.test-list li{
  padding:10px 0;
  font-weight: 500;
}
/* Featured Post */
.featured-post-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.post-meta {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.author-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;

}

.author-info {
  display: flex;
  flex-direction: column;
}

.author {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 2px;
}



.post-content {
  flex-grow: 1;
  margin-left: 15px;
}

.post-title {
  font-size: 1.2rem;
  margin: 0;
  color: #333;
  margin-bottom: 10px;
}

.post-excerpt {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 10px;
}

.featured-image {
  width: 214px;
  height: 144px;
  object-fit: contain;
  border-radius: 8px;
  margin-right: -23px;
  align-self: flex-start;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #555;
  margin-top: 10px;
}

.read-time, .selected-for-you {
  margin-left: 10px;
}


.author{
  display: flex;

}
.authorsec{
  display: flex;
  justify-content: space-around;
  margin-left: -10px;

}

.author img{
  width:25px;
  height:25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -5px;
}
.authorsec img{
  width:25px;
  height:25px;
  border-radius: 50%;

  margin-top: -5px;
}
.authorsec .f-name{
  font-size: 12px;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  color: #292929;
}

.card-box{
  background-color: #4B6BFB0D;
  width: 141px;
  height: 30px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 28px 0 28px;
}
.border-bottom1{
  /* border-bottom: 1px solid #eee; */
  margin: 25px 0 25px 0;
  width: 58%;
}
.card-box p{
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #08A05A;
  margin: 0;
}
.card-boxsec{
  background-color: #4B6BFB0D;
  width: 100px;
  height:30px;
  margin: 10px 0 ;
  display: flex;
  justify-content:center ;
  align-items: center;
  border-radius: 8px;
}
.card-boxsec p{
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #08A05A;
  margin: 0;
}
.read1{
  font-size: 12px;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  color: #292929;
  margin: 16px 11px 0px 5px ;
}
.read2{
  font-size: 12px;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  color: #292929;
  margin: 16px 0 ;
}
.authorTest{
  font-size: 14px;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  color: #292929; 
  margin: 0 12px ;
}
.authorDte{
  font-size: 12px;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  color: #292929;
}
.card-img{
  width: 400px;
  height: 250px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.card-img img{
  padding: 0;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.cardBottom{
  background-color: rgba(97, 95, 95, 0.69);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
}
.card-img img:hover{
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}
.card-desc{
  color: #fff;
  font-size: 15px;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  text-align: start;
  padding: 14px 10px;
}
.photo-banner img {
	width: 100%;
	height: auto;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
/* Know More Button */
.know-more-btn {
	background-color: #08A05A;
	color: white;
	padding: 10px 20px;
	border: 1px solid #08A05A;
	cursor: pointer;
	border-radius: 8px;
	margin-top: 10px;
  }
  
  .know-more-btn:hover {
	background-color: transparent;
	border: 1px solid #08A05A;
	color: #08A05A;
  }

  .collapsed {
	max-height: 400px; /* Adjust this to match the desired number of lines */
	overflow: hidden;
	position: relative;
  }
  
  .collapsed::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px; /* Fading effect height */
	
  }
  
 .blogTitle{
font-family: "Poppins",sans-serif;
font-size: 35px;
font-weight: 700;
line-height: 60px;
text-align: left;
margin-bottom: 0;

 }
 .subTitle{
font-family: "Poppins",sans-serif;
font-size: 25px;
font-weight: 400;
line-height: 60px;
text-align: left;

 }
 /* Add comment Box */
 .comment-box {
	background-color: #F6FBF9; /* Light greenish background */
	padding: 40px;
	border-radius: 10px;
	
	margin-top: 50px;
  }
  
  .comment-box h3 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #222;
  }
  
  .comment-box p {
	font-size: 14px;
	color: #555;
	margin-bottom: 20px;
  }
  
  .comment-box textarea,
  .comment-box input[type="text"],
  .comment-box input[type="email"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	font-family: inherit;
  }
  
  .comment-box textarea {
	height: 150px;
  }
  
  .checkbox-group {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
  }
  
  .checkbox-group input[type="checkbox"] {
	margin-right: 10px;
  }
  
  .checkbox-group label {
	font-size: 14px;
	color: #555;
  }
  
  .submit-comment-btn {
	background-color: #28a745; /* Green button color */
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
  }
  
  .submit-comment-btn:hover {
	background-color: #218838;
  }
  /* border box */
  .is-invalid {
	border: 1px solid red !important;  /* Use !important to ensure the style is applied */
  }
  .form-control::placeholder {
	color: #28a745 !important; /* Adjust placeholder color as needed */
	opacity: 1;  /* Ensure the placeholder is visible (default opacity might be less) */
  }
  
  .is-invalid::placeholder {
	color: rgb(238, 39, 39) !important;  /* Color of the placeholder text when the input is invalid */
  }
  
  /* Additional styling for form control elements */
  .form-control {
	border-radius: 4px;
	padding: 10px;
  }
  .unordered-tags ul li{
	color: #00a651;
	font-size: 18px;
	font-weight: 600;
  }
  .tag{
	margin-top: 38px;
  }
/* Related Post */
.subtitle-color{
  color: #00a651;
  font-family: "Poppins",sans-serif;
}


.card-body{
  padding: 15px;
  min-height: 11rem;
}

.card-img-top{
  height: 200px;
  object-fit: cover;
  padding: 10px;
  border-radius: 17px !important;
}
.date{
  position: absolute;
    bottom: 18px;
    right: 26px;
    margin: 0;
    margin-top: 10px;
    font-size: 0.8rem;
    color: #888;
}
.card-box1{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #08A05A;
  margin: 0;
  background-color: #4B6BFB0D;
  width: 230px;
  height: 33px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 36px 0 36px
}
.card-box1 p{
  font-size: 18px !important;
  padding-top: 6px;
}
.card-box2{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #08A05A;
  margin: 0 ;
  background-color: #4B6BFB0D;
  width: 180px;
  height: 33px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.card-box3{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #08A05A;
  margin: 0;
  background-color: #4B6BFB0D;
  width: 130px;
  height: 33px;
  margin: 10px 0 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  
}
.border-down{
  border-bottom: 1px solid #eee;
  margin: 36px 0 17px 0
}
.border-tag-bottom
{
  border-bottom: 1px solid #eee;
  
}
.titleBox1{
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  
}
.button-spacing{
  margin:28px 0 80px 0;
}
.tag-container{
  width: 95%;
}
.related-post-border{
margin-bottom: 25px;
}

/* ==== RESPONSIVE START HERE ==== */
@media screen and (max-width:1450px){
.blogImg img{
  height: 500px;
}
.rightsd > * {
  margin-left:0;
}
/* .featured-post-card {
  padding: 0;
} */
.author img{
  margin-right: 5px;
}
.blogTitle{
	font-size: 30px;
}
.card-box {
	margin: 25px 0 10px;
}
.category-list li{
	font-size: 15px;
}
.comment-box{
	padding:30px;
}
.card-box1 p {
	font-size: 15px !important;
}
.test-list h2{
font-size:15px !important;
}





}

@media screen and (max-width:1310px){
.container{ max-width:1200px; }
.unordered-tags ul li {
  font-size: 15px;
}
.author {
	display: flex;
	flex-wrap: wrap;
}
.read2{
	margin: 5px 0;
}
.authorTest{
	margin: 0 6px;
}



}

@media screen and (max-width:1199px){
.container{ max-width:960px; }
.read2{
	margin: 16px 0;
}
.featured-posts.updt_feature .post-meta{ width:calc(100% - 214px); }
.featured-image{
	margin-right: 0;
}
.featured-post-card{
	padding: 0;
}
.tag-container{
	width: 100%;
}
.leftsd > * {
  margin-right:0;
 }

}

@media screen and (max-width:991px){
.container{ max-width:720px; }
.blogTitle{
	font-size: 25px;
}
.button-spacing{
	margin: 28px 0 50px 0;
}
.comment-box{
	padding: 25px;
}
.comment-box h3 {
	font-size: 20px;
}


}

@media screen and (max-width:767px){
  .container{ max-width:100%; }
  .blogImg img {
    height: 350px;
    margin-top: calc(70px + 1vh);
  }
  .blogTitle{
    font-size: 20px;
    line-height:1.2;
  }
  .leftsd > * {
   margin-right:0;
  }
  .button-spacing{
    margin: 0 0 50px 0;
  }
  .tag .unordered-tags ul {
    flex-wrap: wrap;
    flex-direction: column;
    gap:5px 0;
  }
  .featured-post-card {
    flex-wrap:wrap;
  }
  .featured-posts.updt_feature .post-meta {
    width: 100%;
  }
  .featured-image {
    width: 100%;
    height: 144px;
    object-fit: cover;
  }
.comment-box{ padding:20px;}
.comment-box .btm_form_sec{ display:flex; align-items: flex-start; }
.comment-box .btm_form_sec #saveInfo{ margin-top:5px; }
.comment-box .sub-btn{  text-align:right;}






  
  
  }
  



