<div class="banSec">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="banSec"><img src="assets/images/banner.jpg" class="d-block w-100" alt="..."></div>
            <div class="banTxtSec">
                <div class="banTxt">
                    <div class="banTxtInner">
                        <h1>Nirnayan <span>Healthcare</span></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus. Duis egestas lorem eget leo malesuada gravida eget quis tortor. Vivamus iaculis faucibus nunc, ut fringilla turpis imperdiet sit amet. Donec a quam non lacus convallis convallis et non nisl. Cras imperdiet hendrerit nibh, sit amet malesuada magna bibendum ut. Sed eu venenatis tellus.</p> 
                        <p>Duis egestas lorem eget leo malesuada gravida eget quis tortor. Vivamus iaculis faucibus nunc, ut fringilla turpis imperdiet sit amet. Donec a quam non lacus convallis convallis et non nisl. Cras imperdiet hendrerit nibh, sit amet malesuada magna bibendum ut. Sed eu venenatis tellus. Vivamus molestie id odio et congue. Ut euismod, arcu et egestas dapibus, urna enim lobortis tortor, sed molestie enim purus non justo. Vivamus molestie id odio et congue. Ut euismod, arcu et egestas dapibus, urna enim lobortis tortor, sed molestie enim purus non justo.</p>
                    </div>
                </div>
                <div class="banBotText">
                    <div class="banBotTextLeft">
                        <h2>Lorem Ipsum</h2>
                        <p>Lorem Ipsum</p>
                    </div>
                    <a href="#" class="banBotTextButton">
                        <div class="banBotTextButtonInner">
                            <p>Loremm Ipsum</p>
                            <img src="assets/images/white-arrow.png" alt="...">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="banSec"><img src="assets/images/banner2.jpg" class="d-block w-100" alt="..."></div>
            <div class="banTxtSec">
                <div class="banTxt">
                    <div class="banTxtInner">
                        <h1>Nirnayan <span>Healthcare</span></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor quis nulla eu luctus. Duis egestas lorem eget leo malesuada gravida eget quis tortor. Vivamus iaculis faucibus nunc, ut fringilla turpis imperdiet sit amet. Donec a quam non lacus convallis convallis et non nisl. Cras imperdiet hendrerit nibh, sit amet malesuada magna bibendum ut. Sed eu venenatis tellus. Vivamus molestie id odio et congue. Ut euismod, arcu et egestas dapibus, urna enim lobortis tortor, sed molestie enim purus non justo.</p>
                    </div>
                </div>
                <div class="banBotText">
                    <div class="banBotTextLeft">
                        <h2>Lorem Ipsum</h2>
                        <p>Lorem Ipsum</p>
                    </div>
                    <a href="#" class="banBotTextButton">
                        <div class="banBotTextButtonInner">
                            <p>Loremm Ipsum</p>
                            <img src="assets/images/white-arrow.png" alt="...">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
    </div>
</div>


