<div class="empOuter">
    <app-header></app-header>
    <!-- <div style="background-color: rgba(0,0,0,0.5);" class="loading-spinner" id="loader">
    </div> -->
    <div class="empContainer">
        <div class="empContainerText">
            <h1>{{empDetails?.name}}</h1>
            <h2>{{empDetails?.designation}} - {{empDetails?.department}}</h2>
            <p *ngIf="empDetails?.otherDetails !=null">{{empDetails?.otherDetails?.biodata}}</p>
            <a href="tel:{{empDetails?.phoneNumber}}"><i class="fa fa-volume-control-phone" aria-hidden="true"></i> - {{empDetails?.phoneNumber}}</a>
        </div>
        <div class="empBoxSec">
            <div class="empTextArea">
                <div class="socialBox top" *ngIf="empDetails?.linkedin != ''">
                <a [attr.href]="empDetails?.otherDetails?.linkedin" target="_blank">
                    <div class="socialFace"><img [src]="limsBaseUrl+empDetails?.image" alt=""/></div>
                    <div class="sclSec">
                        <div class="sclSecIm"><img src="assets/images/linkdinn.png" alt=""/></div>
                        <a class="sclSecTxt" style="color: #26363d;">Linkedin Profile</a>
                    </div>
                </a>
                </div>
                <div class="socialBox" *ngIf="empDetails?.twitter != ''">
                 <a [attr.href]="empDetails?.otherDetails?.twitter" target="_blank">
                    <div class="socialFace"><img [src]="limsBaseUrl+empDetails?.image" alt=""/></div>
                    <div class="sclSec">
                        <div class="sclSecIm"><img src="assets/images/twitter.png" alt=""/></div>
                        <a class="sclSecTxt" style="color: #26363d;">Twitter Profile</a>
                    </div>
                </a>
                </div>
                <div class="empImRndOuter">&nbsp;</div>
                <div class="empImRndOut">
                    <div class="empImRnd"><img [src]="limsBaseUrl+empDetails?.image" alt=""/></div>
                </div>
                
            </div>
            <div class="empBox">
                <div class="empBoxBack"><img [src]="limsBaseUrl+empDetails?.image" alt=""/></div>
                <div class="empBoxInnerSec">
                    <div class="empTextHeading">Others <span>Details</span></div>
                    <div class="empTextSec">
                        <ul>
                            <li>
                                <div class="etIcon"><img src="assets/images/et1.png" alt=""/></div>
                                <div class="etxt">Employee Code <span>{{empDetails?.employeecode}}</span></div>
                            </li>
                            <li>
                                <div class="etIcon"><img src="assets/images/et2.png" alt=""/></div>
                                <div class="etxt">Date of Birth <span>{{empDetails?.dateOfBirth}}</span></div>
                            </li>
                            <li>
                                <div class="etIcon"><img src="assets/images/et3.png" alt=""/></div>
                                <div class="etxt">Mail ID <span>{{empDetails?.email_id}}</span></div>
                            </li>
                            <li>
                                <div class="etIcon"><img src="assets/images/et4.png" alt=""/></div>
                                <div class="etxt">Blood Group <span>{{empDetails?.blood_group}}</span></div>
                            </li>
                            <li>
                                <div class="etIcon"><img src="assets/images/et2.png" alt=""/></div>
                                <div class="etxt">Date of Joining <span>{{empDetails?.dateOfJoining}}</span></div>
                            </li>
                            <li>
                                <div class="etIcon"><img src="assets/images/Call-icon.png" alt=""/></div>
                                <div class="etxt">Alternative No <span>{{empDetails?.alt_phonenumber}}</span></div>
                            </li>
                            <li>
                                <div class="etIcon"><img src="assets/images/Call-icon.png" alt=""/></div>
                                <div class="etxt">Contact No <span>{{empDetails?.phoneNumber}}</span></div>
                            </li>
                            <li>
                                <div class="etIcon"><img src="assets/images/et5.png" alt=""/></div>
                                <div class="etxt">Address <span>{{empDetails?.address}}</span></div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
