<app-header></app-header>
<div class="cartTop">
    <div class="cartTopLeft" data-aos="zoom-out-right" data-aos-duration="1000" data-aos-delay="1000">
        <h1>Cart</h1>
        <p>At Nirnayan we believe nothing is more valuable to our success than the myriad and spirited people who deliver excellence in all domains of diagnostics. All professions here begin with an induction process that accustomed every new employee to the knowledge, associates, and support they need to flourish within our team.</p>
        <p>Being at the center of healthcare means we can provide ingenious solutions that lead to better health, better experiences, and reduced costs without tradeoffs.</p>
    </div>
    <div class="cartTopRght" data-aos="zoom-in-left" data-aos-duration="1000" data-aos-delay="1000"><img src="../../assets/images/cart-page-im.png" alt=""></div>
</div>
<div class="cartMain">
    <div class="cartMainInner">
        <div class="cartMainTbl">
            <table [cellSpacing]="0" [cellPadding]="0" [border]="0">
                <thead>
                    <tr>
                        <td>Test Name</td>
                        <td>Test Code</td>
                        <td>Discount</td>
                        <td>MRP</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Test Name"><div class="tblBx">Lorem Ipsum is a sample</div></td>
                        <td data-label="Test Code"><div class="tblBx">Lorem 0000</div></td>
                        <td data-label="Discount"><div class="tblBx">00</div></td>
                        <td data-label="MRP"><div class="tblBx">800</div></td>
                        <td data-label="Action"><div class="tblBx"><img src="../../assets/images/delet-icon.png" alt=""></div></td>
                    </tr>
                    <tr>
                        <td data-label="Test Name"><div class="tblBx">Lorem Ipsum is a sample</div></td>
                        <td data-label="Test Code"><div class="tblBx">Lorem 0000</div></td>
                        <td data-label="Discount"><div class="tblBx">00</div></td>
                        <td data-label="MRP"><div class="tblBx">800</div></td>
                        <td data-label="Action"><div class="tblBx"><img src="../../assets/images/delet-icon.png" alt=""></div></td>
                    </tr>
                    <tr>
                        <td data-label="Test Name"><div class="tblBx">Lorem Ipsum is a sample</div></td>
                        <td data-label="Test Code"><div class="tblBx">Lorem 0000</div></td>
                        <td data-label="Discount"><div class="tblBx">00</div></td>
                        <td data-label="MRP"><div class="tblBx">800</div></td>
                        <td data-label="Action"><div class="tblBx"><img src="../../assets/images/delet-icon.png" alt=""></div></td>
                    </tr>
                    <tr>
                        <td data-label="Test Name"><div class="tblBx">Lorem Ipsum is a sample</div></td>
                        <td data-label="Test Code"><div class="tblBx">Lorem 0000</div></td>
                        <td data-label="Discount"><div class="tblBx">00</div></td>
                        <td data-label="MRP"><div class="tblBx">800</div></td>
                        <td data-label="Action"><div class="tblBx"><img src="../../assets/images/delet-icon.png" alt=""></div></td>
                    </tr>
                    <tr>
                        <td data-label="Test Name"><div class="tblBx">Lorem Ipsum is a sample</div></td>
                        <td data-label="Test Code"><div class="tblBx">Lorem 0000</div></td>
                        <td data-label="Discount"><div class="tblBx">00</div></td>
                        <td data-label="MRP"><div class="tblBx">800</div></td>
                        <td data-label="Action"><div class="tblBx"><img src="../../assets/images/delet-icon.png" alt=""></div></td>
                    </tr>
                    <tr>
                        <td data-label="Test Name"><div class="tblBx">Lorem Ipsum is a sample</div></td>
                        <td data-label="Test Code"><div class="tblBx">Lorem 0000</div></td>
                        <td data-label="Discount"><div class="tblBx">00</div></td>
                        <td data-label="MRP"><div class="tblBx">800</div></td>
                        <td data-label="Action"><div class="tblBx"><img src="../../assets/images/delet-icon.png" alt=""></div></td>
                    </tr>
                    <tr>
                        <td data-label="Test Name"><div class="tblBx">Lorem Ipsum is a sample</div></td>
                        <td data-label="Test Code"><div class="tblBx">Lorem 0000</div></td>
                        <td data-label="Discount"><div class="tblBx">00</div></td>
                        <td data-label="MRP"><div class="tblBx">800</div></td>
                        <td data-label="Action"><div class="tblBx"><img src="../../assets/images/delet-icon.png" alt=""></div></td>
                    </tr>
                    <tr>
                        <td class="ttll"><div class="tblBx">Total</div></td>
                        <td data-label="Total"><div class="tblBx total">5600</div></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="addTxt">Add Test</div>
        </div>
        <div class="totalBox">
            <div class="totalBoxRw">
                <div class="totalBoxCol">Subtotal</div>
                <div class="totalBoxCol">5600</div>
            </div>
            <div class="totalBoxRw">
                <div class="totalBoxCol">Total Discount</div>
                <div class="totalBoxCol">0</div>
            </div>
            <div class="totalBoxBotRw">
                <div class="totalBoxCol">Total</div>
                <div class="totalBoxCol">5600</div>
            </div>
            <div class="proceed">Proceed To Payment</div>
        </div>
    </div>
</div>

<app-footer></app-footer>