<div class="accreditation acreSlid">
    <h2>Accreditation</h2>
    <owl-carousel-o [options]="SlideOptionn">
        <ng-template carouselSlide *ngFor="let item of isPublish">
            <div class="accreditationBoxArea">
                <div class="accreditationInnerBox">
                    <div class="acRound"><img [src]="item.image" alt=""></div>
                    <h3>Accreditation</h3>
                    <!-- <h4>2018- 2019</h4> -->
                    <p [innerHTML]="item.description"></p>
                </div>
                <a routerLink="/laboratory/accreditation">{{item.title}}</a>
            </div>
        </ng-template>   
    </owl-carousel-o>
</div>