<div class="notification-ui_dd-content">
    <div class="notification-list" *ngFor="let notification of notifications" >
        <div class="notification-list_img">
            <img [src]="notification.notification.icon" alt="user">
        </div>
        <div class="notification-list_detail">
            <h5><b>{{ notification.notification.title }}</b></h5>
            <p>{{ notification.notification.body }}</p>
    </div>
    <div class="notification-list_feature-img">
        <i class="fa fa-trash" (click)="deleteNotification(notifications)"></i>
    </div>
</div>
</div>
<p class="clear" *ngIf="notifications.length!=0" (click)="clearNotifications()">Clear All</p>