<app-header></app-header>
<div style="background-color: rgba(0,0,0,0.5);" class="loading-spinner" id="loader">
</div>
<div class="checkTop">
  <div class="alert alert-danger alert-dismissible fade show" id="alert" role="alert">
    <strong>Login Expired!</strong> Please login again to continue.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <!-- <h1>Check Out</h1> -->
  <div class="chkTpRow">
    <div class="chkTpCol">
      <img src="assets/images/checkout-icon.png" alt="" />
      <div class="chkTpColTxt">Cart</div>
    </div>
    <div class="chkTpCol">
      <img src="assets/images/checkout-icon.png" alt="" />
      <div class="chkTpColTxt">Check out</div>
    </div>
    <div class="chkTpCol">
      <img src="assets/images/check-paymentt-icon.png" alt="" />
      <div class="chkTpColTxt">Payment</div>
    </div>
  </div>
</div>
<div class="pdSec">
  <div class="pdSecCont">
    <h1>Patients Details</h1>
    <div class="text-center" *ngIf="!allItems?.bookings">
      <div class="spinner-border text-center" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
      <span>Please wait</span>
      </div>
    </div>
    <div class="pdSecRw">
      <div class="pdSecCol" *ngFor="let item of allItems?.bookings; let i = index">
        <div class="pdSecColTop">
          <div class="pdSecColTopLft">
            <h2>{{item.patientName}}</h2>
            <div class="dcName">
              <p>Doctor Name: {{item.doctorName}}</p>
            </div>
          </div>
          <div class="pdSecColTopRght">
            <!-- <button type="button">Upload Pres</button> -->
            <div class="pdSecColTopRghtTp"><input type="file" class="form-control" (change)="uploadPres($event,i)">
            </div>
            <!-- <button type="button" disabled>Consent Form</button> -->
          </div>
        </div>
        <div class="pdSecColMid">
          <h2>
            <span>Test Name</span>
            <span>Amount</span>
          </h2>
        </div>
        <div class="pdSecColText">
          <div class="pdSecColTextRw" *ngFor="let test of item.tests">
            <div class="pdSecColTextCol">{{test.test_name}}</div>
            <div class="pdSecColTextCol">
              <!-- <span>700 /-</span> -->
              <span>{{test.mrpAmount | currency:'INR'}} /-</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearCheck">
    <!-- <h3>Clear checkout page ? <b class="text-danger pointer" (click)="clearCheckOut()">Clear</b></h3> -->
  </div>
</div>
<div class="dlvSec">
  <div class="pdSecCont">
    <div class="dlvSecTop">
      <h2>Select a delivering address</h2>
      <div class="dlvSecTopAdd" routerLink="/user/profile">
        <p>Add</p>
        <img src="assets/images/yellow-plus.png" alt="">
      </div>
    </div>
    <div class="dlvSecMid">
      <ul>
        <li *ngFor="let item of allItems?.addressList; let i = index">
          <input type="radio" name="select" id="option-{{i+1}}" (click)="addressCheck(item.id)">
          <label for="option-{{i+1}}" class="option option-{{i+1}}">
            <div class="dot"></div>
            <div class="dlvAd">
              <h2>{{item.fullName}} &nbsp;&nbsp; <span>{{item.addressName}}</span></h2>
              <p>{{item.addressLine_1}}, {{item.addressLine_2}} , Contact - {{item.contactNumber}}, Alt No. -
                {{item.alt_contactNumber}}, Pin - {{item.pinCode}}</p>
            </div>
          </label>
        </li>
      </ul>
    </div>
  </div>

  <!-- <div class="wrapper">
    <input type="radio" name="select" id="option-1" checked>
    <input type="radio" name="select" id="option-2">
      <label for="option-1" class="option option-1">
        <div class="dot"></div> <span>Student</span>
      </label>
      <label for="option-2" class="option option-2">
        <div class="dot"></div> <span>Teacher</span>
      </label>
   </div> -->
</div>
<div class="pdSecCont">
  <div class="app-time">
    <h2 class="mb-0">Booking Slot <input class="form-control col-md-3 mt-2 dateBox" id="datepicker"
        (change)="selectBookingDate($event)" type="date"></h2>
    <div class="app-check" *ngIf="isDate">
      <ng-container *ngFor="let slot of slotItems; let i = index">
        <div class="appCkBox">
          <input type="radio" id="first{{i}}" class="option-input radio" name="example" />
          <div class="app-border" (click)="getSlot(slot.id)">
            <label class="app-label pointer" for="first{{i}}">
              {{ slot.start_time | timeformat }} To {{ slot.end_time | timeformat }}
            </label>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="bilofferSec">
  <div class="biloffer">
    <div class="bilofferCont">
      <h2>Offers</h2>
      <div class="enterCod">
        <form>
          <input type="text" id="couponCode" name="couponCode" #code [(ngModel)]="searchText" placeholder="Search Coupons" (keyup)="filterCoupons(code.value)">
          <input type="submit" id="applybtn" (click)="applyCoupon(code.value , '','')" value="Apply">
        </form>
        </div>
        <div class="offrBox" *ngFor="let coupon of coupons | filter: searchText; let i = index">
          <div (click)="!isCouponActive(coupon) && getCouponDiscount(coupon)">
            <h2 *ngIf="coupon?.benefits?.discount?.discount_type == 2">{{coupon?.benefits?.discount?.discount_percent}}% OFF</h2>
            <h2 *ngIf="coupon?.benefits?.discount?.discount_type == 1">{{coupon?.benefits?.discount?.max_discount_amount}} Flat</h2>
            <p>{{coupon.couponName}} / {{coupon.couponCode}}</p>
            <p class="ass">Valid upto {{coupon.validityEnd | date:"MM/dd/yyyy 'at' h:mma"}}</p>
          </div>
          <div class="offrBoxArrow" (click)="isCouponActive(coupon) ? removeCoupon() : applyCoupon('', coupon, coupon.couponId)">
            {{ isCouponActive(coupon) ? 'Remove' : 'Apply' }}
          </div>
        </div>
        </div>
        
  </div>

  <div class="bildetail">
    <div class="bildetailCont">
      <h2>Billing Details</h2>
      <div class="bildetailBox">
        <div class="bildetailBoxRw"><span>Coins Applied</span> <span>{{mycoins | currency:'INR'}}</span></div>
        <div class="bildetailBoxRw"><span>Discount</span> <span>{{discount | currency:'INR'}}</span></div>
        <div class="bildetailBoxRw"><span>Subtotal</span> <span>{{totalPrice | currency:'INR'}}</span></div>
      </div>
      <div class="bdPaymntSec first">
        <label>Use coins </label>
        <input class="form-check-input" type="checkbox" (change)="isCoinsUse($event,myCoins?.balance == null? 0:myCoins?.balance)" value="" id="flexCheckChecked">
        <img src="assets/icons/coins.png" alt=""><span id="restcoins">{{myCoins?.balance == null? 0:myCoins?.balance}}</span>
      </div>

      <div class="bdPaymntSec">
        <label class="bdPaymnt">Cash on Delivery
          <input type="radio" disabled name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="bdPaymnt">Online Payment
          <input type="radio" checked="checked" name="radio">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="pay"><a (click)="payNow()" id="pay">Pay {{totalPrice | currency:'INR'}}</a></div>
    </div>
  </div>
</div>

<app-footer></app-footer>