<app-header></app-header>
<div style="background-color: rgba(0,0,0,0.5);" class="loading-spinner" id="loader">
</div>
<div class="checkTop">
  <div class="alert alert-danger alert-dismissible fade show" id="alert" role="alert">
    <strong>Login Expired!</strong> Please login again to continue.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <!-- <h1>Check Out</h1> -->
  <div class="chkTpRow">
    <div class="chkTpCol">
      <img src="assets/images/checkout-icon.png" alt=""/>
      <div class="chkTpColTxt">Cart</div>
    </div>
    <div class="chkTpCol">
      <img src="assets/images/checkout-icon.png" alt=""/>
      <div class="chkTpColTxt">Check out</div>
    </div>
    <div class="chkTpCol">
      <img src="assets/images/check-paymentt-icon.png" alt=""/>
      <div class="chkTpColTxt">Payment</div>
    </div>
  </div>
</div>
<div class="pdSec">
  <div class="pdSecCont">
    <h1>Patients Details</h1>
    <div class="pdSecRw">
      <div class="pdSecCol" *ngFor="let item of allItems?.bookings?.patientDetails; let i = index">
        <div class="pdSecColTop">
          <div class="pdSecColTopLft">
            <h2>{{item.patientName}}</h2>
            <div class="dcName">
              <input type="text" class="form-control" #doctor placeholder="Doctor name" value="{{item.doctor_name}}" style="width: 224px;">
              <button class="btn btn-primary btn-sm" (click)="saveDoctor(doctor.value,i)">Save</button>
            </div>
          </div>
          <div class="pdSecColTopRght">
            <!-- <button type="button">Upload Pres</button> -->
            <div class="pdSecColTopRghtTp"><input type="file" class="form-control" (change)="uploadPres($event,i)"></div>
            <!-- <button type="button" disabled>Consent Form</button> -->
          </div>
        </div>
        <div class="pdSecColMid">
          <h2>
            <span>Test Name</span>
            <span>Amount</span>
          </h2>
        </div>
        <div class="pdSecColText">
          <div class="pdSecColTextRw" *ngFor="let test of item.tests">
            <div class="pdSecColTextCol">{{test.test_name}}</div>
            <div class="pdSecColTextCol">
              <!-- <span>700 /-</span> -->
              <span>{{test.amount | currency:'INR '}} /-</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="text-align: end; margin-right: 250px; margin-top: 10px;">
    <h3>Clear checkout page ? <b class="text-danger pointer" (click)="clearCheckOut()">Clear</b></h3>
  </div>
</div>
<div class="dlvSec">
  <div class="pdSecCont">
    <div class="dlvSecTop">
      <h2>Select a delivering address</h2>
      <div class="dlvSecTopAdd" data-bs-toggle="modal" data-bs-target="#addressModal">
        <p>Add</p>
        <img src="assets/images/yellow-plus.png" alt="">
      </div>
    </div>
    <div class="dlvSecMid">
      <ul>
        <li *ngFor="let item of allItems?.addressList; let i = index">
          <input type="radio" name="select" id="option-{{i+1}}" (click)="addressCheck(item.id)">
          <label for="option-{{i+1}}" class="option option-{{i+1}}">
            <div class="dot"></div> 
            <div class="dlvAd">
              <h2>{{item.fullName}} &nbsp;&nbsp; <span>{{item.addressName}}</span></h2>
              <p>{{item.addressLine_1}}, {{item.addressLine_2}} , Contact - {{item.contactNumber}}, Alt No. - {{item.alt_contactNumber}}, Pin - {{item.pinCode}}</p>
            </div>
            <img src="assets/images/edit.png" height="18px" (click)="editAddr(item.id)"
              data-bs-toggle="modal" data-bs-target="#addressModal" />
          </label>
        </li>
      </ul>
    </div>
  </div>
  
  <!-- <div class="wrapper">
    <input type="radio" name="select" id="option-1" checked>
    <input type="radio" name="select" id="option-2">
      <label for="option-1" class="option option-1">
        <div class="dot"></div> <span>Student</span>
      </label>
      <label for="option-2" class="option option-2">
        <div class="dot"></div> <span>Teacher</span>
      </label>
   </div> -->
</div>

<div class="app-time">
  <h2>Booking Slot <input class="form-control col-3" id="datepicker" (change)="selectBookingDate($event)" type="date"></h2>
  <div class="app-check" *ngIf="isDate">
    <ng-container *ngFor="let slot of slotItems; let i = index">
      <input type="radio" id="first{{i}}" class="option-input radio" name="example" />
      <div class="app-border" (click)="getSlot(slot.id)">
        <label class="app-label pointer" for="first{{i}}">{{slot.start_time | timeformat}} To {{slot.end_time | timeformat}}
        </label>
      </div>
    </ng-container>
  </div>
</div>

<div class="bilofferSec">
  <div class="biloffer">
    <div class="bilofferCont">
      <h2>Offers</h2>
      <div class="enterCod">
        <form>
          <input type="text"  id="couponCode" #code placeholder="Enter Code">
          <input type="submit" id="applybtn" (click)="applyCoupon(code,'')" value="Apply">
        </form>
      </div>
      <div class="offrBox" *ngFor="let coupon of coupons; let i = index">
        <div (click)="getCouponDiscount(coupon)">
          <h2 *ngIf="coupon?.benefits?.discount?.discount_type == 2">{{coupon?.benefits?.discount?.discount_percent}}% OFF</h2>
          <h2 *ngIf="coupon?.benefits?.discount?.discount_type == 1">{{coupon?.benefits?.discount?.max_discount_amount}} Flat</h2>
          <p>{{coupon.couponName}} / {{coupon.couponCode}}</p>
          <p class="ass">Valid upto {{coupon.validityEnd | date:"MM/dd/yyyy 'at' h:mma"}}</p>
        </div>
        <div class="offrBoxArrow"><img src="assets/images/ofr-box-arrow.png" alt=""></div>
      </div>
    </div>
  </div>

  <div class="bildetail">
    <div class="bildetailCont">
      <h2>Billing Details</h2>
      <div class="bildetailBox">
        <div class="bildetailBoxRw"><span>Coins Applied</span> <span class="fontFm">{{usedCoins | currency:'INR'}}</span></div>
        <div class="bildetailBoxRw"><span>Discount</span> <span class="fontFm">{{discount | currency:'INR'}}</span></div>
        <div class="bildetailBoxRw"><span>Subtotal</span> <span class="fontFm">{{totalPrice | currency:'INR'}}</span></div>
      </div>
      <div class="bdPaymntSec" style="margin-top: 11px;">
        <label class="" style="margin-left: 23px;">Use coins </label>
          <input class="form-check-input" type="checkbox" (change)="isCoinsUse($event,myCoins?.balance == null? 0:myCoins?.balance)" value="" style="margin-left: 0px; margin-top: -5px;" id="flexCheckChecked">
        <img height="31px" src="assets/icons/coins.png" alt=""><span *ngIf="mycoins == 0">{{myCoins?.balance == null? 0:myCoins?.balance}}</span> <span *ngIf="mycoins != 0">{{restcoins}}</span>
      </div>

      <div class="bdPaymntSec">
        <label class="bdPaymnt">Cash on Delivery
          <input type="radio"  name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="bdPaymnt">Online Payment
          <input type="radio" checked="checked" name="radio">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="pay" style="font-family: auto;"><a id="pay" (click)="payNow()" >Pay {{totalPrice | currency:'INR'}}</a></div>
    </div>
  </div>
</div>

<!-- Address Add Modle -->
<div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">New Address</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addressForm">
          <div class="row">
            <div class="col-6 mt-2">
              <input type="text" class="form-control" placeholder="Full Name, (Required*)" formControlName="fullName">
              <div *ngIf="submitted && addressForm.get('fullName').errors">
                <small class="text-danger">Name is required</small>
              </div>
            </div>

            <div class="col-6 mt-2">
              <input type="text" class="form-control" placeholder="Phone No, (Required*)"
                formControlName="contactNumber">
              <div *ngIf="submitted && addressForm.get('contactNumber').errors">
                <small class="text-danger">Contact No. is required</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 mt-2">
              <input type="text" class="form-control" placeholder="Alternate No, (Required*)"
                formControlName="alt_contactNumber">
              <div *ngIf="submitted && addressForm.get('alt_contactNumber').errors">
                <small class="text-danger">Alternate No. is required</small>
              </div>
            </div>
            <div class="col-6 mt-2">
              <input type="text" class="form-control" placeholder="Pine code, (Required*)" formControlName="pinCode">
              <div *ngIf="submitted && addressForm.get('pinCode').errors">
                <small class="text-danger">Pincode is required</small>
              </div>
            </div>
            <div class="col-6 mt-2">
              <input type="text" class="form-control" placeholder="State, (Required*)" formControlName="state">
              <div *ngIf="submitted && addressForm.get('state').errors">
                <small class="text-danger">State is required</small>
              </div>
            </div>
            <div class="col-6 mt-2">
              <input type="text" class="form-control" placeholder="City, (Required*)" formControlName="city">
              <div *ngIf="submitted && addressForm.get('city').errors">
                <small class="text-danger">City is required</small>
              </div>
            </div>
            <div class="col-12 mt-2">
              <textarea class="form-control" placeholder="House No, Building Name, (Required*)"
                formControlName="addressLine_1" id="message-text"></textarea>
              <div *ngIf="submitted && addressForm.get('addressLine_1').errors">
                <small class="text-danger">Address 1 is required</small>
              </div>
            </div>
            <div class="col-12 mt-2">
              <textarea class="form-control" placeholder="Road Name,Area,Colony, (Required*)"
                formControlName="addressLine_2" id="message-text"></textarea>
              <div *ngIf="submitted && addressForm.get('addressLine_2').errors">
                <small class="text-danger">Address 2 is required</small>
              </div>
            </div>
            <a href="javascript:void(0)" (click)="this.isLandmark = !this.isLandmark" class="mt-2">+ Add Nearby famouse
              shop, mall, landmark</a>
            <div class="mb-3" *ngIf="isLandmark">
              <textarea class="form-control" placeholder="Landmark" formControlName="landMark"
                id="message-text"></textarea>
            </div>

            <div class="">
              <h3 class="form-check" style="margin-left: -19px;">Address Type : </h3> &nbsp;&nbsp;
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="addressName"
                  [checked]="isLandmarkName == 'Home'" value="Home" name="" id="inlineRadio1">
                <label class="form-check-label" for="inlineRadio1">Home</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="addressName"
                  [checked]="isLandmarkName == 'Work'" value="Work" name="" id="inlineRadio2">
                <label class="form-check-label" for="inlineRadio2">Work</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="addressName"
                  [checked]="isLandmarkName == 'Other'" value="Other" name="" id="inlineRadio3">
                <label class="form-check-label" for="inlineRadio3">Other</label>
              </div>
            </div>

            <!-- <p id="location">Get My Location</p> -->
            <!-- <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onMapClicked($event)"></agm-map> -->
          
            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
              <!-- Add other AGM components, markers, etc. here -->
            </agm-map>
            <div>Latitude: {{latitude}}</div>
            <div>Longitude: {{longitude}}</div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="saveAddress()" *ngIf="!isEdit" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
        <button type="button" (click)="updateAddress()" *ngIf="isEdit" class="btn btn-primary" data-bs-dismiss="modal">Update</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>