<app-header></app-header>
<!-- <div style="background-color: rgba(0,0,0,0.5);" class="loading-spinner" id="loader">
</div> -->
<div class="mb-5" style="padding: 160px;">
    <div class="card" style="width: 100%;">
        <!-- <div class="card-body" style="padding: 19rem 1rem;">
          <blockquote class="blockquote mb-0">
            <h2 style="text-align: center;font-size: 88px;">Thank You</h2>
            <hr style="margin-left: 556px; width: 459px; margin-top: 50px; border: 1px solid;">
          </blockquote>
        </div> -->
          
      </div>
</div>
<app-footer></app-footer>