<div class="blgSliderSec">
  <h2>Blogs</h2>
  <div id="slider">
    <div class="dp-wrap">
      <div id="dp-slider">
        <div class="dp_item" [class.active]="item.id == 1" [attr.data-class]="i+1" *ngFor="let item of blogs; let i = index" [attr.data-position]="i+1">
          <div class="blgTxt">
            <div class="blgTxtInner">
              <h3>{{item.title}}</h3>
              <div [innerHTML]="item.description" class="blgTxtSec"></div>
              <a class="knMr" href="">Know more...</a>
            </div>
          </div>
          <div class="blgImag">
            <img class="img-fluid" [src]="item.image" alt="">
          </div>
        </div>
      </div>

      <span id="dp-next">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.401 51.401">
          <defs>
            <style>
              .cls-1 {
                fill: none;
                stroke: gold;
                stroke-miterlimit: 10;
                stroke-width: 7px;
              }
            </style>
          </defs>
          <path id="Rectangle_4_Copy" data-name="Rectangle 4 Copy" class="cls-1" d="M32.246,0V33.178L0,31.953" transform="translate(0.094 25.276) rotate(-45)" />
        </svg>
      </span>
  
      <span id="dp-prev">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.401 51.401">
          <defs>
            <style>
              .cls-1 {
                fill: none;
                stroke: gold;
                stroke-miterlimit: 10;
                stroke-width: 7px;
              }
            </style>
          </defs>
          <path id="Rectangle_4_Copy" data-name="Rectangle 4 Copy" class="cls-1" d="M32.246,0V33.178L0,31.953" transform="translate(0.094 25.276) rotate(-45)" />
        </svg>
      </span>

      <ul id="dp-dots">
        <li data-class="1" class="active">0<span>1</span></li>
        <li data-class="2">0<span>2</span></li>
        <li data-class="3">0<span>3</span></li>
        <li data-class="4">0<span>4</span></li>
      </ul>
    </div>
  </div>
</div>