<div class="blgSliderSec">
  <h2>Blogs</h2>
<!-- <div id="slider" class="ui-card-slider">
    <div class="slide">
      <div class="blgTxt">
        <div class="blgTxtInner">
          <h3>Blogs Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
          <p>Suspendisse elit est, commodo nec rutrum interdum, euismod nec neque. Nunc vel ultricies magna. Etiam at fringilla urna. Praesent eget est a massa efficitur tempor nec vel metus. Duis sit amet aliquet augue. Ut nec luctus risus. Aliquam viverra commodo nulla, in cursus tellus sodales at.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
          <p>Suspendisse elit est, commodo nec rutrum interdum, euismod nec neque. Nunc vel ultricies magna. Etiam at fringilla urna. Praesent eget est a massa efficitur tempor nec vel metus. Duis sit amet aliquet augue. Ut nec luctus risus. Aliquam viverra commodo nulla, in cursus tellus sodales at.</p>
        </div>
      </div>
      <div class="blgImag"><img src="assets/images/bs-1.png" alt=""></div>
    </div>
    <div class="slide">
      <div class="blgTxt">
        <div class="blgTxtInner">
          <h3>Other Blogs</h3>
          <p>Phasellus tempor arcu vitae mauris ultrices tempus. Aliquam faucibus augue felis, vehicula sodales purus tincidunt nec. Mauris dictum turpis elit, id porttitor sapien vestibulum id. Nam vestibulum posuere nisi a euismod. Curabitur laoreet mi in leo hendrerit convallis. Duis eget mi at ligula viverra imperdiet. In tortor magna, viverra et congue at, finibus ac ipsum.</p>
          <p>Aliquam erat volutpat. Vestibulum id fringilla velit. Praesent accumsan pellentesque convallis. Praesent congue a lorem id cursus. Vivamus ut rhoncus mi. Quisque eu molestie massa, congue ornare ex. Quisque fringilla scelerisque convallis.</p>
          <p>Phasellus tempor arcu vitae mauris ultrices tempus. Aliquam faucibus augue felis, vehicula sodales purus tincidunt nec. Mauris dictum turpis elit, id porttitor sapien vestibulum id. Nam vestibulum posuere nisi a euismod. Curabitur laoreet mi in leo hendrerit convallis. Duis eget mi at ligula viverra imperdiet. In tortor magna, viverra et congue at, finibus ac ipsum.</p>
          <p>Aliquam erat volutpat. Vestibulum id fringilla velit. Praesent accumsan pellentesque convallis. Praesent congue a lorem id cursus. Vivamus ut rhoncus mi. Quisque eu molestie massa, congue ornare ex. Quisque fringilla scelerisque convallis.</p>
        </div>
      </div>
      <div class="blgImag"><img src="assets/images/bs-2.png" alt=""></div>
    </div>
    <div class="slide">
      <div class="blgTxt">
        <div class="blgTxtInner">
          <h3>Blogs Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
          <p>Suspendisse elit est, commodo nec rutrum interdum, euismod nec neque. Nunc vel ultricies magna. Etiam at fringilla urna. Praesent eget est a massa efficitur tempor nec vel metus. Duis sit amet aliquet augue. Ut nec luctus risus. Aliquam viverra commodo nulla, in cursus tellus sodales at.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
          <p>Suspendisse elit est, commodo nec rutrum interdum, euismod nec neque. Nunc vel ultricies magna. Etiam at fringilla urna. Praesent eget est a massa efficitur tempor nec vel metus. Duis sit amet aliquet augue. Ut nec luctus risus. Aliquam viverra commodo nulla, in cursus tellus sodales at.</p>
        </div>
      </div>
      <div class="blgImag"><img src="assets/images/bs-3.png" alt=""></div>
    </div>
    <div class="slide">
      <div class="blgTxt">
        <div class="blgTxtInner">
          <h3>Other Blogs</h3>
          <p>Phasellus tempor arcu vitae mauris ultrices tempus. Aliquam faucibus augue felis, vehicula sodales purus tincidunt nec. Mauris dictum turpis elit, id porttitor sapien vestibulum id. Nam vestibulum posuere nisi a euismod. Curabitur laoreet mi in leo hendrerit convallis. Duis eget mi at ligula viverra imperdiet. In tortor magna, viverra et congue at, finibus ac ipsum.</p>
          <p>Aliquam erat volutpat. Vestibulum id fringilla velit. Praesent accumsan pellentesque convallis. Praesent congue a lorem id cursus. Vivamus ut rhoncus mi. Quisque eu molestie massa, congue ornare ex. Quisque fringilla scelerisque convallis.</p>
          <p>Phasellus tempor arcu vitae mauris ultrices tempus. Aliquam faucibus augue felis, vehicula sodales purus tincidunt nec. Mauris dictum turpis elit, id porttitor sapien vestibulum id. Nam vestibulum posuere nisi a euismod. Curabitur laoreet mi in leo hendrerit convallis. Duis eget mi at ligula viverra imperdiet. In tortor magna, viverra et congue at, finibus ac ipsum.</p>
          <p>Aliquam erat volutpat. Vestibulum id fringilla velit. Praesent accumsan pellentesque convallis. Praesent congue a lorem id cursus. Vivamus ut rhoncus mi. Quisque eu molestie massa, congue ornare ex. Quisque fringilla scelerisque convallis.</p>
        </div>
      </div>
      <div class="blgImag"><img src="assets/images/bs-1.png" alt=""></div>
    </div>
    <div class="slide">
      <div class="blgTxt">
        <div class="blgTxtInner">
          <h3>Blogs Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
          <p>Suspendisse elit est, commodo nec rutrum interdum, euismod nec neque. Nunc vel ultricies magna. Etiam at fringilla urna. Praesent eget est a massa efficitur tempor nec vel metus. Duis sit amet aliquet augue. Ut nec luctus risus. Aliquam viverra commodo nulla, in cursus tellus sodales at.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu blandit neque. Praesent facilisis euismod lectus. Curabitur arcu diam, imperdiet et posuere vel, tristique id velit.</p>
          <p>Suspendisse elit est, commodo nec rutrum interdum, euismod nec neque. Nunc vel ultricies magna. Etiam at fringilla urna. Praesent eget est a massa efficitur tempor nec vel metus. Duis sit amet aliquet augue. Ut nec luctus risus. Aliquam viverra commodo nulla, in cursus tellus sodales at.</p>
        </div>
      </div>
      <div class="blgImag"><img src="assets/images/bs-2.png" alt=""></div>
    </div>
    <div class="slide">
      <div class="blgTxt">
        <div class="blgTxtInner">
          <h3>Other Blogs</h3>
          <p>Phasellus tempor arcu vitae mauris ultrices tempus. Aliquam faucibus augue felis, vehicula sodales purus tincidunt nec. Mauris dictum turpis elit, id porttitor sapien vestibulum id. Nam vestibulum posuere nisi a euismod. Curabitur laoreet mi in leo hendrerit convallis. Duis eget mi at ligula viverra imperdiet. In tortor magna, viverra et congue at, finibus ac ipsum.</p>
          <p>Aliquam erat volutpat. Vestibulum id fringilla velit. Praesent accumsan pellentesque convallis. Praesent congue a lorem id cursus. Vivamus ut rhoncus mi. Quisque eu molestie massa, congue ornare ex. Quisque fringilla scelerisque convallis.</p>
          <p>Phasellus tempor arcu vitae mauris ultrices tempus. Aliquam faucibus augue felis, vehicula sodales purus tincidunt nec. Mauris dictum turpis elit, id porttitor sapien vestibulum id. Nam vestibulum posuere nisi a euismod. Curabitur laoreet mi in leo hendrerit convallis. Duis eget mi at ligula viverra imperdiet. In tortor magna, viverra et congue at, finibus ac ipsum.</p>
          <p>Aliquam erat volutpat. Vestibulum id fringilla velit. Praesent accumsan pellentesque convallis. Praesent congue a lorem id cursus. Vivamus ut rhoncus mi. Quisque eu molestie massa, congue ornare ex. Quisque fringilla scelerisque convallis.</p>
        </div>
      </div>
      <div class="blgImag"><img src="assets/images/bs-3.png" alt=""></div>
    </div>
  </div>

  <div class="blogNo">
    <div class="slider-content-6" data-index="0">0<span>1</span></div>
    <div class="slider-content-6" data-index="5">0<span>2</span></div>
    <div class="slider-content-6" data-index="4">0<span>3</span></div>
    <div class="slider-content-6" data-index="3">0<span>4</span></div>
    <div class="slider-content-6" data-index="2">0<span>5</span></div>
    <div class="slider-content-6" data-index="1">0<span>6</span></div>
  </div> -->
  <div id="slider">
    <div class="dp-wrap">
      <div id="dp-slider">
        <div class="dp_item" data-class="1" data-position="1">
          <div class="dp-content">
            <h2>Dirlis Ertugrul</h2>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit..</p>
            <a href="#" class="site-btn">Read More…</a>
          </div>
          <div class="dp-img">
            <img class="img-fluid" src="assets/images/bs-1.png" alt="investing">
          </div>
        </div>
  
        <div class="dp_item" data-class="2" data-position="2">
          <div class="dp-content">
            <h2>Dirlis Ertugrul</h2>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit..</p>
            <a href="#" class="site-btn">Read More…</a>
          </div>
          <div class="dp-img">
            <img class="img-fluid" src="assets/images/bs-2.png" alt="investing">
          </div>
        </div>
  
        <div class="dp_item" data-class="3" data-position="3">
          <div class="dp-content">
  
            <h2>Dirlis Ertugrul</h2>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit..</p>
            <a href="#" class="site-btn">Read More…</a>
          </div>
          <div class="dp-img">
            <img class="img-fluid" src="assets/images/bs-3.png" alt="investing">
          </div>
        </div>
  
        <div class="dp_item" data-class="4" data-position="4">
          <div class="dp-content">
  
            <h2>Dirlis Ertugrul</h2>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit..</p>
            <a href="#" class="site-btn">Read More… </a>
          </div>
          <div class="dp-img">
            <img class="img-fluid" src="https://i.postimg.cc/wv6zKCQ8/MV5-BNj-I4-Yj-Jl-ZTct-Mj-U5-NS00-MGFh-LWFk-Zjgt-OTlj-N2-Y4-Nz-I1-Mj-A4-Xk-Ey-Xk-Fqc-Gde-QXVy-NDg4-Mjkz-NDk-V1.jpg" alt="investing">
          </div>
        </div>
      </div>
  
      <span id="dp-next">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.401 51.401">
          <defs>
            <style>
              .cls-1 {
                fill: none;
                stroke: gold;
                stroke-miterlimit: 10;
                stroke-width: 7px;
              }
            </style>
          </defs>
          <path id="Rectangle_4_Copy" data-name="Rectangle 4 Copy" class="cls-1" d="M32.246,0V33.178L0,31.953" transform="translate(0.094 25.276) rotate(-45)" />
        </svg>
      </span>
  
      <span id="dp-prev">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.401 51.401">
          <defs>
            <style>
              .cls-1 {
                fill: none;
                stroke: gold;
                stroke-miterlimit: 10;
                stroke-width: 7px;
              }
            </style>
          </defs>
          <path id="Rectangle_4_Copy" data-name="Rectangle 4 Copy" class="cls-1" d="M32.246,0V33.178L0,31.953" transform="translate(0.094 25.276) rotate(-45)" />
        </svg>
      </span>
  
      <ul id="dp-dots">
        <li data-class="1" class="active"></li>
        <li data-class="2"></li>
        <li data-class="3"></li>
        <li data-class="4"></li>
      </ul>
    </div>
  </div>
</div>


