*{
	font-family: var(--themeFont);
}
.bannerHead {
	padding-left: 6.25rem;
  }
.testDetailsCompo .banner-img{
	background: url('../../../assets/images/test-details-banner.jpg');
	padding: 3.125rem;
	padding-top: 11.875rem;
	font-family: var(--themeFont);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	min-height: 33.125rem;
	background-position: -120px;
}
.testDetailsCompo .bannerHead h3{
	color: var(--newThemeColor);
	font-size: var(--headFontSize);
	line-height: 2.8125rem;
	margin-bottom: 2.5rem;
	width: 65%;
}
.testDetailsCompo .bannerHead h4 a{
    color: #1b89a3;
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
}
.testDetailsCompo .bannerHead h4 a img{
    padding-right: .625rem;
    width: 2.125rem;
    height: 2.125rem;
    object-fit: contain;
}
.testDetailsCompo .bannerHead ul{
	display: grid;
    grid-template-columns: 1fr 1fr; 
	gap: .625rem; 
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 24.375rem;
	margin-top: 1.875rem;
}
.testDetailsCompo .bannerHead ul li{
	display: flex;
    box-sizing: border-box;
    align-items: center;
    color: #3d3535;
    font-size: .75rem;
    font-weight: 500;
    border: 1px solid #6db8ae;
    border-radius: 1.875rem;
    margin: .3rem;
    margin-bottom: 0;
}
.testDetailsCompo .bannerHead ul li span{
    width: 2.1875rem;
    height: 2.1875rem;
    background: #fff;
    border-radius: 50%;
    padding: .625rem;
    display: flex;
    justify-content: center;
    align-items: center;
	margin-right: .625rem;
}
.testDetailsCompo .bannerHead ul li span img{
	width: 100%;
	object-fit: cover;
}
.testDetailsCompo .bannerOverlay{
	position: absolute;
    right: 42.125rem;
    bottom: -3px;
	background: url(../../../assets/images/over-lay.png);
	background-size: contain;
    background-repeat: no-repeat;
}
.bannerExtraImg{
	position: absolute;
    right: 270px;
    top: 150px;
    width: 300px;
    height: 300px;
}
.innerExtralayout{
	position: relative; 
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 7px solid #23d998;
    z-index: 1;
	width: 300px;
    height: 300px;
	animation: pulse-animation 2s infinite;
}
.pulse {
	animation: pulse-animation 2s infinite;
  }
@keyframes pulse-animation {
	0% {
	  box-shadow: 0 0 0 0px rgba(12, 204, 0, 0.5);
	}
	100% {
	  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
	}
  }
  .bannerExtraImg:before{
    content: "";
    position: absolute;
    left: -120px;
    bottom: -60px;
    width: 217px;
    height: 227px;
    background: url(../../../assets/images/dna-shape-1.png);
    z-index: 1;
    animation: grow-to-bottom-right 12s infinite;
    display: block;
}
.bannerExtraImg:after{
    content: "";
    position: absolute;
    right: -140px;
    top: -60px;
    width: 270px;
    height: 355px;
    background: url(../../../assets/images/dna-shape-2.png);
    z-index: 0;
    animation: grow-to-bottom-right 12s infinite alternate-reverse;
    display: block;
}
@keyframes grow-to-bottom-right {
    from {
        transform: translate(0, 0) scale(0.1);
    }
    to {
        transform: translate(0, 0) scale(1);
    }
}
.testDetailsCompo .aboutTest{
	background-color: #f8ffef;
	padding: 3.25rem;
}
.testDetailsCompo .aboutTestdetailsText{
	position: relative;
    padding: 1.875rem;
    background: #fff;
    border-radius: 3.125rem;
    border: .1rem solid #bebebe;
    padding-top: 70px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	z-index: 2;
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0px 73px 0px 73px;
    -moz-border-radius: 0px 73px 0px 73px;
    -webkit-border-radius: 0px 73px 0px 73px;
    border: 0px solid #000000;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}


.testDetailsCompo .aboutTestdetailsText:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgb(0 0 0 / 70%); */
    z-index: 0;
    /* border-radius: 3.125rem; */
    /* border-radius: 25% 25% 25% 0% / 25% 0% 25% 25%; */
    border-radius: 0px 73px 0px 73px;
    -moz-border-radius: 0px 73px 0px 73px;
    -webkit-border-radius: 0px 73px 0px 73px;
    border: 0px solid #000000;
}

.aboutTestdetailsText p{
	position: relative;
}

.testDetailsCompo .aboutTest h4{
	font-size: 1.4375rem;
    color: #ffffff;
    line-height: 1.2;
    text-align: left;
    font-weight: 500;
    padding: 10px;
}
.detailsAccordian{
	filter: drop-shadow(2px 4px 9px #707070);
}
.testDetailsCompo .detailsAccordian .accordion-button:focus {
    border-color: unset;
    outline: 0;
    box-shadow: none;
}
.testDetailsCompo .accordion-item{
background-color: transparent;
border: 0;
}
.testDetailsCompo .accordion-item button
{
	background-color: #d5e7df;
    color: #254a7f;
    font-size: 1.5rem;
    /* font-weight: 500; */
    border-radius: 1.875rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 0;
}
.testDetailsCompo .accordion-item button span{
	width: 2.1875rem;
	height: 2.1875rem;
	background-color: #fff;
	border-radius: 50%;
	margin-right: .625rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.testDetailsCompo .testBriefDetails{
	margin-top: 3.125rem;
    padding-bottom: 5.625rem;
}
.testDetailsCompo .accordion-body{
	padding: 1.875rem;
    background: #fff;
    padding-bottom: 3.75rem;
    margin-bottom: -2.25rem;
    border-radius: 1.875rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.testDetailsCompo .accordion-header{
	margin-bottom: 0;
}
.testDetailsCompo .accordion-body h5{
color: #3f425e;
font-size: 1rem;
}
.testDetailsCompo .accordion-body ul{
	padding-left: 1.875rem;
    padding-top: .625rem;
}
.testDetailsCompo .accordion-body ul li{
	margin-bottom: 10px;
	position: relative;
}
.testDetailsCompo .accordion-body ul li:before{
	content: "";
    position: absolute;
    left: -0.875rem;
    top: .375rem;
    width: .3125rem;
    height: .3125rem;
    background-color: #000;
    border-radius: 50%;
}
.testDetailsCompo .accordion-button:not(.collapsed)::after{
	filter: brightness(0.5);
}
.testDetailsCompo .accordion-item:nth-child(1) button
{
	border-radius: 1.875rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.relatedTest > h3{
font-size: 1.5rem;
color: #254a7f;
margin-bottom: 0;
padding: 0;
}
.testDetailsCompo details{
margin-bottom: 1.25rem;
}
/* Test List Start */
.ppTstList {
	box-shadow: -1.414px 1.414px 24px 0px rgb(124 124 121 / 72%);
	border-radius: 20px;
	background-color: #fff;
	position: relative;
	overflow: hidden;
	margin-bottom: 1.875rem;
}
.ppTstList::after {
	content: "";
	background: url(../../../assets/images/Colour-patch.png) right top no-repeat;
	height: 54px;
	width: 73px;
	top: 0;
	left: 0;
	position: absolute;
}
.ppTstList::before {
	content: "";
	background: url(../../../assets/images/Colour-patch2.png) right top no-repeat;
	height: 71px;
	width: 100px;
	bottom: 0;
	right: 0;
	position: absolute;
}
.ppTstName {
	width: 45%;
}
.ppTstName ul {
	margin-bottom: 0;
}
.ppTstCart {
	width: 55%;
	position: relative;
	top: -40px;
	left: 0;
}
.tstTitle {
	font-size: 19px;
	font-family: 'Poppins', sans-serif !important;
	color: rgb(37, 74, 127);
	line-height: 1.2;
	margin-top: 10px;
	margin-left: 22px;
	font-weight: 500;
}
.tstDesc {
	font-size: 14px;
	font-family: 'Poppins', sans-serif !important;
	color: rgb(32, 32, 32);
	line-height: 1.2;
	margin-top: -5px;
	margin-left: 24px;
	font-weight: 500;
	height: 34px;
	overflow: hidden;
	margin-bottom: 0;
}
.availableTst {
	margin-top: 7px;
	margin-left: 22px;
	margin-right: -25px;
}
.availableTst i {
	font-size: 12px;
}
.availableTst-para {
	font-size: 15px;
	font-family: 'Poppins', sans-serif !important;
	color: rgb(32, 32, 32);
	line-height: 1.2;
	font-weight: 500;
}
.ppTstPrice {
	width: 110px;
	height: 54px;
	margin: 0px 12px;
}
.strikethrough {
	font-size: 20px;
	font-family: 'Roboto';
	color: rgb(37, 74, 127);
	line-height: 1.2;
	margin-left: 12px;
	position: relative;
}
.strikethrough:before {
	position: absolute;
	content: "";
	left: 0;
	top: 50%;
	right: 0;
	border-top: 2px solid #dd0031 !important;
	border-color: inherit;
	-webkit-transform: rotate(348deg);
	-moz-transform: rotate(348deg);
	-ms-transform: rotate(348deg);
	-o-transform: rotate(348deg);
	transform: rotate(348deg);
}
.current-price {
	font-size: 26px;
	font-family: "Roboto" !important;
	color: rgb(37, 74, 127);
	line-height: 1.2;
	margin-top: 0px;
	font-weight: 500;
}
.current-price2 {
	font-size: 16px;
	font-family: "Roboto" !important;
	color: rgb(11 155 228);
	line-height: 1.2;
	margin-top: 13px;
	font-weight: 500;
	text-decoration: underline;
}
.btn-add-cart {
	border-radius: 7px;
	background-color: transparent;
	width: 96px;
	height: 40px;
	color: rgb(4 120 53);
	border: 2px solid rgb(4 120 53);
	font-size: 12px;
	margin: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn-add-cart:hover,
.btn-add-cart:active {
	border: 2px solid rgb(7 76 36);
	background-color: rgb(17 127 63);
	color: rgb(255, 255, 255);
}
.knMr {
	font-size: 13px;
	font-family: 'Poppins', sans-serif !important;
	color: rgb(27 137 163) !important;
	line-height: 1.2;
	margin-top: -5px;
	margin-left: 24px;
	font-weight: 700;
	cursor: pointer;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.relatedTest h3{
	padding-left: 1.5rem;
}
.innerExtralayout img{
	width: 100%;
    height: 100%;
    border-radius: 50%;
	object-fit: cover;
}
/* Test List End */

.aboutTestdetailsText h4 {
	font-size: 28px;
	font-weight: bold;
	color: #fff;
  }
  .aboutTestdetailsText h4 {
	--f: .5em;
    --r: .8em;
    position: absolute;
    top: -10px;
    left: -10px;
    padding-inline: .25em;
    line-height: 1.8;
    background: #37ac8e;
    border-bottom: var(--f) solid #0005;
    border-right: var(--r) solid #0000;
    clip-path: polygon(0 0, 0 calc(100% - var(--f)), var(--f) 100%, var(--f) calc(100% - var(--f)), 100% calc(100% - var(--f)), calc(100% - var(--r)) calc(50% - var(--f) / 2), 100% 0);
  }

  .bannerOverlay img{
	width: 100%;
  }


@media screen and (max-width:1577px) {
	.bannerExtraImg{
    	right: 270px;
    	top: 150px;
    	width: 240px;
    	height: 240px;
	}
	.innerExtralayout {
		width: 270px;
		height: 270px;
	}
	.testDetailsCompo .bannerOverlay {
		right: 37.125rem;
		bottom: -2px;
	}
}
@media screen and (max-width:1377px) {
	.bannerExtraImg {
        right: 110px;
        top: 160px;
        width: 210px;
        height: 210px;
    }
	.innerExtralayout {
        width: 220px;
        height: 220px;
    }
	.bannerExtraImg:before {
		left: -100px;
        bottom: -60px;
        width: 217px;
        height: 227px;
        background-size: 70%;
        background-repeat: no-repeat;
	}
	.bannerExtraImg:after {
        width: 217px;
        height: 227px;
        background-size: 70%;
        background-repeat: no-repeat;
	}
	.testDetailsCompo .bannerOverlay {
        right: 25rem;
        bottom: -2px;
    }
	.testDetailsCompo .bannerOverlay img{
		width: 95%;
	}
	.testDetailsCompo .bannerHead h3 {
		width: 85%;
	}
	.ppTstName {
		width: 95%;
	}
	.availableTst {
		margin-right: -48px;
	}
	.current-price2 {
		font-size: 12px;
	}

	.aboutTestdetailsText h4 {
		top: 0px;
		left: -12px;
	}
	.testDetailsCompo .aboutTestdetailsText {
		padding-top: 60px;
	}	
	
	
}
@media screen and (max-width:1280px) {
.testDetailsCompo .bannerHead h3 {
	width: 95%;
}
.relatedTest > h3 {
    padding-left: 2.0rem;
    font-size: 1.875rem;
}
.testDetailsCompo .banner-img{
    padding-top: 5.875rem;
	background-position: bottom;
}
.bannerExtraImg {
	right: 100px;
	top: 103px;
}
.innerExtralayout {
	width: 220px;
	height: 220px;
}
.testDetailsCompo .bannerOverlay {
	right: 24rem;
	bottom: -3px;
}
.current-price2 {
	font-size: 11px;
	padding-left: 1.0rem !important;
}
}
@media screen and (max-width:1199px) {
	.bannerExtraImg {
        right: 80px;
        top: 110px;
    }
	.innerExtralayout,
	.bannerExtraImg
	{
        width: 150px;
        height: 150px;
    }
	.testDetailsCompo .bannerOverlay img {
        width: 71%;
    }
	.testDetailsCompo .bannerOverlay {
        right: 9.125rem;
        bottom: -2px;
		z-index: 2;
    }
	.testDetailsCompo .banner-img{
		background-position: bottom;
		padding-top: 5.875rem;
		min-height: 25.125rem;
	}
	.relatedTest h3{
		padding-left: 0;
	}
	.btn-add-cart {
		margin: 0;
	}
    .availableTst {
        margin-right: -88px;
    }
	.relatedTest > h3{
		padding-left: 1.875rem;
	}
	.bannerExtraImg:before {
        left: -70px;
        bottom: -60px;
        width: 217px;
        height: 227px;
        background-size: 42%;
        background-repeat: no-repeat;
    }
	.current-price2 {
        font-size: 10px;
        padding-left: 0 !important;
    }
	.ppTstCart {
		top: -40px;
		left: -20px;
	}
	.bannerHead {
		padding-left: 0;
	}


}
@media screen and (max-width:992px) {
.bannerOverlay{
	display: none;
}
.relatedTest {
    margin-top: 6.25rem;
}
.detailsAccordian {
    width: 90%;
    margin: 0 auto;
}
}
@media screen and (max-width:767px) {

	.testDetailsCompo .aboutTest h4 {
		font-size: 1.1rem;
	}

	.detailsAccordian {
        width: 100%;
    }
.bannerExtraImg{
	display: none;
}
.testDetailsCompo .banner-img {
	padding: 4.125rem 0 0;
        min-height: 20rem;
        background-position-y: 43px;
        /* background-attachment: fixed; */
        background-repeat: no-repeat;
        background-position-x: -580px;
}
.testDetailsCompo .bannerHead h3 {
	font-size: 1.3rem;
	line-height: 1.8rem;
	margin-bottom: 0.5rem;
}

.testDetailsCompo .bannerHead h4 a {
    font-size: 1.2rem;
}


.testDetailsCompo .bannerHead h4 a img {
    padding-right: .3rem;
    width: 1.5rem;
    height: 1.5rem;
    background-size: 80% !important;
}



.testDetailsCompo .bannerHead ul {
	margin-top: 1.0rem;
	width: 100%;
}
.testDetailsCompo .aboutTest {
    padding: 0;
    padding-top: 40px;
}
.relatedTest > h3 {
	padding-left: 1.875rem;
	margin-bottom: 0.5rem;
}
.testDetailsCompo .testBriefDetails {
    margin-top: 3.125rem;
    padding-bottom: 1.625rem;
}
.relatedTest {
	margin-top: 5.25rem;
}
.relatedTest > h3 {
	text-align: left;
}
h3.current-price2{
	font-size: 11px !important;
}
.testDetailsCompo .accordion-item button {
    font-size: 1.1rem;
}
.relatedTest h3 {
	text-align: left;
}
.knMr {
    margin-left: -44px;
	font-size: .6875rem;
}
.tstTitle {
    font-size: 19px;
    margin-left: 15px;
}
.tstDesc {
	margin-left: 11px;
	text-align: left;
	font-size: 13px;
	padding-right: 10px;
}
.btn-add-cart {
	width: 77px;
	height: 36px;
	font-size: 11px !important;
}
.availableTst {
    margin-top: 7px;
    margin-left: 14px;
}
.testDetailsCompo .accordion-body {
    padding: 1.3rem;
}
.testDetailsCompo .bannerHead ul li {
    padding-right: 1px;
}
/* .bannerHead {
	padding-left: 6.25rem;
  } */
}
@media screen and (max-width:330px) {
.knMr {
	margin-left: -36px;
	font-size: .5rem;
}
.ppTstPrice {
    height: 42px;
    margin: 0;
}

h3.current-price2 {
	font-size: 10px !important;
	padding-right: 1px;
	margin-left: -10px;
}


}