*{
	font-family: var(--themeFont);
}

.testDetailsCompo .banner-img{
	background: url('../../../assets/images/test-details-banner.jpg');
	padding: 3.125rem;
	padding-top: 11.875rem;
	font-family: var(--themeFont);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.testDetailsCompo .bannerHead h3{
	color: var(--newThemeColor);
	font-size: var(--headFontSize);
	line-height: 2.8125rem;
	margin-bottom: 2.5rem;
	width: 65%;
}
.testDetailsCompo .bannerHead h4 a{
    color: #1b89a3;
    font-size: 2.5rem;
    font-weight: 600;
    display: block;
}

.testDetailsCompo .bannerHead h4 a img{
    padding-right: .625rem;
    width: 2.125rem;
    height: 2.125rem;
    object-fit: contain;
}

.testDetailsCompo .bannerHead ul{
	display: grid;
    grid-template-columns: 1fr 1fr; 
	gap: .625rem; 
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 24.375rem;
	margin-top: 1.875rem;
}

.testDetailsCompo .bannerHead ul li{
	display: flex;
    box-sizing: border-box;
    align-items: center;
    color: #3d3535;
    font-size: .75rem;
    font-weight: 500;
    border: 1px solid #6db8ae;
    border-radius: 1.875rem;
    margin: .3rem;
    margin-bottom: 0;
}

.testDetailsCompo .bannerHead ul li span{
    width: 2.1875rem;
    height: 2.1875rem;
    background: #fff;
    border-radius: 50%;
    padding: .625rem;
    display: flex;
    justify-content: center;
    align-items: center;
	margin-right: .625rem;
}

.testDetailsCompo .bannerHead ul li span img{
	width: 100%;
	object-fit: cover;
}

.testDetailsCompo .bannerOverlay{
	position: absolute;
    right: 13.125rem;
    bottom: 0;
	background: url(../../../assets/images/over-lay.png);
	background-size: contain;
    background-repeat: no-repeat;
}

.testDetailsCompo .aboutTest{
	background-color: #f8ffef;
	padding: 3.25rem;
}

.testDetailsCompo .aboutTestdetailsText{
	padding: 1.875rem;
    background: #fff;
    border-radius: 3.125rem;
    background: #f8ffef;
    box-shadow: 1.25rem 1.25rem 0rem 0px #bebebe, -1.25rem -20px 4.125rem #ffffff;
    border: .1rem dashed #bebebe;
}

.testDetailsCompo .aboutTest h4{
	font-size: 1.4375rem;
    color: #254a7f;
    line-height: 1.2;
    text-align: left;
    font-weight: 500;
}
.detailsAccordian{
	filter: drop-shadow(2px 4px 9px #707070);
}

.testDetailsCompo .detailsAccordian .accordion-button:focus {
    border-color: unset;
    outline: 0;
    box-shadow: none;
}

.testDetailsCompo .accordion-item{
background-color: transparent;
border: 0;
}

.testDetailsCompo .accordion-item button
{
	background-color: #d5e7df;
    color: #254a7f;
    font-size: 1.875rem;
    /* font-weight: 500; */
    border-radius: 1.875rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 0;
}

.testDetailsCompo .accordion-item button span{
	width: 2.1875rem;
	height: 2.1875rem;
	background-color: #fff;
	border-radius: 50%;
	margin-right: .625rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.testDetailsCompo .testBriefDetails{
	margin-top: 3.125rem;
    padding-bottom: 5.625rem;
}

.testDetailsCompo .accordion-body{
    padding: 1.875rem;
    background: #fff;
    padding-bottom: 3.75rem;
    margin-bottom: -2.25rem;
}
.testDetailsCompo .accordion-header{
	margin-bottom: 0;
}

.testDetailsCompo .accordion-body h5{
color: #3f425e;
font-size: 1rem;
}

.testDetailsCompo .accordion-body ul{
	padding-left: 1.875rem;
}

.testDetailsCompo .accordion-body ul li{
	margin-bottom: 10px;
	position: relative;
}

.testDetailsCompo .accordion-body ul li:before{
	content: "";
    position: absolute;
    left: -0.875rem;
    top: .375rem;
    width: .3125rem;
    height: .3125rem;
    background-color: #000;
    border-radius: 50%;
}

.testDetailsCompo .accordion-button:not(.collapsed)::after{
	filter: brightness(0.5);
}


.testDetailsCompo .accordion-item:nth-child(1) button
{
	border-radius: 1.875rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.testDetailsCompo .accordion-item:last-child button{
	border-radius: 1.875rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}


.relatedTest > h3{
font-size: 1.875rem;
color: #254a7f;
/* font-weight: 500; */
margin-bottom: 0;
padding: 0;
}




/* Test List Start */
.ppTstList {
	box-shadow: -1.414px 1.414px 24px 0px rgb(124 124 121 / 72%);
	border-radius: 20px;
	background-color: #fff;
	/* width: 464px; */
	position: relative;
	overflow: hidden;
	margin-bottom: 1.875rem;
}

.ppTstList::after {
	content: "";
	background: url(../../../assets/images/Colour-patch.png) right top no-repeat;
	height: 54px;
	width: 73px;
	top: 0;
	left: 0;
	position: absolute;
}

.ppTstList::before {
	content: "";
	background: url(../../../assets/images/Colour-patch2.png) right top no-repeat;
	height: 71px;
	width: 100px;
	bottom: 0;
	right: 0;
	position: absolute;
}

.ppTstName {
	width: 45%;
}

.ppTstName ul {
	margin-bottom: 0;
}

.ppTstCart {
	width: 55%;
	position: relative;
	top: -40px;
	left: 0;
}

.tstTitle {
	font-size: 19px;
	font-family: 'Poppins', sans-serif !important;
	color: rgb(37, 74, 127);
	line-height: 1.2;
	margin-top: 10px;
	margin-left: 22px;
	font-weight: 500;
}

.tstDesc {
	font-size: 14px;
	font-family: 'Poppins', sans-serif !important;
	color: rgb(32, 32, 32);
	line-height: 1.2;
	margin-top: -5px;
	margin-left: 24px;
	font-weight: 500;
	height: 34px;
	overflow: hidden;
	margin-bottom: 0;
}

.availableTst {
	margin-top: 7px;
	margin-left: 22px;
	margin-right: -25px;
}

.availableTst i {
	font-size: 12px;
}

.availableTst-para {
	font-size: 15px;
	font-family: 'Poppins', sans-serif !important;
	color: rgb(32, 32, 32);
	line-height: 1.2;
	font-weight: 500;
}

.ppTstPrice {
	width: 110px;
	height: 54px;
	margin: 0px 12px;
}

.strikethrough {
	font-size: 20px;
	font-family: 'Roboto';
	color: rgb(37, 74, 127);
	line-height: 1.2;
	margin-left: 12px;
	position: relative;
}

.strikethrough:before {
	position: absolute;
	content: "";
	left: 0;
	top: 50%;
	right: 0;
	border-top: 2px solid #dd0031 !important;
	border-color: inherit;

	-webkit-transform: rotate(348deg);
	-moz-transform: rotate(348deg);
	-ms-transform: rotate(348deg);
	-o-transform: rotate(348deg);
	transform: rotate(348deg);
}

.current-price {
	font-size: 26px;
	font-family: "Roboto" !important;
	color: rgb(37, 74, 127);
	line-height: 1.2;
	margin-top: 0px;
	font-weight: 500;
}

.current-price2 {
	font-size: 16px;
	font-family: "Roboto" !important;
	color: rgb(11 155 228);
	line-height: 1.2;
	margin-top: 13px;
	font-weight: 500;
	text-decoration: underline;
}

.btn-add-cart {
	border-radius: 7px;
	background-color: transparent;
	width: 96px;
	height: 40px;
	color: rgb(4 120 53);
	border: 2px solid rgb(4 120 53);
	font-size: 12px;
	margin: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-add-cart:hover,
.btn-add-cart:active {
	border: 2px solid rgb(7 76 36);
	background-color: rgb(17 127 63);
	color: rgb(255, 255, 255);
}

.knMr {
	font-size: 13px;
	font-family: 'Poppins', sans-serif !important;
	color: rgb(27 137 163) !important;
	line-height: 1.2;
	margin-top: -5px;
	margin-left: 24px;
	font-weight: 700;
	cursor: pointer;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.relatedTest h3{
	padding-left: 1.5rem;
}




/* Test List End */