<app-header></app-header>

<div class="banner-img">
    <div class="container-box">
        <div class="row">
            <div class="col-md-7 test-box">
                <h3 class="test-title">{{details?.test?.test_name}}</h3>
                <ul class="testTextBox">
                    <!-- <ng-container *ngIf="details?.test?.offerPrice != 0; else currentPrice">
                        <li><span class="strikethrough">₹ {{details?.test?.amount}} /-</span></li>
                        <li>
                            <h3 class="current-price">₹ {{details?.test?.offerPrice}} /-</h3>
                        </li>
                    </ng-container>
                    <ng-template #currentPrice>
                        <li>
                            <h3 class="current-price2">₹ {{details?.test?.amount}} /-</h3>
                        </li>
                    </ng-template> -->
                        <li>
                            <a href="tel:8100726252"><h3 class="current-price2">Contact us </h3></a>
                            
                        </li>
                    <li>
                        <button [disabled]="!isLogin" class="cartbutton" [ngClass]="{ 'visibleButton': !isLogin }"
                            (click)="addToCart(details?.test?.id, 'Test', details?.test?.offerPrice == 0 || details?.test?.offerPrice == '' ? details?.test?.amount : details?.test?.offerPrice)"
                            data-toggle="modal" data-target="#patientModal">
                            <span><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to cart</span>
                            <div class="cart">
                                <svg viewBox="0 0 36 26">
                                    <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                                    <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                                </svg>
                            </div>
                        </button>
                    </li>
                </ul>
                <div class="row iconBoxTestList">
                    <div class="reportbox">
                        <div class="report-img">
                            <img src="../../../assets/images/test-details-home.png" alt="">
                        </div>
                        <h5>Home Collection Available</h5>
                    </div>
                    <div class="reportbox">
                        <div class="report-img">
                            <img src="../../../assets/images/test-details-report.png" alt="">
                        </div>
                        <h5>Reports In 8 Hr.</h5>
                    </div>
                    <div class="reportbox">
                        <div class="report-img">
                            <img src="../../../assets/images/test-details-nacc.png" alt="">
                        </div>
                        <h5>NACC Accreditation</h5>
                    </div>
                    <div class="reportbox">
                        <div class="report-img">
                            <img src="../../../assets/images/test-details-unisex.png" alt="">
                        </div>
                        <h5>Unisex</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="image-banner">
                    <img [src]="basePath + details?.test?.testImage" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-box mt-5">
    <div class="aboutSection">
        <h5>About the Test</h5>
        <p>{{details?.test?.description}}</p>
    </div>
</div>

<div class="parametarCount-bg mt-5">
    <div class="container-box">
        <h3 class="parametarCount">{{details?.test?.parameter?.length}} Parameter Covered</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="row justify-content-around">
                    <ng-container *ngFor="let item of details?.test?.parameter">
                        <div class="accordion py-4 accordion-flush" id="accordionFlushExample">
                          <div class="accordion-item rounded-3 border-0 shadow mb-2">
                            <h2 class="accordion-header">
                              <button class="accordion-button border-bottom fw-semibold" type="button"
                                      [attr.data-bs-target]="'#flush-collapse' + item.item_id"
                                      [attr.aria-controls]="'flush-collapse-' + item.item_id">
                                <div class="d-flex">
                                  <p>{{ item.item_text }}</p>
                                </div>
                              </button>
                            </h2>
                            <!-- <div [id]="'flush-collapse' + item.item_id" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne">
                              <div class="accordion-body">
                                <p>{{ item.item_id }}</p>
                              </div>
                            </div> -->
                          </div>
                        </div>
                      </ng-container>
                      <div class="empty_state" *ngIf="details?.test?.parameter == 0">
                        <i class="ion-sad-outline"></i>
                        <h3 class="">No Tests</h3>
                        <p>There have been no Test in this section yet</p>
                        <button (click)="refresh()">Back To List</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-box">
    <h5 class="relatedTest">Related Test</h5>
    <div class="d-flex justify-content-around flex-wrap">
        <ng-container *ngFor="let item of details?.relatedTests">
            <div class="ppTstList mt-4">
                <h3 class="tstTitle" >{{item?.test_name}}</h3>
                <div class="d-flex align-items-end">
                    <div class="ppTstName">
                        <ul>
                            <li>
                                <h5 class="tstDesc">{{item?.description}}</h5>
                                <span class="knMr"(click)="detailsPage(item.id,item.test_name)" [routerLink]="'/patient/test-details/'+formattedName">Know more...</span>
                            </li>
                            <li class="d-flex justify-content-between align-items-baseline availableTst">
                                <p class="availableTst-para">Available in</p><i class="fa fa-motorcycle text-success"
                                    aria-hidden="true"></i>
                                <p class="availableTst-para">Home</p><i class="fa fa-flask text-success"
                                    aria-hidden="true"></i>
                                <p class="availableTst-para">Lab</p>
                            </li>
                        </ul>
                    </div>
                    <div class="ppTstCart d-flex align-items-center">
                        <ul class="ppTstPrice">
                            <!-- <ng-container *ngIf="item?.offerPrice != 0; else currentPrice">
                                <li><span class="strikethrough2">₹ {{item?.mrpAmount}} /-</span></li>
                                <li>
                                    <h3 class="current-price3">₹ {{item?.offerPrice}} /-</h3>
                                </li>
                            </ng-container>
                            <ng-template #currentPrice>
                                <li>
                                    <h3 class="current-price4">₹ {{item?.mrpAmount}} /-</h3>
                                </li>
                            </ng-template> -->
                            <li>
                                <a href="tel:8100726252"><h3 class="current-price4"> Contact us </h3></a>
                                
                            </li>
                        </ul>

                        <div *ngIf="isLogin">
                            <button type="button" class="btn btn-add-cart"
                                (click)="addToCart(item?.id,'Test',item?.offerPrice == 0 || item?.offerPrice ==''?item?.mrpAmount:item?.offerPrice)"
                                alt="" id="liveToastBtn" data-toggle="modal" data-target="#patientModal">Add to
                                Cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<div class="container-box blog-test">
    <h5 class="relatedTest">Related Blogs</h5>
    <owl-carousel-o [options]="carouselOptionsSec">
        <ng-container *ngFor="let item of blogs; let i = index">
            <ng-template carouselSlide>
                <div class="blog-part" routerLink="/page/blog-details/{{item.id}}">
                    <div class="text-center image-wapper">
                        <img [src]="item?.image" alt="" class="img-fluid">
                    </div>
                    <div class="text-blog">
                        <h4>{{item?.title}}</h4>
                        <div class="describ" [innerHTML]="item?.description"></div>
                    </div>
                    <a class="see-more" >Insights</a>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>

<!-- <div class="container-fluid customer-margin cfArea">
    <h3 class="title">Customer Feedback</h3>
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-12 mx-auto customer-feedback">
            <owl-carousel-o [options]="carouselOptions">
                <ng-container *ngFor="let item of allFeedback; let i = index">
                    <ng-template carouselSlide>
                        <div class="customer cfBox">
                            <div class="d-flex align-items-center  customar-wapper ">
                                <div class="image-wapper2">
                                    <img [src]='basePath + item.profile_picture' alt="">
                                </div>
                                <div class="text-wapper">
                                    <h4>{{item.first_name}} {{item.last_name}}</h4>
                                    <p>{{item.description}}</p>
                                </div>
                            </div>
                            <div class="customer-button">
                                <div class="u-stars">
                                    <i *ngFor="let star of generateStars(item.rating)" [class]="star"
                                        aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</div> -->

<app-footer></app-footer>

<!-- Patient Modal -->
<div class="modal fade drawer right-align" id="patientModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Select Your Patient Name</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-shared-modal></app-shared-modal>
            </div>
        </div>
    </div>
</div>