<app-header></app-header>
<div style="background-color: rgba(0,0,0,0.5);" class="loading-spinner" id="loader"></div>
<div class="bannerBoxEncyclopedia">
   <div class="mediEnWrapp">
      <h3>Medical Encyclopedia</h3>
      <p>Health and Medical Guide serves as an extensive resource, covering a wide range of health topics,
         including conditions, symptoms, therapies, and more. Designed with accuracy and reliability at its
         core, our website offers trusted health information to everyone. Our online health encyclopedia
         features user-friendly navigation, interactive content, and easy access to additional resources,
         enabling users to thoroughly explore their health questions. Although our site delivers essential
         health insights, we stress the significance of seeking advice from medical experts or authoritative 
         health sources for accurate diagnoses and tailored advice.
      </p>
   </div>
   <div class="encycloImages">
      <img src="../../../assets/images/medic-banner.jpg" alt="">
   </div>
</div>

<div class="testTab">
   <div class="container-fluid">
     <nav>
       <div class="nav nav-tabs" id="nav-tab" role="tablist">
         <button
           class="nav-link active"
           id="nav-home-tab"
           data-bs-toggle="tab"
           data-bs-target="#nav-home"
           type="button"
           role="tab"
           aria-controls="nav-home"
           aria-selected="true"
           (click)="setActive('organwise')"
         >
           Organwise
         </button>

         <button
           class="nav-link"
           id="nav-profile-tab"
           data-bs-toggle="tab"
           data-bs-target="#nav-profile"
           type="button"
           role="tab"
           aria-controls="nav-profile"
           aria-selected="false"
           (click)="setActive('condition')"
         >
           Condition wise
         </button>
       </div>
     </nav>
     <div class="tab-content" id="nav-tabContent">
       <div
         class="tab-pane fade show active"
         id="nav-home"
         role="tabpanel"
         aria-labelledby="nav-home-tab"
       >
         <div class="parentsSys" *ngIf="carusaltype == true">
           <div class="innerTab">
             <owl-carousel-o [options]="customOptions">
               <ng-template carouselSlide *ngFor="let slide of slides; let i = index">
                 <div
                   class="slideBoxTab"
                   [ngClass]="{ 'active': activeIndex === i }"
                   (click)="setActiveIndex(i)"
                 >
                   <img [src]="slide.img" alt="" />
                   <h6>{{ slide.title }}</h6>
                 </div>
               </ng-template>
             </owl-carousel-o>
           </div>
           <div class="sidetab">
             <h4>Kidney 1</h4>
             <p>The Filter and Gatekeepers of Your Body</p>
           </div>
         </div>
       </div>
       <div
         class="tab-pane fade"
         id="nav-profile"
         role="tabpanel"
         aria-labelledby="nav-profile-tab"
       >
         <div class="parentsSys" *ngIf="carusaltype == false">
           <div class="innerTab">
             <owl-carousel-o [options]="customOptions2">
               <ng-template carouselSlide *ngFor="let slide of slides; let i = index">
                 <div
                   class="slideBoxTab"
                   [ngClass]="{ 'active': activeIndex === i }"
                   (click)="setActiveIndex(i)"
                 >
                   <img [src]="slide.img" alt="" />
                   <h6>{{ slide.title }}</h6>
                 </div>
               </ng-template>
             </owl-carousel-o>
           </div>
           <div class="sidetab">
             <h4>Kidney 2</h4>
             <p>The Filter and Gatekeepers of Your Body</p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>

<div class="otherSideBloc">
   <div class="innerOtherTabsWrappOth">
      <nav>
         
         <div class="nav-container">
            <button class="prev-button" (click)="prev()" [class.hidden]="!showPrevButton">&#10094;</button>
            <div class="nav nav-tabs" id="nav-tab" role="tablist" #navTabs>
              <button class="nav-link active" id="oneTab" data-bs-toggle="tab" data-bs-target="#oneContent" type="button" role="tab" aria-controls="oneContent" aria-selected="true">Overview</button>
              <button class="nav-link" id="twoTab" data-bs-toggle="tab" data-bs-target="#twoContent" type="button" role="tab" aria-controls="twoContent" aria-selected="false">Symptoms</button>
              <button class="nav-link" id="threeTab" data-bs-toggle="tab" data-bs-target="#threeContent" type="button" role="tab" aria-controls="threeContent" aria-selected="false">Risks</button>
              <button class="nav-link" id="fourTab" data-bs-toggle="tab" data-bs-target="#fourContent" type="button" role="tab" aria-controls="fourContent" aria-selected="false">Diagnosis</button>
            </div>
            <button class="next-button" (click)="next()" [class.hidden]="!showNextButton">&#10095;</button>
          </div>
          

      </nav>
      
      <div class="tab-content" id="nav-tabContent">
         <div class="tab-pane fade show active" id="oneContent" role="tabpanel" aria-labelledby="oneTab">
            <div class="innerOthrTabwrapp">
               <div class="contentDetails">
                  <h5>What are kidneys? </h5>
                  <p>Kidneys look like reddish beans and are situated at the sides of the spine. They contain fine, minute, net-like
                     architecture (nephrons) that constantly filters out blood. By doing this, they are keeping the important substances inside the body, and removing the waste material. 
                  </p>
                  <p>The waste material leaves our body through urine. But that's not the only thing kidneys do. They fulfill some additional roles too.</p>
                  <p>What do kidneys do? </p>
                  <ul>
                     <li>
                        <p>It maintains body fluid levels and the metabolic rate </p>
                     </li>
                     <li>
                        <p>It maintains body fluid levels and the metabolic rate </p>
                     </li>
                     <li>
                        <p>It maintains body fluid levels and the metabolic rate </p>
                     </li>
                     <li>
                        <p>It maintains body fluid levels and the metabolic rate </p>
                     </li>
                  </ul>
                  <p>This silent warrior is often ignored, and when will people go to a doctor? Only when it's too late. According to an estimate from 2018, 176,000 patients in India require regular chronic dialysis.</p>
               </div>
               <div class="imageareabx">
                  <img src="../../../assets/images/kidney-icon.png" alt="">
                  <h5>Kidney</h5>
               </div>
            </div>
         </div>
         <div class="tab-pane fade" id="twoContent" role="tabpanel" aria-labelledby="twoTab"><div class="innerOthrTabwrapp">
            <div class="contentDetails">
               <h5>What are kidneys? </h5>
               <p>Kidneys look like reddish beans and are situated at the sides of the spine. They contain fine, minute, net-like
                  architecture (nephrons) that constantly filters out blood. By doing this, they are keeping the important substances inside the body, and removing the waste material. 
               </p>
               <p>The waste material leaves our body through urine. But that's not the only thing kidneys do. They fulfill some additional roles too.</p>
               <p>What do kidneys do? </p>
               <ul>
                  <li>
                     <p>It maintains body fluid levels and the metabolic rate </p>
                  </li>
                  <li>
                     <p>It maintains body fluid levels and the metabolic rate </p>
                  </li>
                  <li>
                     <p>It maintains body fluid levels and the metabolic rate </p>
                  </li>
                  <li>
                     <p>It maintains body fluid levels and the metabolic rate </p>
                  </li>
               </ul>
               <p>This silent warrior is often ignored, and when will people go to a doctor? Only when it's too late. According to an estimate from 2018, 176,000 patients in India require regular chronic dialysis.</p>
            </div>
            <div class="imageareabx">
               <img src="../../../assets/images/kidney-icon.png" alt="">
               <h5>Kidney</h5>
            </div>
         </div></div>
         <div class="tab-pane fade" id="threeContent" role="tabpanel" aria-labelledby="threeTab"><div class="innerOthrTabwrapp">
            <div class="contentDetails">
               <h5>What are kidneys? </h5>
               <p>Kidneys look like reddish beans and are situated at the sides of the spine. They contain fine, minute, net-like
                  architecture (nephrons) that constantly filters out blood. By doing this, they are keeping the important substances inside the body, and removing the waste material. 
               </p>
               <p>The waste material leaves our body through urine. But that's not the only thing kidneys do. They fulfill some additional roles too.</p>
               <p>What do kidneys do? </p>
               <ul>
                  <li>
                     <p>It maintains body fluid levels and the metabolic rate </p>
                  </li>
                  <li>
                     <p>It maintains body fluid levels and the metabolic rate </p>
                  </li>
                  <li>
                     <p>It maintains body fluid levels and the metabolic rate </p>
                  </li>
                  <li>
                     <p>It maintains body fluid levels and the metabolic rate </p>
                  </li>
               </ul>
               <p>This silent warrior is often ignored, and when will people go to a doctor? Only when it's too late. According to an estimate from 2018, 176,000 patients in India require regular chronic dialysis.</p>
            </div>
            <div class="imageareabx">
               <img src="../../../assets/images/kidney-icon.png" alt="">
               <h5>Kidney</h5>
            </div>
         </div></div>
         <div class="tab-pane fade" id="fourContent" role="tabpanel" aria-labelledby="fourTab"><div class="innerOthrTabwrapp">
            <div class="contentDetails">
               <h5>What are kidneys? </h5>
               <p>Kidneys look like reddish beans and are situated at the sides of the spine. They contain fine, minute, net-like
                  architecture (nephrons) that constantly filters out blood. By doing this, they are keeping the important substances inside the body, and removing the waste material. 
               </p>
               <p>The waste material leaves our body through urine. But that's not the only thing kidneys do. They fulfill some additional roles too.</p>
               <p>What do kidneys do? </p>
               <ul>
                  <li>
                     <p>It maintains body fluid levels and the metabolic rate </p>
                  </li>
                  <li>
                     <p>It maintains body fluid levels and the metabolic rate </p>
                  </li>
                  <li>
                     <p>It maintains body fluid levels and the metabolic rate </p>
                  </li>
                  <li>
                     <p>It maintains body fluid levels and the metabolic rate </p>
                  </li>
               </ul>
               <p>This silent warrior is often ignored, and when will people go to a doctor? Only when it's too late. According to an estimate from 2018, 176,000 patients in India require regular chronic dialysis.</p>
            </div>
            <div class="imageareabx">
               <img src="../../../assets/images/kidney-icon.png" alt="">
               <h5>Kidney</h5>
            </div>
         </div></div>
      </div>
   </div>
</div>



<div class="ovr">
   
   <div class="textBlogSec">
      <div class="sugestPkg">
         <h2>Suggested Test & Packages</h2>
         <div class="scrolling-gp2">
            <mat-accordion *ngFor="let item of groupInfo; let i = index">
               <!-- Tests -->
               <div class="stpRow" *ngFor="let test of item.tests">
                  <!-- <ng-container > -->
                  <!--<div class="stpBook">Book Now</div>
                     <div class="ylwCrt"><img src="assets/images/cart-green.png" alt=""></div> -->
                  <mat-expansion-panel routerLink="/patient/test-details/{{test.id}}">
                     <mat-expansion-panel-header> {{test.testname}} </mat-expansion-panel-header>
                     <p>{{test.description}}</p>
                     <ul class="list-group">
                        <li class="list-group-item" *ngFor="let param_names of test.parameter_names">
                           {{ param_names }}
                        </li>
                     </ul>
                     <mat-accordion>
                        <!-- <mat-expansion-panel>
                           <mat-expansion-panel-header> This is the expansion title </mat-expansion-panel-header>
                           <i>1. Phasellus venenatis bibendum lectus, non volutpat ligula egestas sit amet.</i>
                           <i>2. Interdum et malesuada fames ac ante ipsum primis in faucibus donec imperdiet luctus fringilla.</i>
                           <i>3. Vestibulum a ligula nec nulla consequat condimentum sit amet vel lectus luctus fringilla.</i>
                           </mat-expansion-panel> -->
                     </mat-accordion>
                  </mat-expansion-panel>
                  <!-- </ng-container> -->
               </div>
               <!-- Packages -->
               <div class="stpRow" *ngFor="let packg of item.packages">
                  <!-- <div class="stpBook">Book Now</div>
                     <div class="ylwCrt"><img src="assets/images/cart-green.png" alt=""></div> -->
                  <mat-expansion-panel routerLink="/patient/package-details/{{packg.id}}">
                     <mat-expansion-panel-header> {{packg.packagename}} </mat-expansion-panel-header>
                     <p>{{packg.description}}</p>
                     <mat-accordion>
                        <ul class="list-group">
                           <li class="list-group-item" *ngFor="let test_names of packg.test_names">
                              {{ test_names }}
                           </li>
                        </ul>
                        <!-- <mat-expansion-panel>
                           <mat-expansion-panel-header> This is the expansion title </mat-expansion-panel-header>
                           <i>1. Phasellus venenatis bibendum lectus, non volutpat ligula egestas sit amet.</i>
                           <i>2. Interdum et malesuada fames ac ante ipsum primis in faucibus donec imperdiet luctus fringilla.</i>
                           <i>3. Vestibulum a ligula nec nulla consequat condimentum sit amet vel lectus luctus fringilla.</i>
                           </mat-expansion-panel> -->
                     </mat-accordion>
                  </mat-expansion-panel>
               </div>
            </mat-accordion>
         </div>
      </div>
      <div class="blgSec">
         <h2>Blogs</h2>
         <div *ngFor="let blogItem of groupInfo; let i = index">
            <div class="blogSecRow" *ngFor="let blog of blogItem?.blogs">
               <h3 data-aos="fade-right" data-aos-duration="100" data-aos-delay="100">{{blog.title}}</h3>
               <div class="blogSecIm"><img [src]="blog.image" alt=""></div>
               <div class="blogSecText" data-aos="fade-left" data-aos-duration="120" data-aos-delay="120">
                  <h4>{{blog.subTitle}}</h4>
                  <p [innerHTML]="blog.description"></p>
                  <span class="knMore" routerLink="/page/blog-details/{{blog.id}}">Insights</span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="nlAqSec">
      <!-- <div class="nwsLtr">
         <img class="rotateimg180" src="assets/images/Medical-Enc2.png" alt="">
      </div> -->
      <div class="querySec">
         <div class="querySecInner">
            <h2>For Any Queries</h2>
            <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmitQuery()" novalidate>
            <div class="fromRow" data-aos="zoom-out-right" data-aos-duration="100" data-aos-delay="100">
               <label [ngClass]="{ 'text-danger': f.submitted && contact_name.errors }">Name*</label>
               <input type="text" name="contact_name" [(ngModel)]="form.contact_name" required
               #contact_name="ngModel">
            </div>
            <div class="fromRow" data-aos="zoom-out-left" data-aos-duration="100" data-aos-delay="150">
               <label [ngClass]="{ 'text-danger': f.submitted && contact_email.errors }">Email ID*</label>
               <input type="email" class="text" name="contact_email" [(ngModel)]="form.contact_email" email
               required #contact_email="ngModel">
            </div>
            <div class="fromRow" data-aos="zoom-out-right" data-aos-duration="100" data-aos-delay="200">
               <label [ngClass]="{ 'text-danger': f.submitted && contact_mobile.errors }">Mobile No.*</label>
               <input type="text" name="contact_mobile" [(ngModel)]="form.contact_mobile" required
               minlength="10" maxlength="10" #contact_mobile="ngModel">
            </div>
            <div class="fromRow" data-aos="zoom-out-right" data-aos-duration="100" data-aos-delay="200">
               <label [ngClass]="{ 'text-danger': f.submitted && address.errors }">Full Address*</label>
               <input type="text" name="address" [(ngModel)]="form.address" required #address="ngModel">
            </div>
            <div class="fromRow" data-aos="zoom-out-left" data-aos-duration="100" data-aos-delay="250">
               <label [ngClass]="{ 'text-danger': f.submitted && contact_enquiry.errors }">Enquiry*</label>
               <textarea name="contact_enquiry" [(ngModel)]="form.contact_enquiry" required
               #contact_enquiry="ngModel"></textarea>
            </div>
            <div class="fromRow" data-aos="flip-left" data-aos-duration="100" data-aos-delay="200">
               <input type="submit" value="Submit">
            </div>
            </form>
         </div>
      </div>
   </div>
</div>



<app-footer></app-footer>