<app-header></app-header>
<div style="background-color: rgba(0,0,0,0.5);" class="loading-spinner" id="loader"></div>
<div class="bannerBoxEncyclopedia">
   <div class="mediEnWrapp">
      <h3>Medical Encyclopedia</h3>
      <p>Health and Medical Guide serves as an extensive resource, covering a wide range of health topics,
         including conditions, symptoms, therapies, and more. Designed with accuracy and reliability at its
         core, our website offers trusted health information to everyone. Our online health encyclopedia
         features user-friendly navigation, interactive content, and easy access to additional resources,
         enabling users to thoroughly explore their health questions. Although our site delivers essential
         health insights, we stress the significance of seeking advice from medical experts or authoritative 
         health sources for accurate diagnoses and tailored advice.
      </p>
   </div>
   <div class="encycloImages">
      <img src="../../../assets/images/medic-banner.jpg" alt="">
   </div>
</div>

<div class="testTab">
      <div class="container-fluid">
         <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Organwise</button>

              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Condition wise</button>
            </div>
          </nav>

          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
               <div class="parentsSys">
                  <div class="innerTab">
                     <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                        <div class="slideBoxTab">
                           <img src="../../../assets/images/hormone.png" alt="">
                           <h6>Hormone</h6>
                        </div>
                        </ng-template>

                        <ng-template carouselSlide>
                           <div class="slideBoxTab">
                           <img src="../../../assets/images/hormone.png" alt="">
                           <h6>Hormone</h6>
                           </div>
                        </ng-template>


                        <ng-template carouselSlide>
                           <div class="slideBoxTab">
                           <img src="../../../assets/images/hormone.png" alt="">
                           <h6>Hormone</h6>
                           </div>
                        </ng-template>
   
                        <ng-template carouselSlide>
                           <div class="slideBoxTab">
                              <img src="../../../assets/images/hormone.png" alt="">
                              <h6>Hormone</h6>
                           </div>
                        </ng-template>
               
                     </owl-carousel-o>
                  </div>
                  <div class="sidetab">
                     <h4>Kidney</h4>
                     <p>The Filter and Gatekeepers of Your Body</p>
                  </div>
               </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>

          </div>
      </div>
</div>

<div class="otherSideBloc">
   <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
         
        <button class="nav-link active" id="oneTab" data-bs-toggle="tab" data-bs-target="#oneTab" type="button" role="tab" aria-controls="oneTab" aria-selected="true">Home</button>
    
        <button class="nav-link" id="twoTab" data-bs-toggle="tab" data-bs-target="#twoTab" type="button" role="tab" aria-controls="twoTab" aria-selected="false">Profile</button>
    
        <button class="nav-link" id="threeTab" data-bs-toggle="tab" data-bs-target="#threeTab" type="button" role="tab" aria-controls="threeTab" aria-selected="false">Contact</button>
    
        <button class="nav-link" id="fourTab" data-bs-toggle="tab" data-bs-target="#fourTab" type="button" role="tab" aria-controls="fourTab" aria-selected="false">Contact</button>

      </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
    
      <div class="tab-pane fade show active" id="oneTab" role="tabpanel" aria-labelledby="oneTab">1.</div>
    
      <div class="tab-pane fade" id="twoTab" role="tabpanel" aria-labelledby="twoTab">2</div>
    
      <div class="tab-pane fade" id="threeTab" role="tabpanel" aria-labelledby="threeTab">3</div>
    
      <div class="tab-pane fade" id="fourTab" role="tabpanel" aria-labelledby="fourTab">4</div>
    </div>

</div>


<app-footer></app-footer>