.teamTop {
    padding: 143px 0 360px;
    /* max-width: 1440px; */
    margin: 0 auto;
    background: rgb(255,255,255);
    background: linear-gradient(186deg, rgba(255,255,255,1) 0%, rgba(249,255,239,0.7539390756302521) 35%);
}

.teamTopInner {
    max-width: 730px;
    position: relative;
    z-index: 2;
    padding-left: 180px;
}

.teamTop h3 {
    font-size: 1.875rem;
    color: #254a7f;
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
    font-weight: 500;
}

.teamTop h3 span {
	color: #d19e12;
	font-weight: 400;
}

.teamTop p {
	font-size: 15px;
	color: #75949c;
	font-weight: 400;
	margin: 15px 0 0;
	padding: 0;
	text-align: justify;
}

.teamTopButton {
	display: flex;
	margin-top: 10px;
}

.teamTopButton span {
	width: 200px;
	height: 49px;
	cursor: pointer;
	border-radius: 10px;
	margin-top: 25px;
	margin-right: 18px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #21a318;
	color: #21a318;
	font-size: 15px;
	font-weight: 600;
	transition: all ease-in-out 0.5s;
	-moz-transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
	-khtml-transition: all ease-in-out 0.5s;
}

.teamTopButton span:nth-child(2) {
	margin-right: 0;
	margin-left: 18px;
}

.teamTopButton span.active {
	background-color: #21a318;
	color: #fff;
}

.teamMemberSec {
    margin-top: 0;
    padding-top: 170px;
    padding-bottom: 210px;
    position: relative;
    background: #d8e7db;
}

.teamMemberInner {
	max-width: 1440px;
	display: none;
	justify-content: space-between;
	margin: 0 auto;
	height: 255px;
	border-radius: 35px;
	/* background-color: #c1a01d; */
	position: relative;
	z-index: 3;
}

.teamMemberInner.active {
	display: flex;
	animation-name: teamMemberInner-animation;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-iteration-count: normal;
	animation-timing-function: linear;
}

.totalMem {
    padding-left: 20px;
}


.totalMem h2{
    color: #254a7f;
}


.teamMemberInnerLeft {
    display: flex;
    max-width: 360px;
    padding-left: 60px;
    position: relative;
    align-items: center;
}

.teamMemberPlus {
	width: 80px;
	height: 80px;
    border-radius: 50%;
	padding: 16px;
	background-color: #fff;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.teamMemberInnerLeft h2 {
    font-size: 30px;
    line-height: 34px;
    font-weight: 600;
    padding: 0;
    margin-bottom: 0;
}

.teamMemberInnerLeft h3 {
	font-size: 20px;
	color: #3f425e;
	font-weight: 400;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.teamMemberPlus img {
	max-width: 100%;
}

.otTabSec {
	width: 990px;
	display: inline-block;
	margin-right: 20px;
	margin-top: -64px;
}

.otLblGreen {
    filter: drop-shadow(-7px 1px 17px rgba(197, 222, 183, 1));
}


.otLblGreenText h2 {
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	white-space: normal;
}

.otLblGreenText h3 {
	font-size: 12px;
	line-height: 16px;
	color: #fcdc00;
	font-weight: 500;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.otLblGreenDoc {
    width: 293px;
    height: 333px;
    /* border-radius: 24px;
	overflow: hidden;
	top: -102px;
	position: absolute;
	border: 2px solid #a6c138; */
}

.otLblGreenDoc img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.otLblGreenText {
    background: #4b8284;
    padding: 10px 30px;
    border-radius: 20px;
    width: 90%;
    margin: -40px auto;
    position: relative;
}

.otLblGreenArrow {
    margin: 0 0 48px;
    text-align: center;
    padding-right: 0;
    padding-top: 35px;
    background: #fff;
    padding-bottom: 70px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    position: relative;
    z-index: -1;
}

.otLblGreenArrow a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 17px;
}

.greenRound {
    width: 435px;
    z-index: 9;
    position: relative;
    animation-name: _ngcontent-ng-c2003461698_greenRound-animation;
    animation-duration: 0.8s;
    animation-direction: alternate;
    animation-iteration-count: normal;
    animation-timing-function: linear;
    height: 418px;
    margin-top: 56px;
    border-radius: 50%;
    background-color: #4a9c2d;
    display: inline-block;
    border: 19px solid #dee9c5;
    text-align: center;
}

.greenRoundDoc {
	width: 226px;
	height: 270px;
	animation-name: greenRoundDoc-animation;
	animation-duration: 0.8s;
	animation-direction: alternate;
	animation-iteration-count: normal;
	animation-timing-function: linear;
	border-radius: 24px;
	overflow: hidden;
	border: 2px solid #a6c138;
	margin: -60px auto 0;
}

.greenRoundDoc img {
	width: 100%;
	min-height: 100%;
}

.greenRoundText {
    padding: 2px 25px;
    animation-name: _ngcontent-ng-c2003461698_greenRoundText-animation;
    animation-duration: 0.8s;
    animation-direction: alternate;
    animation-iteration-count: normal;
    animation-timing-function: linear;
    min-width: 340px;
    border-radius: 18px;
    background-color: rgb(31 48 2 / 80%);
    position: absolute;
    border: 0;
    text-align: left;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    left: 50%;
    top: 130px;
    height: 97px;
    transform: translate(-50%, 0);
}

.greenRoundText h2 {
    font-size: 23px;
    color: #ffd21d;
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
}

.greenRoundText h3 {
	font-size: 15px;
	color: #ffffff;
	font-weight: 600;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	line-height: 20px;
	margin-top: 5px;
}

.greenRound p {
	font-size: 14px !important;
	animation-name: greenRdText-animation;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-iteration-count: normal;
	animation-timing-function: linear;
	color: #fff;
	font-weight: 400;
	margin: 0 auto 7px;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	max-width: 314px;
	max-height: auto;
	text-align: center;
	line-height: 20px;
	padding-right: 14px;
	overflow: auto;
	display: block;
}


.modernWay {
    text-align: center;
}



.greenRound .modernWay {
    animation-name: _ngcontent-ng-c2003461698_greenRdText-animation;
    width: 314px;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: normal;
    animation-timing-function: linear;
    margin: 30px auto 0;
    max-height: 106px;
    overflow: auto;
    display: inline-block;
    max-width: 314px;
    text-align: center;
}

.otTabSec .tab-content {
	height: 546px;
	width: 490px;
	position: absolute;
	top: -800px;
	right: 0;
}

@keyframes greenRound-animation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes greenRoundText-animation {
	0% {
		left: -50%;
	}

	100% {
		left: 50%;
	}
}

@keyframes teamMemberInner-animation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes greenRoundDoc-animation {
	0% {
		margin: -100% auto 0;
	}

	100% {
		margin: -75px auto 0;
	}
}

@keyframes greenRdText-animation {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 0;
	}

	40% {
		opacity: 0;
	}

	60% {
		opacity: 0;
	}

	80% {
		opacity: 0;
	}

	90% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


.blgTbHd.ng-star-inserted {
    position: relative;
}




@media (max-width: 1500px) {

	/* .teamTop { padding: 170px 20px 0; } */
	.teamTopInner {
		margin-left: 20px;
	}
}

@media (max-width: 1450px) {
	.teamMemberInner {
		margin: 0 auto;
		width: 1100px;
		max-width: 90%;
		height: 190px;
		border-radius: 20px;
	}

	.teamTop {
		padding: 230px 0 30px;
		max-width: 1100px;
	}

	.teamTopInner {
		max-width: 600px;
	}

	.teamTop h3 {
		font-size: 22px;
		margin: 0 0 5px;
		line-height: 22px;
	}

	.teamTopButton span {
		width: 160px;
		height: 35px;
		border-radius: 6px;
		margin-top: 10px;
		font-size: 12px;
	}

	.greenRound {
		width: 350px;
		height: 350px;
		margin-top: 100px;
		border: 10px solid #dee9c5;
	}

	.greenRoundDoc {
		width: 150px;
		height: 170px;
		border-radius: 12px;
		border: 2px solid #a6c138;
		margin: -70px auto 0;
	}

	.greenRoundText {
		height: 80px;
		min-width: 250px;
		border-radius: 10px;
		top: 75px;
	}

	.greenRoundText h2 {
		font-size: 14px;
		line-height: 18px;
	}

	.greenRoundText h3 {
		font-size: 11px;
		line-height: 13px;
		margin-top: 5px;
	}

	.greenRound .modernWay {
		width: 246px;
	}

	.greenRound p {
		font-size: 11px !important;
	}

	.greenRound p p {
		font-size: 11px !important;
	}

	.otTabSec .tab-content {
		height: 450px;
		width: 350px;
	}

	.otTabSec {
		width: 720px;
	}

	.otLblGreen {
		width: 200px;
		height: 150px;
		border-radius: 15px;
		margin-top: 84px;
	}

	.otLblGreenText h2 {
		font-size: 14px;
		line-height: 18px;
	}

	.otLblGreenText h3 {
		font-size: 10px;
		line-height: 14px;
	}

	.otLblGreenText {
		padding: 0 10px;
	}

	.otLblGreenDoc {
		width: 125px;
		height: 140px;
		border-radius: 11px;
		top: -72px;
	}

	.otLblGreenArrow {
		margin: 0 0 22px;
		padding-right: 15px;
		padding-top: 30px;
	}

	.teamMemberPlus {
		width: 60px;
		height: 60px;
		padding: 12px;
		top: -30px;
		left: 110px;
	}

	.teamMemberInnerLeft h2 {
		font-size: 24px;
		line-height: 28px;
		margin: 64px 0 0;
	}

	.teamMemberInnerLeft h3 {
		font-size: 14px;
		line-height: 16px;
	}
}

@media (max-width: 1340px) {
	.otTabSec {
		width: 690px;
	}

	.teamTopInner {
		max-width: calc(100% - 550px);
	}
}

@media (max-width: 1340px) {
	.teamTopButton span:nth-child(2) {
		margin-left: 2px;
	}
}

@media (max-width: 1024px) {
	.teamTopButton span {
		min-width: 225px;
	}
}

@media (max-width: 991px) {
	.teamTopInner {
		max-width: 100%;
	}

	.teamTop {
		padding: 100px 20px 0;
	}

	.teamMemberSec {
		margin-top: 50px;
		padding-top: 500px;
	}

	.otTabSec {
		width: 460px;
	}

	.greenRound {
		width: 350px;
		height: 350px;
		margin-top: 64px;
	}

	.otTabSec .tab-content {
		top: -500px;
		left: 50%;
		margin-left: -175px;
		height: 420px;
	}

	.teamTopInner {
		margin-left: 0;
	}

	.teamMemberSec[_ngcontent-svq-c156] {
		padding-bottom: 1.875rem;
	}


}

@media (max-width: 767px) {
	.teamMemberInner.active {
		display: flex;
		flex-wrap: wrap;
	}

	.teamMemberInner {
		height: 440px;
	}

	.teamMemberInnerLeft {
		display: block;
		max-width: 100%;
		width: 100%;
		order: 2;
	}

	.teamMemberPlus {
		top: -14px;
		left: auto;
		right: 35px;
	}

	.teamMemberInnerLeft h2 {
		margin: 0;
	}

	.otTabSec {
		width: 380px;
		margin: 15px auto 0;
	}

	.otLblGreen {
		width: 160px;
		height: 130px;
		border-radius: 12px;
		margin-top: 70px;
	}

	.otLblGreenDoc {
		width: 100px;
		height: 108px;
		border-radius: 10px;
		top: -70px;
	}

	.teamMemberInner {
		height: 330px;
	}

	.otLblGreenArrow {
		margin: 0 0 6px;
		padding-right: 15px;
		padding-top: 17px;
	}

	.otLblGreenText h2 {
		font-size: 12px;
		line-height: 18px;
	}
}

@media (max-width: 639px) {
	.otLblGreenText {
		text-align: left;
	}
}

@media (max-width: 600px) {
	.teamTopButton {
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media (max-width: 535px) {
	.greenRound {
		width: 280px;
		height: 280px;
	}

	.greenRoundText {
		padding: 9px 15px 8px;
		min-width: 200px;
		border-radius: 14px;
		top: 50px;
	}

	.greenRoundDoc {
		width: 120px;
		height: 140px;
		border-radius: 20px;
	}

	/* .greenRound p { font-size: 14px;  margin: 70px auto 0;  max-width: 194px; max-height: 100px; line-height: 20px; overflow: auto; } */
	.greenRoundText h3 {
		color: #b4bd00;
		font-weight: 500;
	}

	.teamMemberSec {
		padding-top: 390px;
		padding-bottom: 50px;
		margin-top: 0;
	}

	.teamTopButton span {
		margin-right: 0;
	}

	.otLblGreenDoc {
		width: 100px;
		border-radius: 15px;
		top: -100px;
	}

	.otLblGreen {
		height: 130px;
		border-radius: 20px;
		margin-top: 75px;
	}

	.otLblGreenDoc {
		width: 100px;
		border-radius: 15px;
		top: -70px;
		height: 110px;
	}

	.otLblGreenText h3 {
		font-size: 10px;
		line-height: 12px;
		text-wrap: wrap;
		margin-top: 5px;
	}

	.teamMemberInner {
		height: 290px;
	}

	.teamMemberPlus {
		width: 50px;
		height: 48px;
		padding: 10px;
		border-radius: 10px;
		top: 0;
	}

	/* .teamMemberInnerLeft h2 { font-size: 30px; line-height: 30px; }
    .teamMemberInnerLeft h3 { font-size: 18px; } */
	.teamMemberInnerLeft {
		padding-left: 25px;
	}

	/* .teamTop h1 { font-size: 30px; margin: 0 0 10px; } */
	.otTabSec .tab-content {
		height: auto;
		width: 100%;
		position: absolute;
		top: -350px;
		right: 0;
		display: flex;
		justify-content: center;
		left: inherit;
	}

	.greenRound .modernWay {
		width: 190px;
		margin: 70px auto 0 10px;
		max-height: 76px;
		max-width: 190px;
		padding: 0 .3125rem;
	}

	.greenRound p {
		font-size: 12px !important;
		margin: 0 auto 7px;
		max-height: inherit;
		line-height: 18px;
		overflow: visible;
	}

	.greenRound {
		border: 10px solid #dee9c5;
	}

	.otLblGreenText h2 {
		font-size: 12px;
		line-height: 15px;
	}
}

@media (max-width: 450px) {
	.otTabSec {
		width: 275px;
	}

	.otLblGreen {
		width: 180px;
		height: 130px;
	}

	.otLblGreenText h2 {
		font-size: 13px;
		line-height: 18px;
		margin-bottom: 2px;
	}

	.greenRoundText h3 {
		font-size: 11px;
		color: #fcdc00;
		font-weight: 500;
		margin: 5px 0 0;
		padding: 0;
		font-family: 'Poppins', sans-serif;
	}

	.modernWay p {
		font-size: 11px;
	}

	.greenRound p {
		font-size: 12px;
		display: block;
		padding: 0;
	}
}

@media (max-width: 380px) {
	.greenRound .modernWay {
		width: 172px;
	}

}

.modernWay {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	line-clamp: 4;
	-webkit-box-orient: vertical;
}