#google_translate_element {
    text-align-last: right;
    margin-right: 0;
    position: fixed;
    z-index: 2;
    right: 34px;
    top: 50px;
    width: 45px;
    overflow: hidden;
    height: 45px;
    z-index: 999;
    transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -khtml-transition: all ease-in-out 0.5s;
}
#google_translate_element.rmvFx { position: absolute; }
#google_translate_element:after {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    left: 0;
    top: 0;
    display: block;
    pointer-events: none;
    background: url(../assets/icons/translate.png) left top no-repeat;
    background-size: 100%;
}

.goog-te-gadget-icon {
    display: none;
}



.goog-te-gadget-simple {
    background-color: #ecebf0 !important;
    border: 0 !important;
    font-size: 10pt;
    font-weight: 800;
    display: inline-block;
    padding: 10px 10px !important;
    cursor: pointer;
    zoom: 1;
}


.goog-te-gadget-simple span {
    color: #3e3065 !important;

}

@media (max-width: 1600px) {
    #google_translate_element { margin-right: 8px; top: 29px; }
}
@media (max-width: 1450px) {
    #google_translate_element { top: 20px; }
}
@media (max-width: 1199px) {
    #google_translate_element { top: 11px; right: 5px; }
}
@media (max-width: 991px){
    #google_translate_element { top: 12px; right: 65px; }
}