#google_translate_element {
    text-align-last: right;
    margin-right: 10px;
    position: absolute;
    z-index: 2;
    right: 5px;
    top: 47px;
    width: 58px;
    overflow: hidden;
    height: 26px;
    z-index: 999;
}
#google_translate_element:after {
    content: "";
    position: absolute;
    width: 58px;
    height: 26px;
    left: 0;
    top: 0;
    display: block;
    pointer-events: none;
    background: url(../assets/images/lang.png) left top no-repeat;
}

.goog-te-gadget-icon {
    display: none;
}


.goog-te-gadget-simple {
    background-color: #ecebf0 !important;
    border: 0 !important;
    font-size: 10pt;
    font-weight: 800;
    display: inline-block;
    padding: 10px 10px !important;
    cursor: pointer;
    zoom: 1;
}


.goog-te-gadget-simple span {
    color: #3e3065 !important;

}

@media (max-width: 1600px) {
    #google_translate_element { margin-right: 8px; top: 29px; }
}
@media (max-width: 1450px) {
    #google_translate_element { top: 20px; }
}
@media (max-width: 1199px) {
    #google_translate_element { top: 11px; }
}
@media (max-width: 1199px){
    #google_translate_element { top: 12px; right: 65px; }
}