<div class="bg-color">
  <div class="container-fluid my-4">
    <!-- <h1 class="title">HealthCare Videos</h1> -->
    <div class="col-lg-10 col-md-10 col-12 mx-auto">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-6 col-12 mx-auto">
          <div class="text-para"  data-aos="zoom-in" data-aos-duration="100" data-aos-delay="100">
            <h1><span>Nirnayan Healthcare</span> Corporate Lab Tour Video</h1>
            <p>Ready to experience healthcare excellence? Connect with Nirnayan Healthcare today to schedule an
              appointment or learn more about our innovative solutions. Your journey to better health starts here. In
              this video, you will get insights into our key offerings, Philosophies, and advancements in the field of
              healthcare. Together, we will be shaping a healthier future for you.</p>
          </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-6 col-12 mx-auto">
          <!-- Video Section -->
          <div class="container-video">
            <div class="img">
              <img src="../../../assets/images/Video-Thumbnail03.png" alt="">
              <div class="wrapper">
                <div class="video-main">
                  <div class="promo-video">
                    <div class="waves-block">
                      <div class="waves wave-1"></div>
                      <div class="waves wave-2"></div>
                      <div class="waves wave-3"></div>
                    </div>
                  </div>
                  <a href="https://youtu.be/K4YqVUoDyWM?si=I-nWxrh5zDUqPD-S" target="_blank" class="video video-popup mfp-iframe"
                    data-lity><i class="fa fa-play"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>