<div class="container-fluid bg-color">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 mx-auto">
            <div class="text-para">
                <h1>Video <span>Title</span> will be here</h1>
                <p>Lorem Ipsum Lorem Ipsum Lorem Lorem Ipsum Lorem Ipsum Lorem
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Lorem
                    Ipsum Lorem Ipsum Lorem Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem </p>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 mx-auto">
            <!-- Video Section -->
            <div class="container-video">
                <div class="img">
                    <img src="../../../assets/images/Video-Thumbnail03.png" alt="">
                    <div class="wrapper">
                        <div class="video-main">
                          <div class="promo-video">
                            <div class="waves-block">
                              <div class="waves wave-1"></div>
                              <div class="waves wave-2"></div>
                              <div class="waves wave-3"></div>
                            </div>
                          </div>
                          <a href="https://www.youtube.com/watch?v=BqI0Q7e4kbk" class="video video-popup mfp-iframe" data-lity><i class="fa fa-play"></i></a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>