<div class="slideSec">
    <h2>{{data}}</h2>
    <ng-container *ngIf="SldSecOne">
    <div id="SldSecOne" class="opny">
        <owl-carousel-o [options]="SlideOptions">
            <ng-template carouselSlide *ngFor="let item of testItems">
                <div class="pkgSlideOut">
                    <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div>
                    <div class="slBgIm"><img src="assets/images/ocBack.jpg" alt=""></div>
                    <div class="slRedBox">
                        <div class="round"></div>
                        <div class="roundd"></div>
                        <div class="slRedBoxText">
                            <div>
                                <h3>{{item.testname}}</h3>
                                <p>{{item.prerequisites}}</p>
                            </div>
                            <div><h2>₹ 100</h2></div>
                        </div>
                    </div>
                </div>
            </ng-template>  
            <!-- <ng-template carouselSlide>
                    <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div>
                    <div class="slBgIm"><img src="assets/images/ocBack.jpg" alt=""></div>
                    <div class="slRedBox">
                        <div class="round"></div>
                        <div class="roundd"></div>
                        <div class="slRedBoxText">
                            <div>
                                <h3>Sugar Fasting</h3>
                                <p>Lorem Ipsum Lorem Ipsum</p>
                            </div>
                            <div><h2>₹ 100</h2></div>
                        </div>
                    </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div>
                <div class="slBgIm"><img src="assets/images/ocBack.jpg" alt=""></div>
                <div class="slRedBox">
                    <div class="round"></div>
                    <div class="roundd"></div>
                    <div class="slRedBoxText">
                        <div>
                            <h3>Sugar Fasting</h3>
                            <p>Lorem Ipsum Lorem Ipsum</p>
                        </div>
                        <div><h2>₹ 100</h2></div>
                    </div>
                </div>
            </ng-template> 
            <ng-template carouselSlide>
                <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div>
                <div class="slBgIm"><img src="assets/images/ocBack.jpg" alt=""></div>
                <div class="slRedBox">
                    <div class="round"></div>
                    <div class="roundd"></div>
                    <div class="slRedBoxText">
                        <div>
                            <h3>Sugar Fasting</h3>
                            <p>Lorem Ipsum Lorem Ipsum</p>
                        </div>
                        <div><h2>₹ 100</h2></div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div>
                <div class="slBgIm"><img src="assets/images/ocBack.jpg" alt=""></div>
                <div class="slRedBox">
                    <div class="round"></div>
                    <div class="roundd"></div>
                    <div class="slRedBoxText">
                        <div>
                            <h3>Sugar Fasting</h3>
                            <p>Lorem Ipsum Lorem Ipsum</p>
                        </div>
                        <div><h2>₹ 100</h2></div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div>
                <div class="slBgIm"><img src="assets/images/ocBack.jpg" alt=""></div>
                <div class="slRedBox">
                    <div class="round"></div>
                    <div class="roundd"></div>
                    <div class="slRedBoxText">
                        <div>
                            <h3>Sugar Fasting</h3>
                            <p>Lorem Ipsum Lorem Ipsum</p>
                        </div>
                        <div><h2>₹ 100</h2></div>
                    </div>
                </div>
            </ng-template> -->
        </owl-carousel-o>
    </div>
</ng-container>

<ng-container *ngIf="!SldSecOne">
    <div id="SldSecOne" class="opny">
        <owl-carousel-o [options]="SlideOptions">
            <ng-template carouselSlide>
                <div class="popularPkgOuter">
                    <div class="popularPkg">
                        <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div>
                        <div class="ppWhtBox">
                            <div class="ppWhtBoxInner">
                                <h4>Diabetes (1 Tests)</h4>
                                <p>Lorem Test</p>
                                <h4>Kidney ( 6 Tests )</h4>
                                <p>Lorem Test</p>
                                <p>Lorem Test Lorem Test</p>
                                <p>Lorem Test</p>
                                <p>Lorem Test</p>
                                <p>Lorem Test</p>
                                <p>Lorem Test</p>
                                <h4>Diabetes (1 Tests)</h4>
                                <p>Lorem Test</p>
                                <h4>Kidney ( 6 Tests )</h4>
                                <p>Lorem Test</p>
                                <p>Lorem Test Lorem Test</p>
                            </div>
                        </div>

                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="pkgSlideOut">
                    <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div>
                    <div class="slBgIm"><img src="assets/images/ocBack.jpg" alt=""></div>
                    <div class="slRedBox">
                        <div class="round"></div>
                        <div class="roundd"></div>
                        <div class="slRedBoxText">
                            <div>
                                <h3>Sugar Fasting</h3>
                                <p>Lorem Ipsum Lorem Ipsum</p>
                            </div>
                            <div><h2>₹ 100</h2></div>
                        </div>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="pkgSlideOut">
                    <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div>
                    <div class="slBgIm"><img src="assets/images/ocBack.jpg" alt=""></div>
                    <div class="slRedBox">
                        <div class="round"></div>
                        <div class="roundd"></div>
                        <div class="slRedBoxText">
                            <div>
                                <h3>Sugar Fasting</h3>
                                <p>Lorem Ipsum Lorem Ipsum</p>
                            </div>
                            <div><h2>₹ 100</h2></div>
                        </div>
                    </div>
                </div>
            </ng-template> 
            <ng-template carouselSlide>
                <div class="pkgSlideOut">
                    <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div>
                    <div class="slBgIm"><img src="assets/images/ocBack.jpg" alt=""></div>
                    <div class="slRedBox">
                        <div class="round"></div>
                        <div class="roundd"></div>
                        <div class="slRedBoxText">
                            <div>
                                <h3>Sugar Fasting</h3>
                                <p>Lorem Ipsum Lorem Ipsum</p>
                            </div>
                            <div><h2>₹ 100</h2></div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="pkgSlideOut">
                    <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div>
                    <div class="slBgIm"><img src="assets/images/ocBack.jpg" alt=""></div>
                    <div class="slRedBox">
                        <div class="round"></div>
                        <div class="roundd"></div>
                        <div class="slRedBoxText">
                            <div>
                                <h3>Sugar Fasting</h3>
                                <p>Lorem Ipsum Lorem Ipsum</p>
                            </div>
                            <div><h2>₹ 100</h2></div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="pkgSlideOut">
                    <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div>
                    <div class="slBgIm"><img src="assets/images/ocBack.jpg" alt=""></div>
                    <div class="slRedBox">
                        <div class="round"></div>
                        <div class="roundd"></div>
                        <div class="slRedBoxText">
                            <div>
                                <h3>Sugar Fasting</h3>
                                <p>Lorem Ipsum Lorem Ipsum</p>
                            </div>
                            <div><h2>₹ 100</h2></div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</ng-container>

    <div class="sliderBottomSec">
        <!-- <a class="pTest" onclick="ptSec()">Popular Tests</a>
        <a class="pPkg" onclick="ppPkg()">Popular Packages</a> -->
        <a class="pTest" (click)="Test('Popular Test')">Popular Tests</a>
        <a class="pPkg" (click)="Package('Popular Packages')">Popular Packages</a>
    </div>
</div>



