.slideSec {background: url(src/assets/images/curve-back.jpg) center top no-repeat; padding: 110px 130px 170px; margin-top: 10px; background-size: cover;}
.slideSec h2 { font-weight: 700; color: #254a7f; font-size: 34px; line-height: 36px; margin: 2px 0 45px; text-align: center; position: relative; z-index: 1; }
.owl-carousel.owl-drag .owl-item {padding: 0 28px !important;}
.slRedBox {width: 179px; height: 225px; border-radius: 60px; border-bottom-right-radius: 30px; position: absolute; right: 0; bottom: 0; overflow: hidden; background-color: #fe346b; padding: 25px 10px 0 17px;
    -moz-box-shadow: -6px -5px 0px rgb(255 255 255);
    -webkit-box-shadow: -6px -5px 0px rgb(255 255 255);
    -o-box-shadow: -6px -5px 0px rgb(255 255 255);
    box-shadow: -6px -5px 0px rgb(255 255 255);
}
.slRedBox .round {width: 136px; height: 136px; background: rgba(255,255,255,0.2); position: absolute; right: -37px; bottom: -50px; border-radius: 50%;}
.slRedBox .round1 {    width: 136px;
    height: 136px;
    background: rgb(205 205 205 / 20%);
    position: absolute;
    right: -37px;
    bottom: -50px;
    border-radius: 50%;}
.slRedBox .roundd {width: 136px; height: 136px; background: rgba(255,255,255,0.2); position: absolute; right: -93px; top: 60px; border-radius: 50%;}
.slRedBox .roundd1 {width: 136px;
    height: 136px;
    background: rgb(193 193 193 / 20%);
    position: absolute;
    right: -93px;
    top: 60px;
    border-radius: 50%;}
.slRedBoxText {display: flex; flex-wrap: wrap; height: 146px; align-content: space-between;}
.slRedBoxText .text-white {width: 150px;}
.slRedBoxText h3 { font-weight: 500; margin: 0; padding: 0; line-height: normal; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; }
.slRedBoxText p { font-size: 13px; font-weight: 400; margin: 8px 0 10px; padding: 0 10px 0 0; line-height: normal; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; height: 60px; }
.slRedBoxText span.knMr {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    line-height: 22px;
    display: block;
    color: #000;
    font-style: italic;
    position: absolute;
    left: 17px;
    bottom: 20px;
}
.slRedBoxText h2 {font-size: 29px; color: #fff; font-weight: 600; margin: 0; padding: 0; line-height: normal;}
.slideCart {width: 70px; height: 70px; background-color: #fe346b; border-radius: 50%; border: 4px solid #fff; position: absolute; display: inline-flex; align-items: center; justify-content: center; right: 0; top: -25px; -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -o-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    cursor: pointer;
}
.slideCart img {max-width: 40px;}
.sliderBottomSec {display: flex; justify-content: center; margin-top: 50px; z-index: 2; position: relative;}
.pTest {width: 240px; height: 70px; border-radius: 25px; border-bottom-right-radius: 0px; background-color: #047835; position: relative; font-size: 18px; margin-right: 20px; color: #fff !important; font-weight: 600; display: inline-flex; align-items: center; justify-content: center; -moz-box-shadow: 0 0 5px rgba(247,160,31,0.7);
    -webkit-box-shadow: 0 0 5px rgba(247,160,31,0.7);
    -o-box-shadow: 0 0 5px rgba(247,160,31,0.7);
    box-shadow: 0 0 18px rgba(247,160,31,0.7);
    cursor: pointer;
    border: 3px solid #fff;
    -moz-transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -khtml-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s; 
  overflow: hidden;
}
.pTest:before {
    width: 577px;
    content: "";
    height: 230px;
    border-radius: 134px;
    background: rgba(255,255,255,0.05);
    position: absolute;
    right: 30px;
    top: -139px;
    transform: rotate(-9deg); 
    -webkit-transform: rotate(-9deg);
    -moz-transform: rotate(-9deg);
    -o-transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);
    -moz-transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -khtml-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s; 
}
.pTest.inactive { background-color: #fff; color: #047835 !important; margin-right: 60px; color: #047835; border: 3px solid #047835; -webkit-box-shadow: 0 0 5px rgba(247,160,31,0); -o-box-shadow: 0 0 5px rgba(0,0,0,0); box-shadow: 0 0 18px rgba(247,160,31,0); -moz-box-shadow: 0 0 5px rgba(0,0,0,0); }
.pTest.inactive {margin-right: 24px;}
.pTest-inactive{
    width: 240px;
    height: 70px;
    border-radius: 25px;
    border-bottom-right-radius: 0px;
    background-color: #fff;
    position: relative;
    font-size: 18px;
    margin-right: 20px;
    color: #047835 !important;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -o-box-shadow: 0 0 5px rgba(0,0,0,0);
    box-shadow: 0 0 18px rgba(247,160,31,0);
    cursor: pointer;
    border: 3px solid #047835;
    transition: all ease-in-out 0.5s;
    overflow: hidden;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0);
}
.pPkg {width: 240px; height: 70px; border-radius: 25px; color: #047835 !important; border-bottom-left-radius: 0px; background-color: #fff; position: relative; font-size: 18px; font-weight: 600; display: inline-flex; align-items: center; justify-content: center; border: 3px solid #047835; -moz-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -khtml-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s; 
    overflow: hidden;
    cursor: pointer;
}
.pPkg.active {background-color: #047835; position: relative; color: #fff !important; font-weight: 600; -moz-box-shadow: 0 0 5px rgba(247,160,31,0.7);
    -webkit-box-shadow: 0 0 5px rgba(247,160,31,0.7);
    -o-box-shadow: 0 0 5px rgba(247,160,31,0.7);
    box-shadow: 0 0 18px rgba(247,160,31,0.7);
    border: 3px solid #fff;
    margin-left: 36px;
}
.pPkg.active {margin-left: 0;}
.pPkg.active:before {
    width: 577px;
    content: "";
    height: 230px;
    border-radius: 134px;
    background: rgba(255,255,255,0.05);
    position: absolute;
    right: 30px;
    top: -139px;
    transform: rotate(-9deg);
    -webkit-transform: rotate(-9deg);
    -moz-transform: rotate(-9deg);
    -o-transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);
    transition: all ease-in-out 0.5s;
}
.pPkg-active{
    width: 240px;
    height: 70px;
    border-radius: 25px;
    color: #fff !important;
    border-bottom-left-radius: 0px;
    background-color: #047835;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #047835;
    transition: all ease-in-out 0.5s;
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(247,160,31,0.7);
    -o-box-shadow: 0 0 5px rgba(247,160,31,0.7);
    box-shadow: 0 0 18px rgba(247,160,31,0.7);
    border: 3px solid #fff;
    /* margin-left: 36px; */
    -moz-box-shadow: 0 0 5px rgba(247,160,31,0.7);
}
#SldSecTwo {display: none;}
#SldSecTwo.opnyy {display: block; height: 490px;}

#SldSecOne {display: none;}
#SldSecOne.opny {display: block; height: 490px;}
.pkgSlideOut {width: 274px; position: relative;}
.popularPkgOuter { height: 530px; width: 274px; padding-top: 105px; }
.popularPkg { width: 274px; padding-top: 255px; -o-box-shadow: 0 5px 8px rgba(0,0,0,0.5); box-shadow: 0 5px 8px rgba(0,0,0,0.5); padding-bottom: 20px; position: relative; background: rgb(1,183,194); background: linear-gradient(0deg, rgba(1,183,194,1) 35%, rgba(1,195,163,1) 100%); border-radius: 30px; }
.popularPkg:after {content: ""; position: absolute; right: 20px; z-index: -1; bottom: -55px; width: 99px; height: 57px; background: url(src/assets/images/pkg-box-bot.png) right top no-repeat;}
.ppWhtBox { position: absolute; text-align: left; -o-box-shadow: 0 7px 15px rgba(0,0,0,0.6); box-shadow: 0 7px 15px rgba(0,0,0,0.6); background-color: #fff; border-radius: 30px; width: 80%; left: 10%; padding: 0 12px 20px; height: 270px; top: -65px; }
.ppBxHeader {background: url(src/assets/images/green-back.png) center top no-repeat; height: 37px; padding-top: 4px;}
.ppBxHeader h2 { text-align: center; font-family: 'Poppins', sans-serif; color: #fff; font-size: 10px; margin-top: 0; font-weight: 600; line-height: 16px; }
.ppWhtBoxInner summary {font-family: 'Poppins', sans-serif; font-size: 12px; margin: 5px 0 7px; font-weight: 600; line-height: 15px;}
.ppBxHeader h2 span { text-align: center; padding: 0 !important; font-family: 'Poppins', sans-serif; color: #154be5; font-size: 12px; margin-top: 1px; display: block; background-color: transparent !important; }
.ppWhtBoxInner small {font-family: 'Poppins', sans-serif; margin-left: 12px; font-size: 11px; margin-bottom: 5px; font-weight: 400; line-height: 15px; display: block; position: relative; padding-left: 12px;}
.ppWhtBoxInner small:before {content: ""; display: inline-block; width: 5px; height: 5px; background-color: #333; border-radius: 50%; position: absolute; top: 4px; left: 0;}
.ppWhtBox:after { background: url(src/assets/images/down-wht-arrow.png) right top no-repeat; content: ""; position: absolute; height: 54px; width: 73px; display: inline-block; top: 100%; left: 50%; margin-left: -36px; }
.ppWhtBoxInner {overflow: auto; height: 212px; padding-right: 12px;}
.ppWhtBoxInner h4 {color: #0d0b0b; font-size: 12px; font-weight: 500; margin: 0; padding: 0; font-family: 'Poppins', sans-serif;}
.ppWhtBoxInner p {color: #515151; font-size: 12px; font-weight: 400; margin: 5px; padding: 0; font-family: 'Poppins', sans-serif;}
.popularPkg .slideCart { background-color: #01c1a8 !important; left: 80%; margin-left: -35px; top: -102px; z-index: 2; }
.popularPkgTxt {color: #fff; font-size: 20px; text-shadow: 2px 2px 5px #000; font-weight: 600; margin: 5px 15px; padding: 0; cursor: pointer; text-align: center; font-family: 'Poppins', sans-serif;}
.popularPkgPrice {margin: 30px 15px 0; display: flex; justify-content: space-between; align-items: center;}
.popularPkgPriceLft {color: #fff; text-shadow: 2px 2px 5px #000; font-size: 28px; font-weight: 500; margin: 0; padding: 0; font-family: 'Poppins', sans-serif;}
.popularPkgPriceLft span {color: #403f74; text-shadow: none; font-weight: 400;}
.popularPkgPriceRght { color: red; text-decoration:line-through; font-size: 21px; font-family: 'Poppins', sans-serif; }
.popularPkgPriceRght span {color: #fff;}
.ppSlide {margin-bottom: 180px;}

@media (min-width: 1350px){
    .pTest:hover{ background-color: #fff; color: #047835 !important; margin-right: 60px; color: #047835; border: 3px solid #047835; -webkit-box-shadow: 0 0 5px rgba(247,160,31,0); -o-box-shadow: 0 0 5px rgba(0,0,0,0); box-shadow: 0 0 18px rgba(247,160,31,0); -moz-box-shadow: 0 0 5px rgba(0,0,0,0); }
    .pPkg:hover {background-color: #047835; position: relative; color: #fff !important; font-weight: 600; -moz-box-shadow: 0 0 5px rgba(247,160,31,0.7);
        -webkit-box-shadow: 0 0 5px rgba(247,160,31,0.7);
        -o-box-shadow: 0 0 5px rgba(247,160,31,0.7);
        box-shadow: 0 0 18px rgba(247,160,31,0.7);
        border: 3px solid #fff;
        margin-left: 36px;
    }
    .pPkg:hover:before {
        width: 577px;
        content: "";
        height: 230px;
        border-radius: 134px;
        background: rgba(255,255,255,0.05);
        position: absolute;
        right: 30px;
        top: -139px;
        transform: rotate(-9deg); 
        -webkit-transform: rotate(-9deg);
        -moz-transform: rotate(-9deg);
        -o-transform: rotate(-9deg);
        -ms-transform: rotate(-9deg);
    }
}
/* @media (max-width: 1650px){
    .slideSec h2 { font-size: 45px; line-height: 50px; }
} */

@media (max-width: 1099px){
    .slideSec { padding: 80px 80px 270px; }
}
@media (max-width: 991px){
    .sliderBottomSec { margin-top: 30px; }
    #SldSecOne.opny { height: 560px; }
    .slideSec { padding: 0 80px 270px; }
}
@media (max-width: 850px){
    #SldSecOne.opny { height: 490px; }
    .pTest, .pPkg, .pTest-inactive { width: 250px; height: 80px; border-radius: 30px; font-size: 20px; border-bottom-right-radius: 0px;}
    .pPkg { border-bottom-left-radius: 0px;  border-bottom-right-radius: 30px;}
    .pPkg-active{ border-bottom-left-radius: 0px; }
}
@media (max-width: 767px){
    .slRedBox {  bottom: 15px; }
    .ppSlide { margin-bottom: 70px; }
}
@media (max-width: 639px){
    .slideSec { padding: 0 50px 270px; }
    #SldSecOne.opny { height: auto; }
    .owl-carousel.owl-drag .owl-item { padding: 0 20px !important; }
    .slideSec { padding: 0 50px 180px; }
    .slRedBoxText .text-white, .slRedBoxText {text-align: left;}
    .slideSec { margin-top: 40px; }
}
@media (max-width: 575px){
    .slideSec h2 { font-size: 30px; line-height: 36px; }
    .ppBxHeader h2 { font-size: 12px; line-height: 17px;}
}
@media (max-width: 534px){
    .slideSec { padding: 0 50px 70px; margin-top: 50px; }
    .sliderBottomSec { margin-top: 30px; }
    .pPkg { margin-right: 10px; }
    .pPkg:hover { margin-left: 0; }
    .pTest, .pPkg, .pTest-inactive, .pPkg-active { width: 170px; height: 56px; font-size: 14px; }
}
@media (max-width: 479px){
    .slRedBox { width: 140px; height: 150px; border-radius: 35px; border-bottom-right-radius: 30px; padding: 12px 10px 0 12px; }
    .slRedBoxText h3 { font-size: 13px; }
    .slRedBoxText p { font-size: 11px; margin: 6px 0 0; line-height: 14px; }
    .slRedBoxText { height: 125px; }
    .pTest, .pPkg, .pTest-inactive, .pPkg-active { width: 170px; height: 48px; font-size: 12px; }
    .sliderBottomSec { width: 280px; margin-left: -140px; left: 50%; }
    .pTest, .pTest-inactive { margin-right: 10px; }
    .pPkg {margin-right: 0;}
    .slRedBoxText span.knMr { font-size: 12px; line-height: 16px; left: 14px; bottom: 16px; }
    .slRedBoxText .text-white { width: 115px; }
}
@media (max-width: 419px){
    .slRedBox { width: 130px; height: 130px; border-radius: 15px; border-bottom-right-radius: 30px; padding: 7px 10px 0; }
    .popularPkgOuter { height: 530px; width: 200px; padding-top: 105px; }
    .popularPkg { width: 200px; padding-top: 185px; }
    .ppWhtBox { border-radius: 15px; padding: 0px 12px 20px; height: 200px; }
    .ppWhtBoxInner { height: 140px; }
    .popularPkgTxt { font-size: 17px; }
    .popularPkgPriceLft { font-size: 20px; }
    .popularPkgPriceRght { font-size: 19px; }
}

@media (max-width: 366px){
.slideSec .owl-carousel.owl-drag .owl-item {
    justify-content: center;
    display: flex;
    width: 258px;
}
}
  .truncate-to-2-lines {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .text-black {
    color: #0d0b0b;
  }
  .pointer {
    cursor: pointer;
  }