<div class="slideSec">
    <h2>{{data}}</h2>
    <ng-container *ngIf="SldSecOne">
    <div id="SldSecOne" class="opny">
        <owl-carousel-o [options]="SlideOptions">
            <ng-template carouselSlide *ngFor="let item of testItems">
                <div class="pkgSlideOut" *ngIf="item[1].test_status == 1" (click)="getData(item[1].test_image)" routerLink="patient/test-details/{{item[1].test_id}}">
                    <!-- <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div> -->
                    <div class="slBgIm"><img [src]="item[1].test_image" alt=""></div>
                    <div class="slRedBox" [ngStyle]="{background: item[1].test_color}">
                        <div class="round"></div>
                        <div class="roundd"></div>
                        <div class="slRedBoxText">
                            <div>
                                <h3>{{item[1].test_name}}</h3>
                                <p>{{item[1].test_description}}</p>
        <div id="SldSecOne" class="opny">
            <owl-carousel-o [options]="SlideOptions">
                <ng-template carouselSlide *ngFor="let item of testItems">
                    <div class="pkgSlideOut" (click)="getData(item[1].test_image)" routerLink="patient/test-details/{{item[1].test_id}}">
                        <!-- <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div> -->
                        <div class="slBgIm"><img [src]="item[1].test_image" alt=""></div>
                        <div class="slRedBox" [ngStyle]="{background: item[1].test_color}">
                            <div class="round"></div>
                            <div class="roundd"></div>
                            <div class="slRedBoxText">
                                <div>
                                    <h3>{{item[1].test_name}}</h3>
                                    <p>{{item[1].test_description}}</p>
                                </div>
                                <!-- <div><h2>₹ 100</h2></div> -->
                            </div>
                        </div>
                    </div>
                </ng-template>  
            </owl-carousel-o>
        </div>
    </ng-container>

<ng-container *ngIf="!SldSecOne">
    <div id="SldSecOne" class="opny ppSlide">
        <owl-carousel-o [options]="SlideOptions">
            <ng-template carouselSlide *ngFor="let pakg of packageItems">
                <div class="popularPkgOuter" *ngIf="pakg.status == 1">
                    <div class="popularPkg">
                        <!-- <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div> -->
                        <div class="ppWhtBox">
                            <div class="ppWhtBoxInner">
                                <h4 *ngIf="pakg.homecollection == 'Yes'">Home Collection: <span class="badge badge-success"> Yes</span></h4>
                                <h4>Age Between {{pakg.age_group}}</h4>
                                <h4>Description: </h4>
                                <p class="truncate-to-2-lines">{{pakg.description}}</p>

                            </div>
                        </div>
                        <div class="popularPkgTxt">{{pakg.packagename}}</div>
                        <!-- <div class="popularPkgPrice">
                            <div class="popularPkgPriceLft"><span>₹</span> 500/-</div>
                            <div class="popularPkgPriceRght"><span>₹ 1300</span></div>
                        </div> -->
                    </div>
                </div>
            </ng-template>  
        </owl-carousel-o>
    </div>
</ng-container>

    <div class="sliderBottomSec">
        <!-- <a class="pTest" onclick="ptSec()">Popular Tests</a>
        <a class="pPkg" onclick="ppPkg()">Popular Packages</a> -->
        <a class="pTest" (click)="Test('Popular Test')">Popular Tests</a>
        <a class="pPkg" (click)="Package('Popular Packages')">Popular Packages</a>
    </div>
</div>



