<div class="slideSec">
    <h2>Popular Test</h2>
    <div id="SldSecOne" class="opny">
        <owl-carousel-o [options]="SlideOptions">
            <ng-template carouselSlide>
                <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div>
                <div class="slBgIm"><img src="assets/images/ocBack.jpg" alt=""></div>
                <div class="slRedBox">
                    <div class="round"></div>
                    <div class="roundd"></div>
                    <div class="slRedBoxText">
                        <div>
                            <h3>Sugar Fasting</h3>
                            <p>Lorem Ipsum Lorem Ipsum</p>
                        </div>
                        <div><h2>₹ 100</h2></div>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                    <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div>
                    <div class="slBgIm"><img src="assets/images/ocBack.jpg" alt=""></div>
                    <div class="slRedBox">
                        <div class="round"></div>
                        <div class="roundd"></div>
                        <div class="slRedBoxText">
                            <div>
                                <h3>Sugar Fasting</h3>
                                <p>Lorem Ipsum Lorem Ipsum</p>
                            </div>
                            <div><h2>₹ 100</h2></div>
                        </div>
                    </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div>
                <div class="slBgIm"><img src="assets/images/ocBack.jpg" alt=""></div>
                <div class="slRedBox">
                    <div class="round"></div>
                    <div class="roundd"></div>
                    <div class="slRedBoxText">
                        <div>
                            <h3>Sugar Fasting</h3>
                            <p>Lorem Ipsum Lorem Ipsum</p>
                        </div>
                        <div><h2>₹ 100</h2></div>
                    </div>
                </div>
            </ng-template> 
            <ng-template carouselSlide>
                <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div>
                <div class="slBgIm"><img src="assets/images/ocBack.jpg" alt=""></div>
                <div class="slRedBox">
                    <div class="round"></div>
                    <div class="roundd"></div>
                    <div class="slRedBoxText">
                        <div>
                            <h3>Sugar Fasting</h3>
                            <p>Lorem Ipsum Lorem Ipsum</p>
                        </div>
                        <div><h2>₹ 100</h2></div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div>
                <div class="slBgIm"><img src="assets/images/ocBack.jpg" alt=""></div>
                <div class="slRedBox">
                    <div class="round"></div>
                    <div class="roundd"></div>
                    <div class="slRedBoxText">
                        <div>
                            <h3>Sugar Fasting</h3>
                            <p>Lorem Ipsum Lorem Ipsum</p>
                        </div>
                        <div><h2>₹ 100</h2></div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div>
                <div class="slBgIm"><img src="assets/images/ocBack.jpg" alt=""></div>
                <div class="slRedBox">
                    <div class="round"></div>
                    <div class="roundd"></div>
                    <div class="slRedBoxText">
                        <div>
                            <h3>Sugar Fasting</h3>
                            <p>Lorem Ipsum Lorem Ipsum</p>
                        </div>
                        <div><h2>₹ 100</h2></div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
    <div id="SldSecTwo" class="">
        <owl-carousel-o [options]="SlideOptions">
            <ng-template carouselSlide>
                <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div>
                <div class="slBgIm"><img src="assets/images/ocBack.jpg" alt=""></div>
                <div class="slRedBox">
                    <div class="round"></div>
                    <div class="roundd"></div>
                    <div class="slRedBoxText">
                        <div>
                            <h3>Sugar Fasting</h3>
                            <p>Lorem Ipsum Lorem Ipsum</p>
                        </div>
                        <div><h2>₹ 100</h2></div>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                    <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div>
                    <div class="slBgIm"><img src="assets/images/ocBack.jpg" alt=""></div>
                    <div class="slRedBox">
                        <div class="round"></div>
                        <div class="roundd"></div>
                        <div class="slRedBoxText">
                            <div>
                                <h3>Sugar Fasting</h3>
                                <p>Lorem Ipsum Lorem Ipsum</p>
                            </div>
                            <div><h2>₹ 100</h2></div>
                        </div>
                    </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div>
                <div class="slBgIm"><img src="assets/images/ocBack.jpg" alt=""></div>
                <div class="slRedBox">
                    <div class="round"></div>
                    <div class="roundd"></div>
                    <div class="slRedBoxText">
                        <div>
                            <h3>Sugar Fasting</h3>
                            <p>Lorem Ipsum Lorem Ipsum</p>
                        </div>
                        <div><h2>₹ 100</h2></div>
                    </div>
                </div>
            </ng-template> 
            <ng-template carouselSlide>
                <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div>
                <div class="slBgIm"><img src="assets/images/ocBack.jpg" alt=""></div>
                <div class="slRedBox">
                    <div class="round"></div>
                    <div class="roundd"></div>
                    <div class="slRedBoxText">
                        <div>
                            <h3>Sugar Fasting</h3>
                            <p>Lorem Ipsum Lorem Ipsum</p>
                        </div>
                        <div><h2>₹ 100</h2></div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div>
                <div class="slBgIm"><img src="assets/images/ocBack.jpg" alt=""></div>
                <div class="slRedBox">
                    <div class="round"></div>
                    <div class="roundd"></div>
                    <div class="slRedBoxText">
                        <div>
                            <h3>Sugar Fasting</h3>
                            <p>Lorem Ipsum Lorem Ipsum</p>
                        </div>
                        <div><h2>₹ 100</h2></div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slideCart"><img src="assets/images/cart-icon.png" alt=""></div>
                <div class="slBgIm"><img src="assets/images/ocBack.jpg" alt=""></div>
                <div class="slRedBox">
                    <div class="round"></div>
                    <div class="roundd"></div>
                    <div class="slRedBoxText">
                        <div>
                            <h3>Sugar Fasting</h3>
                            <p>Lorem Ipsum Lorem Ipsum</p>
                        </div>
                        <div><h2>₹ 100</h2></div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
    <div class="sliderBottomSec">
        <a href="#" class="pTest" onclick="ptSec()">Popular Tests</a>
        <a href="#" class="pPkg" onclick="ppPkg()">Popular Packages</a>
    </div>
</div>



