<app-header></app-header>
<div class="cartTop">
    <div class="cartTopLeft" >
        <h1>Cart</h1>
        <p>At Nirnayan we believe nothing is more valuable to our success than the myriad and spirited people who deliver excellence in all domains of diagnostics. All professions here begin with an induction process that accustomed every new employee to the knowledge, associates, and support they need to flourish within our team.</p>
        <p>Being at the center of healthcare means we can provide ingenious solutions that lead to better health, better experiences, and reduced costs without tradeoffs.</p>
    </div>
    <div class="cartTopRght" ><img src="../../assets/images/cart-page-im.png" alt=""></div>
</div>
<div class="cartMain">
    <div class="emptyCrtIcon">
        <img src="assets/icons/shopping-cart.png" alt="">
        <h2>Your Cart is Empty</h2>
    </div>
    <div class="cartMainInner">
        <div class="cartMainTbl">
            <table [cellSpacing]="0" [cellPadding]="0" [border]="0">
                <thead>
                    <tr>
                        <td>Product Name</td>
                        <td>Type</td>
                        <td>Discount</td>
                        <td>MRP</td>
                        <td>Patient</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cart of cartlist">
                        <td data-label="Test Name"><div class="tblBx">{{cart.product_details.name}}</div></td>
                        <td data-label="Test Code"><div class="tblBx">{{cart.prod_type}}</div></td>
                        <td data-label="Discount"><div class="tblBx">00</div></td>
                        <td data-label="MRP"><div class="tblBx">{{cart.product_details.amount}}</div></td>
                        <td data-label="MRP"><div class="tblBx">
                            <select  aria-label="Default select example" (change)="selectPatient($event,cart.id)">
                                <option value="">-select-</option>
                                <option value="{{pname.id}}" *ngFor="let pname of patients">{{pname.patient_name}}</option>
                            </select>
                        </div></td>
                        <td data-label="Action"><div class="tblBx"><img src="../../assets/images/delet-icon.png" alt="" (click)="deleteItem(cart.id)"></div></td>
                    </tr>
                    <tr>
                        <td class="ttll"><div class="tblBx">Total</div></td>
                        <td data-label="Total"><div class="tblBx total">5600</div></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="addTxt">Add Product</div>
        </div>
        <div class="totalBox">
            <div class="totalBoxRw">
                <div class="totalBoxCol">Subtotal</div>
                <div class="totalBoxCol">5600</div>
            </div>
            <div class="totalBoxRw">
                <div class="totalBoxCol">Total Discount</div>
                <div class="totalBoxCol">0</div>
            </div>
            <div class="totalBoxBotRw">
                <div class="totalBoxCol">Total</div>
                <div class="totalBoxCol">5600</div>
            </div>
            <div class="proceed">Proceed To Payment</div>
        </div>
    </div>
</div>

<app-footer></app-footer>