<div class="acreeTop">
    <div class="acreeTopLeft" data-aos="zoom-out-right" data-aos-duration="1000" data-aos-delay="1000">
        <h1>Quality Control</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut volutpat nisl, non auctor sapien. Pellentesque tempor, metus ac blandit pulvinar, mi mauris porta leo, in ullamcorper enim ex dignissim odio. In hac habitasse platea dictumst.</p>
        <p>Pellentesque tempor, metus ac blandit pulvinar, mi mauris porta leo, Pellentesque tempor, metus ac blandit pulvinar, mi mauris porta leo, in ullamcorper enim ex dignissim odio. In hac habitasse platea dictumst. in ullamcorper enim ex dignissim odio. In hac habitasse platea dictumst.</p>
    </div>
    <div class="acreeTopRght" data-aos="zoom-in-left" data-aos-duration="1500" data-aos-delay="1500"><img src="../../assets/images/qa-im.jpg" alt=""></div>
</div>
<div class="whiteBar">
    <div class="whiteBarInner">
        <owl-carousel-o [options]="SlideOptionn">
            <ng-template carouselSlide>
                <div class="whiteBarInnerCol">
                    <div class="whiteBarColIcon"><img src="../../assets/images/qa-icon.png" alt=""></div>
                    <div class="whiteBarInnerTxt">
                        <h2>000+</h2>
                        <p>Lorem Ipsum is a<br/> sample text goes here</p>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="whiteBarInnerCol">
                    <div class="whiteBarColIcon"><img src="../../assets/images/qa-icon.png" alt=""></div>
                    <div class="whiteBarInnerTxt">
                        <h2>000+</h2>
                        <p>Lorem Ipsum is a<br/> sample text goes here</p>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="whiteBarInnerCol">
                    <div class="whiteBarColIcon"><img src="../../assets/images/qa-icon.png" alt=""></div>
                    <div class="whiteBarInnerTxt">
                        <h2>000+</h2>
                        <p>Lorem Ipsum is a<br/> sample text goes here</p>
                    </div>
                </div>
            </ng-template>   
        </owl-carousel-o>
    </div>
</div>
<div class="whiteBarBottom">
    <div class="whiteBarBottomRow">
        <div class="whiteBarBottomRowIm" data-aos="fade-right" data-aos-duration="500" data-aos-delay="500"><img src="../../assets/images/qc-man.jpg" alt=""></div>
        <div class="whiteBarBottomRowTxt" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1000">
            <p>Lorem Ipsum is a sample text goes here Lorem Ipsum is a sample text goes here a sample text goes here Lorem Ipsum is a sample text goes here Lorem Ipsum Lorem Ipsum  Lorem Ipsum is a sample text goes here Lorem
            Ipsum is a sample text goes here a sample text goes here Lorem Ipsum is a sample text goes here Lorem Ipsum Lorem Ipsum Lorem Ipsum is a sample text goes here Lorem Ipsum is a sample
            text goes here a sample text goes here Lorem Ipsum is a sample text goes here Lorem Ipsum Lorem Ipsum  Lorem Ipsum is a sample text goes here Lorem Ipsum is a sample text goes here a sample text goes here Lorem Ipsum is a
            sample text goes here Lorem Ipsum Lorem Ipsum</p>
            <p>Quisque non mattis nunc. Maecenas vel varius magna, id placerat nunc. Proin viverra vestibulum mauris eu feugiat. Ut eu diam fermentum velit pretium consectetur. Sed vitae lobortis tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent ac tellus elit. Aliquam erat volutpat.</p>
        </div>
    </div>
    <div class="whiteBarBottomRow">
        <div class="whiteBarBottomRowIm" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="1200"><img src="../../assets/images/qc-man.jpg" alt=""></div>
        <div class="whiteBarBottomRowTxt" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="1500">
            Lorem Ipsum is a sample text goes here Lorem Ipsum is a sample text goes here a sample text goes here Lorem Ipsum is a sample text goes here Lorem Ipsum Lorem Ipsum  Lorem Ipsum is a sample text goes here Lorem
            Ipsum is a sample text goes here a sample text goes here Lorem Ipsum is a sample text goes here Lorem Ipsum Lorem Ipsum Lorem Ipsum is a sample text goes here Lorem Ipsum is a sample
            text goes here a sample text goes here Lorem Ipsum is a sample text goes here Lorem Ipsum Lorem Ipsum  Lorem Ipsum is a sample text goes here Lorem Ipsum is a sample text goes here a sample text goes here Lorem Ipsum is a
            sample text goes here Lorem Ipsum Lorem Ipsum
        </div>
    </div>
    <div class="whiteBarBottomRow">
        <div class="whiteBarBottomRowIm" data-aos="fade-right" data-aos-duration="1800" data-aos-delay="1800"><img src="../../assets/images/qc-man.jpg" alt=""></div>
        <div class="whiteBarBottomRowTxt" data-aos="fade-left" data-aos-duration="2000" data-aos-delay="2000">
            Lorem Ipsum is a sample text goes here Lorem Ipsum is a sample text goes here a sample text goes here Lorem Ipsum is a sample text goes here Lorem Ipsum Lorem Ipsum  Lorem Ipsum is a sample text goes here Lorem
            Ipsum is a sample text goes here a sample text goes here Lorem Ipsum is a sample text goes here Lorem Ipsum Lorem Ipsum Lorem Ipsum is a sample text goes here Lorem Ipsum is a sample
            text goes here a sample text goes here Lorem Ipsum is a sample text goes here Lorem Ipsum Lorem Ipsum  Lorem Ipsum is a sample text goes here Lorem Ipsum is a sample text goes here a sample text goes here Lorem Ipsum is a
            sample text goes here Lorem Ipsum Lorem Ipsum
        </div>
    </div>
</div>
<div class="qsSec">
    <div class="qsSecInner">
        <div class="qsSecInnerTxt">
            <h2>Quality Assurance</h2>
            <p>Lorem Ipsum is a sample text goes here Lorem Ipsum is a sample text goes here a sample text goes here Lorem Ipsum is a sample text goes here Lorem Ipsum Lorem Ipsum  Lorem Ipsum is a sample text goes here Lorem Ipsum is a sample text goes here </p>
        </div>
        <div class="qsBoxSec">
            <div class="qsBox">
                <h2>Plan:</h2>
                <p>Proper plan for handling workflow.</p>
            </div>
            <div class="qsBox">
                <h2>Implementation:</h2>
                <p>Implement the plan with the proper management team and the core team is always at its bests for delivering their work on the scheduled time.</p>
            </div>
            <div class="qsBox">
                <div class="qsBoxInner">
                    <h2>Checks:</h2>
                    <p>To provide an accurate report on time to patients, our quality department follows some checkpoints like excellence in research works, use of various updated technology, experience manpower, and enough manpower in each step.</p>
                </div>
            </div>
            <div class="qsBox">
                <div class="qsBoxInner">
                    <h2>Records:</h2>
                    <p>Nirnayan offers ample light in its quality management team to produce an exact report without failing any timeline. We must maintain various quality protocols internally and externally to adhere to our quality control policy and provide the right reports. As we deal with a good workflow on an everyday basis, we maintain records in our software system on a periodic basis. We have laboratory information systems (LIS) that are ideally connected to electronic patient records.  An integrated, tier-based laboratory system requires the ability to transmit data to and from multiple testing sites as well as to forward results to clinicians and selected test results to patients for self-monitoring, to public health authorities, and to disease registries.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="stratigyBox">
        <div data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="1000">
            <h2>Types of Strategies:</h2>
            <p>Reflecting the integral role that our pathology plays in the wider healthcare system, our leadership also needs to be involved in the development of national strategic plans for laboratories. A key aspect of what we do, is fundamental to the effective working of any of our systems. Although our activities may be considered the performance of tests and the analysis of the results (the analytical phase), it is important to recognize that the pre-and post-analytical phases are equally important for generating accurate laboratory test results for our patients.</p>
            <p>The multidisciplinary effort is our special characteristic. To provide a service that is patient-oriented and meets clinical needs, we fully contribute our efforts in multi directions to achieve our perfectionism.</p>
            <p>To sustain a dynamic standard of CARE, we deal with professionally qualified managers, technicians, technology specialists, and scientists. Our Laboratory produces accurate information that results from their processes, personnel, and equipment.</p>
            <p>To support arrangements for good governance and accountability we maintain some effective processes which are scheduled by our director team. </p>
            <p>Varies on the department several methods of quality parameters are used for its testing procedure. Quality improvement professionals review patient and other medical data and analytical processes used to provide care.</p>
        </div>
    </div>
</div>

