<h2 class="title my-2 testingGlobal">Our Presence</h2>
<div class="growthSec animt">
  <div class="worldMap">
    <div class="worldMapTop"><img src="assets/images/world-map1.png" alt=""></div>
    <div class="indiaMap"><img src="assets/images/india-map.png" alt=""></div>
  </div>
  <div class="growScrollOuter">

  </div>
</div>

<div class="sectiontitle">
  <h2 class="title2">Our Network</h2>
</div>
<div class="fullWidth eight columns">
  <div class="projectFactsWrap">
    <div class="item">
      <img src="assets/images/address-icon.png?cache=false" alt="">
      <p class="number">{{ collectionPoint }}+</p>
      <p>Collection point</p>
    </div>
    <div class="item">
      <img src="assets/images/logistic-icon.png?cache=false" alt="">
      <p class="number">{{ logisticStrength }}+</p>
      <p>Logistic Strength</p>
    </div>
    <div class="item">
      <img src="assets/images/doctor-icon.png?cache=false" alt="">
      <p class="number">{{ doctors }}+</p>
      <p>Doctors</p>
    </div>
  </div>
</div>