<h1 class="title my-2">Our Presence</h1>
<div class="growthSec animt">
    <div class="worldMap">
        <div class="worldMapTop"><img src="assets/images/world-map1.png" alt=""></div>
        <div class="indiaMap"><img src="assets/images/india-map.png" alt=""></div>
        <div class="mapBotSec">
            <div class="mapBotCol">
                <div class="mapBotColIcon">
                    <div class="mapBotColIconInner"><img src="assets/images/address-icon.png" alt=""></div>
                </div>
                <div class="mapBotColInnerTxt">
                    <h2>1000+</h2>
                    <p>Collection point</p>
                </div>
            </div>
            <div class="mapBotCol">
                <div class="mapBotColIcon">
                    <div class="mapBotColIconInner"><img src="assets/images/logistic-icon.png" alt=""></div>
                </div>
                <div class="mapBotColInnerTxt">
                    <h2>500+</h2>
                    <p>Logistic Strengh</p>
                </div>
            </div>
            <div class="mapBotCol">
                <div class="mapBotColIcon">
                    <div class="mapBotColIconInner"><img src="assets/images/doctor-icon.png" alt=""></div>
                </div>
                <div class="mapBotColInnerTxt">
                    <h2>25+</h2>
                    <p>Doctors</p>
                </div>
            </div>
        </div>
    </div>
    <div class="growScrollOuter">
        
    </div>
</div>