<div class="sliddSec">
    <owl-carousel-o [options]="SlideOptions">
        <!-- <ng-template carouselSlide>
            <div class="clse" (click)="aboutUs()">
                <div class="slBgIm"><img src="assets/images/our-mission-menu.png" alt=""></div>
                <div class="slBgTxt">Our Mission</div>
                <div class="owlWhtArrow"><img src="assets/images/white-menu-arrow.png" alt=""></div>
            </div>
        </ng-template>   -->
        <!-- <ng-template carouselSlide>
            <div class="clse" (click)="aboutUs()">
                <div class="slBgIm"><img src="assets/images/our-vision-menu.png" alt=""></div>
                <div class="slBgTxt">Our Vision</div>
                <div class="owlWhtArrow"><img src="assets/images/white-menu-arrow.png" alt=""></div>
            </div>
        </ng-template>   -->
        <ng-template carouselSlide>
            <div class="clse" (click)="aboutUs('value')">
                <div class="slBgIm"><img src="assets/images/Value.jpg" alt=""></div>
                <div class="slBgTxt">Our Value</div>
                <div class="owlWhtArrow"><img src="assets/images/white-menu-arrow.png" alt=""></div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="clse" (click)="aboutUs('mission')">
                <div class="slBgIm"><img src="assets/images/Mission.jpg" alt=""></div>
                <div class="slBgTxt">Our Mission</div>
                <div class="owlWhtArrow"><img src="assets/images/white-menu-arrow.png" alt=""></div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="clse" (click)="aboutUs('vision')">
                <div class="slBgIm"><img src="assets/images/vission.jpg" alt=""></div>
                <div class="slBgTxt">Our Vision</div>
                <div class="owlWhtArrow"><img src="assets/images/white-menu-arrow.png" alt=""></div>
            </div>
        </ng-template>  
        <!-- <ng-template carouselSlide>
            <div class="clse" (click)="aboutUs()">
                <div class="slBgIm"><img src="assets/images/our-mission-menu.png" alt=""></div>
                <div class="slBgTxt">Value</div>
                <div class="owlWhtArrow"><img src="assets/images/white-menu-arrow.png" alt=""></div>
            </div>
        </ng-template> -->
    </owl-carousel-o>
</div>

