<app-header></app-header>
<div class="faqTop">
    <div class="assoTop">
        <div class="acreeTopLeft" data-aos="zoom-out-right" data-aos-duration="200" data-aos-delay="200">
            <h1>FAQs</h1>
            <p>Welcome to our Frequently Asked Questions (FAQ) section! Here, we have compiled a list of common questions and answers to provide you with quick and helpful information about our healthcare services. Our FAQs cover various topics related to our healthcare facility, services, appointments, insurance, medical records, and more. Whether you're curious about the services we offer, how to schedule an appointment, or what to bring for your visit, we have you covered. We hope that our FAQs will serve as a valuable resource, guiding you through the essential aspects of our healthcare services</p>
            <div class="fqSrchSec" style="display: none;">
                <input type="text" placeholder="Search">
                <input type="submit">
            </div>
        </div>
        <div class="acreeTopRght" data-aos="zoom-in-left" data-aos-duration="300" data-aos-delay="300"><img src="assets/images/faq-im.png" alt=""></div>
    </div>
</div>
<div class="faqMain">
    <div class="faqMainInner">
        <div class="faqMainLft">
            <mat-accordion>
                <div class="fqRow">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header class="fqQues">
                            How can I find information on tests and packages regarding a particular lab/ center?
                        </mat-expansion-panel-header>
                        <div class="fqText">
                            <p>You need to log in to <a href="www.nirnayan.com" target="_blank">www.nirnayan.com</a> and click on the option of “<strong>Patient</strong>” and you will get the information about that.</p>
                        </div>
                    </mat-expansion-panel>
                </div>
                <div class="fqRow">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header class="fqQues">How can I find the employee benefits of Our Healthcare?</mat-expansion-panel-header>
                        <div class="fqText">
                            <p>You need to log in to <a href="www.nirnayan.com" target="_blank">www.nirnayan.com</a> and then click on the “<strong>Career</strong>” option and there you will get the information about it.</p>
                        </div>
                    </mat-expansion-panel>
                </div>
                <div class="fqRow">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header class="fqQues">I want to visit a Lab. How can I see the location and timing?</mat-expansion-panel-header>
                        <div class="fqText">
                            <p>Log on to the website and you will get the option of “<strong>Locate us</strong>” and click on it. You will get the location details on it.</p>
                        </div>
                    </mat-expansion-panel>
                </div>
                <div class="fqRow">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header class="fqQues">I want to know about the corporate partners of your lab and want to make a proposal to be a corporate partner. How do I connect with you?</mat-expansion-panel-header>
                        <div class="fqText">
                            <p>You just need to log in to our Website and click on the “<strong>Association</strong>” button and you will get the corporate information about us. From there you can put your details to connect with us.</p>
                        </div>
                    </mat-expansion-panel>
                </div>
                <div class="fqRow">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header class="fqQues">How can I get to know about your department's details?</mat-expansion-panel-header>
                        <div class="fqText">
                            <p>You just need to log in to our website <a href="www.nirnayan.com" target="_blank">www.nirnayan.com</a> and there you will get the option Laboratory click on it, and you will get the option Department. From there you will all the latest information about our departments.</p>
                        </div>
                    </mat-expansion-panel>
                </div>
            </mat-accordion>
        </div>
        <div class="querySec">
            <div class="querySecInner">
                <h2>For Any Quaries</h2>
                <form [formGroup]="enquiryForm" (ngSubmit)="submitForm()">
                    <div class="fromRow" data-aos="zoom-out-right" data-aos-duration="200" data-aos-delay="200">
                        <label>Name</label>
                        <input type="text" formControlName="contact_name">
                    </div>
                    <div class="fromRow" data-aos="zoom-out-left" data-aos-duration="250" data-aos-delay="250">
                        <label>Email ID</label>
                        <input type="text" formControlName="contact_email">
                    </div>
                    <div class="fromRow" data-aos="zoom-out-right" data-aos-duration="300" data-aos-delay="300">
                        <label>Mobile No.</label>
                        <input type="text" formControlName="contact_mobile">
                    </div>
                    <div class="fromRow" data-aos="zoom-out-left" data-aos-duration="350" data-aos-delay="350">
                        <label>Enquiry</label>
                        <textarea formControlName="contact_enquiry"></textarea>
                    </div>
                    <div class="fromRow" data-aos="flip-left" data-aos-duration="400" data-aos-delay="400"><input type="submit" value="Submit"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- <div style="background-color: rgba(0,0,0,0.5);" class="loading-spinner" id="loader">
</div> -->

<app-footer></app-footer>
