<app-header></app-header>
<div class="faqBanner">
        <h2>faq</h2>
        <h3>Ask us anything</h3>
        <p>Have any questions? We're here to assist you.</p>
        <div class="inSerach">
            <input type="text" placeholder="Search here">
            <div class="searchicon"></div>
        </div>
</div>
<div class="mainfaqSec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="faqhigh">
                    <img src="../../../assets/images/faq-ask.png" alt="" srcset="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="faqInnerBox">
                        <h3>Frequently Asked Questions</h3>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  Accordion Item #1
                                </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  Accordion Item #2
                                </button>
                              </h2>
                              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  Accordion Item #3
                                </button>
                              </h2>
                              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                              </div>
                            </div>
                          </div>
                </div>
            </div>
        </div>
        <div class="stillhave">
            <div class="stillInner">
                <h4>Still have questions?</h4>  
                <p>Can’t find the answer you’re looking for? Please chat to our friendly team.</p>  
            </div>
            <div class="popUpBox">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Get in touch
              </button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<!-- Modal -->
<div class="modal fade customeModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="popupForm">
              <form>
                  <div class="formControl">
                    <label class="form-label">User Name</label>
                    <input class="form-control" type="text" placeholder="John smith">
                  </div>
                  <div class="formControl">
                    <label class="form-label">Your email</label>
                    <input class="form-control" type="text" placeholder="email@gmail.com">
                  </div>
                  <div class="formControl">
                    <label class="form-label">Your email</label>
                    <input class="form-control" type="text" placeholder="email@gmail.com">
                  </div>
                  <div class="formControl">
                    <label class="form-label">Your email</label>
                    <input class="form-control" type="text" placeholder="email@gmail.com">
                  </div>
                  <div class="formControl">
                    <label class="form-label">Your messages</label>
                   <textarea class="form-control"></textarea>
                  </div>
                  <div class="formSubMit">
                      <button>Submit</button>
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>
</div>