<div class="downloadArea">
    <div class="downloadSec">
        <div class="downloadSlider">
            <div class="handMob">
                <img src="assets/images/hand-mob.png" alt=""/>
                <div class="handMobSlide">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="assets/images/scrn-1.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="assets/images/scrn-2.jpg" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="downloadText">
      <h2>Find out us at</h2>
      <h3>Nirnayan HealthCare App</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque diam erat, blandit sit amet congue vel, vehicula non ante. Phasellus malesuada, nibh in iaculis placerat, diam tortor faucibus sem, vitae ornare lorem justo ut ligula.</p>
      <div class="downloadApp">
        <a href="#" class="downloadAppBox"><img src="assets/images/playstore.png" alt="..."></a>
        <a href="#" class="downloadAppBox"><img src="assets/images/apple-icon.png" alt="..."></a>
      </div>
    </div>
  </div>
  
