<app-header></app-header>

<div class="container-fluid">
    <div class="mapArea">
      <div class="mapAreaTop">
        <img src="assets/images/logo.png" alt="">
        <h1>Nirnayan Healthcare</h1>
      </div>
      <div class="mapSecondArea">
        <ul>
            <li>
                About Us
                <ul>
                    <li><a routerLink="/about-us/our-journey">Our Journey</a></li>
                    <li><a routerLink="/about-us/our-team">Our team</a></li>
                    <li><a routerLink="/about-us/about/{{'mission'}}">Our Mission</a></li>
                    <li><a routerLink="/about-us/about/{{'vision'}}">Our Vision</a></li>
                    <li><a routerLink="/about-us/about/{{'value'}}">Our Value</a></li>
                    <li><a routerLink="/others/explore">Our Presence</a></li>
                </ul>
            </li>
            <li>
                Laboratory
                <ul>
                    <li><a routerLink="/laboratory/department/19">Our Departments</a></li>
                    <li><a routerLink="/laboratory/accreditation">Our Accreditations</a></li>
                    <li><a routerLink="/laboratory/quality">Our Quality Controls</a></li>
                    <li><a routerLink="/laboratory/awards">Our Awards & Accolades</a></li>
                </ul>
            </li>
            <li><span routerLink="/science/encyclopedia">Science Behind</span></li>
            <li>
                Patient
                <ul>
                    <li><a routerLink="/patient/find-center">Find a centre</a></li>
                    <li><a routerLink="/patient/test-list">All Tests</a></li>
                    <li><a routerLink="/patient/package-list">All Packages</a></li>
                    <li><a routerLink="/patient/test-reference">Test Reference</a></li>
                    <li><a routerLink="/page/blog">Blogs</a></li>
                    <li><a routerLink="/science/encyclopedia">Medical Encyclopedia</a></li>
                </ul>
            </li>
            <li><span routerLink="/page/blog">Blogs</span></li>
            <li>
                Associations
                <ul>
                    <li><a routerLink="/others/association">Our offerings</a></li>
                    <li><a routerLink="/others/association">Corporate Partners</a></li>
                    <li><a routerLink="/others/association">Reach out to us</a></li>
                </ul>
            </li>
            <li><span routerLink="/others/events">Events</span></li>
            <li>
                Careers
                <ul>
                    <li><a routerLink="/others/career">Why work with us</a></li>
                    <li><a routerLink="/others/career">Employee benefits</a></li>
                    <li><a routerLink="/others/career">Work environment</a></li>
                    <li><a routerLink="/others/career">Job Listing</a></li>
                    <li><a routerLink="/others/career">Give us your details</a></li>
                </ul>
            </li>
            <li><span routerLink="/others/faq">FAQs</span></li>
        </ul>
      </div>
    </div>
</div>

<app-footer></app-footer>

