
<div class="acreeSliderSec">
  <div class="docSlider">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="slide">
          <div class="drName">
            <div class="scrl">
              <h4>Dr. Rimi Ghosh</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus imperdiet lorem lacinia
                blandit. Etiam eu fringilla libero. Cras varius vulputate lacus a molestie.</p>
            </div>
            <div class="soclMed">
              <a href="#"><img src="assets/images/dr-twitter.png" alt=""></a>
              <a href="#"><img src="assets/images/dr-linkdin.png" alt=""></a>
            </div>
          </div>
          <div class="blgImag"><img src="assets/images/d1.jpg" alt=""></div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide">
          <div class="drName">
            <div class="scrl">
              <h4>Dr. Priyam Sharm</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus imperdiet lorem lacinia
                blandit. Etiam eu fringilla libero. Cras varius vulputate lacus a molestie.</p>
            </div>
            <div class="soclMed">
              <a href="#"><img src="assets/images/dr-twitter.png" alt=""></a>
              <a href="#"><img src="assets/images/dr-linkdin.png" alt=""></a>
            </div>
          </div>
          <div class="blgImag"><img src="assets/images/d2.jpg" alt=""></div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide">
          <div class="drName">
            <div class="scrl">
              <h4>Dr. Abhirup Dasgupata</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus imperdiet lorem lacinia
                blandit. Etiam eu fringilla libero. Cras varius vulputate lacus a molestie.</p>
            </div>
            <div class="soclMed">
              <a href="#"><img src="assets/images/dr-twitter.png" alt=""></a>
              <a href="#"><img src="assets/images/dr-linkdin.png" alt=""></a>
            </div>
          </div>
          <div class="blgImag"><img src="assets/images/d3.jpg" alt=""></div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>
