<div class="sliddSec">
    <owl-carousel-o [options]="SlideOptions">
        <ng-template carouselSlide>
            <div class="clse pointer" routerLink="/patient/test-list" >
                <div class="slBgIm"><img src="assets/images/tst-bk.png" alt=""></div>
                <div class="slBgTxt">Tests</div>
                <div class="owlWhtArrow"><a><img src="assets/images/white-menu-arrow.png" alt=""></a></div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="clse pointer" routerLink="/patient/package-list">
                <div class="slBgIm"><img src="assets/images/package-bk.png" alt=""></div>
                <div class="slBgTxt">Packages</div>
                <div class="owlWhtArrow"><a><img src="assets/images/white-menu-arrow.png" alt=""></a></div>
            </div>
        </ng-template>  
        <!-- <ng-template carouselSlide>
            <div class="clse" (click)="patient()">
                <div class="slBgIm"><img src="assets/images/tst-bk.png" alt=""></div>
                <div class="slBgTxt">Tests</div>
                <div class="owlWhtArrow"><a href="#"><img src="assets/images/white-menu-arrow.png" alt=""></a></div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="clse" (click)="patient()">
                <div class="slBgIm"><img src="assets/images/package-bk.png" alt=""></div>
                <div class="slBgTxt">Packages</div>
                <div class="owlWhtArrow"><a href="#"><img src="assets/images/white-menu-arrow.png" alt=""></a></div>
            </div>
        </ng-template> 
        <ng-template carouselSlide>
            <div class="clse" (click)="patient()">
                <div class="slBgIm"><img src="assets/images/tst-bk.png" alt=""></div>
                <div class="slBgTxt">Tests</div>
                <div class="owlWhtArrow"><a href="#"><img src="assets/images/white-menu-arrow.png" alt=""></a></div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="clse" (click)="patient()">
                <div class="slBgIm"><img src="assets/images/package-bk.png" alt=""></div>
                <div class="slBgTxt">Packages</div>
                <div class="owlWhtArrow"><a href="#"><img src="assets/images/white-menu-arrow.png" alt=""></a></div>
            </div>
        </ng-template>  -->
    </owl-carousel-o>
</div>



