.truncate-to-2-lines {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .text-black {
    color: #0d0b0b;
  }
  .pointer {
    cursor: pointer;
  }
  .card-img-top {
    width: 40%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .card {
    padding: 1.5em 0.5em 0.5em;
    text-align: center;
    border-radius: 2em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 174px;
    position: relative;
    margin: 10px 0;
  }
  .card-title {
    font-weight: bold;
    font-size:15px;
  }
  .card-text{
    font-weight: bold;
    font-size:13px;
  }
.rounded-card{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #047835;
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 9px;
  right: 11px;
}
