<div class="accreditation">
    <h2>Accreditation</h2>
    <ul>
        <li>
            <div class="accreditationInnerBox">
                <div class="acRound"><img src="assets/images/nabl.png" alt=""></div>
                <h3>Accreditation</h3>
                <h4>2018- 2019</h4>
                <p>Nullam rutrum odio sit amet orci tempor, nec dictum arcu interdum. Praesent molestie et dui vel tempus. Aenean elementum magna in commodo eleifend. Ut pretium, ipsum sed interdum elementum, odio justo vestibulum velit, eget accumsan nulla arcu ac mi. Maecenas consequat suscipit quam.</p>
            </div>
            <a href="#">NABL</a>
        </li>
        <li>
            <div class="accreditationInnerBox">
                <div class="acRound"><img src="assets/images/iso-icon.png" alt=""></div>
                <h3>Accreditation</h3>
                <h4>2018- 2019</h4>
                <p>Sed ut pulvinar velit, sit amet tincidunt orci. Nam ultrices velit vitae lacinia finibus. Vestibulum hendrerit purus vitae mi maximus, quis porta odio rhoncus. Suspendisse tincidunt dui eget mollis posuere. Sed vestibulum orci id nulla vulputate pellentesque. Suspendisse et magna mi.</p>
            </div>
            <a href="#">ISO</a>
        </li>
        <li>
            <div class="accreditationInnerBox">
                <div class="acRound"><img src="assets/images/icmr.png" alt=""></div>
                <h3>Accreditation</h3>
                <h4>2018- 2019</h4>
                <p>Nullam rutrum odio sit amet orci tempor, nec dictum arcu interdum. Praesent molestie et dui vel tempus. Aenean elementum magna in commodo eleifend. Ut pretium, ipsum sed interdum elementum, odio justo vestibulum velit, eget accumsan nulla arcu ac mi. Maecenas consequat suscipit quam.</p>
            </div>
            <a href="#">ICMR</a>
        </li>
        <li>
            <div class="accreditationInnerBox">
                <div class="acRound"><img src="assets/images/nabl.png" alt=""></div>
                <h3>Accreditation</h3>
                <h4>2018- 2019</h4>
                <p>Sed ut pulvinar velit, sit amet tincidunt orci. Nam ultrices velit vitae lacinia finibus. Vestibulum hendrerit purus vitae mi maximus, quis porta odio rhoncus. Suspendisse tincidunt dui eget mollis posuere. Sed vestibulum orci id nulla vulputate pellentesque. Suspendisse et magna mi.</p>
            </div>
            <a href="#">CAP</a>
        </li>
    </ul>
</div>

