.fcSec { padding: 250px 0 100px 60px; position: relative; overflow: hidden; }
.fcSecTop {display: flex; padding-right: 75px; justify-content: flex-end; align-items: center;}
.fcSecTop h1 { font-size: 45px; color: #5d7532; font-weight: 600; margin: 0 110px 0 0; padding: 0; font-family: 'Poppins', sans-serif; display: inline-block;}
.fcSecTopSl {width: 270px; height: 60px; position: relative; margin-right: 17px;}
.fcSecTopSl select { width: 100%; border: none; padding-right: 40px; padding-left: 15px; height: 60px; border-radius: 25px; border-top-left-radius: 0; border-bottom-right-radius: 0; -o-box-shadow: 0 0 10px rgba(255,214,93,0.5); box-shadow: 0 0 10px rgb(255 214 93 / 50%); transition: all 0.3s linear; -moz-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; -khtml-transition: all 0.3s linear; }
.fcSecTopSl:after { content: ""; position: absolute; display: inline-block; pointer-events: none; background: #fff url(../../assets/images/drop.jpg) left center no-repeat; width: 44px; height: 56px; top: 2px; right: 2px; border-top-right-radius: 30px; border-bottom-right-radius: 30px; }
.fcSecSearch { width: 500px; display: inline-block; position: relative; }
.fcSecSearch input[type="text"]{width: 100%; border: none; padding-right: 140px; padding-left: 15px; height: 60px; border-radius: 25px; border-top-left-radius: 0; border-bottom-right-radius: 0; -o-box-shadow: 0 0 10px rgba(255,214,93,0.5); box-shadow: 0 0 10px rgb(255 214 93 / 50%);  transition: all 0.3s linear; -moz-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition:all 0.3s linear; -khtml-transition: all 0.3s linear;}
.fcSecSearch input[type="text"]:hover { -o-box-shadow: 0 0 50px rgba(255,214,93,0.8); box-shadow: 0 0 50px rgb(255 214 93 / 80%); }
.fcSecSearch input[type="submit"]{width: 100px; cursor: pointer; position: absolute; right: 0; top: 0; border: none; height: 60px; border-radius: 25px; border-top-left-radius: 0; border-bottom-right-radius: 0; background: #4a9c2d url(../../assets/images/wht-search.png) center center no-repeat;}
.fcMidSec {display: flex; justify-content: space-between; position: relative; overflow: hidden;}
.fcMidLftSec {width: 1050px; display: inline-block; margin-top: 90px;}
.fcMidRghtSec {width: calc(100% - 1050px); display: inline-block; position: relative;}
.fcMidLftBox {width: 100%; display: flex;}
.fcLftBoxLft {width: 368px; height: 360px; position: relative; z-index: 1; background: url(../../assets/images/fc-box.png) right top no-repeat;}
.fcLftBoxLftRound {background: #fff; border: 5px solid transparent; -o-box-shadow: 0 0 10px rgba(255,214,93,0.5); box-shadow: 0 0 10px rgb(255 214 93 / 50%); margin: 48px 0 0 180px; width: 154px; height: 154px; display: inline-flex; border-radius: 50%; align-items: center; justify-content: center; transition: all ease-in-out 0.5s; -moz-transition: all ease-in-out 0.5s; -webkit-transition: all ease-in-out 0.5s; -o-transition: all ease-in-out 0.5s; -ms-transition: all ease-in-out 0.5s; -khtml-transition: all ease-in-out 0.5s;}
.fcLftBoxLftRound:hover { -o-box-shadow: 0 0 35px rgba(255,214,93,0.9); border: 5px solid #a6c038; box-shadow: 0 0 35px rgb(255 214 93 / 90%);}
.fcLftBoxLftRound img {transform: scale(1); transition: all ease-in-out 0.5s; -moz-transition: all ease-in-out 0.5s; -webkit-transition: all ease-in-out 0.5s; -o-transition: all ease-in-out 0.5s; -ms-transition: all ease-in-out 0.5s; -khtml-transition: all ease-in-out 0.5s;}
.fcLftBoxLftRound:hover img {transform: scale(0.7);}
.fcLftBoxRght {width: calc(100% - 400px); padding: 35px 0 15px 10px; position: relative; margin-left: -2px; display: inline-block; border-top-right-radius: 30px; border-bottom-right-radius: 30px; margin-left: -2px; background-color: #fff; height: 288px; margin-top: 38px; -o-box-shadow: 0 0 10px rgba(255,214,93,0.5); box-shadow: 0 0 10px rgb(255 214 93 / 50%);}
.fcBoxPh {display: flex; justify-content: center; align-items: center; font-size: 19px; color: #75949c; font-weight: 600; margin-top: 33px; margin-left: 120px;}
.fcBoxPh img {width: 20px; display: inline-block; margin-right: 7px;}
.fcBoxPhNumber {display: flex; justify-content: center; align-items: center; font-size: 15px; color: #54666b; font-weight: 500; margin-top: 14px; margin-left: 120px;}
.fcLftBoxRght h2 {font-size: 19px; color: #4a9c2d; font-weight: 600; margin: 24px 0 0; padding: 0;}
.fcLftBoxRght p {font-size: 15px; color: #54666b; font-weight: 400; margin-top: 15px; padding: 0; font-style: italic;}
.fcLftBoxRghtBot { margin-top: 67px; display: flex; justify-content: space-between;}
.fcLftBoxBotLft {display: inline-block; width: 300px;}
.fcLftBoxBotLftTop {display: flex; width: 100%; justify-content: space-between;}
.fcLftBoxBotLftTop select {width: 156px; height: 26px; border: 1px solid #a6c139; border-radius: 5px;}
.fcLftBoxRghtBot .fcBoxPh { margin-top: 0; margin-left: 0; }
.fcLftBoxRghtBot .fcBoxPhNumber { margin-left: 0; }
.knowMore {
    width: 200px;
    cursor: pointer;
    border: none;
    height: 48px;
    border-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #4a9c2d;
    position: relative;
}
.knowMore a {width: 100%; height: 100%; position: relative; z-index: 1; display: inline-flex; align-items: center; justify-content: center; color: #fff; font-size: 18px; color: #fff; font-weight: 600; transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -khtml-transition: all ease-in-out 0.5s;
}
.knowMore:before {
    content: "";
    width: 0;
    display: inline-block;
    height: 48px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #fcdc00;
    transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -khtml-transition: all ease-in-out 0.5s;
}
.knowMore:hover a { color: #333; }
.knowMore:hover:before { width: 100%; }
.share {width: 34px; height: 36px; top: 0; cursor: pointer; background: #4a9c2d; right: 100px; position: absolute; border-bottom-left-radius: 50%; border-bottom-right-radius: 50%; display: inline-flex; justify-content: center; align-items: center; transition: all ease-in-out 0.5s; -moz-transition: all ease-in-out 0.5s; -webkit-transition: all ease-in-out 0.5s; -o-transition: all ease-in-out 0.5s; -ms-transition: all ease-in-out 0.5s; -khtml-transition: all ease-in-out 0.5s;}
.direction {width: 34px; height: 36px; top: 0; cursor: pointer; background: #4a9c2d; right: 48px; position: absolute; border-bottom-left-radius: 50%; border-bottom-right-radius: 50%; display: inline-flex; justify-content: center; align-items: center; transition: all ease-in-out 0.5s; -moz-transition: all ease-in-out 0.5s; -webkit-transition: all ease-in-out 0.5s; -o-transition: all ease-in-out 0.5s; -ms-transition: all ease-in-out 0.5s; -khtml-transition: all ease-in-out 0.5s;}
.share img {width: 16px;}
.direction img {width: 18px;}
.share:hover, .direction:hover { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.fcMidSec:after {content: ""; position: absolute; display: inline-block; width: 225px; height: 225px; border-radius: 40px; right: -140px; top: 42px; transform: rotate(44deg); background-color: #fff;}
.fcMidRghtSec:before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 525px;
    height: 525px;
    border-radius: 100px;
    right: 16px;
    top: 178px;
    transform: rotate(44deg);
    background-color: #fff;
}
.fcMidRghtSec:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 280px;
    height: 280px;
    border-radius: 40px;
    right: 460px;
    top: 614px;
    transform: rotate(44deg);
    background-color: #fff;
}
.fcMidRghtSecTop {position: relative; margin-top: 140px; position: relative; z-index: 2;}
.fcMidRghtSecTop img {max-width: 100%;}
.mapAddress { position: absolute; display: inline-flex; justify-content: space-between; align-items: center; right: 40px; bottom: 200px; }
.mapAddressRound {width: 24px; height: 24px; display: inline-flex; border-radius: 50%; background-color: #ffcc00; position: relative;}
.mapAddressRound:after {width: 16px; height: 16px; border-radius: 50%; margin: 4px; position: absolute; border: 2px solid #fff; content: ""; display: inline-block;}
.mapAddressTxt {width: 260px; display: inline-block; margin-right: 10px;}
.mapAddressTxt h2 {font-size: 19px; color: #ffcc00; font-weight: 600; margin: 0; padding: 0; text-align: right;}
.mapAddressTxt p {font-size: 14px; color: #54666b; font-weight: 400; margin-top: 5px; margin: 0; text-align: right;}
.bkngEnq {
    margin-top: 200px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-right: 60px;
}
.bkngEnq h2 {font-size: 19px; color: #667063; font-weight: 600; margin: 0 10px 14px 0; padding: 0; text-align: right;}
.bkngEnqBx {max-width: 680px; border-radius: 30px; padding: 8px 22px 22px; background-color: #c1a01d; text-align: left;}
.bkngEnqBx input[type="text"], .bkngEnqBx input[type="tel"], .bkngEnqBx input[type="date"] {width: 100%; height: 55px; border-radius: 30px; border: 2px solid #a6c139; padding: 0 22px; margin-top: 20px;}
.bkngEnqBx textarea {width: 100%; height: 120px; border-radius: 30px; border: 2px solid #a6c139; padding: 10px 22px; margin-top: 20px;}
.dark-matter input[type="radio"] { display:none; }
.dark-matter input[type="radio"] + label span { display:inline-block; width: 20px; height:20px; margin: 0 8px 0 0; vertical-align:middle; border: 2px solid #fff; border-radius: 50%; border-bottom-right-radius: 0; cursor:pointer; position: relative; }
.dark-matter input[type="radio"]:checked + label span:after {  width: 8px; height:8px; border-radius: 50%; background: #fff; display: inline-block; content: ""; position: absolute; left: 4px; top: 4px; }
.dark-matter {display: flex; flex-wrap: wrap; margin-top: 20px; padding-left: 8px;}
.dark-matter span { width: 100%; text-align: left; font-size: 19px; font-weight: 500; display: block; color: #fff; margin-bottom: 10px; }
.dark-matter label { margin-right: 20px; color: #fff; font-size: 15px; margin-bottom: 0;}
.upld { width: 100%; height: 55px; border-radius: 30px; background-color: #fff; border: 2px solid #a6c139; padding: 11px 22px 0 0; margin-top: 16px; position: relative; overflow: hidden; }
.upld:before { content: ""; position: absolute; pointer-events: none; background: #fff url(../../assets/images/upload.jpg) 22px top no-repeat; display: inline-block; width: 58px; height: 30px; }
.upld input[type="file"] { margin-left: -39px; }
.formText {font-size: 14px; color: #fff; font-weight: 400; margin: 20px 0 0; padding: 0;}
.bkngEnq .bcenq {
    width: 150px;
    cursor: pointer;
    border: none;
    height: 45px;
    border-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #c1a01d;
    float: right;
    transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -khtml-transition: all ease-in-out 0.5s;
    overflow: hidden;
    position: relative;
    margin: 25px 0 0;
}
.bkngEnq .bcenq input[type="submit"] {
    width: 150px;
    cursor: pointer;
    border: none;
    height: 45px;
    border-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    background: transparent;
    font-size: 14px; color: #fff; font-weight: 400; margin: 20px 0 0; padding: 0;
    font-weight: 600;
    position: relative;
    display: block;
    z-index: 2;
    margin: 0;
}
.bkngEnq .bcenq:before {
    content: "";
    width: 0;
    display: inline-block;
    height: 48px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #4a9c2d;
    transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -khtml-transition: all ease-in-out 0.5s;
}
.bkngEnq .bcenq:hover:before { width: 100%; }
.loadMore {margin-top: 25px; display: flex; justify-content: center;}