<div class="fcSec">
    <div class="fcSecTop">
        <h1 data-aos="fade-right" data-aos-duration="800" data-aos-delay="700">Lorem Ipsum</h1>
        <div class="fcSecTopSl" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
            <select>
                <option>Select State</option>
                <option>West Bengal</option>
                <option>Odissa</option>
            </select>
        </div>
        <div class="fcSecTopSl" data-aos="fade-down" data-aos-duration="1300" data-aos-delay="1500">
            <select>
                <option>Select City</option>
                <option>Kolkata</option>
                <option>Krishnanagar</option>
                <option>Berhampur</option>
            </select>
        </div>
        <div class="fcSecSearch" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="1500"><input type="text" name=""><input type="submit" value=""></div>
    </div>
    <div class="fcMidSec">
        <div class="fcMidLftSec">
            <div class="fcMidLftBox" data-aos="zoom-in-right" data-aos-duration="1200" data-aos-delay="1200">
                <div class="fcLftBoxLft">
                    <div class="fcLftBoxLftRound"><img src="assets/images/microscope.png" alt=""></div>
                    <div class="fcBoxPh">
                        <img src="assets/images/ph-icon.png" alt=""> <span>Phone Number</span>
                    </div>
                    <div class="fcBoxPhNumber">(033) 1234 5678</div>
                </div>
                <div class="fcLftBoxRght">
                    <div class="share"><img src="assets/images/share-icon.png" alt=""></div>
                    <div class="direction"><img src="assets/images/direction-icon.png" alt=""></div>
                    <h2>Lorem collection centre</h2>
                    <p>Lorem Ipsum is a sample text goes hereLorem Ipsum</p>
                    <div class="fcLftBoxRghtBot">
                        <div class="fcLftBoxBotLft">
                            <div class="fcLftBoxBotLftTop">
                                <div class="fcBoxPh">
                                    <img src="assets/images/clock-icon.png" alt=""> <span>Timings</span>
                                </div>
                                <select>
                                    <option>Monday</option>
                                    <option>Tuesday</option>
                                    <option>Wednesday</option>
                                    <option>Thursday</option>
                                    <option>Friday</option>
                                    <option>Saturday</option>
                                    <option>Sunday</option>
                                </select>
                            </div>
                            <div class="fcBoxPhNumber">08 AM To 08 PM</div>
                        </div>
                        <div class="knowMore"><a href="#">Know More</a></div>
                    </div>
                </div>
            </div>
            <div class="fcMidLftBox" data-aos="zoom-in-right" data-aos-duration="1700" data-aos-delay="1700">
                <div class="fcLftBoxLft">
                    <div class="fcLftBoxLftRound"><img src="assets/images/microscope.png" alt=""></div>
                    <div class="fcBoxPh">
                        <img src="assets/images/ph-icon.png" alt=""> <span>Phone Number</span>
                    </div>
                    <div class="fcBoxPhNumber">(033) 1234 5678</div>
                </div>
                <div class="fcLftBoxRght">
                    <div class="share"><img src="assets/images/share-icon.png" alt=""></div>
                    <div class="direction"><img src="assets/images/direction-icon.png" alt=""></div>
                    <h2>Lorem collection centre</h2>
                    <p>Lorem Ipsum is a sample text goes hereLorem Ipsum</p>
                    <div class="fcLftBoxRghtBot">
                        <div class="fcLftBoxBotLft">
                            <div class="fcLftBoxBotLftTop">
                                <div class="fcBoxPh">
                                    <img src="assets/images/clock-icon.png" alt=""> <span>Timings</span>
                                </div>
                                <select>
                                    <option>Monday</option>
                                    <option>Tuesday</option>
                                    <option>Wednesday</option>
                                    <option>Thursday</option>
                                    <option>Friday</option>
                                    <option>Saturday</option>
                                    <option>Sunday</option>
                                </select>
                            </div>
                            <div class="fcBoxPhNumber">08 AM To 08 PM</div>
                        </div>
                        <div class="knowMore"><a href="#">Know More</a></div>
                    </div>
                </div>
            </div>
            <div class="fcMidLftBox" data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="1000">
                <div class="fcLftBoxLft">
                    <div class="fcLftBoxLftRound"><img src="assets/images/microscope.png" alt=""></div>
                    <div class="fcBoxPh">
                        <img src="assets/images/ph-icon.png" alt=""> <span>Phone Number</span>
                    </div>
                    <div class="fcBoxPhNumber">(033) 1234 5678</div>
                </div>
                <div class="fcLftBoxRght">
                    <div class="share"><img src="assets/images/share-icon.png" alt=""></div>
                    <div class="direction"><img src="assets/images/direction-icon.png" alt=""></div>
                    <h2>Lorem collection centre</h2>
                    <p>Lorem Ipsum is a sample text goes hereLorem Ipsum</p>
                    <div class="fcLftBoxRghtBot">
                        <div class="fcLftBoxBotLft">
                            <div class="fcLftBoxBotLftTop">
                                <div class="fcBoxPh">
                                    <img src="assets/images/clock-icon.png" alt=""> <span>Timings</span>
                                </div>
                                <select>
                                    <option>Monday</option>
                                    <option>Tuesday</option>
                                    <option>Wednesday</option>
                                    <option>Thursday</option>
                                    <option>Friday</option>
                                    <option>Saturday</option>
                                    <option>Sunday</option>
                                </select>
                            </div>
                            <div class="fcBoxPhNumber">08 AM To 08 PM</div>
                        </div>
                        <div class="knowMore"><a href="#">Know More</a></div>
                    </div>
                </div>
            </div>
            <div class="fcMidLftBox" data-aos="zoom-in-right" data-aos-duration="1500" data-aos-delay="1500">
                <div class="fcLftBoxLft">
                    <div class="fcLftBoxLftRound"><img src="assets/images/microscope.png" alt=""></div>
                    <div class="fcBoxPh">
                        <img src="assets/images/ph-icon.png" alt=""> <span>Phone Number</span>
                    </div>
                    <div class="fcBoxPhNumber">(033) 1234 5678</div>
                </div>
                <div class="fcLftBoxRght">
                    <div class="share"><img src="assets/images/share-icon.png" alt=""></div>
                    <div class="direction"><img src="assets/images/direction-icon.png" alt=""></div>
                    <h2>Lorem collection centre</h2>
                    <p>Lorem Ipsum is a sample text goes hereLorem Ipsum</p>
                    <div class="fcLftBoxRghtBot">
                        <div class="fcLftBoxBotLft">
                            <div class="fcLftBoxBotLftTop">
                                <div class="fcBoxPh">
                                    <img src="assets/images/clock-icon.png" alt=""> <span>Timings</span>
                                </div>
                                <select>
                                    <option>Monday</option>
                                    <option>Tuesday</option>
                                    <option>Wednesday</option>
                                    <option>Thursday</option>
                                    <option>Friday</option>
                                    <option>Saturday</option>
                                    <option>Sunday</option>
                                </select>
                            </div>
                            <div class="fcBoxPhNumber">08 AM To 08 PM</div>
                        </div>
                        <div class="knowMore"><a href="#">Know More</a></div>
                    </div>
                </div>
            </div>
            <div class="fcMidLftBox" data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="1000">
                <div class="fcLftBoxLft">
                    <div class="fcLftBoxLftRound"><img src="assets/images/microscope.png" alt=""></div>
                    <div class="fcBoxPh">
                        <img src="assets/images/ph-icon.png" alt=""> <span>Phone Number</span>
                    </div>
                    <div class="fcBoxPhNumber">(033) 1234 5678</div>
                </div>
                <div class="fcLftBoxRght">
                    <div class="share"><img src="assets/images/share-icon.png" alt=""></div>
                    <div class="direction"><img src="assets/images/direction-icon.png" alt=""></div>
                    <h2>Lorem collection centre</h2>
                    <p>Lorem Ipsum is a sample text goes hereLorem Ipsum</p>
                    <div class="fcLftBoxRghtBot">
                        <div class="fcLftBoxBotLft">
                            <div class="fcLftBoxBotLftTop">
                                <div class="fcBoxPh">
                                    <img src="assets/images/clock-icon.png" alt=""> <span>Timings</span>
                                </div>
                                <select>
                                    <option>Monday</option>
                                    <option>Tuesday</option>
                                    <option>Wednesday</option>
                                    <option>Thursday</option>
                                    <option>Friday</option>
                                    <option>Saturday</option>
                                    <option>Sunday</option>
                                </select>
                            </div>
                            <div class="fcBoxPhNumber">08 AM To 08 PM</div>
                        </div>
                        <div class="knowMore"><a href="#">Know More</a></div>
                    </div>
                </div>
            </div>
            <div class="loadMore">
                <div class="knowMore" data-aos="flip-left" data-aos-duration="1500" data-aos-delay="1500"><a href="#">Load More</a></div>
            </div>
        </div>
        <div class="fcMidRghtSec">
            <div class="fcMidRghtSecTop">
                <img src="assets/images/india-map-outline.png" alt="" data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="2000">
                <div class="mapAddress" data-aos="fade-left" data-aos-duration="500" data-aos-delay="500">
                    <div class="mapAddressTxt">
                        <h2>Lorem Ipsum</h2>
                        <p>Lorem Ipsum Lorem Ipsum</p>
                    </div>
                    <div class="mapAddressRound">&nbsp;</div>
                </div>
            </div>
            <div class="bkngEnq">
                <h2 data-aos="fade-left" data-aos-duration="500" data-aos-delay="500">Booking Enquiry</h2>
                <form>
                    <div class="bkngEnqBx">
                            <input type="text" placeholder="Name" data-aos="fade-right" data-aos-duration="700" data-aos-delay="700"/>
                            <input type="tel" placeholder="Mobile No" data-aos="fade-left" data-aos-duration="900" data-aos-delay="900"/>
                            <div class="dark-matter" data-aos="fade-right" data-aos-duration="1100" data-aos-delay="1100">
                                <span>Gender</span>
                                <div>
                                    <input type="radio" id="c4" name="cc">
                                    <label for="c4" class="top"><span></span>Male</label>
                                    <input type="radio" id="c5" name="cc">
                                    <label for="c5" class="top"><span></span>Female</label>
                                    <input type="radio" id="c6" name="cc">
                                    <label for="c6" class="top"><span></span>Others</label>
                                </div>
                            </div>
                            <input type="date" placeholder="DOB" data-aos="fade-left" data-aos-duration="1300" data-aos-delay="1300"/>
                            <textarea placeholder="Address" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="1500"></textarea>
                            <div class="upld" data-aos="fade-left" data-aos-duration="1700" data-aos-delay="1700"><input type="file"/></div>
                            <div class="formText" data-aos="zoom-in" data-aos-duration="1900" data-aos-delay="1900">Document should be in .doc/.docx/.pdf/.png/.jpg/.jpeg 
                                format. Document size should be less than 2MB</div>
                    </div>
                    <div class="bcenq" data-aos="flip-up" data-aos-duration="2500" data-aos-delay="2500"><input type="submit" value="Submit"/></div>
                </form>
            </div>
        </div>
    </div>
</div>
