<div class="mstViewSlide">
    <owl-carousel-o [options]="SlideOptions">
        <ng-template carouselSlide>
            <div routerLink="/page/blog-details" class="mvBox">
                <div class="number">01</div>
                <div class="mvBoxIm"><img src="assets/images/mv-im.png" alt=""></div>
                <div class="mvBoxTxt" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="500">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div routerLink="/page/blog-details" class="mvBox">
                <div class="number">02</div>
                <div class="mvBoxIm"><img src="assets/images/mv-im.png" alt=""></div>
                <div class="mvBoxTxt" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="500">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div routerLink="/page/blog-details" class="mvBox">
                <div class="number">03</div>
                <div class="mvBoxIm"><img src="assets/images/mv-im.png" alt=""></div>
                <div class="mvBoxTxt" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="500">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div routerLink="/page/blog-details" class="mvBox">
                <div class="number">04</div>
                <div class="mvBoxIm"><img src="assets/images/mv-im.png" alt=""></div>
                <div class="mvBoxTxt" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="500">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div routerLink="/page/blog-details" class="mvBox">
                <div class="number">05</div>
                <div class="mvBoxIm"><img src="assets/images/mv-im.png" alt=""></div>
                <div class="mvBoxTxt" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="500">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div routerLink="/page/blog-details" class="mvBox">
                <div class="number">06</div>
                <div class="mvBoxIm"><img src="assets/images/mv-im.png" alt=""></div>
                <div class="mvBoxTxt" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="500">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div routerLink="/page/blog-details" class="mvBox">
                <div class="number">07</div>
                <div class="mvBoxIm"><img src="assets/images/mv-im.png" alt=""></div>
                <div class="mvBoxTxt" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="500">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div routerLink="/page/blog-details" class="mvBox">
                <div class="number">08</div>
                <div class="mvBoxIm"><img src="assets/images/mv-im.png" alt=""></div>
                <div class="mvBoxTxt" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="500">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>

