<app-header></app-header>
<div class="acreeTop">
    <div class="acreeTopLeft" data-aos="zoom-out-right" data-aos-duration="200" data-aos-delay="200">
        <h1>Quality Control</h1>
        <p>Where expectation blends with quality, we vigorously spread our wings in this arena by unveiling our quality protocols as we maintain every step to produce accurate results. Continuous improvements to meet a quality level in each test; we have initiated such actions that are so vivid to experience a new genre.</p>
    </div>
    <div class="acreeTopRght" data-aos="zoom-in-left" data-aos-duration="300" data-aos-delay="300"><img src="assets/images/qa-im.png" alt=""></div>
</div>
<div class="whiteBar">
    <div class="whiteBarInner">
        <owl-carousel-o [options]="SlideOptionn">
            <ng-template carouselSlide>
                <div class="whiteBarInnerCol">
                    <div class="whiteBarColIcon"><img src="assets/images/Verification-Iconn.png" alt=""></div>
                    <div class="whiteBarInnerTxt">
                        <h2>Double verification process</h2>
                        <!-- <p>Lorem Ipsum is a<br/> sample text goes here</p> -->
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="whiteBarInnerCol">
                    <div class="whiteBarColIcon"><img src="assets/images/Quality-Checkk.png" alt=""></div>
                    <div class="whiteBarInnerTxt">
                        <h2>Different levels of quality checks</h2>
                        <!-- <p>Lorem Ipsum is a<br/> sample text goes here</p> -->
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="whiteBarInnerCol">
                    <div class="whiteBarColIcon"><img src="assets/images/Green-Laboratoryy.png" alt=""></div>
                    <div class="whiteBarInnerTxt">
                        <h2>Green laboratory</h2>
                        <!-- <p>Lorem Ipsum is a<br/> sample text goes here</p> -->
                    </div>
                </div>
            </ng-template>   
        </owl-carousel-o>
    </div>
</div>
<div class="whiteBarBottom">
    <div class="whiteBarBottomRow">
        <div class="whiteBarBottomRowIm" data-aos="fade-right" data-aos-duration="200" data-aos-delay="200"><img src="assets/images/Checking-Samples.jpg" alt=""></div>
        <div class="whiteBarBottomRowTxt" data-aos="fade-left" data-aos-duration="400" data-aos-delay="400">
            <h2>Randomized protocol for checking samples</h2>
            <p>Our research team has a specialized accession department with dedication and reliability for checking samples that they receive. Following such protocols, our quality management.</p>
        </div>
    </div>
    <div class="whiteBarBottomRow">
        <div class="whiteBarBottomRowIm" data-aos="fade-right" data-aos-duration="200" data-aos-delay="200"><img src="assets/images/Control-Checks.jpg" alt=""></div>
        <div class="whiteBarBottomRowTxt" data-aos="fade-left" data-aos-duration="400" data-aos-delay="400">
            <h2>Different level control checks</h2>
            <p>Accuracy is our first priority which we are always eager to follow at every step of testing. Though Nirnayan does not compromise its quality checking for work, we maintain several levels to deliver accurate and on-time reports to patients. To provide information on the performance of reviewers throughout the peer review process and highlight reviewers that are outstanding or need support, we have arranged such points of review that can perform well.</p>
        </div>
    </div>
    <div class="whiteBarBottomRow">
        <div class="whiteBarBottomRowIm" data-aos="fade-right" data-aos-duration="200" data-aos-delay="200"><img src="assets/images/Preventive-Error-Result.jpg" alt=""></div>
        <div class="whiteBarBottomRowTxt" data-aos="fade-left" data-aos-duration="400" data-aos-delay="400">
            <h2>Preventive protocols for error results</h2>
            <p>Working with no flaws is our goal. So in every single research step, we deliberately follow significant protocols to restrict errors. Though after a vivid range of quality checks, we deliver reports to patients on time, we have a contributing management team to check the errors if by any chance it is shown in the report, they take action on a prior basis and solve with an extreme protocol.</p>
            <p>Our performance says our assurance towards our quality. Nothing is prior to our quality maintenance. We assure you about our quality control checking and prevention against any flaws, our qualitative service management system can not heal at any chance. Performing with up-to-date technologies and research tests with experienced hands we always try to serve you better from each step.</p>
        </div>
    </div>
</div>
<div class="qsSec">
    <div class="qsSecInner">
        <div class="qsSecInnerTxt">
            <h2>Quality Assurance</h2>
            <p>Our performance says our assurance towards our quality. Nothing is prior to our quality maintenance. We assure you about our quality control checking and prevention against any flaws, our qualitative service management system can not heal at any chance. Performing with up-to-date technologies and research tests with experienced hands we always try to serve you better from each step. Such steps we follow for our work management system.</p>
        </div>
        <div class="qsBoxSec">
            <div class="qsBox">
                <div class="qsBox-icon"><img src="assets/images/Plan.png" alt=""></div>
                <h2>Plan:</h2>
                <p>Proper plan for handling workflow.</p>
            </div>
            <div class="qsBox">
                <div class="qsBox-icon"><img src="assets/images/Implementation.png" alt=""></div>
                <h2>Implementation:</h2>
                <p>Implement the plan with the proper management team and the core team is always at its bests for delivering their work on the scheduled time.</p>
            </div>
            <div class="qsBox">
                <div class="qsBox-icon"><img src="assets/images/Checks.png" alt=""></div>
                <div class="qsBoxInner">
                    <h2>Checks:</h2>
                    <p>To provide an accurate report on time to patients, our quality department follows some checkpoints like excellence in research works, use of various updated technology, experience manpower, and enough manpower in each step.</p>
                </div>
            </div>
            <div class="qsBox">
                <div class="qsBox-icon"><img src="assets/images/Record.png" alt=""></div>
                <div class="qsBoxInner">
                    <h2>Records:</h2>
                    <p>Nirnayan offers ample light in its quality management team to produce an exact report without failing any timeline. We must maintain various quality protocols internally and externally to adhere to our quality control policy and provide the right reports. As we deal with a good workflow on an everyday basis, we maintain records in our software system on a periodic basis. We have laboratory information systems (LIS) that are ideally connected to electronic patient records.  An integrated, tier-based laboratory system requires the ability to transmit data to and from multiple testing sites as well as to forward results to clinicians and selected test results to patients for self-monitoring, to public health authorities, and to disease registries.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="stratigyBox">
        <div data-aos="zoom-in-up" data-aos-duration="200" data-aos-delay="200">
            <h2>Types of Strategies:</h2>
            <p>Reflecting the integral role that our pathology plays in the wider healthcare system, our leadership also needs to be involved in the development of national strategic plans for laboratories. A key aspect of what we do, is fundamental to the effective working of any of our systems. Although our activities may be considered the performance of tests and the analysis of the results (the analytical phase), it is important to recognize that the pre-and post-analytical phases are equally important for generating accurate laboratory test results for our patients.</p>
            <p>The multidisciplinary effort is our special characteristic. To provide a service that is patient-oriented and meets clinical needs, we fully contribute our efforts in multi directions to achieve our perfectionism.</p>
            <p>To sustain a dynamic standard of CARE, we deal with professionally qualified managers, technicians, technology specialists, and scientists. Our Laboratory produces accurate information that results from their processes, personnel, and equipment.</p>
            <p>To support arrangements for good governance and accountability we maintain some effective processes which are scheduled by our director team. </p>
            <p>Varies on the department several methods of quality parameters are used for its testing procedure. Quality improvement professionals review patient and other medical data and analytical processes used to provide care.</p>
            <p>Our importance of quality and safety has been highlighted in the recent ongoing health issues such as the COVID-19 pandemic as our professionals were challenged to provide excellent, quality care as they protected themselves, patients, families, and society.</p>
        </div>
    </div>
</div>

<app-footer></app-footer>