<div class="sliderSec">
    <owl-carousel-o [options]="SlideOptions">
        <ng-template carouselSlide>
            <div class="slBgIm"><img src="../assets/images/aa.jpg" alt=""></div>
            <div class="slBgTxt">Lorem Ipsum is a sample text goes here Lorem Ipsum is a sample</div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="slBgIm"> <img src="../assets/images/aa2.jpg" alt=""></div>
                <div class="slBgTxt">Lorem Ipsum is a sample text goes here Lorem Ipsum is a sample</div>
            
        </ng-template>  
        <ng-template carouselSlide>
            <div class="slBgIm"><img src="../assets/images/aa3.jpg" alt=""></div>
            <div class="slBgTxt">Lorem Ipsum is a sample text goes here Lorem Ipsum is a sample</div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="slBgIm"><img src="../assets/images/aa.jpg" alt=""></div>
            <div class="slBgTxt">Lorem Ipsum is a sample text goes here Lorem Ipsum is a sample</div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="slBgIm">
                <img src="../assets/images/aa2.jpg" alt=""></div>
                <div class="slBgTxt">Lorem Ipsum is a sample text goes here Lorem Ipsum is a sample</div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="slBgIm"><img src="../assets/images/aa3.jpg" alt=""></div>
            <div class="slBgTxt">Lorem Ipsum is a sample text goes here Lorem Ipsum is a sample</div>
        </ng-template> 
    </owl-carousel-o>
</div>




