<div class="blgSlide mstVw" *ngIf="details?.length > 0">
    <div class="most-view"><a>Most Viewed</a></div>
    <owl-carousel-o [options]="carouselOptions">
        <ng-container *ngFor="let item of details; let i = index">
            <ng-template carouselSlide>
                <div class="blog-part" routerLink="page/blog-details/{{item.id}}">
                    <div class="text-center image-wapper">
                        <img [src]="item.image" alt="" class="img-fluid">
                    </div>
                    <div class="text-blog">
                        <h4>{{item.title}}</h4>
                        <div class="describ" [innerHTML]="item.description"></div>
                    </div>
                    <a class="see-more" routerLink="/page/blog-details/{{item.id}}">Insights</a>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>