<div class="aaBody">
    <div class="aaTopSec">
        <h1>Awards <span>&</span> Accolades</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque gravida id ipsum posuere feugiat. Cras sed sollicitudin mauris. Nulla vitae lectus sapien. Donec laoreet blandit justo, quis ultricies nulla consequat a. Sed vitae consectetur risus</p>
    </div>
</div>
<div class="aabotSec">
    <div class="aabotSecLft"><img src="assets/images/aa-img.png" alt=""></div>
    <div class="aabotSecSlide"><app-aa-slider></app-aa-slider></div>
</div>


