<div class="sliddSec">
    <owl-carousel-o [options]="SlideOptions">
        <ng-template carouselSlide>
            <div routerLink="department" class="slBgIm">
                <img src="../assets/images/bio.png" alt="">
                <div class="slBgTxt">Biochemistry</div>
                <div class="owlWhtArrow"><a href="#"><img src="../assets/images/white-menu-arrow.png" alt=""></a></div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="slBgIm" routerLink="department">
                <img src="../assets/images/cytogenetics.png" alt="">
                <div class="slBgTxt">Cytogenetics</div>
                <div class="owlWhtArrow"><a href="#"><img src="../assets/images/white-menu-arrow.png" alt=""></a></div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div routerLink="department" class="slBgIm">
                <img src="../assets/images/bio.png" alt="">
                <div class="slBgTxt">Biochemistry</div>
                <div class="owlWhtArrow"><a href="#"><img src="../assets/images/white-menu-arrow.png" alt=""></a></div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div routerLink="department" class="slBgIm">
                <img src="../assets/images/cytogenetics.png" alt="">
                <div class="slBgTxt">Cytogenetics</div>
                <div class="owlWhtArrow"><a href="#"><img src="../assets/images/white-menu-arrow.png" alt=""></a></div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div routerLink="department" class="slBgIm">
                <img src="../assets/images/bio.png" alt="">
                <div class="slBgTxt">Biochemistry</div>
                <div class="owlWhtArrow"><a href="#"><img src="../assets/images/white-menu-arrow.png" alt=""></a></div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div routerLink="department" class="slBgIm">
                <img src="../assets/images/cytogenetics.png" alt="">
                <div class="slBgTxt">Cytogenetics</div>
                <div class="owlWhtArrow"><a href="#"><img src="../assets/images/white-menu-arrow.png" alt=""></a></div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>



