<div class="sliddSec">
    <owl-carousel-o [options]="SlideOptions">
        <ng-template carouselSlide>
            <div (click)="redirect()" class="slBgIm pointer">
                <img src="assets/images/bio.png" alt="">
                <div class="slBgTxt">Biochemistry</div>
                <div class="owlWhtArrow"><a><img src="assets/images/white-menu-arrow.png" alt=""></a></div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="slBgIm pointer" (click)="redirect()">
                <img src="assets/images/cytogenetics.png" alt="">
                <div class="slBgTxt">Cytogenetics</div>
                <div class="owlWhtArrow"><a><img src="assets/images/white-menu-arrow.png" alt=""></a></div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div (click)="redirect()" class="slBgIm pointer">
                <img src="assets/images/bio.png" alt="">
                <div class="slBgTxt">Biochemistry</div>
                <div class="owlWhtArrow"><a><img src="assets/images/white-menu-arrow.png" alt=""></a></div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div (click)="redirect()" class="slBgIm pointer">
                <img src="assets/images/cytogenetics.png" alt="">
                <div class="slBgTxt">Cytogenetics</div>
                <div class="owlWhtArrow"><a><img src="assets/images/white-menu-arrow.png" alt=""></a></div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div (click)="redirect()" class="slBgIm pointer">
                <img src="assets/images/bio.png" alt="">
                <div class="slBgTxt">Biochemistry</div>
                <div class="owlWhtArrow"><a><img src="assets/images/white-menu-arrow.png" alt=""></a></div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div (click)="redirect()" class="slBgIm pointer">
                <img src="assets/images/cytogenetics.png" alt="">
                <div class="slBgTxt">Cytogenetics</div>
                <div class="owlWhtArrow"><a><img src="assets/images/white-menu-arrow.png" alt=""></a></div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>



