<footer>
    <div class="footerContainer">
        <div class="footerText">
            <!-- <h2>Lorem</h2> -->
            <p>Nirnayan Health Care offers world-class healthcare facility services for mankind to serve with prior expertise and updated technology. We invite you to explore our website and learn more about our services. let's embark on a journey toward a healthier, happier you.</p>
        </div>
        <div class="footerBottom">
            <ul>
                <h2>About Us</h2>
                <li><a routerLink="/about-us/our-journey">Our Journey</a></li>
                <li><a routerLink="/about-us/our-team">Our team</a></li>
                <li><a routerLink="/about-us/about/{{'mission'}}">Our Mission</a></li>
                <li><a routerLink="/about-us/about/{{'vision'}}">Our Vision</a></li>
                <li><a routerLink="/about-us/about/{{'value'}}">Our Value</a></li>
                <li><a routerLink="/others/explore">Our Presence</a></li>
            </ul>
            <ul>
                <h2>Laboratory</h2>
                <li><a routerLink="/laboratory/department/19">Our Departments</a></li>
                <li><a routerLink="/laboratory/accreditation">Our Accreditations</a></li>
                <li><a routerLink="/laboratory/quality">Our Quality Controls</a></li>
                <li><a routerLink="/laboratory/awards">Our Awards & Accolades</a></li>
            </ul>
            <ul>
                <h2>Patient</h2>
                <li><a routerLink="/patient/find-center">Find a centre</a></li>
                <li><a routerLink="/patient/test-list">All Tests</a></li>
                <li><a routerLink="/patient/package-list">All Packages</a></li>
                <li><a routerLink="/patient/test-reference">Test Reference</a></li>
                <li><a routerLink="/page/blog">Blogs</a></li>
                <li><a routerLink="/science/encyclopedia">Medical Encyclopedia</a></li>
                <!-- <li><a routerLink="">News Letter</a></li> -->
                <li><a routerLink="/others/association">For any queries</a></li>
            </ul>
            <ul>
                <h2>Associations</h2>
                <li><a routerLink="/others/association">Our offerings</a></li>
                <li><a routerLink="/others/association">Corporate Partners</a></li>
                <li><a routerLink="/others/association">Reach out to us</a></li>
            </ul>
            <ul>
                <h2>Careers</h2>
                <li><a routerLink="/others/career">Why work with us</a></li>
                <li><a routerLink="/others/career">Employee benefits</a></li>
                <li><a routerLink="/others/career">Work environment</a></li>
                <li><a routerLink="/others/career">Job Listing</a></li>
                <li><a routerLink="/others/career">Give us your details</a></li>
            </ul>
            <ul>
                <h2>Follow Us</h2>
                <div class="socialIcon">
                    <a href="https://www.facebook.com/nirnayan.healthcare" target="_blank" class="socialIconBox"><img src="assets/images/fb-icon.png" alt="..."></a>
                    <a href="https://www.instagram.com/nirnayan.healthcare/" target="_blank" class="socialIconBox"><img src="assets/images/instagram.png" alt="..."></a>
                    <a href="https://www.linkedin.com/company/79771097/admin/" target="_blank" class="socialIconBox"><img src="assets/images/linkdin.png" alt="..."></a>
                </div>
                <br/>
                <h2 style="font-size: 20px;">Locate Us</h2>
                <p>145, Rajarhat Main Rd, Zarda Bagan, Jyangra, Rajarhat, Kolkata, West Bengal 700059. <span>Call:</span><a > (033) 25700070 / 86974 27980 </a></p>
            </ul>

        </div>
        <div class="">
            <b>2023 © Nirnayan.com. All rights reserved.</b> <br>
            <p class="pointer">
                <span routerLink="/company/info/{{'privacy'}}">Privacy Policy | </span><span routerLink="/company/info/{{'refaund'}}">Refund and Cancellation | </span> <span routerLink="/company/info/{{'disclamer'}}">Disclaimer and Cookie Policy</span>
            </p>
        </div>
    </div>
</footer>
