<footer>

    <div class="footerUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footerAddressBox">
                        <div class="locatIonic">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>
                        <div class="detailsBx">
                            <h3>Address</h3>
                            <p> <strong>Unit 1:</strong>  145, Rajarhat Main Rd, Zarda Bagan, Jyangra, Rajarhat, Kolkata, West Bengal 700059.</p>
                            <p> <strong>Unit 2:</strong> Dafodil Labella building, 1st floor, near Chinar Park Lokenath Mandir, Kolkata-700157</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="footerAddressBox">
                        <div class="locatIonic">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <div class="detailsBx">
                            <h3>Call Us On</h3>
                           <a href="tel:03325700070"> <span>Front Desk: </span>  (033) 25700070 </a>
                           <a href="tel:03325700070"> 8100726252 </a>
                           <a href="tel:03325700070"> 8100726259 </a>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="footerAddressBox">
                        <div class="locatIonic">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div class="detailsBx">
                            <h3>Email Us</h3>
                            <a href="mailto:supportteam@example.com">Supportteam&#64;example.com</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="footerBottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="logoWrap commonClass">
                <a href="https://www.nirnayanhealthcare.com/" class="logoFooterBox">
                    <div class="footerLogobox">
                        <img src="../../../assets/images/logo.png" alt="">
                    </div>
                </a>
                <p>Nirnayan Healthcare is one of the best pathology laboratories in India unveils its presence with continuous stringent quality healthcare services for better patient care and well being. We provides comprehensive test lists like culture tests, routine tests, Gene sequencing analysis, TSH, Blood Sugar tests, and antibody tests with shortest TAT for timely and better treatment for the patients.</p>
                <a href="javascript:void(0)" class="readMore">Read More</a>
            </div>
            </div>
            <div class="col-lg-4">
                <div class="useFullLinks commonClass">
                    <h3>Usefull Links</h3>
                    <div class="ulListLinks">
                        <ul>
                            <li><a href="#">awards</a></li>
                            <li><a href="#">Find center</a></li>
                            <li><a href="#">test List </a></li>
                            <li><a href="#">Test Package List </a></li>
                            <li><a href="#">Carrier with Us</a></li>
                            <li><a href="#">Job Listing</a></li>
                            <li><a href="#">Medical Encyclopedia</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">awards</a></li>
                            <li><a href="#">Find center</a></li>
                            <li><a href="#">test List </a></li>
                            <li><a href="#">Test Package List </a></li>
                            <li><a href="#">Carrier with Us</a></li>
                            <li><a href="#">Job Listing</a></li>
                            <li><a href="#">Medical Encyclopedia</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="headingFooter commonClass">
                    <h3>Recent Posts</h3>
                    <a href="#" class="recentPostFooter">
                        <div class="FooterimgBox">
                            <img src="../../../assets/images/blog-1.png" alt="">
                        </div>
                        <div class="footerBlogdetailos">
                            <p><i class="fa fa-calendar-check-o" aria-hidden="true"></i> November 19, 2019</p>
                            <h4>The Extremities Show Cyanosis, Clubbing Edema</h4>
                        </div>
                    </a>
                    <a href="#" class="recentPostFooter">
                        <div class="FooterimgBox">
                            <img src="../../../assets/images/blog-1.png" alt="">
                        </div>
                        <div class="footerBlogdetailos">
                            <p><i class="fa fa-calendar-check-o" aria-hidden="true"></i> November 19, 2019</p>
                            <h4>The Extremities Show Cyanosis, Clubbing Edema</h4>
                        </div>
                    </a>
                </div>
              
            </div>
        </div>
    </div>
    </div>
    <div class="footerCopyRightsWrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="footercopyRights">
                        <p> 2023 - 2024 © <a href="#"> NirnayanHealthcare.com. </a> All rights reserved.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footerSocialMedia">
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</footer>