footer {
    background-image: url(../../../assets/images/footer-bg-image.webp);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding: 3.125rem 0 0;
}
.logoFooterBox{
    display: block;
}
.footerLogobox{
    width: 3.875rem;
}
.footerLogobox img{
    width: 100%;
}
.logoWrap p{
    color: #242424;  
}
.logoWrap p{
    color: #242424;
    font-size: .8rem !important;
    line-height: 1.3rem;
    margin-top: 1.0rem;
}
.logoWrap a.readMore{
    padding: .625rem 1.875rem;
    border: .0625rem solid var(--themeColor);
    display: inline-block;
    color: #242424;
    font-weight: 500;
    border-radius: .3125rem;
}
.useFullLinks h3,
.headingFooter h3
{
color: var(--themeColor);
font-weight: 600;
font-size: 1.375rem;
line-height: 1.625rem;
position: relative;
padding-bottom: .625rem;
}
.useFullLinks h3:before{
content: "";
position: absolute;
left: 0;
bottom: 0;
width: 7%;
height: .1875rem;
background: var(--themeColor);
}
.useFullLinks ul li a{
    display: inline-block;
    position: relative;
    padding-left: 1.875rem;
    font-size: .9375rem;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--themeColor);
    margin-bottom: .625rem;
}
.useFullLinks ul li a:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 20px;
    background: url(../../../assets/images/right-arrow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.FooterimgBox{
width: 81px;
height: 81px;
}
.FooterimgBox img{
    display: block;
    width: 100%;
    height: 100%;
    float: left;
    margin-right: 18px;
    border: 3px solid rgba(255, 255, 255, .05);
    object-fit: cover;
}
.recentPostFooter {
    display: flex;
}
.footerBlogdetailos {
    padding-left: .625rem;
}
.footerBlogdetailos p{
    color: #8093a8;
    margin: 0 !important;
}
.footerBlogdetailos h4{
    font-weight: 600;
    color: var(--themeColor);
    margin-top: .625rem;
}
.footerAddressBox{
    display: flex;
    position: relative;
}
.commonClass{
    position: relative;
}
.footerAddressBox:before,
.commonClass::before
{
    content: "";
    position: absolute;
    left: -30px;
    top: 0;
    width: 1px;
    height: 60px;
    background: #ccc;
}
.commonClass::before{
    height: 200px;
}
.footerUp .container .col-lg-4:nth-child(1) .footerAddressBox::before,
.footerBottom .container .col-lg-4:nth-child(1) .commonClass::before
{
display: none;
}
.logoWrap.commonClass {
    padding-right: 1.875rem;
}
.locatIonic i{
    font-size: 1.5rem;
    margin-right: .625rem;
    color: var(--themeColor);
}
.detailsBx h3{
    font-size: 1.3rem;
    line-height: 1.625rem;
    font-weight: 600;
    color: var(--themeColor);
    margin-bottom: 6px;
}
.detailsBx p{
    color: #8093a8;
}
.detailsBx a{
    display: block;
    color: #8093a8;
}
.footerUp {
    padding: 0 0 3.125rem;
    position: relative;
}
.footerUp:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 27px;
    width: 100%;
    height: 1px;
    background: #cbcbcbcc;
}
.footerSocialMedia ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.footerSocialMedia ul li{
    margin-right: 1.625rem;
}
.footerSocialMedia ul li a{
    font-size: 1.5625rem;
    color: #8093a8;
}
.footerCopyRightsWrap {
    padding-top: 3.125rem;
    position: relative;
}
.footerCopyRightsWrap:before{
    content: "";
    position: absolute;
    left: 0;
    top: 27px;
    width: 100%;
    height: 1px;
    background: #cbcbcbcc;
}
.footercopyRights p{
color: #8093a8;
font-size: 1.0rem;
}
.footercopyRights a{
    color: #293848;
}
.ulListLinks {
    display: flex;
    justify-content: space-between;
}
.logoWrap a.readMore:hover{
background: var(--themeColor);
color: #fff;
}
.detailsBx p{
    display: block;
}

footer .container{
    max-width: 101.875rem;
    margin: 0 auto;
}
.detailsBx p{
width: 80%;
margin-right: auto;
}

@media only screen and (max-width:1546px){
    footer .container {
        max-width: 77.875rem;
        margin: 0 auto;
    }
    .footerAddressBox:before{
        height: 100px;
    }
    .useFullLinks ul li a {
        padding-left: 1.5rem;
        font-size: .9rem;
    }
}

@media only screen and (max-width:1376px){
    footer .container {
        max-width: 65.875rem;
        margin: 0 auto;
    }
    .useFullLinks ul li a {
        padding-left: 1.5rem;
        font-size: .7rem;
    }
    .detailsBx h3,
    .useFullLinks h3, .headingFooter h3
    {
        font-size: 1.1rem;
    }



}

@media only screen and (max-width:1290px){
    footer .container {
        max-width: 61.875rem;
        margin: 0 auto;
    }
    .useFullLinks ul li a{
        margin-bottom: .3rem;
    }
    .footerBlogdetailos h4{
        font-size: .6875rem;
        line-height: .8125rem;
    }
    .logoWrap p {
        font-size: .7rem !important;
        line-height: 1.1rem;
        margin-top: 1.0rem;
    }
    .logoWrap a.readMore {
        padding: .5rem 1.5rem;
    }



}

@media only screen and (max-width:1199px){
    footer .container {
        max-width: 63.875rem;
        margin: 0 auto;
    }
    .logoWrap.commonClass {
        padding-right: 0;
        margin-bottom: 1.9375rem;
    }
    .ulListLinks {
        justify-content: flex-start;
    }
    .ulListLinks ul{
        padding-right: 1.875rem;
    }
    .footerAddressBox,
    .headingFooter.commonClass
    {
        margin-top: 1.875rem;
    }
}

@media only screen and (max-width:992px){
footer {
    padding: 0.125rem 0 0;
}
.footerCopyRightsWrap{
    text-align: center;
    margin: 0 auto;
}

.footerSocialMedia ul {
    justify-content: center;
}
.ulListLinks ul {
    padding-right: 0.9rem;
}




}