<app-header></app-header>
<div class="container" style="margin-top: 150px;">
    <div>
        <h1 class="h1Class">REFUND AND CANCELLATION POLICY</h1>
        <hr>
        <p>
            Whilst every effort will be made to meet the Customer’s individual requirements, the Company shall be under no obligation to accept amendments or cancellation of any order or any part thereof. If cancellation is accepted by the Company, any costs or expenses incurred by the Company up to the date of cancellation and all loss or damage resulting from the cancellation will be paid by the Customer. 
        </p>
        <br>
        <p>
            The Company shall be entitled to cancel any contract(s) with the Customer (subject to refunding the Price previously paid by the Customer) without penalty at any time by giving written notice to the Customer. 
        </p>
        <br>
        <p>
            The Customer can contact us through e-mail id, foster@nirnayan.com in case of cancellation and refund. The refund amount will be sent to the respective debit card/credit card/account from where payment was made and amount will not be refundable by any other mode.
        </p>
        <h2>TERMINATION </h2>
        <p>
            The Company may defer or suspend the performance of the contract and or treat these Conditions as determined if the Customer: <br>
            ↪ Breaches any of these Conditions; <br>
            ↪ Undergoes insolvency proceedings of any nature or enters into any arrangement with its creditors.
        </p>
        <p>
            Termination for whatever reason shall not affect the rights and remedies accrued by the parties as at the date of such termination or any rights or obligations which due to the nature thereof are intended to survive termination.
        </p>
        <h2>MISCELLANEOUS </h2>
        <ul>
            <li>
                •	If the Company is delayed or prevented from delivering the Services due to circumstances beyond its control, the Company may cancel or suspend the contract without any liability (subject to providing the Customer with the appropriate refund in the event that such delay or prevention is not due to an act or omission of the Customer).
            </li>
            <br>
            <li>
                •	These Conditions shall be governed by and construed in accordance with Indian Law. The Customer hereby submits itself to the non-exclusive jurisdiction of the Indian Courts.
            </li>
            <br>
            <li>
                •	The headings in these Conditions are inserted for convenience only. They do not affect their interpretation or construction. 
            </li>
            <br>
            <li>
                •	If any provision of these Conditions is held by any competent authority to be invalid or unenforceable in whole or in part, the validity of the remaining conditions shall not be affected.
            </li>
        </ul>

        <h2>ONLINE BOOKING AND REFUND POLICY</h2>
        <p>
            Our online services offer hassle free booking options both Pre-paid & COD. After booking our customer care executive will call you to confirm the slot, tests & technician details. You may choose to re-schedule the appointment by calling our contact centre between 07:00 – 22:00 hours. 
        </p>
        <p class="mt-2">
            In an event of non-availability of service or preferred time you may cancel the appointment from the App or Website or through the Contact Centre. A booking can be cancelled till 3 hours prior to sample collection. Once the sample is collected by our technician, the order cannot be cancelled. 
        </p>
        <p class="mt-2">
            Upon successful cancellation if the order is pre-paid, the same is refunded back to the source in 7 to 10 working days from the date of cancellation. Refund is not applicable for COD orders. In case of partial cancellation, request you to inform our service agent to process the refund. For assistance you may write 
            a <a href="mailto:relation@nirnayan.com">relation@nirnayan.com</a> or call <a href="tel:8697427980">+91 86974 27980</a>.
        </p>
        <p class="mt-2">
            We believe that this new online booking system and refund policy will provide our customers with a more streamlined and convenient experience. We are committed to offering exceptional service to all of our customers, and we look forward to serving you in the future.
        </p>
    </div>
</div>
<app-footer></app-footer>
