<div class="container logPg">
    <div class="loginLftCont">
        <div class="loginLft">
            <div>
                <div class="logLogo">
                    <div class="logLogoLft"><img src="assets/images/logo.png" alt=""></div>
                    <div class="logLogoRgt">Welcome to <span>Nirnayan Healthcare</span></div>
                </div>
                <div class="logLftIm"><img src="assets/images/log-im.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="sign-form frgPassed">
        <ng-container *ngIf="isOtpValid">
            <!-- Get OTP -->
            <div class="signFormInner">
                <form>
                <h1 class="form-title">Forgot Password</h1>
                <div class="sgFrmRow">
                    <input type="email" name="email" id="email" style="opacity: 0; height: 1px; position: absolute;">
                    <label for="email">Enter Your Email <span class="star-required">*</span></label>
                    <input type="email" name="email" class="lowercase-input" id="user_email" #email placeholder="mail@gmail.com" required>
                </div>
                <div class="sgFrmRow" *ngIf="forgSubmit">
                    <input type="name" name="name" id="otp" style="opacity: 0; height: 1px; position: absolute;">
                    <label for="name">Enter Your OTP <span class="star-required">*</span></label>
                    <input type="text" id="user_otp" placeholder="000000" required>
                </div>
                <div style="text-align: right;">
                    <span  class="pointer p-2" *ngIf="forgSubmit" (click)="getOtp(email.value)">Repeat OTP</span>
                </div>
                <div class="loginButton">
                    <button type="button" class="btn btn-primary" *ngIf="!forgSubmit" (click)="getOtp(email.value)">Get OTP</button>
                    <button type="button" class="btn btn-primary" *ngIf="forgSubmit" (click)="submitWithOtp()">Submit</button>
                </div>
                <div class="loginBott">
                    <p class="have-account-line">Back to Home? <a routerLink="/">Home</a></p>
                    <p class="have-account-line">I remember password? <a routerLink="/auth/login">Sign In</a></p>
                </div>
            </form>
            </div>
        </ng-container>
        <!-- After OTP -->
        <ng-container *ngIf="!isOtpValid">
            <div class="signFormInner">
                <form [formGroup]="forgotPassForm" (ngSubmit)="submitForm()" id="sign-form">
                    <h1 class="form-title">Set Your Password</h1>
                    <div class="sgFrmRow">
                        <input type="email" name="email" id="email"
                            style="opacity: 0; height: 1px; position: absolute;">
                        <label for="email">Enter Your Email <span class="star-required">*</span></label>
                        <input type="email" name="email" class="lowercase-input" id="email" formControlName="user_email"
                            placeholder="mail@gmail.com" required>
                            <div *ngIf="submitted && forgotPassForm.get('user_email').errors" style="text-align: center;">
                                <small class="text-danger">Please provide a valid email address</small>
                            </div>
                    </div>

                    <div class="sgFrmRow">
                        <input type="password" name="password" id="password"
                            style="opacity: 0; height: 1px; position: absolute;">
                        <label for="password">New Password<span class="star-required">*</span></label>
                        <!-- <input type="password" name="password" id="password" formControlName="new_password" placeholder="Min. 8 character" required> -->
                        <div class="input-wapper">
                            <input  [type]="passwordVisible ? 'text' : 'password'" name="password" id="password" formControlName="new_password"
                            placeholder="Min. 8 characters" required>
                            <i class="fa eyeIcon" [ngClass]="passwordVisible ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePasswordVisibility()" style="margin-right: 10px;font-size: x-large;"
                            id="togglePasswordVisibility" aria-hidden="true"></i>
                        </div>    
                        <div *ngIf="submitted && forgotPassForm.get('new_pass')?.errors" class=" text-danger">
                                <div *ngIf="forgotPassForm.get('new_pass').errors['required']"  style="text-align: center;">Password is required</div>
                            </div>
                        <div class="text-red-400 text-sm row" style="color: #e91111;" *ngIf="passwordFormField?.dirty">
                            <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('^(?=.*[A-Z])')}">Must be atleast uppercase letter.</span>
                         
                            <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('(?=.*[a-z])')}">Must be atleast one lowercase letter.</span>
                         
                            <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('(.*[0-9].*)')}">Must be atleast one digit.</span>
                         
                            <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('(?=.*[!@#$%^&*])')}">Must be atleast one special character.</span>
                         
                            <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('.{8,}')}">Must be atleast 8 characters long.</span>
                         
                         </div>
                    </div>
                    <div class="sgFrmRow">
                        <input type="password" name="password" id="password" style="opacity: 0; height: 1px; position: absolute;">
                        <label for="password">Confirm Password<span class="star-required">*</span></label>
                        <!-- <input type="password" name="password" id="password" formControlName="confirm_password" placeholder="Min. 8 character" required> -->
                        <div class="input-wapper">
                            <input  [type]="passwordVisible ? 'text' : 'password'" name="password" id="password" formControlName="confirm_password" placeholder="Min. 8 characters" required>
                            <i class="fa eyeIcon" [ngClass]="passwordVisible ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePasswordVisibility()" style="margin-right: 10px;font-size: x-large;"
                            id="togglePasswordVisibility" aria-hidden="true"></i>
                        </div> 
                            <div *ngIf="submitted && forgotPassForm.get('user_pass').errors" class=" text-danger">
                                <div *ngIf="forgotPassForm.get('user_pass').errors['required']"  style="text-align: center;">Confirm Password is required</div>
                    
                                <div *ngIf="forgotPassForm.get('user_pass').errors['confirmPasswordValidator']"  style="text-align: center;">New Passsword and
                                    Confirm Password didn't match. </div>
                            </div>
                    </div>
                    <div class="loginButton">
                        <button type="submit" class="btn btn-primary" [disabled]="!forgotPassForm.valid">Submit</button>
                    </div>
                    <div class="loginBott">
                        <p class="have-account-line">Back to Home? <a routerLink="/">Home</a></p>
                        <p class="have-account-line">I remember password? <a routerLink="/auth/login">Sign In</a></p>
                    </div>
                </form>
            </div>
        </ng-container>
    </div>
</div>