
<div class="acreeSliderSec">
  <div class="acreeSliderInner">
    <div id="slider" class="ui-card-slider">
      <div class="slide">
        <div class="blgImag"><img src="assets/images/iso-icon.png" alt=""></div>
      </div>
      <div class="slide">
        <div class="blgImag"><img src="assets/images/nabl.png" alt=""></div>
      </div>
      <div class="slide">
        <div class="blgImag"><img src="assets/images/icmr.png" alt=""></div>
      </div>
      <div class="slide">
        <div class="blgImag"><img src="assets/images/iso-icon.png" alt=""></div>
      </div>
      <div class="slide">
        <div class="blgImag"><img src="assets/images/nabl.png" alt=""></div>
      </div>
      <div class="slide">
        <div class="blgImag"><img src="assets/images/icmr.png" alt=""></div>
      </div>
    </div>
    <div class="blogNo">
      <div class="slider-content-6" data-index="0">
        <h2>NABL</h2>
        <h3>(National Accreditation Board for Testing and Calibration Laboratories)</h3>
        <p>Suspendisse elit est, commodo nec rutrum interdum, euismod nec neque. Nunc vel ultricies magna. Etiam at fringilla urna. Praesent eget est a massa efficitur tempor nec vel metus. Duis sit amet aliquet augue. Ut nec luctus risus. Aliquam viverra commodo nulla, in cursus tellus sodales at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nunc quam, interdum in diam quis, tincidunt gravida augue. Sed eu condimentum urna. Sed lorem mauris, finibus sed felis imperdiet, gravida lobortis magna.</p>
        <p>Suspendisse elit est, commodo nec rutrum interdum, euismod nec neque. Nunc vel ultricies magna. Etiam at fringilla urna. Praesent eget est a massa efficitur tempor nec vel metus. Duis sit amet aliquet augue. Ut nec luctus risus. Aliquam viverra commodo nulla, in cursus tellus sodales at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nunc quam, interdum in diam quis, tincidunt gravida augue. Sed eu condimentum urna. Sed lorem mauris, finibus sed felis imperdiet, gravida lobortis magna.</p>
      </div>
      <div class="slider-content-6" data-index="5">0<span>2</span></div>
      <div class="slider-content-6" data-index="4">0<span>3</span></div>
      <div class="slider-content-6" data-index="3">0<span>4</span></div>
      <div class="slider-content-6" data-index="2">0<span>5</span></div>
      <div class="slider-content-6" data-index="1">0<span>6</span></div>
    </div>
  </div>
</div>

