<div class="meMain">
<div class="metop">
    <div class="teamTop">
        <div class="teamTopInner" data-aos="zoom-out-right" data-aos-duration="3000" data-aos-delay="100">
            <h1>Medical Encyclopedia</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nisl nibh, placerat eget ipsum ut, rhoncus fringilla turpis. Maecenas ut diam augue. In hac habitasse platea dictumst. Ut dignissim condimentum enim, sed pharetra lorem feugiat sagittis. Aliquam nec leo nunc. Mauris sem neque, pharetra nec elit vitae, blandit ornare felis.</p>
        </div>
        <div class="meTabSec">
            <mat-tab-group animationDuration="0ms">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div class="teamTopButton ml-8"><span>Organ Wise</span></div>
                    </ng-template>
                    <mat-tab-group animationDuration="0ms" class="orgWise">
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div class="meOrgan">
                                    <img src="assets/images/liver-icon.png" alt="">
                                    <p>Liver</p>
                                </div>
                            </ng-template>
                            <div class="orgDetails">
                                <div class="orgDetailsLeft" data-aos="zoom-out-right" data-aos-duration="3000" data-aos-delay="100">
                                    <h2>Liver</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dignissim condimentum enim.</p>
                                </div>
                                <div class="orgDetailsRight"><span data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000"><img src="../../assets/images/liver-big-icon.png" alt=""></span></div>
                            </div>
                            <mat-tab-group animationDuration="0ms" class="orgOverTab">
                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        <div class="meButton">Overview</div>
                                    </ng-template>
                                    <div class="overViewBox">
                                        <div class="overViewBoxInner" data-aos="zoom-in-up" data-aos-duration="3000" data-aos-delay="100">
                                            <h2>What does our liver do?</h2>
                                            <div class="overViewBoxInnerSec">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porttitor, ex sed convallis cursus, ipsum magna maximus mi, eu suscipit est massa a est. Phasellus facilisis eget ante a malesuada. Quisque placerat eros sit amet ipsum accumsan pretium. Sed eleifend sem a dui accumsan bibendum. Nunc vel metus et nisl bibendum finibus.</p>
                                                <p>Pellentesque auctor a est id vehicula. Duis nec velit quam. Sed sit amet ante varius, sodales leo id, tristique sapien. Phasellus accumsan vitae arcu sit amet viverra. Fusce vitae sapien euismod purus molestie pellentesque vel sit amet nisl. Donec commodo tincidunt nisi, ac facilisis justo posuere vel.</p>
                                                <ol>
                                                    <li>Etiam mollis molestie risus, eget maximus mauris finibus eget. Phasellus fringilla quam semper ante tincidunt, a euismod metus aliquet.</li>
                                                    <li>Vestibulum malesuada, libero et gravida vehicula, dolor nunc lacinia justo, dapibus suscipit turpis est eget urna. Proin ac metus interdum, commodo tellus et, feugiat elit.</li>
                                                    <li>Pellentesque posuere ultrices neque sit amet ultricies. Sed pulvinar facilisis ligula nec cursus. Aliquam elementum volutpat neque nec auctor. Etiam blandit ligula metus, et dapibus lectus malesuada et. </li>
                                                </ol>
                                                <ul>
                                                    <li>Suspendisse ac sapien non enim molestie condimentum in egestas consequat pulvinar.</li>
                                                    <li>Suspendisse ac sapien non enim molestie condimentum in egestas consequat pulvinar.</li>
                                                    <li>Suspendisse ac sapien non enim molestie condimentum in egestas consequat pulvinar.</li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porttitor, ex sed convallis cursus, ipsum magna maximus mi, eu suscipit est massa a est. Phasellus facilisis eget ante a malesuada. Quisque placerat eros sit amet ipsum accumsan pretium. Sed eleifend sem a dui accumsan bibendum. Nunc vel metus et nisl bibendum finibus.</p>
                                                <p>Pellentesque auctor a est id vehicula. Duis nec velit quam. Sed sit amet ante varius, sodales leo id, tristique sapien. Phasellus accumsan vitae arcu sit amet viverra. Fusce vitae sapien euismod purus molestie pellentesque vel sit amet nisl. Donec commodo tincidunt nisi, ac facilisis justo posuere vel.</p>
                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        <div class="meButton">Symptoms</div>
                                    </ng-template>
                                    Content 2
                                </mat-tab>
                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        <div class="meButton">Risks</div>
                                    </ng-template>
                                    Content 3
                                </mat-tab>
                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        <div class="meButton">Diagnosis</div>
                                    </ng-template>
                                    Content 4
                                </mat-tab>
                            </mat-tab-group>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div class="meOrgan">
                                    <img src="assets/images/heart-icon.png" alt="">
                                    <p>Heart</p>
                                </div>
                            </ng-template>
                            <mat-tab-group animationDuration="0ms">
                                <mat-tab label="Firstt">Content 1</mat-tab>
                                <mat-tab label="Secondd">Content 2</mat-tab>
                                <mat-tab label="Thirdd">Content 3</mat-tab>
                            </mat-tab-group>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div class="meOrgan">
                                    <img src="assets/images/thyroid-icon.png" alt="">
                                    <p>Thyroid</p>
                                </div>
                            </ng-template>
                            <mat-tab-group animationDuration="0ms">
                                <mat-tab label="Firstt">Content 1</mat-tab>
                                <mat-tab label="Secondd">Content 2</mat-tab>
                                <mat-tab label="Thirdd">Content 3</mat-tab>
                            </mat-tab-group>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div class="meOrgan">
                                    <img src="assets/images/kedney-icon.png" alt="">
                                    <p>Kedney</p>
                                </div>
                            </ng-template>
                            <mat-tab-group animationDuration="0ms">
                                <mat-tab label="Firstt">Content 1</mat-tab>
                                <mat-tab label="Secondd">Content 2</mat-tab>
                                <mat-tab label="Thirdd">Content 3</mat-tab>
                            </mat-tab-group>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div class="meOrgan">
                                    <img src="assets/images/lungs-icon.png" alt="">
                                    <p>Lungs</p>
                                </div>
                            </ng-template>
                            <mat-tab-group animationDuration="0ms">
                                <mat-tab label="Firstt">Content 1</mat-tab>
                                <mat-tab label="Secondd">Content 2</mat-tab>
                                <mat-tab label="Thirdd">Content 3</mat-tab>
                            </mat-tab-group>
                        </mat-tab>
                    </mat-tab-group>
                </mat-tab>
                <mat-tab label="Second">
                    <ng-template mat-tab-label>
                        <div class="teamTopButton"><span>Condition Wise</span></div>
                    </ng-template>
                    Content 2
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
<div class="textBlogSec">
    <div class="sugestPkg">
        <h2>Suggested Test & Packeges</h2>
        <mat-accordion>
            <div class="stpRow">
                <div class="stpBook">Book Now</div>
                <div class="ylwCrt"><img src="../../assets/images/cart-green.png" alt=""></div>
                <mat-expansion-panel>
                    <mat-expansion-panel-header> This is the expansion title </mat-expansion-panel-header>
                    <p>Lorem Ipsum is a dummy text will be here for the sample 
                        purpose Lorem Ipsum is a dummy text will be here for
                        be here for the sample purpose</p>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header> This is the expansion title </mat-expansion-panel-header>
                                <i>1. Phasellus venenatis bibendum lectus, non volutpat ligula egestas sit amet.</i>
                                <i>2. Interdum et malesuada fames ac ante ipsum primis in faucibus donec imperdiet luctus fringilla.</i>
                                <i>3. Vestibulum a ligula nec nulla consequat condimentum sit amet vel lectus luctus fringilla.</i>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header> This is the expansion title </mat-expansion-panel-header>
                                <i>1. Phasellus venenatis bibendum lectus, non volutpat ligula egestas sit amet.</i>
                                <i>2. Interdum et malesuada fames ac ante ipsum primis in faucibus donec imperdiet luctus fringilla.</i>
                                <i>3. Vestibulum a ligula nec nulla consequat condimentum sit amet vel lectus luctus fringilla.</i>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header> This is the expansion title </mat-expansion-panel-header>
                                <i>1. Phasellus venenatis bibendum lectus, non volutpat ligula egestas sit amet.</i>
                                <i>2. Interdum et malesuada fames ac ante ipsum primis in faucibus donec imperdiet luctus fringilla.</i>
                                <i>3. Vestibulum a ligula nec nulla consequat condimentum sit amet vel lectus luctus fringilla.</i>
                            </mat-expansion-panel>
                        </mat-accordion>
                </mat-expansion-panel>
            </div>
            <div class="stpRow">
                <div class="stpBook">Book Now</div>
                <div class="ylwCrt"><img src="../../assets/images/cart-green.png" alt=""></div>
                <mat-expansion-panel>
                    <mat-expansion-panel-header> This is the expansion title </mat-expansion-panel-header>
                    <p>Lorem Ipsum is a dummy text will be here for the sample 
                        purpose Lorem Ipsum is a dummy text will be here for
                        be here for the sample purpose</p>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header> This is the expansion title </mat-expansion-panel-header>
                                <i>1. Phasellus venenatis bibendum lectus, non volutpat ligula egestas sit amet.</i>
                                <i>2. Interdum et malesuada fames ac ante ipsum primis in faucibus donec imperdiet luctus fringilla.</i>
                                <i>3. Vestibulum a ligula nec nulla consequat condimentum sit amet vel lectus luctus fringilla.</i>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header> This is the expansion title </mat-expansion-panel-header>
                                <i>1. Phasellus venenatis bibendum lectus, non volutpat ligula egestas sit amet.</i>
                                <i>2. Interdum et malesuada fames ac ante ipsum primis in faucibus donec imperdiet luctus fringilla.</i>
                                <i>3. Vestibulum a ligula nec nulla consequat condimentum sit amet vel lectus luctus fringilla.</i>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header> This is the expansion title </mat-expansion-panel-header>
                                <i>1. Phasellus venenatis bibendum lectus, non volutpat ligula egestas sit amet.</i>
                                <i>2. Interdum et malesuada fames ac ante ipsum primis in faucibus donec imperdiet luctus fringilla.</i>
                                <i>3. Vestibulum a ligula nec nulla consequat condimentum sit amet vel lectus luctus fringilla.</i>
                            </mat-expansion-panel>
                        </mat-accordion>
                </mat-expansion-panel>
            </div>
            <div class="stpRow">
                <div class="stpBook">Book Now</div>
                <div class="ylwCrt"><img src="../../assets/images/cart-green.png" alt=""></div>
                <mat-expansion-panel>
                    <mat-expansion-panel-header> This is the expansion title </mat-expansion-panel-header>
                    <p>Lorem Ipsum is a dummy text will be here for the sample 
                        purpose Lorem Ipsum is a dummy text will be here for
                        be here for the sample purpose</p>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header> This is the expansion title </mat-expansion-panel-header>
                                <i>1. Phasellus venenatis bibendum lectus, non volutpat ligula egestas sit amet.</i>
                                <i>2. Interdum et malesuada fames ac ante ipsum primis in faucibus donec imperdiet luctus fringilla.</i>
                                <i>3. Vestibulum a ligula nec nulla consequat condimentum sit amet vel lectus luctus fringilla.</i>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header> This is the expansion title </mat-expansion-panel-header>
                                <i>1. Phasellus venenatis bibendum lectus, non volutpat ligula egestas sit amet.</i>
                                <i>2. Interdum et malesuada fames ac ante ipsum primis in faucibus donec imperdiet luctus fringilla.</i>
                                <i>3. Vestibulum a ligula nec nulla consequat condimentum sit amet vel lectus luctus fringilla.</i>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header> This is the expansion title </mat-expansion-panel-header>
                                <i>1. Phasellus venenatis bibendum lectus, non volutpat ligula egestas sit amet.</i>
                                <i>2. Interdum et malesuada fames ac ante ipsum primis in faucibus donec imperdiet luctus fringilla.</i>
                                <i>3. Vestibulum a ligula nec nulla consequat condimentum sit amet vel lectus luctus fringilla.</i>
                            </mat-expansion-panel>
                        </mat-accordion>
                </mat-expansion-panel>
            </div>
            <div class="stpRow">
                <div class="stpBook">Book Now</div>
                <div class="ylwCrt"><img src="../../assets/images/cart-green.png" alt=""></div>
                <mat-expansion-panel>
                    <mat-expansion-panel-header> This is the expansion title </mat-expansion-panel-header>
                    <p>Lorem Ipsum is a dummy text will be here for the sample 
                        purpose Lorem Ipsum is a dummy text will be here for
                        be here for the sample purpose</p>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header> This is the expansion title </mat-expansion-panel-header>
                                <i>1. Phasellus venenatis bibendum lectus, non volutpat ligula egestas sit amet.</i>
                                <i>2. Interdum et malesuada fames ac ante ipsum primis in faucibus donec imperdiet luctus fringilla.</i>
                                <i>3. Vestibulum a ligula nec nulla consequat condimentum sit amet vel lectus luctus fringilla.</i>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header> This is the expansion title </mat-expansion-panel-header>
                                <i>1. Phasellus venenatis bibendum lectus, non volutpat ligula egestas sit amet.</i>
                                <i>2. Interdum et malesuada fames ac ante ipsum primis in faucibus donec imperdiet luctus fringilla.</i>
                                <i>3. Vestibulum a ligula nec nulla consequat condimentum sit amet vel lectus luctus fringilla.</i>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header> This is the expansion title </mat-expansion-panel-header>
                                <i>1. Phasellus venenatis bibendum lectus, non volutpat ligula egestas sit amet.</i>
                                <i>2. Interdum et malesuada fames ac ante ipsum primis in faucibus donec imperdiet luctus fringilla.</i>
                                <i>3. Vestibulum a ligula nec nulla consequat condimentum sit amet vel lectus luctus fringilla.</i>
                            </mat-expansion-panel>
                        </mat-accordion>
                </mat-expansion-panel>
            </div>
        </mat-accordion>
    </div>
    <div class="blgSec">
        <h2>Blogs</h2>
        <div class="blogSecRow">
            <h3 data-aos="fade-right" data-aos-duration="500" data-aos-delay="500">Blog Title  will be here</h3>
            <div class="blogSecIm"><img src="../../assets/images/bl1.jpg" alt=""></div>
            <div class="blogSecText" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1000">
                <h4>Blog Title  will be here</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin varius pharetra mauris quis tincidunt. Vestibulum vitae molestie augue, ac semper nibh. Proin varius pharetra mauris quis tincidunt.</p>
            </div>
        </div>
        <div class="blogSecRow">
            <h3 data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1000">Blog Title  will be here</h3>
            <div class="blogSecIm"><img src="../../assets/images/bl1.jpg" alt=""></div>
            <div class="blogSecText" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="1500">
                <h4>Blog Title  will be here</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin varius pharetra mauris quis tincidunt. Vestibulum vitae molestie augue, ac semper nibh. Proin varius pharetra mauris quis tincidunt.</p>
            </div>
        </div>
    </div>
</div>
<div class="nlAqSec">
    <div class="nwsLtr">
        <h2>News Letter</h2>
        <div class="nlBox" data-aos="zoom-out-right" data-aos-duration="500" data-aos-delay="500">
            <div class="nlBoxTop">
                <h3>News Letter Topic will be here <span>Dr. Prasenjit Bhattacharjee, (Lorem Ipsum is a dummy text)</span></h3> 
                <div class="nlBoxTopRight">Publised <span>29.12.2021</span></div>
            </div>
            <p>Sample text will be here Sample text will be here Sample text will be here Sample text will be here Sample text will be  Sample text will be here Sample text will be here Sample text will be  Sample text will be here</p>
            <a href="#" class="more">Know More</a>
        </div>
        <div class="nlBox" data-aos="zoom-out-left" data-aos-duration="1000" data-aos-delay="1000">
            <div class="nlBoxTop">
                <h3>News Letter Topic will be here <span>Dr. Prasenjit Bhattacharjee, (Lorem Ipsum is a dummy text)</span></h3> 
                <div class="nlBoxTopRight">Publised <span>29.12.2021</span></div>
            </div>
            <p>Sample text will be here Sample text will be here Sample text will be here Sample text will be here Sample text will be  Sample text will be here Sample text will be here Sample text will be  Sample text will be here</p>
            <a href="#" class="more">Know More</a>
        </div>
        <div class="nlBox" data-aos="zoom-out-right" data-aos-duration="1500" data-aos-delay="1500">
            <div class="nlBoxTop">
                <h3>News Letter Topic will be here <span>Dr. Prasenjit Bhattacharjee, (Lorem Ipsum is a dummy text)</span></h3> 
                <div class="nlBoxTopRight">Publised <span>29.12.2021</span></div>
            </div>
            <p>Sample text will be here Sample text will be here Sample text will be here Sample text will be here Sample text will be  Sample text will be here Sample text will be here Sample text will be  Sample text will be here</p>
            <a href="#" class="more">Know More</a>
        </div>
    </div>
    <div class="querySec">
        <div class="querySecInner">
            <h2>For Any Quaries</h2>
            <form>
                <div class="fromRow" data-aos="zoom-out-right" data-aos-duration="500" data-aos-delay="500">
                    <label>Name</label>
                    <input type="text">
                </div>
                <div class="fromRow" data-aos="zoom-out-left" data-aos-duration="1000" data-aos-delay="1000">
                    <label>Email ID</label>
                    <input type="text">
                </div>
                <div class="fromRow" data-aos="zoom-out-right" data-aos-duration="1500" data-aos-delay="1500">
                    <label>Mobile No.</label>
                    <input type="text">
                </div>
                <div class="fromRow" data-aos="zoom-out-left" data-aos-duration="2000" data-aos-delay="2000">
                    <label>Enquiry</label>
                    <textarea></textarea>
                </div>
                <div class="fromRow" data-aos="flip-left" data-aos-duration="2500" data-aos-delay="2500"><input type="submit" value="Submit"></div>
            </form>
        </div>
    </div>
</div>
</div>
