<app-header></app-header>
<div style="background-color: rgba(0,0,0,0.5);" class="loading-spinner" id="loader">
</div>

<div class="assoTop">
    <div class="acreeTopLeft" data-aos="zoom-out-right" data-aos-duration="200" data-aos-delay="200">
        <h1>{{blogPost[0]?.name}}</h1>
        <p [innerHTML]="blogPost[0]?.description"></p>
    </div>
    <div class="acreeTopRght" data-aos="zoom-in-left" data-aos-duration="300" data-aos-delay="300"><img [src]="blogPost[0]?.image" alt=""></div>
</div>
<div class="blgBar"></div>
<div class="blgTabSec" id = "majorTabs">
    <div >
    <owl-carousel-o [options]="SlideOptionn" class="nav nav-tabs">
        <ng-template carouselSlide *ngFor="let item of blogPost[0]?.category">
            <li class="active show blgTbHd" data-toggle="tab" href="#" (click)="getPost(item.item_id, item.item_text)">{{ item.item_text }}</li>
        </ng-template>  
        <!-- <ng-template carouselSlide>
            <li class="blgTbHd" data-toggle="tab" href="#menu1">2</li>
        </ng-template>  
        <ng-template carouselSlide>
            <li class="blgTbHd" data-toggle="tab" href="#menu2">3</li>
        </ng-template> 
        <ng-template carouselSlide>
            <li class="blgTbHd" data-toggle="tab" href="#menu3">4</li>
        </ng-template>  
        <ng-template carouselSlide>
            <li class="blgTbHd" data-toggle="tab" href="#menu4">5</li>
        </ng-template>  
        <ng-template carouselSlide>
            <li class="blgTbHd" data-toggle="tab" href="#menu5">6</li>
        </ng-template> 
        <ng-template carouselSlide>
            <li class="blgTbHd" data-toggle="tab" href="#menu6">7</li>
        </ng-template> -->
    </owl-carousel-o>
</div>
<div class="blgSrchSec">
    <h2>{{categoryName}}</h2>
    <div data-aos="fade-left" data-aos-duration="200" data-aos-delay="200" class="fcSecSearch aos-init aos-animate">
        <input _ngcontent-ypt-c92="" placeholder="Search by title" [(ngModel)]="searchText" autocomplete="on" type="text">
        <input _ngcontent-ypt-c92="" type="submit" value=""></div>
</div>
    <div class="tab-content">
        <div id="home" class="blogTab tab-pane fade in active show" *ngFor="let post of postItem | filter: searchText | paginate: { itemsPerPage: 6, currentPage: p }; let i = index">
            <div class="lsBox">
                <div class="lsBoxRound">
                    <div class="lsBoxRoundInner pointer" routerLink="/page/blog-details/{{post.id}}"><img [src]="post.image"></div>
                </div>
                <div class="lsBoxHead" title="{{post.title}} - {{i+1}}" >{{i+1}}</div>
                <div class="lsBoxTxt">
                    <span style="text-align: right; float: right;">{{post.created_at}}</span> <br/>
                    <h3>{{post.title}} </h3> <br/>
                    <p class="truncate-to-2-lines" [innerHTML]="post.description"></p>                                    
                    <span class="knowMore"  routerLink="/page/blog-details/{{post.id}}">Know more..</span>
                </div>
            </div>
        </div>
        <div id="menu1" class="blogTab tab-pane fade">
            <h3>2</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
        <div id="menu2" class="blogTab tab-pane fade">
            <h3>3</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
        <div id="menu3" class="blogTab tab-pane fade">
            <h3> 4</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
        <div id="menu4" class="blogTab tab-pane fade">
            <h3>5</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
    </div>




    <!-- <mat-tab-group animationDuration="0ms" class="orgWise">
        <mat-tab *ngFor="let item of blogPost[0]?.category">
            <ng-template mat-tab-label>
                <div class="blgTbHd" (click)="getPost(item.item_id)">{{item.item_text}}</div>
            </ng-template>
            <div class="bkgNumberingSec">
                <div class="blgSrchSec">
                    <h2>{{item.item_text}}</h2>
                    <div data-aos="fade-left" data-aos-duration="200" data-aos-delay="200" class="fcSecSearch aos-init aos-animate">
                        <input _ngcontent-ypt-c92="" placeholder="Search by title" [(ngModel)]="searchText" autocomplete="on" type="text">
                        <input _ngcontent-ypt-c92="" type="submit" value=""></div>
                </div>
                <div class="lfStlArea">
                    <ul>
                        <li *ngFor="let item of postItem | filter: searchText | paginate: { itemsPerPage: 6, currentPage: p }; let i = index">
                            <div class="lsBox">
                                <div class="lsBoxRound">
                                    <div class="lsBoxRoundInner pointer" routerLink="/page/blog-details/{{item.id}}"><img [src]="item.image"></div>
                                </div>
                                <div class="lsBoxHead" title="{{item.title}} - {{i+1}}" >{{i+1}}</div>
                                <div class="lsBoxTxt">
                                    <span class="date-time">{{item.created_at}}</span> <br/>
                                    <h3>{{item.title}} </h3> <br/>
                                    <p class="truncate-to-2-lines" [innerHTML]="item.description"></p>                                    
                                    <span class="knowMore"  routerLink="/page/blog-details/{{item.id}}">Know more..</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="text-right" *ngIf="postItem.length > 6">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>

        
            <div class="blgBotSec">
                <div class="nwsLetter">
                    <h2>Subscribe To Our Newsletter Today</h2>
                    <form [formGroup]="subscribeFrom" (ngSubmit)="saveSubcription()">
                        <div class="fromRow" data-aos="zoom-out-right" data-aos-duration="200" data-aos-delay="200">
                            <label>Name</label>
                            <input type="text" formControlName="name">
                        </div>
                        <div class="fromRow" data-aos="zoom-out-left" data-aos-duration="300" data-aos-delay="300">
                            <label>Email ID</label>
                            <input type="text" formControlName="email">

                        </div>
                        <div class="fromRow" data-aos="zoom-out-right" data-aos-duration="400" data-aos-delay="400">
                            <label>Mobile No.</label>
                            <input type="text" formControlName="mobile">
                        </div>
                        <div class="fromRow" data-aos="flip-left" data-aos-duration="500" data-aos-delay="500"><input type="submit" value="Subscribe"></div>
                    </form>
                </div>
                <div data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" class="blgBotSecRght"><img _ngcontent-cte-c74="" src="assets/images/acre-lady.png" alt=""></div>
            </div>
        </mat-tab>
    </mat-tab-group> -->
</div>
<app-footer></app-footer>
