<app-header></app-header>
<!-- <div style="background-color: rgba(0,0,0,0.5);" class="loading-spinner" id="loader">
</div> -->
<div class="newCarrer">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="carrerTextPara">
                    <h3>Why work with us</h3>
                    <p>At Nirnayan Healthcare, we believe in investing in our employees' professional development and
                        growth. We offer ongoing training, education, and mentorship opportunities to help you enhance
                        your skills, expand your knowledge, and advance your career in healthcare. Whether you're
                        looking to pursue advanced certifications, specialize in a particular field, or take on
                        leadership roles, we're here to support your career aspirations every step of the way. </p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="carrerNewimg">
                    <img src="assets/images/lady.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="newCarrBenfts">
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-lg-8">
                <div class="employeeBene">
                    <h3>Employee Benefits</h3>
                    <ul>
                        <li>
                            <h4>Comprehensive Healthcare Coverage:</h4>
                            <h5>Comprehensive healthcare coverage is
                                provided to employees.</h5>
                        </li>


                        <li>
                            <h4>Comprehensive Healthcare Coverage:</h4>
                            <h5>Comprehensive healthcare coverage is
                                provided to employees.</h5>
                        </li>


                        <li>
                            <h4>Comprehensive Healthcare Coverage:</h4>
                            <h5>Comprehensive healthcare coverage is
                                provided to employees.</h5>
                        </li>


                        <li>
                            <h4>Comprehensive Healthcare Coverage:</h4>
                            <h5>Comprehensive healthcare coverage is
                                provided to employees.</h5>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ourExclosive">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="workInvorment">
                    <img src="assets/images/scientist-a.png" alt="">
                    <div class="textOverImage">
                        <h4>Work Environment</h4>
                        <p>We're a rare breed:
                            a full-service pathology company that uses technology at every stage</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>