<app-header></app-header>
<!-- <div style="background-color: rgba(0,0,0,0.5);" class="loading-spinner" id="loader">
</div> -->
<div class="newCarrer">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="carrerTextPara">
                    <h3>Opportunities at Nirnayan</h3>
                    <p>Nirnayan builds confidence by providing various career options and career development opportunities. Nirnayan Healthcare is great for hard-working people who value teamwork, integrity, and professional development. Nirnayan offers many education, training, and internship opportunities to achieve better careers and greater responsibilities. We always try to help our employees by providing a good environment and transition. </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="newCarrBenfts">
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-lg-8">
                <div class="employeeBene">
                    <h3>Employee Benefits</h3>
                    <ul>
                        <li>
                            <h4>Medical Insurance</h4>
                            <h5>Nirnayan Healthcare secures your health with comprehensive medical insurance.</h5>
                        </li>


                        <li>
                            <h4>Employee Engagement Programme:</h4>
                            <h5>Nirnayan fosters team spirit by arranging various engagement programs.</h5>
                        </li>


                        <li>
                            <h4>Training and Development Programme:</h4>
                            <h5>Nirnayan Healthcare elevates its Expertise with Premier Training and Development Programs.</h5>
                        </li>


                        <li>
                            <h4>Advanced Career Opportunities:</h4>
                            <h5>Unveils advanced career growth with us for better achievements.</h5>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ourExclosive">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="workInvorment cfs-btn-glimmer cfs-btn-glimmer--loop">
                    <img src="assets/images/scientist-a.png" alt="">
                    <div class="textOverImage">
                        <h4>Work Environment</h4>
                        <p>We're a rare breed:
                            a full-service pathology company that uses technology at every stage</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="ourExclusiceWrap">
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="inWrapp">
                                <h4>Our Exclusive Cultural Atmosphere</h4>
                                <p>Our cultures depend on diversity which is always celebrated in our workplace. Join us to experience an exclusive work culture and unique professional collaborations.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="inWrapp">
                                <h4>Punctuality:</h4>
                                <p>Punctuality is the heart of our services. We are providing reports within the best TAT and we do not compromise the quality of patient care.</p>
                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="inWrapp">
                                <h4>Women Activism:</h4>
                                <p>Nirnayan took initiatives to promote gender equality and women empowerment across all levels of our organization. We believe in strong female activities that can drive innovation and excellence in all our departments.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="inWrapp">
                                <h4>Advanced Quality Care:</h4>
                                <p>We focus on delivering uninterrupted quality healthcare services with advanced technology to avoid any manual error in the workflow. Nirnayan is always ready to provide patient-centered care with premier diagnostic solutions. </p>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

<div class="jobListing">
    <div class="container">
        <h3>Job Listing</h3>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="carrerListArea" *ngFor="let jobs of jobList">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    <div class="mainJobWrap">
                                        <div class="RoleBox">
                                            <h4>{{jobs.heading}}
                                                <span>{{jobs.location}}</span>
                                            </h4>
                                        </div>
                                        <div class="jobdetails">
                                            <h5>Experience: {{jobs.experience}}</h5>
                                            <span>Job Type: {{jobs.jobType}}</span>
                                        </div>
                                    </div>
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <h6><strong>Job Description</strong></h6>
                                    <div [innerHTML]="jobs.description"></div>
                                    <div class="ApplyNow mt-5">
                                        <a class="button" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal-1">
                                            Apply Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

<!-- MODAl 1 START -->
<div class="modal fade customModal" id="exampleModal-1" tabindex="-1" aria-labelledby="exampleModalLabel-1"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel-1">Job Apply Form</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="formMainArea">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="formBoxInInside">
                                    <input type="text" class="form-control" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="formBoxInInside">
                                    <input type="text" class="form-control" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="formBoxInInside">
                                    <input type="text" class="form-control" placeholder="Email Address">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="formBoxInInside">
                                    <input type="text" class="form-control" placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="formBoxInInside">
                                    <input type="text" class="form-control" placeholder="City">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="formBoxInInside">
                                    <input type="text" class="form-control" placeholder="Years of Experience">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="formBoxInInside">
                                    <input type="text" class="form-control" placeholder="Current Role">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="formBoxInInside">
                                    <input type="text" class="form-control" placeholder="Current Employe">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="formBoxInInside">
                                    <input type="text" class="form-control" placeholder="Current Salary">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="formBoxInInside">
                                    <input type="text" class="form-control" placeholder="Expected Salary">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="formBoxInInside">
                                    <textarea class="form-control" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="formBoxInInside uploadOption">
                                    <label>Upload Resume</label>
                                    <input type="file" id="myFile" name="filename">
                                </div>
                            </div>
                            <div class="subMitQuery">
                                <input type="button" class="button" value="Submit">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAl 1 END -->

<!-- MODAl 2 START -->
<div class="modal fade customModal" id="exampleModal-2" tabindex="-1" aria-labelledby="exampleModalLabel-2"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel-2">Job Apply Form</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="formMainArea">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="formBoxInInside">
                                    <input type="text" class="form-control" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="formBoxInInside">
                                    <input type="text" class="form-control" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="formBoxInInside">
                                    <input type="text" class="form-control" placeholder="Email Address">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="formBoxInInside">
                                    <input type="text" class="form-control" placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="formBoxInInside">
                                    <input type="text" class="form-control" placeholder="City">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="formBoxInInside">
                                    <input type="text" class="form-control" placeholder="Years of Experience">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="formBoxInInside">
                                    <input type="text" class="form-control" placeholder="Current Role">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="formBoxInInside">
                                    <input type="text" class="form-control" placeholder="Current Employe">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="formBoxInInside">
                                    <input type="text" class="form-control" placeholder="Current Salary">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="formBoxInInside">
                                    <input type="text" class="form-control" placeholder="Expected Salary">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="formBoxInInside">
                                    <textarea class="form-control" placeholder="Message"></textarea>
                                </div>
                            </div>


                            <div class="col-lg-12">
                                <div class="formBoxInInside uploadOption">
                                    <label>Upload Resume</label>
                                    <input type="file" id="myFile" name="filename">
                                </div>
                            </div>
                            <div class="subMitQuery">
                                <input type="button" class="button" value="Submit">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAl 2 END -->